                {%if not thumb_size %}
                  <a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}">
                    {%if update.thumbs.normal%}
                      <img src="{{ thumborurl(update.thumbs.normal.url, (350,233) ) }}">
                    {%elif update.thumbs.slideshow%}
                      <img src="{{ thumborurl(update.thumbs.slideshow.url, (350,233) ) }}">
                    {%elif update.thumbs.thumb%}
                      <img src="{{ thumborurl(update.thumbs.thumb.url, (350,233) ) }}">
                    {%elif update.custom_fields.gdobra_imagem%}
                      <img src="{{ thumborurl(update.custom_fields.gdobra_imagem, (350,233) ) }}">
                    {%endif%}
                  </a>
                {%else%}
                    {%if update.thumbs.normal%}
                      <img src="{{ thumborurl(update.thumbs.normal.url, thumb_size ) }}">
                    {%elif update.thumbs.slideshow%}
                      <img src="{{ thumborurl(update.thumbs.slideshow.url, thumb_size ) }}">
                    {%elif update.thumbs.thumb%}
                      <img src="{{ thumborurl(update.thumbs.thumb.url, thumb_size ) }}">
                    {%elif update.custom_fields.gdobra_imagem%}
                      <img src="{{ thumborurl(update.custom_fields.gdobra_imagem, thumb_size ) }}">
                    {%endif%}
                {%endif%}
