{% extends "base-obra.html" %}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chardinjs.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/chardinjs.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script>
$('video').mediaelementplayer();

obras_list = Array()
obras_list_id = {}
{%for obra in obras%}
obras_list[obras_list.length] = '{{obra.title}}';
obras_list_id['{{obra.title}}'] = '{{obra.slug}}';
{%endfor%}

$('.typeahead').typeahead({
  source: obras_list,
  items: 8,
  minLength: 2,
  sorter: function (items) {
      return items.sort();
  },
  highlighter: function (item) {
      var regex = new RegExp( '(' + this.query + ')', 'gi' );
      return item.replace( regex, "<strong>$1</strong>" );
  },
  matcher: function (item) {
      if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
          return true;
      }
  },
  updater: function(item){
    //obras_list_id é um dicionáraio que contém como chave o Título da obra, e como valor o id,
    //para poder recdirecionar diretamente para a pagina correta.
    document.location = "/monitore/obra/" + obras_list_id[item]
  }
});

</script>
{% endblock %}

{% block content %}
<div class="topbar">
  <a href="#" class="voltar-obra">
    <p><i class="icon-arrow-left"></i>voltar</p>
  </a>
</div>
<div class="capa">
  <div class="container">
    <div class="app">
      <div class="row">
        <div class="span3 col aside">
          <a href="/monitore">
            <div class="logo">
              <img src="{{ url_for('.static', filename='logo.png')}}">
            </div>
          </a>

          <div class="busca widget hidden-phone" data-intro="Procure obras por nome, local ou tema" data-position="top">
            <p>procure por uma obra</p>
            <div class="input-busca">
              <input class="typeahead" type="text" placeholder="Ex: Hospital, Passo fundo ou Saúde" autocomplete="off">
              <button class="add-on" type="button"><i class="icon-search"></i></button>
            </div>
          </div>

          <div class="login widget hidden-phone">
            {%if not user%}
            <form class="form-horizontal" method="post" id="login" action="{{ url_for('auth.logon') }}">
              <p><i class="icon-key"></i> login</p>
              <input type="text" name="username" id="username" class="user" placeholder="username">
              <input type="password" id="password" name="password" class="pass" placeholder="password">

              <button type="submit" class="login-submit">entrar</button>
              <a href="{{url_for("auth.lost_password")}}" class="login-forget">esqueci a senha</a>
              <a href="{{url_for("auth.signup")}}" class="login-cadastrar">quero me cadastrar</a>

              <input type="hidden" name="next" value="{{next or url_for("monitoramento.index")}}">

            </form>
            {%else%}
            <ul>
              <li class="login-obras">
                <img src="{{ social_image(user) or user.email | gravatar(size=16) }}">
                <a class="login-name" href="/auth/profile/">{{user.name|truncate(20)}}</a>
              </li>
              <li class="login-action"><a href="/auth/logout/?app=monitoramento"><i class="icon-ban-circle"></i> Logout</a></li>
            </ul>


            {%endif%}
          </div>

          <div class="buttons widget">
            <a href="#comofunciona" class="comofunciona">
              <p><i class="icon-cog"></i>como funciona ?</p>
            </a>
            <a href="#" class="listagem visible-phone">
              <p><i class="icon-list-ul"></i>lista das obras</p>
            </a>
            <a href="/" class="voltar-gd">
              <p><i class="icon-arrow-left"></i>gabinete digital</p>
            </a>
          </div>
        </div>
        <div class="span9 col">
          <div class="help hidden-phone">
            <p data-intro="Clique para ver as instruções" data-position="left">
              <i class="icon-question-sign"></i> Ajuda
            </p>
          </div>
          <div id="instrucoes">
            <div class="close hidden-phone">
              fechar
            </div>
            <h2><i class="icon-cog"></i> como funciona?</h2>
            <ul>
              <li>
                <p><b>1.ESCOLHA</b> ao lado uma obra do Governo
                  Estadual para acompanhar</p>
              </li>

              <li>
                <p><b>2.INFORME-SE</b> sobre o
                andamento, veja imagens e conheça o cronograma de
                entrega de cada obra</p>
              </li>

              <li>
                <p><b>3.SIGA</b> as obras de seu
                interesse e receba atualizações a cada nova etapa</p>
              </li>

              <li>
                <p><b>4.FISCALIZE!</b> Envie fotos e
                  vídeos das obras, comentários, dúvidas ou
                  críticas.</p>
              </li>

              <li>
                <p><b>5.COMPARTILHE</b> as obras que
                  você fiscaliza e chame seus amigos para ficar de
                  olho</p>
              </li>

              <li>
                <p><b>6.GOVERNO RESPONDE:</b> a cada
                  30 dias, o Governador se manifesta, em vídeo, sobre as
                  obras mais acessadas e fiscalizadas</p>
              </li>
            </ul>
          </div>
          <div id="index">
            <div class="slideshow visible-desktop">
              <div class="controls">
                <a href="" class="seta-left"><i class="icon-chevron-left"></i></a>
                <a href="" class="seta-right"><i class="icon-chevron-right"></i></a>
              </div>
              <div class="content">
                <img src="{{ url_for('.static', filename='slide01.png')}}">
                <div class="text">
                  <p>
                    Em vídeo, o governador Tarso Genro convoca todo cidadão
                    a ser um fiscal e contribuir para</p>

                  <p>o desenvolvimento do Estado do Rio Grande do Sul. Participe,
                    compartilhe, fiscalize!
                  </p>
                </div>
              </div>
            </div>

            {%if obras%}
            <div class="lista-obras">
              <a href="#" class="listagem visible-phone">
                <p><i class="icon-list-ul"></i>lista das obras</p>
              </a>
              <ul class="thumbnails">
                {% for obra in obras %}
                <li class="span3 {{ loop.cycle('light', 'dark') }}" {% if loop.index == 1 %} data-intro="Obras que você pode monitorar" data-position="bottom" {% endif %}>
                  <a href="{{url_for('monitoramento.obra',slug=obra.slug)}}">
                    <div class="thumbnail">
                      <div class="obra">
                        {%if obra.thumbs%}
                        <img src="{{obra.thumbs.thumb.url}}">
                        {%else%}
                        <img src="http://placehold.it/270x180">
                        {%endif%}
                        <h4>{{obra.title}}</h4>
                      </div>
                      <div class="meta-obra">
                        <ul>

                          <li class="seguidores" {% if loop.index == 3 %}data-intro="Seguidores" data-position="top" {% endif %}>
                            <i class="icon-star"></i>12
                          </li>
                          <li class="local" {% if loop.index == 3 %}data-intro="Local da obra" data-position="bottom" {% endif %}>
                            <i class="icon-map-marker"></i> <div class="cidades hide">{%for m in obra.custom_fields.gdobra_municipio%} {{m}} {%if not loop.last%},{%endif%} {%endfor%}</div><span class="cidade">cidade</span>
                          </li>
                          <li class="comentarios" {% if loop.index == 3 %}data-intro="Comentários" data-position="top" {% endif %}>
                            <i class="icon-comments"></i>5
                          </li>
                        </ul>
                      </div>
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(window).load(function () {
    $('video').mediaelementplayer();
});
</script>
{% endblock %}
