{% extends "base-obra.html" %}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script>
$('video').mediaelementplayer();
</script>
{% endblock %}

{% block content %}
<div id="monitoramento" class="capa">
  <div class="container">
    <div class="app">
      <div class="row full-height">
        <div class="span3 full-height">
          <div class="aside full-height">

            <a href="/monitore">
              <div class="logo">
              </div>
            </a>

            <div class="busca widget">
              <p>procure por uma obra</p>
              <div class="input-busca">
                <input type="text" placeholder="Ex: Hospital, Passo fundo ou Saúde">
                <button class="add-on" type="button"><i class="icon-search"></i></button>
              </div>
            </div>

            <div class="login widget">
              <p><i class="icon-key"></i> login</p>
              <input type="text" class="user" placeholder="username">
              <input type="password" class="pass" placeholder="password">

              <button class="login-submit">entrar</button>
              <button class="login-forget">esqueci a senha</button>
            </div>

            <div class="buttons widget">
              <a href="#comofunciona" class="comofunciona">
                <p><i class="icon-cog"></i>como funciona ?</p>
              </a>
              <a href="/" class="voltar-gd">
                <p><i class="icon-arrow-left"></i>gabinete digital</p>
              </a>
            </div>
          </div>
        </div>
        <div class="span9">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(window).load(function () {
    $('video').mediaelementplayer();
});
</script>
{% endblock %}
