{% extends "base.html" %}

{%macro temas()%}
  {#Macro para listar os temas, pois podem ser marcados mais de um tema#}
  {%for t in obra.tema%}
    {{obra.tema[t].name}}
    {%if not loop.last%},{%endif%}
  {%endfor%}
{%endmacro%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "21337f2e-2d47-4b1e-b210-c29a8a7e956d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
$('video').mediaelementplayer();
</script>
{% endblock %}

{% block content %}
<div id="monitoramento" class="obra">
  <div class="container">
    <div class="painel">
      <div class="row">
        <div class="span12">
          <div class="header">
            <a href="#" class="toottip" data-toggle="tooltip" title="Tema: {{temas()}}">
              <img src="{{ url_for('.static', filename='icon.png' ) }}">
            </a>
            <h2>{{obra.title}}</h2>
            <p class="desc">
              Patrimônio Histórico e Cultural do Rio Grande do Sul, a
              Orquestra Sinfônica de Porto Alegre carece, desde sua
              fundação, de uma sede própria para <a href="#">Coninue lendo</a>
            </p>
          </div>

          <ul class="follows">
            <li>
              <button class="btn btn-large btn-danger">Seguir obra</button>
            </li>
            <li>
              <div class="seguidores">
                10 <small>seguidores</small>
              </div>
            </li>
            <li>
              <p class="countdown">Faltam <span>30</span> dias a para próxima atualização</p>
            </li>
            <li>
              <h4>Participe!</h4>
              <div class="btn-group">
                <button class="btn btn-large btn-success comentar">Comente</button>
                <button class="btn btn-large btn-danger">Fotografe</button>
                <button class="btn btn-large btn-info ">Filme</button>
              </div>
            </li>
            <li>
              <div class="acesso">
                <button class="btn btn-small">Acesso informação</button>
              </div>
            </li>
          </ul>

        </div>
      </div>

      <div class="row">
        <div class="span4">
          <div class="info">
            <img src="{{ url_for('.static', filename='mapa.png' ) }}">
            <h5>Empresas responsáveis: Porto belo <small><a href="#">(ver todas)</a></small></h5>
            <div class="info-dados">
              <ul>
                <li class="tema">
                  <strong>Tema:</strong>
                  {{temas()}}
                </li>
                <li class="previsao">
                  <strong>Previsão de conclusão:</strong>
                  {{obra.custom_fields.gdobra_fim_previsto|formatarDataObra}}
                </li>
                <li class="valor">
                  <strong>Valor Global:</strong>
                  R$ {{obra.custom_fields.gdobra_valor_global}}
                </li>
                <li class="andamento">
                  <strong>Andamento</strong>
                  <progress value="{{obra.custom_fields.gdobra_porc_concluido}}" max="100"></progress> {{obra.custom_fields.gdobra_porc_concluido}} %
                </li>
              </ul>
            </div>

            <div class="separador"></div>

            <div class="code">
              <a href="#"><h3>Baixe o código QR e espalhe</h3></a>
              <a href="#" class="toottip" data-toggle="tooltip" title="Código QR: lipsum">
                <img src="{{ url_for('.static', filename='qrcode.jpg' ) }}" class="img-polaroid">
              </a><br>
            </div>

            <div class="separador"></div>

            <div class="stick">
              <h3>Receba informações</h3>
              <p class="desc">
                Escoha a melhor forma de receber as atualizações:</p>
              <p>Twitter | Facebook | SMS | Email</p>
              <button class="btn btn-large btn-danger">Seguir obra</button>
            </div>

          </div>
        </div>

        <div class="span7">
          <!-- <div class="row fiscalize">
          <div class="span8">
          <h2>Fiscalize <small>Esse espaço é para você interagir com a obra</small></h2>
          </div>
          <div class="span8">
          </div>

          <div class="span7">
          <div class="comente">
          <h3>O que você quer saber sobre essa obra?</h3>
          <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Qual a capacidade da Sala Sinfônica?
          </label>
          <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Haverá estacionamento?
          </label>
          <label class="radio">
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Serão oferecidos cursos para a comunidade?
          </label>
          <h4>Deixe sua pergunta</h4>
          <textarea class="span7"></textarea>
          <button class="btn">enviar</button>
        </div> -->


          <div class="dashboard">
            <h3>Dados gerais</h3>
            <table>
              <tr>
                <td> <img src="{{ url_for('.static',
                          filename='plateia.png' ) }}"> </td> <td> <img src="{{
                                                                        url_for('.static', filename='cafe.png' ) }}"> </td> <td>
                  <img src="{{ url_for('.static', filename='carro.png' )
                       }}"> </td>
              </tr>
              <tr>
                <td> 1500 lugares</td> <td> Café, bares e restaurante </td> <td> 375 vagas </td>
              </tr>
            </table>
          </div>




            <div class="updates">

            {%for update in timeline%}

              <div class="update">
                {#update#}
                <img src="{{ url_for('.static', filename='user.jpeg' ) }}">
                <h4>{{update.title}}</h4>

                {%if update.format == 'aside'%}
                  {{update.content|safe}}
                {%endif%}

                {%if update.format == 'link'%}
                  <a href="{{update.content|striptags}}">{{update.content|striptags}}</a>
                {%endif%}

                {%if update.format == 'video'%}
                  <video width="640" height="360" id="player{{update.id}}" preload="none">
                      <source type="video/youtube" src="{{update.content|striptags}}" />
                  </video>
                  <script type="text/javascript">
                    $('#player{{update.id}}').mediaelementplayer({});
                  </script>
                {%endif%}

                {%if update.format == 'image'%}
                  <img src="{{ update.thumbs.normal.url }}">
                {%endif%}

                <div class="info-meta">
                  <ul>
                    <li>
                      comentários ({{update.comments.count}})
                    </li>
                    <li>
                      {{update.date.date|formatarDataeHora(formato="%d/%m/%Y")}}
                    </li>
                    <li>
                      compartilhar
                    </li>
                  </ul>
                </div>
              </div>

            {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
