{% extends "base.html" %}

{%macro temas()%}
  {#Macro para listar os temas, pois podem ser marcados mais de um tema#}
  {%for t in obra.tema%}
    {{obra.tema[t].name}}
    {%if not loop.last%},{%endif%}
  {%endfor%}
{%endmacro%}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "21337f2e-2d47-4b1e-b210-c29a8a7e956d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
$('video').mediaelementplayer();
</script>
{% endblock %}

{% block content %}
<div id="monitoramento" class="obra">
  <div class="container">
    <div class="row">
        <div class="span12">
            <h1>De olho nas obras</h1>
        </div>
    </div>
    <div class="painel">
      <div class="header">
      <div class="row">
        <div class="span8">
          <div class="head">
            <!-- <a href="#" class="toottip" data-toggle="tooltip" title="Tema: {{temas()}}"> -->
            <!-- <img src="{{ url_for('.static', filename='icon.png' ) }}"> -->
            <!-- </a> -->
            <h2>{{obra.title}}</h2>
            <div class="desc">
              {{ obra.content|safe }}
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="mapa">
            <img src="{{ url_for('.static', filename='mapa.png' ) }}">
          </div>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="row">
        <div class="span12">
          <ul class="geral">
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-ticket icon-2x yellow"></i>
                  </span>
                </li>
                <li class="data"><strong>Tema</strong></li>
                <li class="result">{{temas()}}</li>
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-calendar icon-2x red"></i>
                  </span>
                </li>
                <li class="data">
                  <strong>Previsão de conclusão</strong>
                </li>
                <li class="result">{{obra.custom_fields.gdobra_fim_previsto|formatarDataObra}}</li>
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle"> <i class="icon-money icon-2x green"></i>
                  </span>
                </li>
                <li class="data"><strong>Valor Global</strong></li>
                <li class="result">R$ {{obra.custom_fields.gdobra_valor_global}}</li>
              </ul>
            </li>

            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle"> <i class="icon-cogs icon-2x blue"></i>
                  </span>
                </li>
                <li class="data"><strong>Andamento</strong></li>
                <li  class="result">
                  <div class="progressbar">
                    <div class="progress"style=" width:{{obra.custom_fields.gdobra_porc_concluido}}%">
                    </div>
                  </div> {{obra.custom_fields.gdobra_porc_concluido}} %
                </li>
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-wrench icon-2x orange"></i>
                  </span>
                </li>
                <li class="data"><strong>Empresas responsáveis</strong></li>
                <li class="result">Porto belo</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="span4">
          <div class="info">
            <h4>Participe!</h4>
            <div class="info">
              <div class="btn-group botoesparticipar">
                <a href="#participar-texto" class="btn btn-large btn-success comentar">Comente</a>
                <a href="#participar-imagem" class="btn btn-large btn-danger">Fotografe</a>
                <a href="#participar-video" class="btn btn-large btn-info ">Filme</a>
              </div>
              <p class="countdown">Faltam <span>30</span> dias a para próxima atualização</p>
              <div class="separador"></div>

              <div class="code">
                <a href="#"><h3>Baixe o código QR e espalhe</h3></a>
                <a href="#" class="toottip" data-toggle="tooltip" title="Código QR: lipsum">
                  <img src="{{ url_for('.static', filename='qrcode.jpg' ) }}" class="img-polaroid">
                </a><br>
              </div>

              <div class="separador"></div>

              <div class="stick">
                <h3>Receba informações</h3>
                <p class="desc">
                  Escoha a melhor forma de receber as atualizações:</p>
                <p>Twitter | Facebook | SMS | Email</p>
                <a href="#seguirobraform" class="btn btn-large btn-danger seguirobra">Seguir obra</a>
              </div>
            </div>
          </div>
        </div>
        <div class="span8">

          <!-- <div class="dashboard">
          <h3>Dados gerais</h3>
          <table>
          <tr>
          <td> <img src="{{ url_for('.static',
          filename='plateia.png' ) }}"> </td> <td>
          <img src="{{ url_for('.static',
          filename='cafe.png' ) }}"> </td> <td>
          <img src="{{ url_for('.static', filename='carro.png' )
          }}"> </td>
          </tr>
          <tr>
          <td> 1500 lugares</td> <td> Café, bares e restaurante </td> <td> 375 vagas </td>
          </tr>
          </table>
          </div> -->

          <div class="govresp">
            <div class="video">
              <video width="80%" height="80%" id="player1" preload="none">
                <source type="video/youtube" src="http://www.youtube.com/watch?v=D3U-6e9bZfg&feature=youtu.be" />
              </video>
            </div>

            <div class="content">
              <h2>Governo Responde</h2>
              <p>Criado em maio de 2011, a concepção do projeto foi
                acompanhada de uma ampla pesquisa que analisou
                exemplos de democracia digital do Brasil e do exterior
                e inspirou a criação de um conjunto único de
                mecanismos para a participação.</p>
            </div>

          </div>

          <div class="comofunciona">
            <div class="content">
              <div class="more">
                +
              </div>
              <h2>Como funciona ?</h2>
            </div>
          </div>

            <div class="updates">

              {%for update in timeline%}

              <div class="update">
                {#update#}
                <img src="{{ url_for('.static', filename='user.jpeg' ) }}">
                <h4>{{update.title}}</h4>

                {%if update.format == 'aside'%}
                {{update.content|safe}}
                {%endif%}

                {%if update.format == 'link'%}
                <a href="{{update.content|striptags}}">{{update.content|striptags}}</a>
                {%endif%}

                {%if update.format == 'video'%}
                <video width="640" height="360" id="player{{update.id}}" preload="none">
                  {% if 'youtube' in update.content %}
                  <source type="video/youtube" src="{{update.content|striptags}}" />
                  {%else%}
                  <source type="video/vimeo" src="{{update.content|striptags}}" />
                  {%endif%}
                </video>
                <script type="text/javascript">
                $('#player{{update.id}}').mediaelementplayer({});
                </script>
                {%endif%}

                {%if update.format == 'image'%}
                <img src="{{ update.thumbs.normal.url }}">
                {%endif%}

                <div class="info-meta">
                  <ul>
                    <li>{{update.author.display_name}}</li>
                    <li>
                      comentários ({{update.comments.count}})
                    </li>
                    <li>
                      {{update.date.date|formatarDataeHora(formato="%d/%m/%Y")}}
                    </li>
                    <li>
                      compartilhar
                    </li>
                  </ul>
                </div>
              </div>

              {%endfor%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="seguirobraform" style="display:none; width:450px;">
  <h3>Quer seguir esta obra ?</h3>
  <div class="main-follow">
    <a href="#" target="#follow-facebook"><img src="/static/img/follow/facebook.png"></a>
    <a href="#" target="#follow-twitter"><img src="/static/img/follow/twitter.png"></a>
    <a href="#" target="#follow-email"><img src="/static/img/follow/email.png"></a>
    <div class="follow follow-facebook" id="follow-facebook">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/{{obra.id}}/seguir" method="POST">
        <label for="faceid">Facebook ID:</label>
        <input type="text" name="faceid" id="faceid">
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
    <div class="follow follow-twitter hide" id="follow-twitter">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/{{obra.id}}/seguir" method="POST">
        <label for="faceid">Twitter ID:</label>
        <input type="text" name="twitterid" id="twitterid">
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
    <div class="follow follow-email hide" id="follow-email">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/{{obra.id}}/seguir" method="POST">
        <label for="faceid">Seu e-mail:</label>
        <input type="text" name="email" id="email">
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
  </div>
</div>

<div id="participar-texto" style="display:none; width:580px;">
  <h1>Enviar texto</h1>
  <p>Envie seu posicionamento sobre esta obra, informe-nos como está andando a obra, sob seu ponto de vista. Sua opinião é muito importante para nós.</p>
  <div class="alert message hide">Mensagem</div>
  <form  id="part-texto" class="form ajaxform" method="POST" action="/monitore/obra/{{obra.slug}}/contribui">
    <input type="hidden" name="tipo" value="t">
    <label for="titulo">Título:</label>
    <input class="span6" type="text" placeholder="Título..." name="titulo" id="titulo">
    <label for="conteudo">Sua contribuição</label>
    <textarea class="span6" name="conteudo" id="conteudo" placeholder="Digite sua contribuição aqui"></textarea>
    <div class="form-footer">
      <button class="btn" onclick="$.fancybox.close();return false;">Cancelar</button>
      <input type="submit" class="btn btn-primary" value="Enviar o texto">
    </div>
  </form>
</div>

<div id="participar-imagem" style="display:none; width:580px;">
  <h1>Enviar foto</h1>
  <p>Você poderá enviar 1 imagem do tipo PNG ou JPG, com o tamanho máximo de 2MB.</p>
  <div class="alert message hide">Mensagem</div>
  <form id="part-imagem" class="form ajaxform" method="POST" action="/monitore/obra/{{obra.slug}}/contribui" enctype="multipart/form-data">
    <input type="hidden" name="tipo" value="f">
    <label for="titulo">Título:</label>
    <input class="span6" type="text" placeholder="Título..." name="titulo" id="titulo">
    <label for="foto">Sua contribuição</label>
    <input type="file" name="foto" id="foto">
    <div class="form-footer">
      <button class="btn" onclick="$.fancybox.close();return false;">Cancelar</button>
      <input type="submit" class="btn btn-primary" value="Enviar a foto">
    </div>
  </form>
</div>

<div id="participar-video" style="display:none; width:580px;">
  <h1>Enviar link de vídeo</h1>
  <p>Você poderá enviar links do Youtube e do Vimeo para serem exibidos. Não é possível fazer upload e vídeo para nosso site.</p>
  <div class="alert message hide">Mensagem</div>
  <form id="part-video" class="form ajaxform" method="POST" action="/monitore/obra/{{obra.slug}}/contribui">
    <input type="hidden" name="tipo" value="v">
    <label for="titulo">Título:</label>
    <input class="span6" type="text" placeholder="Título..." name="titulo" id="titulo">
    <label for="link">Link do video</label>
    <input class="span6" type="text" placeholder="link do seu vídeo..." name="link" id="link">
    <div class="form-footer">
      <button class="btn" onclick="$.fancybox.close();return false;">Cancelar</button>
      <input type="submit" class="btn btn-primary" value="Enviar o vídeo">
    </div>
  </form>
</div>
{% endblock %}
