{% extends "base-obra.html" %}

{%macro temas()%}
  {#Macro para listar os temas, pois podem ser marcados mais de um tema#}
  {%if obra.tema%}
    {%for t in obra.tema%}
      {{obra.tema[t].name}}
      {%if not loop.last%},{%endif%}
    {%endfor%}
  {%endif%}
{%endmacro%}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script>
$(window).load(function () {
  $('video').mediaelementplayer();

  $('a.showtos').fancybox({
      maxWidth: 800,
      maxHeight: 600
  });
});
</script>
{% endblock %}

{% block content %}
<div id="monitoramento" class="obra">
  <div class="container">
    <div class="painel">
      <div class="header">
      <div class="row">
        <div class="span8">
          <div class="head">
            <h2>{{obra.title}}</h2>
            <div class="content">
              {{ obra.content|safe }}
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="mapa">
            <!-- <img src="{{ url_for('.static', filename='mapa.png' ) }}"> -->
            {%if 'gdobra_link_maps' in obra.custom_fields %}
            <a target="_blank" href="{{obra.custom_fields['gdobra_link_maps']}}">
              <img src="{{obra.custom_fields['gdobra_link_maps_estatico']}}">
            </a>
            {%elif 'gdobra_coordenadas' in obra.custom_fields%}
            {%set lls = obra.custom_fields.gdobra_coordenadas%}
            <a target="_blank" href="https://maps.google.com.br/maps?{%for ll in lls%}{%if loop.index > 1%}&{%endif%}q={{ll}}{%endfor%}&hl=pt&z=18">
              <img src="http://maps.googleapis.com/maps/api/staticmap?center={{lls[0]}}{%for ll in lls%}&markers={{ll}}{%endfor%}&zoom=11&size=370x250&sensor=false">
            </a>
            {%else%}
              <img src="http://maps.google.com/maps/api/staticmap?center=-29.509137,-53.017184&zoom=6&size=370x250&sensor=true">
            {%endif%}
          </div>
        </div>
      </div>
    </div>

    <div class="barra">
      <div class="row">
        <div class="span12">
          <ul class="geral">

            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-calendar icon-2x red"></i>
                  </span>
                </li>
                <li class="data">
                  <strong>Previsão de conclusão</strong>
                </li>
                <li class="result">{{obra.custom_fields.gdobra_fim_previsto|formatarDataObra}}</li>
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle"> <i class="icon-money icon-2x green"></i>
                  </span>
                </li>
                <li class="data"><strong>Valor Global</strong></li>
                <li class="result">{{obra.custom_fields.gdobra_valor_global|formatCurrency}}</li>
              </ul>
            </li>

            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle"> <i class="icon-cogs icon-2x blue"></i>
                  </span>
                </li>
                <li class="data"><strong>Andamento</strong></li>
                <li  class="result">
                  <div class="progressbar">
                    <div class="progress"style=" width:{{obra.custom_fields.gdobra_porc_concluido}}%">
                    </div>
                  </div> {{obra.custom_fields.gdobra_porc_concluido}} %
                </li>
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-wrench icon-2x orange"></i>
                  </span>
                </li>
                {%if 'gdobra_empresa_contratada' in obra.custom_fields %}
                <li class="data"><strong>Empresas responsáveis</strong></li>
                <li class="result empcontratadas" title="Todas as empresas contratadas" data-content="{%for e in obra.custom_fields.gdobra_empresa_contratada%}{{e}}<br/>{%endfor%}">
                  {{obra.custom_fields.gdobra_empresa_contratada[0]}}
                </li>
                {%endif%}
              </ul>
            </li>
            <li class="field">
              <ul class="dados-obra">
                <li class="icon">
                  <span class="circle">
                    <i class="icon-group icon-2x yellow"></i>
                  </span>
                </li>
                <li class="data"><strong>Secretaria Responsável</strong></li>
                <li class="result">{{temas()}}</li>
              </ul>
            </li>

            {%if more%}
            <li class="field">
              <div class="more">
                +
              </div>
            </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="span3">
          <div class="info">
            <div class="botoesparticipar">
              <a href="#participar-geral"  class="filme">
                <i class="icon-bullhorn icon-2x"></i>
                <div class="funcao">Fiscalize</div>
                <div class="help-text">Envie seu comentário sobre a obra</div>
              </a>
              <a href="#participar-geral"  class="filme">
                <i class="icon-facetime-video icon-2x"></i>
                <div class="funcao">Filme</div>
                <div class="help-text">Envie seu vídeo sobre a obra</div>
              </a>
              <a href="#participar-geral"  class="filme">
                <i class="icon-camera icon-2x"></i>
                <div class="funcao">Fotografe</div>
                <div class="help-text">Envie uma foto da obra</div>
              </a>
            </div>

            <div class="separador"></div>

            <div class="follow">
              <h3>Siga esta obra</h3>
              <p>
                Receba informações periódicas sobre o andamento desta
                obra no seu canal preferido.</p>

              <ul class="social">
                <li><a href="#seguirobraform" class="seguirobra" data-panel="#follow-facebook"><i class="icon-facebook icon-2x face"></i></a></li>
                <li><a href="#seguirobraform" class="seguirobra" data-panel="#follow-twitter"><i class="icon-twitter icon-2x twit"></i></a></li>
                <li><a href="#seguirobraform" class="seguirobra" data-panel="#follow-email"><i class="icon-envelope icon-2x email"></i></a></li>
              </ul>
              <a href="#seguirobraform" class="btn btn-large btn-danger seguirobra">Seguir obra</a>
            </div>

            <div class="separador"></div>

            <div class="nossodados">
              <h3>Outras obras</h3>
              <p>Voltar para lista de obras</p>
              <a href="/monitore" class="btn btn-info">Voltar</a>
            </div>

            <div class="separador"></div>

            <div class="nossodados">
              <h3>Nossos dados</h3>
              <p>
                As informações das obras são dados abertos. Acesse a API:
              </p>
              <a href="#" class="api">JSON</a>
              <!-- <a href="#" class="xml">XML</a> -->
            </div>

            <div class="separador"></div>

            <div class="acessso">
              <h3>Acesso à informação</h3>
                Se você quiser obter alguma informação específica e de
                maneira personalizada, utilize a Lei de Acesso à
                Informação. O governo dará uma resposta em no máximo 30
                dias.
              </p>
              <a href="http://www.acessoinformacao.rs.gov.br/">
                <img src="{{ url_for('.static', filename='lai.png' ) }}">
              </a>
            </div>

            <div class="separador"></div>

            <div class="acessso ">
              <p>Desenvolvido em parceria com a</p>
              <a href="http://portal.fgv.br/">
                <img src="{{ url_for('.static', filename='fgv.gif' ) }}" width="40%">
              </a>
            </div>

          </div>
        </div>
        <div class="span9">
          <div class="stage">
            {%if more%}
            <div class="more-content fechado">
              {{more|safe}}
            </div>
            {%endif%}
            <div class="api-content hide" >
              <div class="row">
                <div class="span9">
                  <h2>Acesso aos dados via API</h2>

                  <p>Todos os dados referentes as obras mostradas neste
                  site estão disponíveis através da nossa API.</p>
                  <p>Você pode acessá-los conforme as indicações abaixo:</p>

                  <h3>Retorno JSON</h3>
                  <blockquote>
                  <dl>
                    <dt>Lista de todas as obras</dt>
                    <dd><code>/monitore/api/obras.json</code></dd>
                    <dt>Dados de uma obra especifica</dt>
                    <dd><code>/monitore/api/obras/[obraid].json</code></dd>
                  </dl>
                  </blockquote>
                  <p>Conforme os end-points forem sendo desenvolvidos,
                  mais dados serão disponibilizados</p>
                  <div class="close">Voltar</div>
                </div>
              </div>
            </div>
            <div class="suplementar hide">
              <div id="participar-geral">
                <div class="row">
                  <div class="span9">
                  <h2>Enviar contribuição</h2>
                   <p class="help">Envie seu posicionamento sobre esta obra, informe-nos como está andando a obra, sob seu ponto de vista. Sua opinião é muito importante para nós.</p>
                   </div>
                   </div>
                   <div class="row">
                   <div class="span4">
                     <div class="space">
                       <div class="alert message hide">Mensagem</div>
                       <form  id="part-geral" class="form ajaxform" method="POST" action="/monitore/obra/{{obra.slug}}/contribui">
                         <label for="titulo">Título:</label>
                         <input type="text" placeholder="Título..." name="titulo" id="titulo">
                         <label for="conteudo">Sua contribuição</label>
                         <textarea name="conteudo" id="conteudo" placeholder="Digite sua contribuição aqui"></textarea>

                         <div class="anexos">
                           <a href="#" class="inFoto">
                             <i class="icon-camera icon-large"></i>
                             <p>Envie uma imagem</p>


                             <a href="#" class="inVideo">
                               <i class="icon-facetime-video icon-large"></i>
                               <p>Envie um vídeo</p>
                             </a>


                             <div class="video hide">
                               <label for="link">Link do video</label>
                               <span class="help-block">Insira aqui o link do seu vídeo no youtube.</span>
                               <input type="text" placeholder="link do seu vídeo..." name="link" id="link">

                             </div>
                             <div class="foto hide">
                               <label for="foto">Sua imagem</label>
                               <input type="file" name="foto" id="foto">
                             </div>
                         </div>

                        {%if user%}
                          <p class="lead">
                           Enviando contribuição como {{user.name}}
                         </p>

                        {%else%}
                         <label for="email">Email</label>
                         <input type="text" placeholder="Digite aqui seu email..." name="email" id="email">

                         <p class="lead">
                           Você possui cadastro no Gabinete Digital ?
                         </p>

                         <div class="comCadastro">
                           <div class="resposta"><big>Sim</big>, eu tenho uma senha</div>

                           <div class="input-append">
                             <input class="span2" id="senha" type="password" placeholder="senha" name="senha">
                             <button class="btn btn-success" type="submit">Entrar</button>
                           </div>
                         </div>

                         <div class="semCadastro">
                           <div class="resposta"><big>Não</big>, desejo confirmar por email</div>
                           <input type="text" placeholder="Nome" name="nome" id="nome">
                           <div class="hide telefone">
                             <input type="text" placeholder="Telefone" name="telefone" id="telefone"> (opcional)
                           </div>
                           <div class="hide newPassword">
                             <input type="password" placeholder="Senha" name="newPassword" id="newPassword"> (opcional)
                           </div>
                         </div>

                         {%endif%}

                         <label for="accept_tos" class="checkbox">
                           <input type="checkbox" name="accept_tos" id="accept_Tos">
                           Aceito os <a href="#tos" class="showtos">Termos de uso</a>.
                         </label>

                         <div class="form-footer">
                           <a class="btn fechar">Cancelar</a>
                           <button type="submit" class="btn btn-success">Enviar</button>
                         </div>

                       </form>
                     </div>
                   </div>
                   <div class="span5">
                     <h2>{{howto.title}}</h2>
                     <div class="instrucoes">
                        {{howto.content|safe}}
                     </div>
                   </div>
                   </div>
              </div>
            </div>
    {% block subcontent %}

            <div class="comofunciona fechado">
              <h2>Como funciona ?</h2>
                <div class="cmore">
                  +
                </div>

              <div class="content">

                <img src="{{ url_for('.static', filename='como.png' ) }}">
              </div>
            </div>


          <div class="updates">


            {%include 'part_govresp.html'%}


            <p>O que as pessoas estão falando...</p>
            {%set mostra_items = True%}

            <div class="timeline">
              <div class="line"></div>

              {%for update in timeline[1:]%}

              {%if update.format == 'status'%} {#===================================================#}
              {%set mostra_items = False%}
            </div>

            <div class="govresp remote" data-oid="{{obra.slug}}" data-id="{{update.id}}">
              <div class="cal">
                <div class="dia">{{update.date.date|formatarDataeHora(formato="%d")}}</div>
                <div class="mes">{{update.date.date|formatarDataeHora(formato="%b")}}</div>
              </div>
              <h2>Governo Responde</h2>
            </div>

            <div class="timeline" id="timeline{{update.id}}">
              {%elif mostra_items %} {#===========================================================================#}
              <div class="update {{ update.format }}">

                <div class="seta">
                  <span class="mark"> <span class="dot"></span> </span>
                </div>

                <div class="content">
                  <h4><a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}">{{update.title}}</a></h4>
                  <div class="user">
                    <small>por</small> {{update.author.display_name}} <small>em</small>
                    <a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}">{{update.date.date|formatarDataeHora(formato="%d %b, %Y")}}</a>
                  </div>

                  {{update.content|safe}}

                  {%if update.format == 'link'%}
                  <a href="{{update.content|striptags}}">{{update.content|striptags}}</a>
                  {%endif%}

                  {%if update.format == 'video'%}
                  <video width="100%" height="100%" id="player{{update.id}}" preload="none">
                    {% if 'youtube' in update.custom_fields.gdobra_video %}
                    <source type="video/youtube" src="{{update.custom_fields.gdobra_video|striptags}}" />
                    {%else%}
                    <source type="video/vimeo" src="{{update.custom_fields.gdobra_video|striptags}}" />
                    {%endif%}
                  </video>
                  <script type="text/javascript">
                  $('#player{{update.id}}').mediaelementplayer({});
                  </script>
                  {%endif%}

                  {%if update.format == 'image'%}
                    {%include 'item-image-part.html'%}
                  {%endif%}
                </div>

                <div class="participe">
                  {%include 'timeline-importante.html'%}
                </div>

              </div>
              {%endif%} {#==========================================================================#}
              {%else%}
              <p>Seja o primeiro a fiscalizar essa obra!</p>
              {%endfor%}
            </div> <!-- fim timeline -->
          </div> <!-- fim updates -->

    {%endblock%}

        </div> <!-- fim span9 -->
      </div>
    </div>
  </div>
</div>


<div id="seguirobraform" style="display:none; width:450px;">
  <h3>Quer seguir esta obra ?</h3>
  <div class="main-follow">
    <a href="#" target="#follow-email"><i class="icon-envelope icon-3x email"></i></a>
    <a href="#" target="#follow-facebook"><i class="icon-facebook icon-3x face"></i></a>
    <a href="#" target="#follow-twitter"><i class="icon-twitter icon-3x twit"></i></a>
    <div class="follow follow-email hide" id="follow-email">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/seguir/{{obra.id}}" method="POST">
        <label for="faceid">Seu e-mail:</label>
        <input type="text" name="email" id="email" {%if user%}value="{{user.email}}"{%endif%}>
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
    <div class="follow follow-facebook" id="follow-facebook">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/seguir/{{obra.id}}" method="POST">
        <label for="faceid">Facebook ID:</label>
        <input type="text" name="faceid" id="faceid" {%if user%}value="{{user.get_meta('facebook')}}"{%endif%}>
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
    <div class="follow follow-twitter hide" id="follow-twitter">
      <div class="alert message hide">Mensagem</div>
      <form class="form form-inline ajaxform" action="/monitore/obra/seguir/{{obra.id}}" method="POST">
        <label for="faceid">Twitter ID:</label>
        <input type="text" name="twitterid" id="twitterid" {%if user%}value="{{user.get_meta('twitter')}}"{%endif%}>
        <input type="submit" class="btn btn-success" value="Seguir">
      </form>
    </div>
  </div>
</div>

<div id="tos" class="tos hide">
  <h1>{{tos.title}}</h1>
  {{tos.content|safe}}
</div>
{% endblock %}
