<ul>
  <li><p>Isso é importante?</p></li>
  <li>
    {%if user and not user.username in update.custom_fields.gdobra_users_voted %}
    <a class="votar" href="/deolho/obra/{{update.id}}/{{update.slug|md5}}/{{[update.id|string,'1']|join("")|md5}}/">
      <div class="curtir"></div>
    </a>
    {%elif not user%}
    <a class="need" href="#"><div class="curtir"></div></a>
    {%else%}
    <a class="votar voted"><div class="curtir voted"></div></a>
    {%endif%}
  </li>
  <li>
    <p class="counter">{{update.custom_fields.gdobra_voto_score or "0"}}</p>
  </li>
</ul>

<div class="comment-count-item pull-right" title="Comente e Veja os comentários !">
  <a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}#comments">
  {{update.total_comments}} <i class="fa fa-comments-o"></i>
  </a>
</div>
