{% extends "obra.html" %}

{%macro temas()%}
{#Macro para listar os temas, pois podem ser marcados mais de um tema#}
{%for t in obra.tema%}
{{obra.tema[t].name}}
{%if not loop.last%},{%endif%}
{%endfor%}
{%endmacro%}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "21337f2e-2d47-4b1e-b210-c29a8a7e956d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
$('video').mediaelementplayer();
</script>
{% endblock %}

{% block subcontent %}
<div class="unico">
  <div class="updates">
    <div class="timeline">
      <a href="{{ url_for('monitoramento.obra', slug=obra.slug) }}"><div class="voltar">
        <i class="icon-arrow-left icon-large"></i> Voltar para linha do tempo
      </div>
      </a>
      <div class="update {{ update.format }}">
        <div class="content">
          <h4>{{update.title}}</h4>
          <div class="user">
            <small>por</small> {{update.author.display_name}} <small>em</small>
            <a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}">{{update.date.date|formatarDataeHora(formato="%d %b, %Y")}}</a>
          </div>

          {{update.content|safe}}

          {%if update.format == 'link'%}
          <a href="{{update.content|striptags}}">{{update.content|striptags}}</a>
          {%endif%}

          {%if update.format == 'video'%}
          <video width="100%" height="100%" id="player{{update.id}}" preload="none">
            {% if 'youtube' in update.custom_fields.gdobra_video %}
            <source type="video/youtube" src="{{update.custom_fields.gdobra_video|striptags}}" />
            {%else%}
            <source type="video/vimeo" src="{{update.custom_fields.gdobra_video|striptags}}" />
            {%endif%}
          </video>
          <script type="text/javascript">
          $('#player{{update.id}}').mediaelementplayer({});
          </script>
          {%endif%}

          {%if update.format == 'image'%}
              {%include 'item-image-part.html'%}
          {%endif%}
        </div>

        <div class="participe">
          {%include 'timeline-importante.html'%}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
