{% extends "obra.html" %}

{%macro temas()%}
  {#Macro para listar os temas, pois podem ser marcados mais de um tema#}
  {%for t in obra.tema%}
    {{obra.tema[t].name}}
    {%if not loop.last%},{%endif%}
  {%endfor%}
{%endmacro%}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
{%endblock%}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('static', filename='js/monitoramento/monitoramento.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "21337f2e-2d47-4b1e-b210-c29a8a7e956d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
$('video').mediaelementplayer();
</script>
{% endblock %}

{% block subcontent %}

              <div class="update">
                <div class="vote">
                  <a href="/monitore/obra/{{update.id}}/{{update.slug|md5}}/{{[update.id|string,'1']|join("")|md5}}/"><i class="icon-plus"/></i></a>
                  <span class="score">{{update.custom_fields.gdobra_voto_score or "0"}}</span>
                  <a href="/monitore/obra/{{update.id}}/{{update.slug|md5}}/{{[update.id|string,'-1']|join("")|md5}}/"><i class="icon-minus"></i></a>
                </div>
                <img src="{{ url_for('.static', filename='user.jpeg' ) }}" class="img-circle">
                <h4>{{update.title}}</h4>
                <a href="/monitore/obra/{{obra.slug}}/">Voltar</a>

                {%if update.format == 'aside'%}
                {{update.content|safe}}
                {%endif%}

                {%if update.format == 'link'%}
                <a href="{{update.content|striptags}}">{{update.content|striptags}}</a>
                {%endif%}

                {%if update.format == 'video'%}
                <video width="640" height="360" id="player{{update.id}}" preload="none">
                  {% if 'youtube' in update.custom_fields.gdobra_video %}
                  <source type="video/youtube" src="{{update.custom_fields.gdobra_video|striptags}}" />
                  {%else%}
                  <source type="video/vimeo" src="{{update.custom_fields.gdobra_video|striptags}}" />
                  {%endif%}
                </video>
                <script type="text/javascript">
                $('#player{{update.id}}').mediaelementplayer({});
                </script>
                {%endif%}

                {%if update.format == 'image'%}
                <img src="{{ update.thumbs.normal.url }}" >
                {%endif%}

                <div class="participe">
                  <p>Isso é importante?</p>
                </div>

              </div>

{% endblock %}
