{%include 'part_govresp.html'%}

<div class="timeline">

    <div class="line"></div>
{%for update in timeline[1:]%}
    <div class="update {{ update.format }}">

      <div class="seta">
        <span class="mark"> <span class="dot"></span> </span>
      </div>

      <div class="content">
        <h4>{{update.title}}</h4>
        <div class="user">
          <small>por</small> {{update.author.display_name}} <small>em</small>
          <a href="{{ url_for('.timelineitem', slug=obra.slug, itemid=update.id) }}">{{update.date.date|formatarDataeHora(formato="%d %b, %Y")}}</a>
        </div>

        {%if update.format == 'aside'%}
        {{update.content|safe}}
        {%endif%}

        {%if update.format == 'link'%}
        <a href="{{update.custom_fields.gdobra_arquivo|striptags}}">{{update.content|striptags}}</a>
        {%endif%}

        {%if update.format == 'video'%}
        <video width="100%" height="100%" id="player{{update.id}}" preload="none">
		blalalalalalala
          {% if 'youtube' in update.custom_fields.gdobra_video %}
          <source type="video/youtube" src="{{update.custom_fields.gdobra_video|striptags}}" />
          {%else%}
          <source type="video/vimeo" src="{{update.custom_fields.gdobra_video|striptags}}" />
          {%endif%}
        </video>
        <script type="text/javascript">
        $('#player{{update.id}}').mediaelementplayer({});
        </script>
        {%endif%}

        {%if update.format == 'image'%}
          {%include 'item-image-part.html'%}
        {%endif%}
      </div>

      <div class="participe">
        {%include 'timeline-importante.html'%}
      </div>

    </div>
{%endfor%}
</div>
