@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,400italic);

#container {
    font-family: 'Open Sans', sans-serif;
}

#container #appbase {
    background: white;
    min-height: 582px;
    -moz-box-shadow: 0px 5px 14px 2px #ccc;
    -webkit-box-shadow: 0px 5px 14px 2px #ccc;
    box-shadow: 0px 5px 14px 2px #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#container #appbase #applogo h1 {
    background: url('../imgs/applogo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    height: 77px;
    width: 208px;
    margin-top: 15px;
}


#container #appbase #question p {
    background: url("../imgs/balao.png") no-repeat;
    color: #A40000;
    width: 317px;
    height: 95px;
    font-size: 18px;
    padding: 14px 0px 0px 29px;
}

#container #appbase #step {
    margin-left: 40px;
    margin-top: 13px;
}

#container #appbase #step ol li {
    display: block;
    float: left;
    margin-right: 29px;
    color: #babdb6;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

#container #content #maintext {
    background: url('../imgs/que.png') no-repeat bottom right; 
    min-height: 400px;
}   

#container #content #maintext h2 {
    color: #888a85;
    font-size: 36px;
    font-weight: normal;
    padding: 10px;
}

#container #content #maintext p {
    color: #2e3436;
    font-size: 16px;
    padding: 10px 190px 0px 50px;
}

#container #content #maintext a {
    color: #888a85;
    border: 2px solid #888a85;
    font-size: 18px;
    padding: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    margin: 28px -35px 10px 50px;
}

#controller {
    text-align: right;
    margin-top: 20px;
    font-size: 22px;
    color: #73d216;
}

#controler a, a:visited, a:hover {
    color: #73d216;
    text-decoration: none;
}

#controller .next {
    background: url('../imgs/dir.png') no-repeat right bottom;
    height: 26px;
    padding-right: 56px;
    font-weight: 600;
}
