@import url('font.css');

* {
    font-family: 'OpenSansRegular';
}

#container {
    clear:both;
}

#applogo h1 a {
    background: url('../imgs/applogo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    height: 77px;
    width: 208px;
    margin: 15px;
    display:block;
}

#question {
    background: url("../imgs/balao.png") no-repeat 24px 0;
    color: #A40000;
    height: 95px;
    font-size: 21px;
    font-style: italic;
    margin: 10px;
}

#question p {
    padding: 4px 0px 0px 45px;
    width: 256px;
    font-size: 20px;
}

#container #appbase {
    background: white;
    min-height: 582px;
    -moz-box-shadow: 0px 5px 14px 2px #ccc;
    -webkit-box-shadow: 0px 5px 14px 2px #ccc;
    box-shadow: 0px 5px 14px 2px #ccc;
    margin-top: 20px;
    margin-bottom: 40px;
}

#container #appbase #step {
    margin-top:13px;
    background: url(../imgs/stepbg.png) no-repeat 25px 25px;
}

#container #appbase #step ol li a {
    background: url(../imgs/num.png) no-repeat 50% 8px;
    display: block;
    float: left;
    margin-right: 15px;
    color: #babdb6;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-top:16px;
    width:75px;
}

#container #appbase #step ol li span {
    display:block;
    padding-bottom:15px;
}

#container #appbase #step ol li.last {
    margin-right:0;
}

#container #appbase #step ol li a, a:visited {
    color: #babdb6;
}

#container #appbase #step ol li a.current,
#container #appbase #step ol li a:hover {
    color: #73d216;
    background: url(../imgs/numhover.png) no-repeat 50% 5px;
}

#container #content #maintext {
    padding:0 40px;
    margin-bottom:40px;
}

#container #content #maintext h2 {
    color: #666;
    font-size: 36px;
    font-weight: normal;
    padding: 0 10px 10px 10px;
}

#container #content #maintext .blocktext {
    color: #2e3436;
    font-size: 16px;
    padding: 10px 0px 0px 50px;
}

#container #content #maintext .blocktext p {
    margin-top:20px;
}

#container #content .whatisit {
    background: url(../imgs/what.png) no-repeat bottom right;
}

#container #content #maintext #more a {
    color: #888a85;
    border: 2px solid #888a85;
    font-size: 18px;
    padding: 10px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    margin: 28px -35px 10px 50px;
}

#container #content #maintext .howitworks {
    background: url(../imgs/gears.png) no-repeat bottom right;
}

#container #content #maintext .howitworks p {
         color: #2e3436;
    font-size: 16px;
    padding: 10px 190px 0px 50px;
   margin-left: 19px;
}

#container #content #maintext .howitworks li img {
    position: absolute;
}

#container #content #maintext #howworks .how1 {
    clip: rect(0px, 56px, 56px, 0px);
}

#container #content #maintext #howworks .how2 {
    clip: rect(0px, 128px, 56px, 69px);
    margin-left: -69px;
}

#container #content #maintext #howworks .how3 {
    clip: rect(0px, 200px, 56px, 137px);
    margin-left: -140px;
}

#container #content #maintext #howworks .how4 {
    clip: rect(0px, 270px, 56px, 210px);
    margin-left: -210px;
}

#container #content #maintext #howworks li {
    height: 100px;
}

#container #content #maintext #themes {
    text-align: center;
    padding:40px 0;
}

#container #content #maintext #themes li {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
    margin-left: 70px;
    width:108px;
    float: left;
}

#container #content #maintext #themes li img {
    width:90px;
}

#container #content #maintext #themes a {
    width:90px;
    display:block;
}

#container #content #maintext #themes a:hover {
    margin-top: -10px;
}

#container #content #maintext #themes p {
    margin-top:10px;
}

#container #content #maintext #themes .cuidado p {
    color: #204a87;
}

#container #content #maintext #themes .familia p {
    color: #f57900;
}

#container #content #maintext #themes .emergencia p {
    color: #cc0000;
}

#container #content #maintext #themes .medicamentos p {
    color: #75507b;
}

#container #content #maintext #themes .regional p {
    color: #4e9a06;
}

#container #content #maintext h3 {
    color: #777;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}

#container #content #maintext #form {
    padding: 10px 4px 8px 10px;
    border-right: 3px dotted #ccc;
}

#container #content #maintext #form .title {
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 22px;
    display: block;
    width: 530px;
}

#container #content #maintext #form textarea {
    border: 1px solid #ccc;
    font-size: 14px;
    display: block;
    width: 520px;
    height: 160px;
    color: #888a85;
    padding: 5px;
}

#container #content #maintext #form .send {
    padding: 5px;
    color: #888a85;
    border: 1px solid #ccc;
    background-color: white;
    float: right;
    margin: -15px 54px;
    display: block;
    cursor: pointer;
}

#container #content #maintext #faq {
    color: #888a85;
}

#container #content #maintext #faq h3{
    font-size: 14px;
    color: #2e3436;
}

.controller {
    width:450px;
    margin:20px auto;
    font-size: 22px;
    color: #73d216;
    text-align: center;
    clear:both;
}

.controller a, a:visited, .controller a:hover {
    color: #73d216;
    text-decoration: none;
    line-height:22px;
}

.controller .next {
    background: url('../imgs/dir.png') no-repeat right bottom;
    height: 26px;
    padding-right: 56px;
    font-weight: 600;
    display:block;
    float:right;
}

.controller .prev {
    background: url('../imgs/esq.png') no-repeat left bottom;
    height: 26px;
    padding-left: 56px;
    font-weight: 600;
    display:block;
    float:left;
}


/* -- Theme detail overlay -- */


#themed {
    width:900px;
    min-height:400px;
    background:#fff;
    border:none;
    border-radius:8px;
    font-size: 16px;
}

#themed .close {
    top:2px;
    right:4px;
}

#themed .head {
    padding:30px 20px 0 20px;
}

#themed h1 {
    padding-left:100px;
}

#themed ul.internal {
    float:left;
    margin:10px 0 0 20px;
    padding-left:80px;
}

#themed ul.internal li {
    display:block;
    float:left;
    margin-right:18px;
}

#themed ul.internal li a {
    display:block;
    float:left;
    color:#888a85;
}

#themed ul.internal li a.current,
#themed ul.internal li a:hover {
    text-decoration:underline;
}

#themed ul.allThemes {
    float:right;
}

#themed ul.allThemes li {
    display:block;
    float:left;
}

#themed hr {
    border-bottom:solid 1px #888;
}

#themed .ptpanes {
    padding:20px;
}

#themed .ptpanes h2 {
    color:#babdb6;
    font-size:30px;
}

#themed .ptpanes p {
    margin:15px 0 0 25px;
    color:#2e3436;
}

#themed .ptpanes h3 {
    margin:15px 0 0 25px;
}

#themed .ptpanes .control {
    text-align:right;
    margin-top:20px;
}

#themed .ptpanes .control a {
    color:#888a85;
    padding:0 20px;
}

#themed .ptpanes .control .prev {
    padding-right:15px;
    background: url('../imgs/smallleft.png') no-repeat left 57%;
}

#themed .ptpanes .control .next {
    padding-left:15px;
    background: url('../imgs/smallright.png') no-repeat right 57%;
}

/*- per-theme icons and colors -*/

#themed span.icon {
    width:90px;
    height:90px;
    display:block;
    float:left;
    position:absolute;
}

/* cuidado integral */
#themed.cuidado h1 { color:#204a87; }
#themed.cuidado span.icon {
    background:url('../imgs/cuidadointegral90.png') no-repeat;
}

/* medicamentos */
#themed.medicamentos h1 { color:#75507b; }
#themed.medicamentos span.icon {
    background:url('../imgs/medicamentos90.png') no-repeat;
}

/* familia */
#themed.familia h1 { color:#f57900; }
#themed.familia span.icon {
    background:url('../imgs/familia90.png') no-repeat;
}

/* regional */
#themed.regional h1 { color:#4e9a06; }
#themed.regional span.icon {
    background:url('../imgs/regional90.png') no-repeat;
}

/* emergencia */
#themed.emergencia h1 { color:#cc0000; }
#themed.emergencia span.icon {
    background:url('../imgs/emergencia90.png') no-repeat;
}


/* -- contribute page -- */

div.contribute div.error {
    display:none;
    background:#ce3316;
    color:#fff;
    margin-bottom:14px;
    padding:8px;
    width:95%;
    border-radius: 4px 4px 4px 4px;
}

div.contribute input.error,
div.contribute textarea.error {
    border:solid 1px red !important;
}

div.contribute #form input.theme {
    float:left;
}

div.contribute #form .btn {
    margin:0 0 0 -10px;
    padding:0px 0 17px 33px;
    color:#333;
    float:left;
    width:15%;
    overflow:hidden;
}

div.contribute #form .btn label.selected {
    font-weight:bold;
    color:#4e9a06;
}

div.contribute #form .btn:hover {
    color:#4e9a06;
}

div.contribute #form .btn input {
    margin-left:-50px;
}

div.contribute h3 {
    margin-bottom: 5px;
}

div.contribute #form .cuidado {
    background:url('../imgs/cuidadointegral32.png') no-repeat;
    width:70px;
}

div.contribute #form .familia {
    background:url('../imgs/familia32.png') no-repeat;
    width:80px;
}

div.contribute #form .emergencia {
    background:url('../imgs/emergencia32.png') no-repeat;
}

div.contribute #form .medicamentos {
    background:url('../imgs/medicamentos32.png') no-repeat;
    width:100px;
}

div.contribute #form .regional {
    background:url('../imgs/regional32.png') no-repeat;
}

div.contribute #form .success {
    background:white;
    color:#333;
    padding:100px 0;
}

div.contribute #form .success h3 {
    color:#4e9a06;
}

div.contribute #form .success p {
    color:#333;
    padding:10px;
}
