@import url('font.css');

* {
    font-family: 'OpenSansRegular';
}

#menu { display:none; }
#header { height:150px; }

#applogo h1 a {
    background: url('../imgs/applogo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    height: 77px;
    width: 208px;
    margin: 15px;
    display:block;
}

#container h1 {
    font-size: 30px;
    font-weight: normal;
    color: #A40000;
}

#container h2.regional {
    background: url('../imgs/regional32.png') no-repeat;
    color: #4e9a06;
}

#container h2.cuidado {
    background: url('../imgs/cuidado32.png') no-repeat;
    color: #204a87;
}

#container h2.emergencia {
    background: url('../imgs/emergencia32.png') no-repeat;
    color: #cc0000;
}

#container h2.familia {
    background: url('../imgs/familia32.png') no-repeat;
    color: #f57900;
}

#container h2.medicamentos {
    background: url('../imgs/medicamentos32.png') no-repeat;
    color: #75507b;
}

#container h2 {
    font-size: 22px;
    font-weight: normal;
    padding-left: 40px;
    height: 40px;
    margin-top: 10px;
}


.col6 a {
    background-color: #dde9af;
    display: block;
    border-radius: 20px;
    color: #445016;
}

.col6 a:hover {
    background-color: #bcd35f;
    display: block;
    color: #445016;
}

.opt {
    padding:10px 20px 20px 20px;
    font-size: 16px;
    background:#f7f7f7;
    width:428px;
    float:left;
    border:solid 1px #f0f0f0;
    border-radius:6px;
}

.opt.left {
    margin-right:15px;
}

.opt h3 {
    color: #445016;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    height:40px;
}

.opt p {
    height:250px;
}

.skip:hover {
    background-color: #babdb6;
}

.skip {
    font-size: 16px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #EEEEEC;
    color: #888a85;
    display: block;
    width: 220px;
    margin-top: 30px;
    padding: 4px;
}

.send {
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #bcd35f;
    color: #445016;
    display: block;
    width: 240px;
    margin-top: 30px;
    padding: 4px;
}

.send:hover {
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #abc837;
    color: #445016;
    display: block;
    width: 240px;
    margin-top: 30px;
    padding: 4px;
}

.misc {
    width: 200px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    color: #888a85;   
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.misc:hover {
    text-decoration: underline;
}

.helptext {
    font-size:12pt;
    color:#333;
    display:block;
    margin:0 30px 5px 100px;
}

.questions {
    padding:1px 10px 10px 10px;
    margin:20px 0 60px 0;
    -moz-box-shadow: 0px 5px 14px 2px #ccc;
    -webkit-box-shadow: 0px 5px 14px 2px #ccc;
    box-shadow: 0px 5px 14px 2px #ccc;
}

a.vote {
    margin-left:120px;
}

.pmenu {
    margin-top:10px;
    height:35px;
    background:#dfdfdf;
    border-radius:6px;
}

.pmenu .wrap {
    width:610px;
    margin:0 auto;
}

.pmenu a {
    display:block;
    float:left;
    font-size:12pt;
    margin-right:8px;
    color:#333;
    padding:5px 10px;
}

.pmenu a:hover {
    color:#fff;
}

#comofunciona {
    width:500px;
    padding:20px;
}

#contributions {
    z-index:2;
}

#comofunciona p {
    margin-top:10px;
    z-index:1;
}
