@import url('font.css');

* {
    font-family: 'OpenSansRegular';
}

#container h1 {
    font-size: 34px;
    font-weight: normal;
    color: #A40000;
}

#container h2.reg {
    background: url('../imgs/regional90.png') no-repeat;
    color: #4e9a06;
    padding-top: 22px;
}

#container h2.cui {
    background: url('../imgs/cuidadointegral90.png') no-repeat;
    color: #204a87;
    padding-top: 10px;
}

#container h2.eme {
    background: url('../imgs/emergencia90.png') no-repeat;
    color: #cc0000;
    padding-top: 32px;
}

#container h2.fam {
    background: url('../imgs/familia90.png') no-repeat;
    color: #f57900;
    padding-top: 32px;
}

#container h2.med {
    background: url('../imgs/medicamentos90.png') no-repeat;
    color: #75507b;
    padding-top: 22px;
}

#container h2 {
    font-size: 32px;
    font-weight: normal;
    padding-left: 100px;
    height: 91px;
    margin-top: 10px;
}


.col6 a {
    background-color: #dde9af;
    display: block;
    border-radius: 20px;
    color: #445016;
}

.col6 a:hover {
    background-color: #bcd35f;
    display: block;
    color: #445016;
}

#cell .opt {
    padding: 20px;
    font-size: 16px;
}


#cell .opt h3 {
    color: #445016;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
}

.skip:hover {
    background-color: #babdb6;
}

.skip {
    font-size: 16px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #EEEEEC;
    color: #888a85;
    display: block;
    width: 220px;
    margin-top: 30px;
    padding: 4px;
}

.send {
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #bcd35f;
    color: #445016;
    display: block;
    width: 240px;
    margin-top: 30px;
    padding: 4px;
}

.send:hover {
    font-size: 22px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #abc837;
    color: #445016;
    display: block;
    width: 240px;
    margin-top: 30px;
    padding: 4px;
}

.misc {
    width: 200px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    color: #888a85;   
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.misc:hover {
    text-decoration: underline;
}
