<!DOCTYPE HTML>
<html>
  <head>
    <title>Gabinete Digital - Assêmbleia Digital</title>
    <meta http-equiv="Content-Type"
    content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024" />
    <link rel="stylesheet" href="css/978.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="layout-978">
      <div id="header" class="row">
        <div class="col12">header</div>
        <div class="row-end"></div>
      </div>
      <div id="container" class="row">
        <div id="main" class="col8">
          <div class="content">
            <h2>Horários postos de saúde</h2>
            <ul class="stream">
              <li class="avatar">
                <img src="imgs/thiago.jpg" />
              </li>
              <li class="author">@hypschê | identi.ca</li>
              <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
            </ul>
            <div id="streaming"></div>
            <div id="misc">
              <ul class="instructions">
                <li>Filtrar</li>
                <li>Use o chat</li>
              </ul>
              <h4>Acompanhe, participe!</h4>
              <ul id="social">
                <li class="feed">feed</li>
                <li class="twitter">twitter</li>
                <li class="identica">identi.ca</li>
                <li class="facebook">facebook</li>
              </ul>
            </div>
          </div>
        </div>
        <div id="buzz" class="col4">
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Meu tempo livre é somento na parte
              da noite, me impossibilitando marcar 
              <a href="#">consultas</a> no post de saúde da minha
              regional</li>
          </ul>
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
          </ul>
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
          </ul>
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
          </ul>
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
          </ul>
          <ul class="stream">
            <li class="avatar">
              <img src="imgs/thiago.jpg" />
            </li>
            <li class="author">@hypschê | identi.ca</li>
            <li class="answer">Proin lectus orci, venenatis
            pharetra, egestas id, tincidunt vel, eros. Aenean
            turpis ipsum, rhoncus vitae, posuere vitae, euismod
            sed, ligula. Sed a lorem ut est tincidunt consectetuer.
            Posuere vita. regional</li>
          </ul>
        </div>
        <div class="row-end"></div>
      </div>
      <div class="row">
        <div id="footer" class="col12">footer</div>
        <div class="row-end"></div>
      </div>
    </div>
  </body>
</html>
