@import "base";
@import "compass/css3";

.content {
    color: #000;
    border-top: 2px solid #DDD;
    background: url(../img/minsqr.png);
    padding-top: 20px;
}

.govescuta h2 {
    font-size: 50px;
    color: $blue;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    background-color: #333;
    padding: 10px 20px;
    width: 100%;
    line-height: 1.1em;
    height: 1.2em;
    display: inline;
    @include single-text-shadow;
}

.govescuta p {
    margin-top: 30px;
    font-style: italic;
    font-weight: 300;
    font-size: 14pt;
    margin-bottom: 30px;
}

.menu li a {
    display: inline;
    float: left;
    font-size: 12pt;
    margin-right: 30px;
    padding-top: 51px;
    color: $blue;
}

.comofunciona {
    background: url(../img/comofunciona.png) no-repeat scroll 35px top transparent;
    height: 54px;
    display: block;
}

.thumbnail {
    @include border-radius(0);
}

.thumbnail div.desc {
    background: none repeat scroll 0 0 rgba($black, 0.75);
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    line-height: 24px;
    margin: 7px;
    overflow: hidden;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
}

.thumbnail .header {
    top: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin: 7px;
    overflow: hidden;
    padding: 8px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
}


#date {
    width: 45px;
    height: 40px;
    margin-bottom: 30px;
}

#date div {
    font-weight: bold;
}

#date div.day {
    font-size: 14pt;
    text-align: center;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    border-left: 2px solid #CCC;
    background-color: #DDD;
    padding: 2px 0;
    color: black;
    @include background-image(linear-gradient(white, #DDD));
}

#date div.month {
    font-size: 8pt;
    background-color: #D72314;
    color: #FFF;
    text-align: center;
    border-top: 2px solid #D72314;
    border-right: 2px solid #D72314;
    border-left: 2px solid #D72314;
    @include background-image(linear-gradient(#D72314, #A81704));
}
