*~
gd/conf.py
po/*/LC_MESSAGES/gabinetedigital.mo
*.pyc
*.log
*.out
.sass-cache/
gdenv
*rgbapng*
gd/content/anexos/
gd/content/static/css/fontawesome/font-awesome.css
gd/content/static/css/jqModal.css
gd/content/static/css/main.css
gd/content/static/img/monitoramento/calendar_grey.png
gd/content/static/img/monitoramento/calendar_grun.png
gd/content/static/js/base/jqModal.js
gd/content/static/js/vendor/jqModal.js
gd/content/templates/base-no-menu.html
gd/govresponde/static/
gd/monitoramento/templates/botboot1.html
gd/monitoramento/templates/index.html
gd/monitoramento/templates/jquery.realperson.package-1.1.1.zip
gd/monitoramento/templates/jquery.realperson.package-1.1.1/
gd/seminario/static/css/main.css
gd/content/static/img/govresponde/favicon.ico
gd/content/static/img/monitoramento/loadingSquares.gif


