<form class="auth" method="post" id="auth" action="">
  <div class="header">
    <h1>Login</h1>
    <ul>
      <li><a href="#">Esqueci minha senha</a></li>
      <li><a href="#">Ainda não sou cadastrado</a></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="error"></div>
    <ol>
      <li>
        <label for="username">Usuário</label>
        <input id="username" type="text" name="username">
      </li>
      <li>
        <label for="password">Senha</label>
        <input id="password" type="password" name="password">
      </li>
      <li class="submit">
        <button class="awesome">Entrar</button>
      </li>
      <li class="sep"><hr></li>
      <li>
        <img src="{{ url_for('static', filename='imgs/btn-facebook.png') }}"
             alt="Entrar via facebook">
      </li>
    </ol>
  </div>
</form>
