<form class="auth" method="post" id="signup" action="{{ url_for('.signup_json') }}">
  {{ form.csrf }}
  <div class="header">
    <h1>Signup</h1>
    <ul>
      <li><a href="#">Saiba mais</a></li>
      <li><a href="#">Termos de uso</a></li>
    </ul>
  </div>
  <div class="wrapper">
    <div class="error"></div>
    <ol>
      <li class="field name">{{ form.name.label }} {{ form.name }}</li>
      <li class="field email frmcol1">{{ form.email.label  }} {{ form.email }}</li>
      <li class="field email_confirmation">
        {{ form.email_confirmation.label }} {{ form.email_confirmation }}
      </li>
      <li class="field password frmcol1">
        {{ form.password.label }} {{ form.password }}
      </li>
      <li class="field password_confirmation">
        {{ form.password_confirmation.label }} {{ form.password_confirmation }}
      </li>
      <li class="sep"><hr></li>
      <li class="field country frmcol2">{{ form.country.label }} {{ form.country }}</li>
      <li class="field state frmcol2">{{ form.state.label }} {{ form.state }}</li>
      <li class="field city">{{ form.city.label }} {{ form.city }}</li>
      <li class="field age_group frmcol2">
        {{ form.age_group.label }} {{ form.age_group }}
      </li>
      <li class="field gender frmcol2">{{ form.gender.label }} {{ form.gender }}</li>
      <li class="field income_group">
        {{ form.income_group.label }} {{ form.income_group }}
      </li>
      <li class="sep"><hr></li>
      <li class="field twitter frmcol1">{{ form.twitter.label }} {{ form.twitter }}</li>
      <li class="field facebook">{{ form.facebook.label }} {{ form.facebook }}</li>
      <li class="sep"><hr></li>
      <li class="field accept_tos">{{ form.accept_tos }} {{ form.accept_tos.label }}</li>
      <li class="submit"><button class="awesome">Signup</button></li>
    </ol>
  </div>
</form>
