{% extends 'admin/base.html' %}
{% block content %}
<div class="subcontent">
  <ul class="listing">
   {% for audience in audiences %}
    <li class="last">
      <div class="supercontrols">
      {% if audience.aud_wp_govescuta_ativa == "s" %}
      ATIVA
      {% else %}
      INATIVA
      {% endif %}
      </div>

      <strong class="subject">{{ audience.post_title }}</strong>
      <em class="date">{{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType("%d/%m/%Y %H:%M") }}</em>
      <p>{{ audience.post_content|safe }}</p>
      
      <div class="controls">
        <a href="{{ url_for('.moderate', aid=audience.ID) }}"
           title="Moderate this audience">
          Moderate
        </a>

        <a href="{{ url_for('.publish', aid=audience.ID) }}"
           title="Publish posts for this audience">
          Publish posts
        </a>

        <span class="clear"></span>
      </div>
    </li>
    {% endfor  %}
  </ul>
</div>
{% endblock %}
