{% extends 'admin/base.html' %}

{% block js %}
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<script src="{{ url_for('buzz.static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
<script src="{{ url_for('static', filename='js/urls.js') }}"></script>
<script src="{{ url_for('.static', filename='js/moderate.js') }}"></script>
{% endblock %}

{% block content %}
{% set isnew = request.values.get('status', 'new') == 'new' %}

<script>AUDIENCE_ID={{audience.id}};</script>
<div class="subcontent moderate">
  <h2 class="subject">Moderation
    <a id="show-hidden" style="display:none"
       href="">(XX new)</a></h2>

  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <div class="massive">
    </div>

    <ul class="listing">
      <li id="listing-loading">Loading...</li>
    </ul>
  </form>
</div>

<script type="text/html" id="buzzTemplate">
  <li>
    <img src="<%= obj.avatar %>">
    <strong>@<%= obj.owner_nick %></strong>
    <p><%= obj.content %></p>
    <div class="controls">
      <a href="<%= url_for('admin.buzz.<bid>.accept', { bid: obj.id }) %>"
         class="accept" title="Accept this buzz">
        Accept
      </a>

      <a href="<%= url_for('admin.buzz.<bid>.select', { bid: obj.id }) %>"
         title="Suggest this buzz to be published" class="suggest"
         class="suggest">
        Suggest
      </a>

      <a href="<%= url_for('admin.buzz.<bid>.delete', { bid: obj.id }) %>"
         title="Delete this buzz" class="remove"
         class="remove">
        Remove
      </a>
      <span class="clear"></span>
    </div>
  </li>
</script>
{% endblock %}
