{% extends 'admin/base.html' %}
{% block content %}
{% set isnew = request.values.get('status', 'new') == 'new' %}

<div class="subcontent moderate publish">
  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <h2 class="subject">Publication</h2>
    <div class="massive">
      <label>Show:</label>
      <a {% if isnew %}class="selected"{% endif %}
         href="{{ url_for('.publish', aid=audience.id) }}?status=new">New</a> |
      <a {% if not isnew %}class="selected"{% endif %}
         href="{{ url_for('.publish', aid=audience.id) }}?status=published">Published</a>
    </div>

    <ul class="listing">
      {% for i in buzz_list %}
      <li class="{{ loop.cycle('dark', 'light') }}">
        <img src="{{ i.avatar }}">
        <strong>@{{ i.owner_nick }}</strong>
        {% if isnew %}<em>{{ i.creation_date.strftime('%d/%m/%Y %H:%M') }}</em>{% endif %}
        {% if not isnew %}<em>{{ i.date_published.strftime('%d/%m/%Y %H:%M') }}</em>{% endif %}
        <p>{{ i.content }}</p>

        {% if isnew %}
        <div class="controls">
          <a href="{{ url_for('.publish_buzz', bid=i.id) }}" class="accept"
             title="Publish this buzz">
            Publish
          </a>
          <a href="{{ url_for('.not_publish_buzz', bid=i.id) }}" class="remove"
             title="Don't Publish this buzz">
            Don't Publish
          </a>  
          <span class="clear"></span>
        </div>
        {% endif %}
      </li>
      {% endfor  %}
    </ul>
  </form>
</div>
{% endblock %}
