{% extends 'admin/base.html' %}

{% block js %}
<script src="{{ url_for('static', filename='js/buzz/template.js') }}"></script>
<script src="{{ url_for('buzz.static', filename='js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='js/buzz/buzz.js') }}"></script>
<script src="{{ url_for('static', filename='js/buzz/urls.js') }}"></script>
<script src="{{ url_for('.static', filename='js/moderate.js') }}"></script>
{% endblock %}

{% block content %}
{% set isnew = request.values.get('status', 'new') == 'new' %}

<script>AUDIENCE_ID={{audience.id}};</script>
<div class="subcontent moderate publish">
  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <h2 class="subject">Publication
    <a id="show-hidden" style="display:none"
       href="">(XX new)</a></h2>
    </h2>

    <div class="massive">
      <label>Show:</label>
      <a id="suggested-notices" class="selected"
         href="">Suggested</a> |
      <a id="published-notices"
         href="">Published</a>
    </div>

    <ul id="main-listing" class="listing">
      <li id="listing-loading">Loading...</li>
    </ul>
    <ul id="second-listing" class="listing" style="display:none">
    </ul>
  </form>
</div>

<script type="text/html" id="selectedBuzzTemplate">
  <li>
    <img src="<%= obj.avatar %>">
    <strong>
      <% if (obj.face_msg_id) { %>
          <%= obj.owner_nick %> (Facebook)
      <% } else if (obj.user) { %>
        	<%= obj.user.display_name %>
        <% } else { %>
			<% if (obj.owner_nick) { %>
        		@<%= obj.owner_nick %>
			<% } else { %>
				Via SMS
			<% } %>
        <% } %>
	</strong>
    <p><%= obj.content %></p>
    <div class="controls">
      <a href="<%= url_for('admin.buzz.<bid>.publish', { bid: obj.id }) %>"
         class="accept" title="Publish this buzz">
        Publish
      </a>

      <a href="<%= url_for('admin.buzz.<bid>.dont_publish', { bid: obj.id }) %>"
         title="Suggest this buzz to be published" class="suggest"
         class="suggest">
        Don't Publish
      </a>

      <span class="clear"></span>
    </div>
  </li>
</script>

<script type="text/html" id="publishedBuzzTemplate">
  <li>
    <img src="<%= obj.avatar %>">
    <strong>
      <% if (obj.face_msg_id) { %>
          <%= obj.owner_nick %> (Facebook)
      <% } else if (obj.user) { %>
        <% } else { %>
			<% if (obj.owner_nick) { %>
        		@<%= obj.owner_nick %>
			<% } else { %>
				Via SMS
			<% } %>
        <% } %>
	</strong>
    <p><%= obj.content %></p>
    <div class="controls">
      <span class="clear"></span>
    </div>
  </li>
</script>
{% endblock %}
