{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="slideshow" class="col12"></div>
  </div>

  <div class="row-end"></div>

  <div class="row">
    <div id="news" class="col8">
      <ul>
        {% for post in wp.getRecentPosts(
               category_name='news',
               numposts=2,
               post_status='published')%}
        <li>
          <ul class="news">
            <li>
              <img
                 src="{{ post.thumb.url }}"
                 alt="{{ post.title }}"
                 width="{{ post.thumb.width }}"
                 height="{{ post.thumb.height }}">
            </li>
            <li>
              <h2>{{ post.title }}</h2>
            </li>
            <li>{{ post.content|safe }}</li>
            <li class="meta">comentário(30) | share</li>
          </ul>
        </li>
        {% endfor %}
      </ul>

      <ul id="videogallery">
        <li class="video">
          <ul>
            <li><img src="../static/imgs/video.png" alt=
                     "video"></li>
            <li>desc</li>
          </ul>
        </li>

        <li class="video">
          <ul>
            <li><img src="../static/imgs/video.png" alt=
                     "video"></li>
            <li>desc</li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="sidebar" class="col4">
      <div id="lasttweet">
        <div class="shadow">
          <div class="tweet">
            "Governador Pergunta", nova ferramenta do vai
            @gabinetedigital, vai receber propostas sobre temas
            de grande relevância.
            <a href="http://ur1.ca/5d1vq">http://ur1.ca/5d1vq</a>
            <h3>@tarsogenro</h3>
          </div>
        </div>
      </div>

      <div id="picday">
        <h3>Foto do dia</h3>
        <div id="picedge">
          <img src="../static/imgs/picday.png"
               alt="tarso"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Quisque arcu ante, cursus in, ornare quis,
          viverra ut, justo. Nullam libero nunc, tristique
          eget.</p>
      </div>
    </div>
  </div>

  <div class="row-end"></div>
</div>
{% endblock %}
