<!DOCTYPE html>
<html lang="pt-br" {%block htmldef%}{%endblock%}>
  <head {% block head %}{% endblock %}>
    <title>
      Seminário: Crise da Representação e Renovação da Democracia
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='me/build/mediaelementplayer.min.css') }}">
    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery-1.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.form.js') }}"></script>
    <script src="{{ url_for('static', filename='me/build/mediaelement-and-player.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.pack.js') }}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

    {% block javascript %}{% endblock %}

    <script type="text/javascript">
      //GOOGLE ANALYTICS
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32544090-1']);
      _gaq.push(['_setDomainName', 'gabinetedigital.rs.gov.br']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>