{% extends "base_seminario.html" %}

{% block content %}
<div id="inicio" class="section">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="msg" class="hide alert alert-success"></div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="stream thumbnails">
          {%for link in links%}
          <li class="link span3">
            <div  class="thumbnail">
                <h3>
                  <a data-id="{{link.id}}" class="link-col" target="_new" rel="nofollow" href="{{link.link}}">
                  {{link.site}}
                </a>
                </h3>
                <p>Por: {{link.nome}} ({{link.datetime|strftime(formato='%H:%M:%S')}})
              </p>
            </div>
          </li>
          {%endfor%}

          <!-- Tweets -->
          {%for status in twitts%}
          <li class='tweet span3 {{status.classe}}' id='{{status.id}}' >
            <div class="thumbnail">
              <a href="http://twitter.com/{{status.user.screen_name}}" target="_new">@{{status.user.screen_name}}</a>
              <p>{{status.text}} (<a
                href="http://twitter.com/{{status.user.screen_name}}/status/{{status.id}}"
                                    target="_new">ver</a>)</p>
            </div>
          </li>
          {%endfor%}

          <!-- Flickr -->
          {%for foto in photos%}
          <li class="span3 foto">
            <div class="thumbnail">
              <h4>{{foto.title}}</h4>
              <a href="https://secure.flickr.com/photos/{{foto.owner}}/{{foto.id}}/" target="_new">
                <img src="{{foto.Thumbnail}}">
              </a>
            </div>
          </li>
          {%endfor%}

          <!-- Instagram -->
          {%for foto in instaphotos%}
          <li class="span3 instagram">
            <div class="thumbnail">
              <a href="{{foto.link}}" target="_new"><img src="{{foto.thumb}}"></a>
            </div>
          </li>
          {%endfor%}

          <!-- Postagens -->
          {%for post in posts%}
          <li class="span3 post">
            <div class="thumb">
              <h4>{{post.title}}</h4>
              <p>{{post.excerpt|safe}}</p>
            </div>
          </li>
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>


  <div id="modallink" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Increva seu link</h3>
    </div>
    <div class="modal-body">
      <div id="msgerror" class="hide alert alert-error"></div>
      <form id="novolink" method="post" action="{{url_for('.newlink')}}">
        <fieldset>
          <label for"link" >Link da matéria/fotos/video</label>
          <input id="link" name="link" type="text" placeholder="http://seusite.com/materia" class="span5">
          <label for"nome" >Seu nome</label>
          <input id="nome" name="nome" type="text" placeholder="Seu nome completo..." value="{{nome}}" class="span5">
          <label for"email" >E-Mail</label>
          <input id="email" name="email" type="text" placeholder="fulano@seusite.com" value="{{email}}" class="span4">
          <label for"nomedosite" >Nome do site</label>
          <input id="nomedosite" name="nomedosite" type="text" placeholder="Meu Site" class="span4">
          <label for"linkimagem" >Link para imagem representativa</label>
          <input id="linkimagem" name="linkimagem" type="text" placeholder="http://meusite.com/imagem.png" class="span5">
        </fieldset>
      </form>

    </div>
    <div class="modal-footer">
      <a id="cancel" href="#" class="btn">Cancelar</a>
      <a id="enviar" href="#" class="btn btn-primary">Enviar</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('.static', filename='js/cobertura.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.masonry.min.js') }}"></script>
{% endblock %}