{% extends "base_seminario.html" %}

{% block content %}
<div id="inicio" class="section">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="msg" class="hide alert alert-success"></div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="stream thumbnails">
          {%for i in totallist %}

          {% if i.objeto == 'link' %}
          <li class="link span3">
            <div  class="thumbnail">
              {% if i.image %}
              <img src="{{i.image}}" alt="{{i.site}}>
              {% endif %}
              <a data-id="{{i.id}}" class="link-col" target="_new" rel="nofollow" href="{{i.link}}">
                <h3>
                  {{i.site}}
                </h3>
              </a>
              <p>Por: {{i.nome}}</p>
            </div>
          </li>

          <!-- Twitter -->
          {% elif i.objeto == 'twitter' %}
          <li class="tweet span3">
            <div  class="thumbnail">
              <a href="http://twitter.com/{{i.user.screen_name}}" target="_new">
                @{{i.user.screen_name}}
              </a>
              <p>{{i.text}}</p>
              <a href="http://twitter.com/{{i.user.screen_name}}/status/{{i.id}}">ver</a>
              <i class="icon-twitter twit"></i>
            </div>
          </li>

          {% elif i.objeto == 'instagram' %}
          <li class="instagram span3">
            <div  class="thumbnail">
              <a href="{{i.link}}" target="_new">
                <img src="{{i.thumb}}">
              </a>
            </div>
          </li>

          {% elif i.objeto == 'post' %}
          <li class="instagram span3">
            <div  class="thumbnail">
              <a href="#">
                <h3>{{i.title}}</h3>

            </div>
          </li>
          {% endif %}



          {%endfor%}
        </ul>
      </div>
    </div>
  </div>


  <div id="modallink" class="modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Increva seu link</h3>
    </div>
    <div class="modal-body">
      <div id="msgerror" class="hide alert alert-error"></div>
      <form id="novolink" method="post" action="{{url_for('.newlink')}}">
        <fieldset>
          <label for"link" >Link da matéria/fotos/video</label>
          <input id="link" name="link" type="text" placeholder="http://seusite.com/materia" class="span5">
          <label for"nome" >Seu nome</label>
          <input id="nome" name="nome" type="text" placeholder="Seu nome completo..." value="{{nome}}" class="span5">
          <label for"email" >E-Mail</label>
          <input id="email" name="email" type="text" placeholder="fulano@seusite.com" value="{{email}}" class="span4">
          <label for"nomedosite" >Nome do site</label>
          <input id="nomedosite" name="nomedosite" type="text" placeholder="Meu Site" class="span4">
          <label for"linkimagem" >Link para imagem representativa</label>
          <input id="linkimagem" name="linkimagem" type="text" placeholder="http://meusite.com/imagem.png" class="span5">
        </fieldset>
      </form>

    </div>
    <div class="modal-footer">
      <a id="cancel" href="#" class="btn">Cancelar</a>
      <a id="enviar" href="#" class="btn btn-primary">Enviar</a>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('.static', filename='js/cobertura.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.masonry.min.js') }}"></script>
{% endblock %}