<!DOCTYPE html>
<html>
  <head>
    <title>Gabinete Digital - Assêmbleia Digital</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=1024">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/978.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/auth.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="layout-978">
      <div id="header" class="row">
        <div class="col12">
          <h1>Gabiente Digital - Democracia em Rede</h1>
          <div id="loginoverlay"><div class="contentWrap"></div></div>
          <ul class="login">
            {% if user is not none %}
            <li class="avatar">
              <img src="{{ user.avatar_url }}" alt="User avatar">
              <div>Olá {{ user.display_name }}</div>
            </li>
            <li>
              <a href="#">editar perfil</a>
            </li>
            <li>|</li>
            <li>
              <a href="{{ url_for('auth.logout_json') }}"
                 onclick="auth.logout(); return false;">sair</a>
            </li>
            {% else %}
            <li>
              <a href="{{ url_for('auth.login_form') }}" rel="#loginoverlay">
                entrar
              </a>
            </li>
            <li>|</li>
            <li>
              <a href="{{ url_for('auth.login_form') }}" rel="#loginoverlay">
                cadastre-se
              </a>
            </li>
            {% endif %}
          </ul>
          <h4>Acompanhe, participe!</h4>
          <ul id="social">
            <li class="feed">feed</li>
            <li class="twitter">twitter</li>
            <li class="identica">identi.ca</li>
            <li class="facebook">facebook</li>
          </ul>
          <div id="menu">
            <ul class="main-menu">
              <li>
                <a href="#">inicio</a>
              </li>
              <li>
                <a href="#">sobre</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row-end"></div>
      </div>

      {% block content %}{% endblock %}

      <div class="row">
        <div id="footer" class="col12">footer</div>
        <div class="row-end"></div>
      </div>
    </div>

    <script type="text/html" id="loggedinTemplate">
      <li class="avatar">
        <img src="<%= obj.avatar_url %>" alt="User avatar">
        <div>Olá <%= obj.display_name %></div>
      </li>
      <li>
        <a href="#">editar perfil</a>
      </li>
      <li>|</li>
      <li>
        <a href="{{ url_for('auth.logout_json') }}"
           onclick="auth.logout(); return false;">sair</a>
      </li>
    </script>

    <script type="text/html" id="loggedoutTemplate">
      <li>
        <a href="{{ url_for('auth.login_form') }}" rel="#loginoverlay">
          entrar
        </a>
      </li>
      <li>|</li>
      <li>
        <a href="{{ url_for('auth.login_form') }}" rel="#loginoverlay">
          cadastre-se
        </a>
      </li>
    </script>

    <script type="text/javascript">
      var BASE_URL = "{{ request.url_root }}";
      var CURRENT_URL = "{{ request.url }}";
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.tools.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/urls.js') }}"></script>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script src="{{ url_for('auth.static', filename='js/auth.js') }}"></script>

    {% block javascript %}
    {% endblock %}

  </body>
</html>
