<div class="header">
  <h1>Entrar</h1>
  <ul>
    <li>
      <a class="awesomelink" href="javascript:auth.togglePasswordReminder()">
        Esqueci minha senha
      </a>
    </li>
    <li>
      <a class="awesomelink" href="javascript:auth.swapLoginToSignup()">
        Ainda não sou cadastrado
      </a>
    </li>
  </ul>
</div>
<div class="wrapper">
  <div class="passwordReminder">
    Por favor, informe seu endereço de email para que possamos
    enviar sua senha.

    <div id="remember-password-error" class="msg error"></div>
    <div id="remember-password-success" class="msg success"></div>
    <form class="auth" method="post" id="remember_password" action="#">
      <ol>
        <li>
          <label for="email">Email</label>
          <input name="email" id="email" type="text">
        </li>
        <li class="submit">
          <button class="awesome" name="password_reminder">
            Lembrar senha
          </button>
        </li>
      </ol>
    </form>
  </div>

  <div class="loginForm">
    <div id="auth-error" class="msg error"></div>
    <div id="confirmation-success" class="msg success"></div>
    <form class="auth" method="post" id="login" action="#">
      <ol>
        <li>
          <label for="username">Email</label>
          <input id="username" type="text" name="username">
        </li>
        <li>
          <label for="password">Senha</label>
          <input id="password" type="password" name="password">
        </li>
        <li class="submit">
          <input type="submit" class="awesome" value="Entrar">
        </li>
        <li class="sep"><hr></li>
        <li>
          <a href="{{ url_for('fbauth.login') }}">
            <img src="{{ url_for('static', filename='imgs/btn-facebook.png') }}"
                 alt="Entrar via facebook">
          </a>
        </li>
      </ol>
    </form>
  </div>
</div>
