{% macro fielderrors(field) -%}
    {%- if field.errors %}
      {%- for error in field.errors %}
        <p class="errmsg name-error">{{error}}</p><br>
      {%- endfor %}
    {%- endif %}
{%- endmacro %}

{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/auth.css') }}">
{% endblock %}

{% block javascript %}
<!-- <script src="{{ url_for('.static', filename='js/login.js') }}"></script> -->
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {%include 'parts/flashes.html'%}
  </div>
  <div class="row efetuarlogin {%if signup_process%}hide{%endif%}">
    <div class="offset1 span7">
      <div id="auth-error" class="msg error alert alert-error hide"></div>
      <div id="confirmation-success" class="msg success alert alert-success hide"></div>

      <form class="form-horizontal" method="post" id="login" action="{{ url_for('auth.logon') }}">
        <fieldset>
          <legend>Efetuar login no site:</legend>
          {%if next%}
          <input type="hidden" name="next" value="{{next}}">
          {%endif%}
          <div class="control-group">
            <label for="username" class='control-label'>Email</label>
            <div class="controls">
              <input class='span4' id="username" type="text" name="username">
            </div>
          </div>

          <div class="control-group">
            <label for="password" class='control-label'>Senha</label>
            <div class="controls">
              <input id="password" class='span4' type="password" name="password">
            </div>
          </div>

<!--           <div class="control-group">
            <div class="controls">
              <label for="lembrarme" class="checkbox" class='control-label'>
                <input type="checkbox" value="y" name="lembrarme" id="lembrarme" checked="checked">
                Permanecer logado
              </label>
            </div>
          </div> -->

          <input type="submit" class="btn" value="Entrar"><br/><br/>
          <a href="/auth/lost_password/">Esqueci minha senha</a><br>
          <a href="{{url_for('.signup')}}">Quero me cadastrar</a>

        </fieldset>
      </form>
    </div>
    <div class="span1"><div class="linha-vertical">&nbsp;</div></div>
    <div class="span3">
      <fieldset>
        <legend>ou entrar através de:</legend>
        <a href="/auth/fb"><img src='{{ url_for('static', filename='img/facebook.gif') }}' alt="Facebook Login" title="Facebook Login"/></a>
        <a href="/auth/tw"><img src='{{ url_for('static', filename='img/sign-in-with-twitter-gray.png') }}' alt="Twitter Login" title="Twitter Login"/></a>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
