{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/auth.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/login.js') }}"></script>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}
<div class="content" id="auth">
  <div class="container">
    <div class="row efetuarlogin">
      <div class="offset3 span6">
        <div id="auth-error" class="msg error"></div>
        <div id="confirmation-success" class="msg success"></div>
        <div class="auth-stage">
          <form class="form-inline" method="post" id="login"
                action="{{ url_for('auth.remember_password') }}">
            <fieldset>
              <div class="stage-header">
                <legend>Esqueci minha senha</legend>
              </div>
              <div class="modal-body">
          {%include 'parts/flashes.html'%}
                <p class="lead">Você receberá um email com informações sobre como
            proceder na troca da senha do seu usuário</p>

                <input id="email" type="text" name="email" placeholder="seu@email.com.br">
                <button type="submit" class="btn btn-success">Entrar</button>
              </div>
              <div class="stage-footer">
                <a href="{{url_for('.signup')}}" class="btn btn-info">Quero me cadastrar</a>
                <a href="/auth/login" class="btn btn-info">Ir para tela de login</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
    //$('#tab-cadastro a:last').tab('show');
    // $('#signup label').addClass('control-label');
});
</script>
{% endblock %}
