{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/auth.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/login.js') }}"></script>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content %}
<div class="container">
  <div class="row efetuarlogin">
    <div class="offset1 span11">
      <div id="auth-error" class="msg error"></div>
      <div id="confirmation-success" class="msg success"></div>

      <form class="form-horizontal" method="post" id="login" action="{{ url_for('auth.remember_password') }}">
        <fieldset>
          <legend>Informe seu email:</legend>

          <p>Você receberá um email com informações sobre como proceder na troca da senha do seu usuário</a>

          {%include 'parts/flashes.html'%}

          <div class="control-group">
            <label for="username" class='control-label'>Email</label>
            <div class="controls">
              <input class='span6' id="email" type="text" name="email">
            </div>
          </div>

          <input type="submit" class="btn" value="Enviar"><br/><br/>
          <a href="/auth/login">Ir para tela de login</a>

        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  //$('#tab-cadastro a:last').tab('show');
  // $('#signup label').addClass('control-label');
});
</script>
{% endblock %}
