{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/auth.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block content %}
<div class="content auth">
  {# profile.csrf #}
  <div class="container">

    <div class="row header">
      <div class="span4">
        <h2>Editar perfil</h2>
      </div>
    </div>
    <div class="row">
      {%include 'parts/flashes.html'%}
    </div>
    <div class="row">
      <div class="msg error  alert alert-error hide"></div>
      <div class="msg success alert alert-success hide"></div>
      <div class="senha">

        <form
        class="form-horizontal" method="post" id="profile_form"
        action="{{ url_for('.profile_json') }}"
        enctype="multipart/form-data">

        <!-- <img src="{{ user.avatar_url }}" alt="{{ user.name }}"> -->
        <!-- {{ profile.avatar.label }} {{ profile.avatar(value='') }} -->
        <div class="span3">
          {{ profile.name.label }} {{ profile.name }}
          {{ profile.email.label }} {{ profile.email }}
          {{ profile.age_group.label }} {{ profile.age_group }}
          {{ profile.facebook.label }} {{ profile.facebook(placeholder="Facebook profile id") }}
          {{ profile.twitter.label }} {{ profile.twitter(placeholder="Twitter id sem o @") }}
          <div class="enviar">
            <br>
            <input type="submit" class="btn btn-primary" value="Atualizar">
          </div>
        </div>

        <div class="span3">
          {{ profile.city.label }} {{ profile.city }}
          {{ profile.state.label }} {{ profile.state }}
          {{ profile.phone.label }} {{ profile.phone }}
          {{ profile.gender.label }} {{ profile.gender }}
        </div>

      </form>
      <div class="span3">
        <strong>Sua imagem</strong><br><br>
        <img src="{{ user.email | gravatar(size=150) }}" class="img-polaroid">
        <br><small><br>
        Esta imagem é obtida do site <a href="gravatar.com">gravatar.com</a>. Para alterá-la, vá até o site, ou se você não tem uma imagem, crie uma conta e defina a imagem para seu email.
      </small>
    </div>

    {% if not profile.social %}
    <div class="span3">

      <h3>Trocar Senha</h3>
      <form
      class="auth" method="post" id="password_form"
      action="{{ url_for('.profile_passwd_json') }}">
        {# passwd.csrf(id='password_csrf') #}
        {{ passwd.current_password.label }} {{ passwd.current_password }}
        {{ passwd.password.label }} {{ passwd.password }}
        {{ passwd.password_confirmation.label }} {{ passwd.password_confirmation }}
        <div class="enviar"><br>
          <button class="btn btn-primary">Alterar senha</button>
        </div>
      </form>
    </div>
  {% endif %}

</div> <!-- .panes -->
</div><!-- content -->
</div> <!-- #pedit -->
{% endblock %}
