{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/auth.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block bodyclass %}profile{% endblock %}

{% block content %}
<div class="content auth">
  {# profile.csrf #}
  <div class="container">
    <form
       class="form-horizontal" method="post" id="profile_form"
       action="{{ url_for('.profile_json') }}"
       enctype="multipart/form-data">

      <div class="row header">
        <div class="span4">
          <h2>Editar perfil</h2>
        </div>
      </div>
      <div class="row">
        <div class="msg error"></div>
        <div class="msg success"></div>
        <div class="span8">
          <div class="senha">
            <!-- <img src="{{ user.avatar_url }}" alt="{{ user.name }}"> -->
            <!-- {{ profile.avatar.label }} {{ profile.avatar(value='') }} -->
            <div class="pull-left">
              {{ profile.name.label }} {{ profile.name }}
              {{ profile.email.label }} {{ profile.email }}
              {{ profile.age_group.label }} {{ profile.age_group }}
              {{ profile.twitter.label }} {{ profile.twitter }}
              <div class="enviar">
                <input type="submit" class="btn btn-primary" value="Atualizar">
              </div>
            </div>

            <div class="pull-right">
              {{ profile.city.label }} {{ profile.city }}
              {{ profile.state.label }} {{ profile.state }}
              {{ profile.phone.label }} {{ profile.phone }}
              {{ profile.gender.label }} {{ profile.gender }}
            </div>
          </div>
        </div>
    </form>
    <div class="span4">

      <div class="senha">
        <p class="lost">Esqueceu sua senha?</p>
        {% if not profile.social %}
        <form
           class="auth" method="post" id="password_form"
           action="{{ url_for('.profile_passwd_json') }}">
          {# passwd.csrf(id='password_csrf') #}
          {{ passwd.current_password.label }} {{ passwd.current_password }}
          {{ passwd.password.label }} {{ passwd.password }}
          {{ passwd.password_confirmation.label }} {{ passwd.password_confirmation }}
          <div class="enviar">
          <button class="btn btn-primary">Alterar senha</button>
          </div>
        </form>
      </div>
      {% endif %}
    </div>

    </div> <!-- .panes -->
  </div><!-- content -->
</div> <!-- #pedit -->
{% endblock %}
