<!-- <div class="header"> -->

<!-- <ul class="nav nav-tabs" id="tab-cadastro">
  <li><a href="#saibamais" onclick="$('#tab-cadastro a:first').tab('show');">Saiba Mais</a></a></li>
  <li><a href="#termos-uso" class="second" onclick="$('#tab-cadastro a.second').tab('show');">Termos de Uso</a></li>
  <li class="active" onclick="$('#tab-cadastro a:last').tab('show');"><a href="#cadastrese">Cadastre-se</a></li>
</ul> -->

{%if readmore %}
  <h1>{{ readmore.title|safe }}</h1>
  {{ readmore.content|safe }}
  <button class="btn pull-right" onclick="auth.toggleSignupTab('form');">Ir para o cadastro</button>
  <br>
{%elif tos%}
  <h1>{{ tos.title|safe }}</h1>
  {{ tos.content|safe }}
  <br>&nbsp;
{%else%}
    <h1>Cadastro</h1>
    <div id="auth-error" class="msg error alert alert-error hide"></div>
    <div id="auth-success" class="msg success alert alert-success hide"></div>
    <form class="form-horizontal" method="post" id="signup" action="{{ url_for('.signup_json') }}">

      {{ form.csrf }}
      <div id="auth-error" class="msg error alert alert-error hide"></div>
      <div id="auth-success" class="msg success alert alert-success hide"></div>
      <div class="msg error"></div>
      <div class="msg success"></div>
      <!-- <div class="signup-form"> -->
      {% if form.social %}
      <div class="alert">
        Você está se autenticando através de uma rede social. Para
        terminar o processo falta apenas preencher os campos abaixo.
      </div>
      {% endif %}

        <div class="control-group">
          {{ form.name.label }}
          <div class="controls">
            {{ form.name }}
          </div>
          <p class="errmsg name-error"></p><br>
        </div>

        <div class="control-group">
          {{ form.email.label  }}
          <div class="controls">
            {{ form.email }}
          </div>
          <p class="errmsg email-error"></p><br>
        </div>

        <div class="control-group">
          {{ form.email_confirmation.label }}
          <div class="controls">
            {{ form.email_confirmation }}
          </div>
          <p class="errmsg email_confirmation-error"></p><br>
        </div>

        {% if not form.social %}
        <div class="control-group">
          {{ form.password.label }}
          <div class="controls">
            {{ form.password }}
          </div>
          <p class="errmsg password-error"></p><br>
        </div>

        <div class="control-group">
          {{ form.password_confirmation.label }}
          <div class="controls">
            {{ form.password_confirmation }}
          </div>
          <p class="errmsg password_confirmation-error"></p><br>
        </div>
        {% endif %}

        <div class="control-group">
          {{ form.state.label }}
          <div class="controls">
            {{ form.state }}
          </div>
          <p class="errmsg state-error"></p><br>
        </div>
        <div class="control-group">
          {{ form.city.label }}
          <div class="controls">
            {{ form.city }}
          </div>

          <p class="errmsg city-error"></p><br>
        </div>

        <div class="control-group">

          <div class="controls">
            <label for="accept_tos" class="checkbox maior"><input type="checkbox" value="y" name="accept_tos" id="accept_tos" checked="checked">Você leu e aceitou nossos <a href="javascript:showTos();">Termos de uso</a>?</label>
            <p class="errmsg accept_tos-error"></p>
          </div>

        </div>

        <div class="control-group">
          <div class="controls">
            <label for="receive_email" class="maior checkbox">
            <input type="checkbox" value="y" name="receive_email" id="receive_email" checked="checked">
            Quero receber atualizações por email.</label>
            <p class="errmsg receive_email-error"></p>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <label for="receive_sms" class="checkbox maior">
              <input type="checkbox" value="y" name="receive_sms" id="receive_sms" checked="checked">
              Quero receber atualizações por SMS.
            </label>
            <p class="errmsg receive_sms-error"></p>
          </div>
        </div>


        <h4>Opcional</h4>

        <div class="control-group">
          {{ form.phone.label }}
          <div class="controls">
            {{ form.phone }}
          </div>
          <p class="errmsg phone-error"></p><br>
        </div>


        <div class="control-group">
          {{ form.gender.label }}
          <div class="controls">
            {{ form.gender }}
          </div>
          <p class="errmsg gender-error"></p><br>
        </div>

        <div class="control-group">

          {{ form.age_group.label }}
          <div class="controls">
            {{ form.age_group }}
          </div>

          <p class="errmsg age_group-error"></p><br>

        </div>

        <div class="control-group">
          {{ form.twitter.label }}
          <div class="controls">
            {{ form.twitter }}
          </div>

          <p class="errmsg twitter-error"></p><br>

        </div>

        <div class="control-group">
          <input type="submit" class="btn pull-right" value="Cadastrar">
        </div>
    </form>
    <br>
{%endif%}


<script type="text/javascript">
$(function(){
  //$('#tab-cadastro a:last').tab('show');
  $('#signup label').addClass('control-label');

  $('.errmsg').hide();



    // select the overlay element - and "make it an overlay"
    $("#tos").overlay({
      // custom top position
      top: '10%',
      oneInstance: false,
      left: '10%',
      // some mask tweaks suitable for facebox-looking dialogs
      mask: {
        // you might also consider a "transparent" color for the mask
        color: '#fff',
        // load mask a little faster
        loadSpeed: 200,
        // very transparent
        opacity: 0.5
      },
      // disable this for modal dialog-type of overlays
      close: '.close-tos',
      closeOnClick: false,
      closeOnEsc: false,
    // load it immediately after the construction
      load: false,
      onBeforeLoad: function() {
          $("#tos").find(".contentWrap")
                   .load(url_for('auth.signup') + '?tos');
      }
    });

    $('#signup').ajaxForm({
        dataType: 'json',
        beforeSubmit: function () {  
          $('#auth-error').fadeOut();
          $('#auth-success').fadeOut();
          $('.errmsg').fadeOut();
        },
        success: function (data) { 

          var errors = data.msg.data;
          var code = data.code;
          var csrfToken = data.msg.csrf;

          /* It's everything ok, let's get out */
          if (data.status === 'ok') {
            $('#auth-success').html(data.msg);
            $('#auth-success').fadeIn();
          } else {
            console.log(typeof data.msg.data);
            if( typeof data.msg.data==="string" ){
                $('#auth-error').html(data.msg.data).fadeIn('fast');
            }else{
              for(campo in data.msg.data){
                  $('#signup')
                      .find('.'+campo+'-error')
                      .html( data.msg.data[campo][0] )
                      .fadeIn('fast');

              }
              $('#auth-error').html('Corrija os campos abaixo').fadeIn('fast');
            }
            // $('#auth-error').html(data.msg.data);
            $('#auth-error').fadeIn();
          }

        }
    });

});

showTos = function(){
  $("#tos").overlay().load();
}
</script>
