{% macro fielderrors(field) -%}
    {%- if field.errors %}
      {%- for error in field.errors %}
<span class="help-inline">{{error}}</span>
      {%- endfor %}
    {%- endif %}
{%- endmacro %}

{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}


{% block content %}
<div class="content" id="auth">
  <div class="container">
    <div class="row novocadastro">
      <div class="offset3 span6">
        <div class="auth-stage">
          <form class="form-horizontal" method="post" id="signup" action=".">
            <fieldset>
              <div class="stage-header">
                <legend>Novo cadastro</legend>
      {{ form.csrf }}
                <div id="auth-error" class="msg error alert alert-error hide"></div>
                <div id="auth-success" class="msg success alert alert-success hide"></div>
                <input type="hidden" name="gender" value="">
                <input type="hidden" name="age_group" value="">
                <!-- <div class="signup-form"> -->
      {%include 'parts/flashes.html'%}
      {% if form.social and ret_code != 0 %}
                <div class="alert">
        Você está se autenticando através de uma rede social. Para
        terminar o processo falta apenas preencher os campos abaixo.
                </div>
      {% endif %}
              </div>
        {% if ret_code == 0 %}

              <div class="alert">
            Obrigado! Agora siga os passos no email que você recebeu para concluir seu cadastro.
              </div>

        {% else %} {#if ret_code == 0#}

              <div class="modal-body">
                <div class="control-group {%if form.name.errors%}error{%endif%}">
            {{ form.name.label(class='control-label') }}
                  <div class="controls">
              {{ form.name }}
            {{fielderrors(form.name)}}
                  </div>
                </div>

                <div class="control-group {%if form.email.errors%}error{%endif%}">
            {{ form.email.label(class='control-label')  }}
                  <div class="controls">
              {{ form.email }}
            {{fielderrors(form.email)}}
                  </div>
                </div>

          {% if not form.social %}
                <div class="control-group {%if form.password.errors%}error{%endif%}">
            {{ form.password.label(class='control-label') }}
                  <div class="controls">
              {{ form.password }}
            {{fielderrors(form.password)}}
                  </div>
                </div>

                <div class="control-group {%if form.password_confirmation.errors%}error{%endif%}">
            {{ form.password_confirmation.label(class='control-label') }}
                  <div class="controls">
              {{ form.password_confirmation }}
            {{fielderrors(form.password_confirmation)}}
                  </div>
                </div>
          {% endif %}

                <div class="control-group">

                  <div class="controls {%if form.accept_tos.errors%}error{%endif%}">
                    <label for="accept_tos" class="checkbox"><input type="checkbox" value="y" name="accept_tos" id="accept_tos" checked="checked">Você leu e aceitou nossos <a href="javascript:showTos();">Termos de uso</a>?</label>
                  </div>

                </div>

                <div class="control-group">
                  <div class="controls">
                    <label for="receive_email" class="checkbox" class='control-label'>
                      <input type="checkbox" value="y" name="receive_email" id="receive_email" checked="checked">
              Quero receber atualizações por email.</label>
                      <p class="errmsg receive_email-error"></p>
                  </div>
                </div>
              </div>
              <div class="stage-footer">
                <div class="control-group">
                  <button href="{{url_for('.login')}}" class="btn btn-info pull-left">Efetuar login</button>
                  <button type="submit" class="btn btn-success pull-right">Cadastrar</button>
                </div>
              </div>
        {% endif %} {#if ret_code == 0#}

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
