<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{url_for('.static',filename="img/ico/favicon.ico")}}">

<title>De Olho nas Obras</title>

<!-- Bootstrap core CSS -->
<link href="{{url_for('.static', filename="css/bootstrap.min.css")}}" rel="stylesheet">
<link href="{{url_for('.static', filename="css/font-awesome.min.css")}}" rel="stylesheet">
<link href="{{url_for('.static', filename="css/DONO.min.css")}}" rel="stylesheet">

<!--[if IE 8]>
<link href="{{url_for('.static', filename="css/IE8.css")}}" rel="stylesheet">
<![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 10]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Yanone+Kaffeesatz:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<script src="//code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript" charset="utf-8" async defer>
loadNavbar = function() { $.getScript('https://meu.rs.gov.br/external/navbar.js?app_id=3_1c5oul8tp30kcokg4oksowc8kg0gokokosk4w44wwcgoco48oc', function() { while ($("#external").length) { $("#external").remove(); } citizenLogin.navbar.init(); }); }; $(document).ready(function() { loadNavbar(); });
</script>

</head>


<body class="fade-in">
<!-- NAVBAR
================================================== -->
	<header class="navbar navbar-static-top" role="navigation" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
		<div class="container">
			<div class="navbar-collapse">
				<ul class="nav navbar-nav">
					{%if user%}
					<li><a href="{{url_for("auth.logout")}}"><i class="fa fa-user"></i><br />Logout</a></li>
					{%else%}
					<li><a href="{{url_for("auth.login")}}"><i class="fa fa-user"></i><br />Login</a></li>
					{%endif%}
					<li><a href="#compartilhar" data-toggle="modal"><i class="fa fa-share"></i><br />Compartilhe</a></li>
					<li class="gd"><a href="http://gabinetedigital.rs.gov.br/" target="_blank">Gabinete Digital</a></li>
				</ul>
			</div>
			<div class="navbar-header">
				<a class="navbar-brand" href="{{url_for("monitoramento.index")}}">De Olho Nas Obras</a>
			</div>
			<div class="homeSearch">
				<input type="text" id="" class="typeahead" placeholder="Procure por uma obra" />
			</div>
		</div>
	</header>


<!-- CAROUSEL
================================================== -->
<div class="sliderBody">
	<div id="myCarousel" class="carousel slide container" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			{%for slide in slides%}
			<li data-target="#myCarousel" data-slide-to="{{loop.index0}}" {%if loop.index0==0%}class="active"{%endif%}></li>
			{%endfor%}
		</ol>
		<div class="carousel-inner">

			{%for slide in slides%}
			<div class="item {%if loop.index0==0%}active{%endif%}">
				{%if slide.thumbs%}
				<img src="{{ thumborurl(slide.thumbs.full.url, (1200,464)) }}" alt="" />
				{%else%}
				<img src="http://placehold.it/1600x464&text=slide">
				{%endif%}
				<div class="carousel-caption">
					<h1>{{slide.title}}</h1>
					<p><a class="sliderLink" href="{{url_for('monitoramento.obra',slug=slide.slug)}}" role="button">visite essa obra</a></p>
				</div>
			</div>
			{%endfor%}

		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"><i class="fa fa-angle-left"></i></span></a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"><i class="fa fa-angle-right"></i></span></a>
	</div>
</div>
<!-- /.carousel -->

<!-- COMO FUNCIONA
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
		<h2>Como Funciona</h2>
		</div>
	</div>
	<div class="row colourfulBoxesSmall">
		<div class="col-md-2">
			<h3>1</h3>
			<p>Escolha uma obra </p>
		</div>
		<div class="col-md-2">
			<h3>2</h3>
			<p>Acompanhe o andamento</p>
		</div>
		<div class="col-md-2">
			<h3>3</h3>
			<p>Siga as obras de seu interesse e receba atualizações regularmante</p>
		</div>
		<div class="col-md-2">
			<h3>4</h3>
			<p>Fiscalize! Envie fotos, vídeos, dúvidas e comentários</p>
		</div>
		<div class="col-md-2">
			<h3>5</h3>
			<p>Compartilhe as obras que você fiscaliza e chame mais gente pra ficar De Olho</p>
		</div>
		<div class="col-md-2">
			<h3>6</h3>
			<p>Periodicamente as obras são atualizadas com novas informações</p>
		</div>
	</div>
</div>


<!-- FILTROS
================================================== -->
<div class="container">
	<form id="frmfilterbox" action="." method="GET">
	<input type="hidden" name="filtro" value="">
	<input type="hidden" name="valor" value="">
	<div class="row filterBox">

		<div class="col-md-4">
            <label for="slfiltro">Filtrar por</label>
				<div class="styled-select"><span><i class="fa fa-angle-down"></i></span>
					<select id="slfiltro">
						<option value="">Todas ({{total}} obras)</option>
						<option value="secretaria">Secretaria</option>
						<option value="municipio">Município</option>
						<option value="regiao">Região</option>
					</select>
            </div>
		</div>

		<div class="col-md-4">
			<div id="filtros">
				<div id="divsecretaria" class="top" style="display:none;">
					<label for="slsecretaria">Secretaria:</label>
					<div class="styled-select"><span><i class="fa fa-angle-down"></i></span>
						<select id="slsecretaria">
							<option value="">- Selecione -</option>
							{%for s in secretarias%}
							<option value="{{s.id}}">{{s.secretaria}}</option>
							{%endfor%}
						</select>
					</div>
				</div>
				<div id="divmunicipio" class="top" style="display:none;">
					<label for="slmunicipio">Município:</label>
					<div class="styled-select"><span><i class="fa fa-angle-down"></i></span>
						<select id="slmunicipio">
							<option value="">- Selecione -</option>
							{%for cidade in cidades%}
							<option value="{{cidade}}">{{cidade}}</option>
							{%endfor%}
						</select>
					</div>
				</div>
				<div id="divregiao" class="top" style="display:none;">
					<label for="slregiao">Região:</label>
					<div class="styled-select"><span><i class="fa fa-angle-down"></i></span>
						<select id="slregiao">
							<option value="">- Selecione -</option>
							<option value="alto-jacui">Alto Jacuí</option>
							<option value="botucarai">Botucaraí</option>
							<option value="campanha">Campanha</option>
							<option value="campos-de-cima-da-serra">Campos de Cima da Serra</option>
							<option value="celeiro">Celeiro</option>
							<option value="central">Central</option>
							<option value="centro-sul">Centro-Sul</option>
							<option value="fronteira-noroeste">Fronteira Noroeste</option>
							<option value="fronteira-oeste">Fronteira Oeste</option>
							<option value="hortensias">Hortênsias</option>
							<option value="jacui-centro">Jacuí Centro</option>
							<option value="litoral">Litoral</option>
							<option value="m-delta-do-jacui">M. Delta do Jacuí</option>
							<option value="medio-alto-uruguai">Médio Alto Uruguai</option>
							<option value="missoes">Missões</option>
							<option value="nordeste">Nordeste</option>
							<option value="noroeste-colonial">Noroeste Colonial</option>
							<option value="norte">Norte</option>
							<option value="paranhana">Paranhana</option>
							<option value="producao">Produção</option>
							<option value="rio-da-varzea">Rio da Várzea</option>
							<option value="serra">Serra</option>
							<option value="sul">Sul</option>
							<option value="v-rio-dos-sinos">V. Rio dos Sinos</option>
							<option value="vale-do-cai">Vale do Caí</option>
							<option value="vale-do-jaguari">Vale do Jaguari</option>
							<option value="vale-do-rio-pardo">Vale do Rio Pardo</option>
							<option value="vale-do-taquari">Vale do Taquari</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
            <label class="pull-right" for="slordem" >Ordenar por</label>
                <div class="styled-select pull-right"><span><i class="fa fa-angle-down"></i></span>
				    <select name="ordem" id="slordem" >
						<option value="atualizacao">Ordem de atualização</option>
						<option value="andamento">Andamento</option>
						<option value="valorglobal">Valor Global</option>
						<option value="previsaoconclusao">Previsão de Conclusão</option>
				    </select>
				</div>
		</div>

	</div>
	</form>
</div>

<!-- LISTA DE OBRAS
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12 listaObras">

		{%for obra in obras%}
			<!-- Inicio Obra -->
			<div class="constructionBox">
				<div class="image">
					{%if obra.custom_fields['gdobra_obra_entregue'] and obra.custom_fields['gdobra_obra_entregue']|int == 1%}
					<div class="obraConcluidaListagem"></div>
					{%endif%}
					<a href="{{url_for('monitoramento.obra',slug=obra.slug)}}">
						{%if obra.thumbs %}
						<img src="{{ thumborurl(obra.thumbs.normal.url, (277,217) ) }}">
						{%else%}
						<img src="http://placehold.it/277x217&text=Obra">
						{%endif%}
						<!-- <img src="{{url_for('.static',filename="images/tecnounisc.jpg")}}" alt="" /> -->
					</a>
				</div>
				<div class="description">
					<h3><a href="{{url_for('monitoramento.obra',slug=obra.slug)}}">{{obra.title}}</a></h3>
					<h4><a href="{{url_for('monitoramento.obra',slug=obra.slug)}}">
						{%if obra.custom_fields.gdobra_municipio%}
							{%for mun in obra.custom_fields.gdobra_municipio%}
								{{mun}} {%if not loop.last%},{%endif%}
							{%endfor%}
						{%endif%}
					    </a>
					</h4>
					<ul>
						<li><i class="fa fa-cogs"></i> <span>{{obra.custom_fields.gdobra_porc_concluido}}%</span></li>
						<li><i class="fa fa-comment"></i> <span>{{obra.total_contributions}}</span></li>
						<li><i class="fa fa-star"></i><span>{{obra.total_follows}}</span></li>
					</ul>
				</div>
			</div>
			<!-- Fim Obra -->
		{%endfor%}

		</div>
	</div>
</div>
<!-- RODAPÉ
================================================== -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3"><a href="http://gabinetedigital.rs.gov.br/" target="_blank"><img src="{{url_for('.static',filename="images/GD_logo.png")}}"  alt="Gabinete Digital" /></a></div>
			<div class="col-md-3">
				<h4>Nossos Dados</h4>
				<p>As informações das obras são dados abertos. Acesse a API: <strong>JSON</strong></p>
			</div>
			<div class="col-md-3"><h4>Acesso à informação </h4>
			<p>Se você quiser obter alguma informação específica e de maneira personalizada, utilize a Lei de Acesso à Informação. O governo dará uma resposta em no máximo 30 dias.</p>
			<p><img src="{{url_for('.static',filename="images/acessoAinformacao.png")}}" width="168" height="72" alt="" /></p>
			</div>
			<div class="col-md-3"><h4>Parceiros</h4>
			<p>Desenvolvido em parceria com:</p>
			<p><img src="{{url_for('.static',filename="images/procergs.png")}}" width="77" height="76" alt="" /></p>
			<p><img src="{{url_for('.static',filename="images/FGV.png")}}" width="97" height="20" alt="" /></p>
			</div>
		</div>
	</div>
</footer>

<!-- Modal -->
<div class="modal fade" id="compartilhar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Compartilhe nas redes sociais</h4>
      </div>
      <div class="modal-body">
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52037f9434ccf4aa"></script>
<!-- AddThis Button END -->

      </div>
    </div>
  </div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery/jquery.form.js') }}"></script>
<script src="{{url_for('.static', filename="js/bootstrap.min.js")}}"></script>
<script src="{{url_for('.static', filename="js/bootstrap3-typeahead.min.js")}}"></script>
<script src="{{url_for('.static', filename="js/docs.min.js")}}"></script>
<script src="{{url_for('.static', filename="js/customScripts.js")}}"></script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
	var u=(("https:" == document.location.protocol) ? "https" : "http") + "://gabinetedigital.rs.gov.br/piwik//";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', 1]);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
	g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

<noscript><p><img src="http://gabinetedigital.rs.gov.br/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->

<script> // ============= PROCURAS DE OBRAS =============
obras_list = Array()
obras_list_id = {}
{%for obra in obras%}
obras_list[obras_list.length] = '{{obra.title}}';
obras_list_id['{{obra.title}}'] = '{{obra.slug}}';
{%endfor%}

$('.typeahead').typeahead({
  source: obras_list,
  items: 8,
  minLength: 2,
  sorter: function (items) {
      return items.sort();
  },
  highlighter: function (item) {
      var regex = new RegExp( '(' + this.query + ')', 'gi' );
      return item.replace( regex, "<strong>$1</strong>" );
  },
  matcher: function (item) {
      if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
          return true;
      }
  },
  updater: function(item){
    //obras_list_id é um dicionáraio que contém como chave o Título da obra, e como valor o id,
    //para poder recdirecionar diretamente para a pagina correta.
    document.location = "/deolho/obra/" + obras_list_id[item]
  }
});

</script>

</body>
</html>
