{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govescuta.css') }}">
{% endblock %}

{% block content %}
<div id="container">
  <div class="row head">
    <div id="logo" class="col4">
      <h1>
        <a href="{{ url_for('.index') }}">
          Governador Escuta
        </a>
      </h1>
    </div>
    <div class="col8">
      <p>
        Audiências públicas digitais transmitidas via internet onde você
        pode enviar sua contribuição
      </p>

      <ul class="menu">
        <li class="comofunciona">
          <a href="">Como Funciona</a>
        </li>
      </ul>

    </div>
    <div class="row-end"></div>
  </div>

  <div class="row content">
    <h2>Audiências Anteriores</h2>
    <form id="filterform" method="get" action="">
      <input type="hidden" name="theme" value="">
      <select name="sortby" onchange="">
        <option value="">filtros</option>
        <option>Mais recentes</option>
        <option>Mais antigas</option>
      </select>
    </form>
    <ul>
      {% set i = 0 %}
      {% for audience in audiences %}
      <li>
        <div class="audiencia">
          <div class="titulo">
          	<a href="/audience/{{audience.id}}">
            <h4>{{ audience.title }} <i>(
				{% for audiencevideo in audiencevideos[i] %}
          		{% if audiencevideo.key == "data_govesc" %}
          		{{ audiencevideo.value[3:6]}}{{ audiencevideo.value[:3]}}{{ audiencevideo.value[6:10]}} às {{ audiencevideo.value[11:16]}} 
          		{% endif %}
          		{% endfor %}
				)</i></h4>
				</a>
          </div>
          <div><p class="desc">{{ audience.excerpt|safe }}</p></div>
        </div>
      </li>
      {% set i = i+1 %}
      {% endfor %}
    </ul>
    <div class="row-end"></div>
  </div>
</div>
{% endblock %}
