{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govescuta.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/how-it.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('audience.static', filename='js/jQueryRotate.2.1.js') }}"></script>
<script src="{{ url_for('.static', filename='js/govescuta.js') }}"></script>
<script src="{{ url_for('audience.static', filename='js/timer.js') }}"></script>
{% endblock %}

{% block content %}
<div class="content">
  <div class="container">
    <div id="works-like-this" class="overlay boverlay">
      <ol>
        <li class="step-1">
          <div class="wrapper">
            <img
               src="{{ url_for('audience.static', filename='imgs/couple.png') }}"
               class="step-1-couple">
            <div>
              <img
                 src="{{ url_for('audience.static', filename='imgs/mail_trail.png') }}"
                 class="step-1-mail-trail">
              <img
                 src="{{ url_for('audience.static', filename='imgs/mail.png') }}"
                 class="step-1-mail">
            </div>
          </div>
          <p>As pessoas enviam suas contribuições</p>
        </li>
        <li class="step-2">
          <div class="wrapper">
            <div class="gears">
              <img
                 src="{{ url_for('audience.static', filename='imgs/step_2_big_gear.png') }}"
                 class="step-2-big-gear">
              <img
                 src="{{ url_for('audience.static', filename='imgs/step_2_small_gear.png') }}"
                 class="step-2-small-gear">
            </div>
            <img
               src="{{ url_for('audience.static', filename='imgs/networked_cpus.png') }}">
          </div>
          <p>Nossa equipe processa e modera as contribuições</p>
        </li>
        <li class="step-3">
          <div class="wrapper">
            <img
               src="{{ url_for('audience.static', filename='imgs/mustache_gentleman.png') }}"
               class="mustache-gentleman">
            <img
               src="{{ url_for('audience.static', filename='imgs/empty_dialog.png') }}"
               class="mustache-gentleman-dialog">
          </div>
          <p>O Governador comenta as contribuições selecionadas</p>
        </li>
      </ol>
      <div id="saiba-mais-link">
        <a href="javascript:show_how_to()"> Saiba mais </a>
      </div>
      <div id="saiba-mais-text" style="display:none">
        {{ how_to|safe }}
      </div>
    </div>
    <section class="govescuta">
      <div class="row">
        <div class="span8">

          <h2>
            Governo Escuta
          </h2>
          <p>
            Audiências públicas digitais transmitidas via internet onde você
            pode enviar sua contribuição
          </p>
        </div>
        <div class="span4">
          <div class="menu pull-right">
            <ul>
              <li class="comofunciona">
                <a href="#" rel="#works-like-this" id="how-it-works">Como Funciona</a>
              </li>
            </ul>
            <!-- <form id="filterform" method="get" action="{{ url_for('govescuta.index') }}"> -->
            <!--   <select name="sortby" onchange="$('#filterform').submit()"> -->
            <!--     <option value="">filtros</option> -->
            <!--     <option -->
            <!--        {% if sortby == 'date' %}selected="selected"{% endif %} -->
            <!--        value="date"> -->
            <!--       Mais recentes -->
            <!--     </option> -->
            <!--     <option -->
            <!--        {% if sortby == '-date' %}selected="selected"{% endif %} -->
            <!--        value="-date"> -->
            <!--       Mais antigas -->
            <!--     </option> -->
            <!--   </select> -->
            <!-- </form> -->
          </div>
        </div>
      </div>

       <div class="row">
         <div class="span12">
           <ul class="thumbnails audiencias">
             {% for audience in audiences %}
             {% if audience.video  %}
             <li class="span6">
               <div class="thumbnail">
                 <a href="{{ url_for('.govescuta_details', aid=audience.ID) }}">
                   <div class="header">
                     <div id="date" class="pull-left">
                       <div class="month">{{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType }} {{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType("%y") }}</div> 
                       <div class="day">
                         {{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType("%d") }}
                       </div>
                     </div>
                   </div>
                   <img class="thumb"
                        src="{{ audience.video.thumbnail }}" alt="{{ audience.video.title }}"
                        width="100%">
                   <div>
                     <div class="desc">
                       <h4>{{ audience.post_title }}</h4>
                       {{ audience.post_content|safe }}
                     </div>
                   </div>
                 </a>
               </div>
             </li>
             {% endif %}
             {% endfor %}
           </ul>
         </div>
       </div>

    </section>
  </div>
</div>
{% endblock %}
