/*
Syntax error: File to import not found or unreadable: rgbapng.
              Load paths:
                /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass
                /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 2 of /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/system.scss
        from line 1 of /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/auth.scss

1: /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/auth.scss

Backtrace:
/home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/system.scss:2
/home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/auth.scss:1
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/import_node.rb:67:in `import'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:225:in `map'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:107:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:119:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:106:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:126:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:98:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.3/lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:30
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/local/bin/compass:23:in `load'
/usr/local/bin/compass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: rgbapng.\A               Load paths:\A                 /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass\A                 /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 2 of /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/system.scss\A         from line 1 of /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/auth.scss\A \A 1: /home/berlotto/Desenvolvimento/GabineteDigital/gd/gd/auth/static/sass/auth.scss"; }
