#container {
    background:white;
    font-size: 13px;
    -moz-box-shadow: 0px 0px 6px 1px #CCC;
    -webkit-box-shadow: 0px 0px 6px 1px #CCC;
    box-shadow: 0px 0px 6px 1px #CCC;
    background-color: #FFF;
    color: #2E3436;
}

#container .head {
    background: url("../imgs/top.png") no-repeat scroll center bottom transparent;
}

#container #logo h1 {
    background: url(../imgs/logo_govescuta.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    width: 222px;
    height: 100px;
    margin: 30px auto 0;
}

#container .head .menu {
    padding-top: 30px;
}

#container .head .menu li a {
    display:inline;
    float:left;
    margin-right:30px;
    font-size:12pt;
    padding-top: 51px;
}

#container .head .menu li.comofunciona a {
    background: url("../imgs/comofunciona.png") no-repeat 35px top;
    color: #008dc4;
}

#container .head .menu li.respostasgov a {
    background: url("../imgs/respostasgov.png") no-repeat center top;
    color: #fe6200;
}

#container .head .menu li.envie a {
    background: url("../imgs/envie.png") no-repeat center top;
    color: #c00000;
}

#container .head .menu li a:hover {
    margin-top: 5px;
}


#container .head .menu a {
    color:#333;
}


#container .col8 p {
    float: left;
    font-size: 18px;
    margin-right: 40px;
    padding-top: 50px;
    width: 450px;
}

#container h2 {
    color: #2e3436;
    font-size: 33px;
    margin-top: 27px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#container .audiencia {
    border-top: 1px dotted #CCCCCC;
    float: left;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 20px;
    width: 900px;
}

.content form {
    text-align: right;
    margin-right: 40px;
}

Form input, form select, form textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    margin-top: 7px;
    padding: 2px;
    box-shadow: none;
}

#container .audiencia .video {
    float: left;
    display: block;
    margin-right: 20px;
    width:300px;
    height:190px;
}

.video .thumb {
    height: 190px;
    margin-bottom: 10px;
    width: 300px;    
}

.video .container {
    height: 190px;
    overflow: hidden;
}

.video .play {
    height: 50px;
    margin-left: 125px;
    margin-top: -76px;
    position: relative;
    top: -50px;
    width: 50px;
}

.video .permalink {
    left: 275px;
    position: relative;
    top: -25px;
}

.encaminhamento {
    background: url("../imgs/encaminhamento.png") no-repeat scroll left center transparent;
    color: #563A11;
    font-size: 16px;
    padding-left: 20px;
    float: left;
    margin-top: 3%;
}

#container .audiencia img {
    display: block;
    margin-right: 20px;
}

#container .audiencia .titulo {
    font-size: 20px;
}

#container .audiencia .titulo i {
    font-size: 14px;
    color: #AAAAAA;
    font-style: normal;
}

#container .audiencia .desc {
    font-size: 14px;
    margin: 20px 0 0 270px;
    width:610px;
}


#container #paginator {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#container #paginator .page-numbers {
    border: 1px solid #ddd;
    padding: 1px 7px;
    margin-left: 4px;
}

#container #paginator .current {
    background: #ccc;
}

#container #paginator .next, #container #paginator .prev {
    padding: 2px;
    border: 1px solid #fff;
}

#container  #comments {
    border-top: 1px dotted #999;
    padding-top: 12px;
    margin-top: 30px;
}

#container  #comments h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

#container  #comments textarea {
    border: 1px solid #eee;
    width: 80%;
    float: left;
    height: 70px;
    font-size: 13px;
    margin-bottom: 20px;
}

#container  #comments input {
    height: 70px;
    padding: 20px;
    margin-left: 10px;
    border: 2px solid #eee;
    background: #FFF:
}

#container  .comment {
    margin-bottom: 20px;
    float: left;
}

#container  .comment img {
    float: left;
    margin-right: 20px;
}

#container  .comment .content {
    -webkit-border-radius: 0px 20px 20px 20px;
    -moz-border-radius: 0px 20px 20px 20px;
    border-radius: 0px 20px 20px 20px;
    background: #eee;
    padding: 6px;
    width: 500px;
    float: right;
    padding: 16px;
}

#container  .comment .content h3 {
    margin-bottom: 12px;
}

