.gallery .thumbnail
  border: 0 none
  border-radius: 0 0 0 0
  +box-shadow(none)
  display: block
  position: relative
  text-align: left
  color: #FFF

#gallery .thumbnail img
  width: 100%

.busca
  padding-top: 16px

.gallery
  background: url(../img/minsqr.png)
  padding: 20px 0

.gallery h2
  color: #FFF
  /*text-transform: capitalize;
  +single-text-shadow

.formb
  margin-top: 20px

.album img
  margin-bottom: 3px
  cursor: pointer

.modal-gallery .modal-title
  overflow: visible
  padding-top: 8px

.modal-gallery .modal-body
  padding-bottom: 0

.modal-gallery .modal-header
  border-bottom: none
  padding: 0

.modal-header .close
  background: url("../img/fancybox.png") repeat scroll transparent
  cursor: pointer
  height: 32px
  position: absolute
  right: 4px
  width: 32px
  z-index: 1103
  opacity: 1.0
