.nova
  @media (max-width: 768px)
    padding: 0
    overflow: hidden

#video-home, #video-theater
  margin: 0
  padding-top: 80px
  background-color: #ecf0f1
  @media (max-width: 768px)
    padding: 0 20px


  .video-filter
    background-color: #34495e

    .filter
      border-bottom: 2px solid #2c3e50
      overflow: hidden

      &:hover
        background-color: #2c3e50

      &:last-child
        border: none

      &> a
        color: #FFF
        padding: 10px 20px
        display: block
        text-decoration: none


      i
        margin-right: 10px

        &.azul
          color: #3498db

        &.amarelo
          color: #f1c40f

        &.vermelho
          color: #e74c3c

      p
        color: white
        font-weight: 200
        font-size: 17pt
        display: inline

      .canais
        margin-left: 60px

        li
          list-style:  none

          a
            color: #FFF

            &:hover,
            &:active,
            &:visited,
            &:focus
              font-size: 10pt
              color: #FFF
              text-decoration: none

#video-theater

  .video-filter
    .filter
      p,ul
        display: none

#video-home

  .seta
    position: relative
    top: 140px
    background-color: #34495e
    color: #fff
    padding: 10px 20px

    &:hover
      text-decoration: none
      color: #fff

  #highlighted-videos
    .carousel
      margin-bottom: 0

    a
      &:hover,
      &:active,
      &:visited
        text-decoration: none
        color: #fff

    .capitions
      position: absolute
      top: 50%
      bottom: 0
      left: 0
      right: 0
      padding: 40px 80px 0
      +single-text-shadow
      +background-image(linear-gradient(center top, transparent, rgba(0,0,0,0.8)))

      h3
        text-transform: uppercase

        &> i
          padding: 10px 20px
          margin-right: 30px
          background-color: #34495e

      p
        color: white
        padding-left: 90px


  .video-filter
    background-color: #34495e

    .filter
      border-bottom: 2px solid #2c3e50
      overflow: hidden

      &:hover
        background-color: #2c3e50

      &:last-child
        border: none

      &> a
        color: #FFF
        padding: 10px 20px
        display: block
        text-decoration: none


      i
        margin-right: 10px

        &.azul
          color: #3498db

        &.amarelo
          color: #f1c40f

        &.vermelho
          color: #e74c3c

      p
        color: white
        font-weight: 200
        font-size: 17pt
        display: inline

      .canais
        margin-left: 60px

        li
          list-style:  none

          a
            color: #FFF

            &:hover,
            &:active,
            &:visited,
            &:focus
              font-size: 10pt
              color: #FFF
              text-decoration: none

  .subheader

    .cat
      color: #e74c3c
      font-weight: 200
      font-size: 3.6em
      margin: 20px 0

      i
        &.icon-star
          color: #f1c40f
          &+p
            color: #f1c40f

        &.icon-th-large,
          color: #e74c3c
          &+p
            color: #e74c3c

        &.icon-time
          color: #3498db
          &+p
            color: #3498db

      &> p
        display: inline
        margin-left: 20px


  input.searcher
    background: #2C3E50
    border: none
    +border-radius(0)
    color: white
    padding: 10px

  .gbusca
    margin-top: 10px

    .btn
      background: #34495E
      border: none
      color: #3498DB
      font-size: 15pt
      padding: 9px 13px
      +text-shadow(none)

      &:last-child
        +border-radius(0)


  .thumbnail
    border: none
    +border-radius(0)
    +box-shadow(none)
    line-height: 20px
    padding: 0

    .meta
      a
        color: #34495E
        text-decoration: none


  //--------------------------//

#video-theater

  .buttons

    .button
      color: white
      background-color: #bdc3c7
      padding: 10px 0
      margin: 10px 0
      display: block

      &.home
        background-color: rgb(52, 73, 94)

      &:hover
        cursor: pointer
        text-decoration: none

      i
        display: block
        clear: both
        margin-top: 4px
        @media (min-width: 768px) and (max-width: 979px)
          font-size: 1.6em


      &.video
        text-align: center

      &.share
        padding-top: 20px
        padding-left: 10px

      &.embed:hover
        background-color: #e67e22

      &.download:hover
        background-color: #16a085

      &.face:hover
        background-color: #2c3e50

      &.tweet:hover
        background-color: #3498db

      &.gplus:hover
        background-color: #e74c3c


  .stage
    position: relative

    .desc
      background-color: white
      padding: 20px 15px
      margin-bottom: 20px
      display: block

    .meta
      .button
        margin-right: 20px

      a.canal
        background-color: #e74c3c
        color: white
        display: inline-block
        margin: 10px 0
        padding: 0 15px
        height: 72px

        &:hover
          text-decoration: none

        i
          margin-right: 10px
          display: inline-block
          vertical-align: middle

        p
          margin-top: 18px
          display: inline-block
          font-size: 1.2em

      a.ecode
        text-align: center
        padding: 0
        position: relative
        display: none

        textarea
          background-color: #bdc3c7
          height: 65px
          padding: 5pt 0 0 0
          border: 0
          +box-shadow(none)
          margin: 0
