.video-home
  background-color: #ecf0f1
  border-top: 2px solid #bdc3c7
  padding-top: 40px

.seta
  position: relative
  top: 150px
  background-color: #34495e
  color: #fff
  padding: 10px 20px

.seta:hover
  text-decoration: none
  color: #fff
