#monitoramento {
    border-top: 2px solid #bdc3c7;
    padding-top: 20px;
}

#monitoramento.capa {
    background: url(../img/monitoramento/mapa.png);
}

#monitoramento.obra {
    background: #bdc3c7;
}

#monitoramento .painel {
    background: #ecf0f1;
    @include border-radius(13px 13px 0 0);
    @include box-shadow(#7f8c8d 0px 5px 7px 0px);
}

#monitoramento.capa h1 {
    font-weight: 300;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

#monitoramento.capa h1 > span {
    font-size: 41pt;
    margin-bottom: 10px;
}

#monitoramento.capa h1 > strong {
    color: $red;
    font-size: 35pt;
    font-weight: 500;
}

#monitoramento.capa .slider {
    background-color: $lblue;
    display: block;
    width: 100%;
    height: 160px;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    color: #fff;
    float: left;
    overflow: hidden;
}

#monitoramento.capa .carousel-inner > .item > img,
#monitoramento.capa .carousel-inner > .item > a > img {
    float: left;
    margin-right: 20px;
}

#monitoramento.capa .carousel-inner h4 {
    margin: 0;
}

#monitoramento.capa .carousel-inner .content {
    padding-top: 20px;
}

#monitoramento .painel h2,
#monitoramento .painel h3 {
  font-weight: 300;
  margin: 10px;
  text-align: left;
}

#monitoramento .painel ul, #monitoramento .painel ol {
    margin: 0;
    padding: 0;
}

#monitoramento li.dark {
    background: #eee;
}

#monitoramento li.light {
    background: #fff;
}

#monitoramento li {
    list-style: none;
}

#monitoramento .lista-obras li {
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#monitoramento .lista-obras li > h4  {
    margin: 0;
}

#monitoramento .lista-obras .meta-obra {
    float: left;
    text-align: center;
    margin-right: 20px;
}

#monitoramento .lista-obras .meta-obra img {
    display: block;
    clear: both;
}

#monitoramento .lista-obras .meta-obra a {
    margin-top: 10px;
    width: 134px;
}

#monitoramento .lista-obras p {
    display: table;
}

#monitoramento .instrucoes li {
    border-bottom: 1px dashed #CCCCCC;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 20px;
 }

#monitoramento .instrucoes li:last-child {
    border: none;
}

#monitoramento .instrucoes span {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 30pt;
    padding-right: 20px;
    padding-top: 9px;
}

#monitoramento .instrucoes p {
    display: inline-block;
    margin: 0 0 10px;
    padding-left: 40px;
    padding-right: 20px;
}

#monitoramento .numeros {
    border-top: 2px solid $yellow;
    color: $yellow;
    text-align: center;
    font-size: 30pt;
    padding-top: 20px;
}

#monitoramento .numeros li {
    display: inline-block;
    margin-right: 10px;
}

#monitoramento .numeros span {
    display: block;
    font-size: 10pt;
    padding-top: 10px;
}

/* Páginad da Obra */
#monitoramento.obra h1 {
    background: none repeat scroll 0 0 #7F8C8D;
    color: white;
    font-size: 18pt;
    font-weight: 900;
    padding: 0 16px;
    text-align: right;
    text-transform: lowercase;
}

#monitoramento.obra .header {
    background: #34495E;
    @include border-radius(13px 13px 0 0);
    /* @include box-shadow(rgba(0,0,0,0.40) 0px 5px 7px 0px);*/
}

#monitoramento.obra .head h2 {
    color: white;
    font-size: 38pt;
    font-weight: 200;
    padding: 20px;
}

#monitoramento.obra .head > a {
    float: left;
    padding: 10px;
}

#monitoramento.obra .mapa img {
    @include border-radius( 0 12px 0 0);
}

#monitoramento.obra .barra {
    background: #2C3E50;
    color: white;
    padding: 10px;
}

#monitoramento.obra .barra .geral,
#monitoramento.obra .barra .dados-obra, {
    margin: 0;
    padding: 0;
}

#monitoramento.obra .barra .geral li.field:first-child {
   border: none;
}

#monitoramento.obra .barra .geral li.field {
    border-left: 3px solid #34495E;
    float: left;
    margin-right: 20px;
}

#monitoramento.obra .barra .geral li.icon {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

#monitoramento.obra .barra .geral span.circle {
    display: block;
    @include border-radius(100%);
    padding: 10px;
}

#monitoramento.obra .barra .geral .green {
    color: #2ecc71;
}

#monitoramento.obra .barra .geral .blue {
    color: #3498db;
}

#monitoramento.obra .barra .geral .red {
    color: #e74c3c;
}

#monitoramento.obra .barra .geral .orange {
    color: #e67e22;
}

#monitoramento.obra .barra .geral .yellow {
    color: #f1c40f;
}

#monitoramento.obra .barra .geral .dados-obra li.data {
    display: inline-block;
    color: #ECF0F1;
}

#monitoramento.obra .barra .geral .dados-obra li.result {
    display: block;
    margin-left: 58px;
    text-align: left;
    width: 100%;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar {
    background: white;
    display: inline-block;
    height: 10px;
    width: 125px;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar > .progress {
    background: #3498db;
    height: 10px;
    @include border-radius(0);
}

#monitoramento.obra .head .content {
    color: white;
    display: inline-block;
    padding: 0 0 0 20px;
}

#monitoramento.obra .follow {
    text-align: center;
}

#monitoramento.obra .follow p.desc {
    color: black;
    text-align: left;
    width: 300px;
}

#monitoramento.obra .follow .social {
    display: inline-block;
    margin-bottom: 15px;
}

#monitoramento.obra .follow .social li {
    display: inline-block;
    margin-right: 10px;
}

#seguirobraform .main-follow a:hover{
    text-decoration: none;
}

#seguirobraform .main-follow a i.face ,
#monitoramento.obra .follow i.face {
    color: #34495e;
}

#seguirobraform .main-follow a i.twit ,
#monitoramento.obra .follow i.twit {
    color: #3498db;
}

#seguirobraform .main-follow a i.email ,
#monitoramento.obra .follow i.email {
    color: #e74c3c;
}

#monitoramento.obra img.mapa {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

#monitoramento.obra .info {
    padding-left: 20px;
}

#monitoramento.obra .botoesparticipar {
    background: #e67e22;
    @include border-radius(10px);
}

#monitoramento.obra .botoesparticipar a {
    border-bottom: 2px solid #d35400;
    display: block;
    padding: 1px 10px;
    color: white;
    height: 70px;

}

#monitoramento.obra .botoesparticipar a:last-child {
    border: none;
}

#monitoramento.obra .botoesparticipar a:hover {
    text-decoration: none;
    background: #d35400;
}

#monitoramento.obra .botoesparticipar a:first-child:hover {
    @include border-radius(10px 10px 0 0);
}

#monitoramento.obra .botoesparticipar a:last-child:hover {
    @include border-radius(0 0 10px 10px);
}

#monitoramento.obra .botoesparticipar a > i {
    float: left;
    line-height: 65px;
    margin-right: 20px;
}

#monitoramento.obra .separador {
  border: 2px solid #ddd;
  margin: 20px;
}

#monitoramento.obra .info strong {
    clear: both;
    display: block;
}

#monitoramento.obra h3 {
    text-align: center;
}

#monitoramento.obra .code {
    text-align: center;
}

#monitoramento.obra .code img {
    margin-top: 10px;
}

#monitoramento.obra .nossodados,
#monitoramento.obra .acesso {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

#monitoramento.obra .nossodados p.desc {
    text-align: left;
}

#monitoramento.obra .api,
#monitoramento.obra .xml {
    color: white;
    font-weight: bold;
    padding: 0px 4px;
    font-size: 11pt;
}

#monitoramento.obra .nossodados a:hover {
    text-decoration: none;
}

#monitoramento.obra .api {
    background: #27ae60;
}

#monitoramento.obra .xml {
    background: #e67e22;
}

#monitoramento.obra .govresp {
    background: #e74c3c;
    overflow: hidden;
}

#monitoramento.obra .govresp .content {
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    padding: 0px 20px;
    width: 435px;
}

#monitoramento.obra .govresp .video {
    width: 435px;
    float: right;
    padding: 10px;
}

#monitoramento.obra .comofunciona {
    background: #16A085;
    height: 60px;
    border-top: 4px solid #2C3E50;
 }

#monitoramento.obra .comofunciona h2 {
    margin: 0;
}

#monitoramento.obra .comofunciona .content {
    color: #FFF;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    padding: 10px 28px;
}

#monitoramento.obra .comofunciona .content .more {
    background: #1ABC9C;
    border-radius: 6px 6px 6px 6px;
    float: right;
    height: 26px;
    text-align: center;
    width: 32px;
    margin-top: 7px;
    font-size: 20pt;
    font-weight: bold;
    line-height: 17pt;
}

#monitoramento.obra .comofunciona .content .close {
    float: right;
    height: 26px;
    text-align: center;
    margin-top: 7px;
    font-size: 16pt;
    font-weight: bold;
    line-height: 17pt;
}

#monitoramento.obra .primeiro {
    background: none repeat scroll 0 0 black;
    color: white;
}

#monitoramento.obra .primeiro > p {
    padding: 10px 20px 0;
}


#monitoramento.obra .primeiro .info-meta ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    color: black;
}

#monitoramento.obra .status, #monitoramento.obra .update {
    background: #FFF;
    margin-bottom: 20px;
    @include box-shadow(#aaaaaa 0px 0px 3px 0px);
}

#monitoramento.obra .status p, #monitoramento.obra .updates p {
    margin-top: 10px;
    padding: 0 10px;
    text-align: left;
}

#monitoramento.obra p.content {
    padding-top: 10px;
}

#monitoramento.obra .fiscalize {
    text-align: left;
}

#monitoramento.obra .comente {
    padding-left: 20px;
    margin: 10px 0;
    display: none;
}

#monitoramento.obra .comente h3 {
    margin-bottom: 10px;
    margin-left: -20px;
    text-align: left;
}


#monitoramento.obra .info-meta {
    clear: both;
    display: block;
    font-size: 9pt;
    text-align: right;
}

#monitoramento.obra .info-meta ul {
  border-top: 1px solid #ddd;
}

#monitoramento.obra .info-meta ul li {
    display: inline-block;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
}

#monitoramento.obra .updates .data {
    color: #aaa;
    font-size: 10pt;
    font-weight: 600;
}

#monitoramento.obra .updates {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#monitoramento.obra .update {
    border-bottom: 2px solid #DDD;
    margin-bottom: 20px;
}

#monitoramento.obra .update > img {
    float: left;
    margin-right: 20px;
}

#monitoramento .voltar {
    border: 2px solid #ddd;
    background: url(../img/monitoramento/obras.png) no-repeat center white;
    width: 70px;
    height: 70px;
    display: none;
    @include border-radius(5px);
}

#monitoramento .suplementar{
    height: 0px;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    padding: 10px;
}

#monitoramento .suplementar h1{
    background-color: transparent;
    border-bottom: 1px solid black;
    color: #333;
}

.form-footer{
    width:100%;
    margin-top:15px;
    text-align: right;
}

.main-follow{
    text-align: center;
}

.main-follow a{
    margin-left: 10px;
}

.follow{
    margin-top: 20px;
}


.vote {
    /*border: 1px solid red;*/
    float: right;
    width: 50px;
}
.vote > a {
    display: block;
}
.vote .score {
    font-size: 13pt;
    font-weight: bold;
}