#monitoramento {
    border-top: 2px solid #bdc3c7;
    padding-top: 20px;
}

#monitoramento.capa {
    background: url(../img/monitoramento/mapa.png);
}

#monitoramento.obra {
    background: #bdc3c7;
}

#monitoramento .painel {
    background: #ecf0f1;
    @include border-radius(13px 13px 0 0);
    @include box-shadow(#7f8c8d 0px 5px 7px 0px);
}

#monitoramento.capa h1 {
    font-weight: 300;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

#monitoramento.capa h1 > span {
    font-size: 41pt;
    margin-bottom: 10px;
}

#monitoramento.capa h1 > strong {
    color: $red;
    font-size: 35pt;
    font-weight: 500;
}

#monitoramento.capa .slider {
    background-color: $lblue;
    display: block;
    width: 100%;
    height: 160px;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    color: #fff;
    float: left;
    overflow: hidden;
}

#monitoramento.capa .carousel-inner > .item > img,
#monitoramento.capa .carousel-inner > .item > a > img {
    float: left;
    margin-right: 20px;
}

#monitoramento.capa .carousel-inner h4 {
    margin: 0;
}

#monitoramento.capa .carousel-inner .content {
    padding-top: 20px;
}



#monitoramento .painel h2,
#monitoramento .painel h3 {
  font-weight: 300;
  margin: 10px;
  text-align: left;
}

#monitoramento .painel ul, #monitoramento .painel ol {
    margin: 0;
    padding: 0;
}

#monitoramento li.dark {
    background: #eee;
}

#monitoramento li.light {
    background: #fff;
}

#monitoramento li {
    list-style: none;
}

#monitoramento .lista-obras li {
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#monitoramento .lista-obras li > h4  {
    margin: 0;
}

#monitoramento .lista-obras .meta-obra {
    float: left;
    text-align: center;
    margin-right: 20px;
}

#monitoramento .lista-obras .meta-obra img {
    display: block;
    clear: both;
}

#monitoramento .lista-obras .meta-obra a {
    margin-top: 10px;
    width: 134px;
}

#monitoramento .lista-obras p {
    display: table;
}

#monitoramento .instrucoes li {
    border-bottom: 1px dashed #CCCCCC;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 20px;
 }

#monitoramento .instrucoes li:last-child {
    border: none;
}

#monitoramento .instrucoes span {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 30pt;
    padding-right: 20px;
    padding-top: 9px;
}

#monitoramento .instrucoes p {
    display: inline-block;
    margin: 0 0 10px;
    padding-left: 40px;
    padding-right: 20px;
}

#monitoramento .numeros {
    border-top: 2px solid $yellow;
    color: $yellow;
    text-align: center;
    font-size: 30pt;
    padding-top: 20px;
}

#monitoramento .numeros li {
    display: inline-block;
    margin-right: 10px;
}

#monitoramento .numeros span {
    display: block;
    font-size: 10pt;
    padding-top: 10px;
}

/* Páginad da Obra */

#monitoramento.obra .header {
    background: #34495E;
    @include border-radius(13px 13px 0 0);
    /* @include box-shadow(rgba(0,0,0,0.40) 0px 5px 7px 0px);*/
}

#monitoramento.obra .head h2 {
    color: white;
    font-size: 38pt;
    font-weight: 200;
    padding: 20px;
}

#monitoramento.obra .head > a {
    float: left;
    padding: 10px;
}

#monitoramento.obra .mapa img {
    @include border-radius( 0 12px 0 0);
}

#monitoramento.obra .barra {
    background: #2C3E50;
    color: white;
    padding: 10px;
}

#monitoramento.obra .barra .geral,
#monitoramento.obra .barra .dados-obra, {
    margin: 0;
    padding: 0;
}

#monitoramento.obra .barra .geral li.field:first-child {
   border: none;
}

#monitoramento.obra .barra .geral li.field {
    border-left: 3px solid #34495E;
    float: left;
    margin-right: 20px;
}

#monitoramento.obra .barra .geral li.icon {
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

#monitoramento.obra .barra .geral span.circle {
    display: block;
    @include border-radius(100%);
    padding: 10px;
}

#monitoramento.obra .barra .geral .green {
    color: #2ecc71;
}

#monitoramento.obra .barra .geral .blue {
    color: #3498db;
}

#monitoramento.obra .barra .geral .red {
    color: #e74c3c;
}

#monitoramento.obra .barra .geral .orange {
    color: #e67e22;
}

#monitoramento.obra .barra .geral .yellow {
    color: #f1c40f;
}

#monitoramento.obra .barra .geral .dados-obra li.data {
    display: inline-block;
    color: #ECF0F1;
}

#monitoramento.obra .barra .geral .dados-obra li.result {
    display: block;
    margin-left: 58px;
    text-align: left;
    width: 100%;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar {
    background: white;
    display: inline-block;
    height: 10px;
    width: 125px;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar > .progress {
    background: #3498db;
    height: 10px;
    @include border-radius(0);
}

#monitoramento.obra .follows  {
    overflow: hidden;
    color: white;
    /* @include background-image(linear-gradient(#383838,#222222));*/
}

#monitoramento.obra .follows li {
    float: left;
    border-right: 2px solid #ddd;
    padding: 5px 0px;
    color: black;
}

#monitoramento.obra .follows li:last-child {
    border: 0 none;
}

#monitoramento.obra .follows.follows-fixed {
    max-width: 1170px;
    position: fixed;
    top: 45px;
    width: 100%;
    z-index: 9999;
}

#monitoramento.obra .seguidores {
    font-size: 12pt;
    line-height: 12pt;
    margin-top: 7px;
}

#monitoramento.obra .seguidores small {
    display: block;
    clear: both;
    font-size: 8pt;
}

#monitoramento.obra .countdown {
    font-size: 10pt;
    line-height: 25pt;
    padding: 5px;
}

#monitoramento.obra .countdown span {
    color: $red;
    font-size: large;
    font-weight: 600;
    padding: 0 2px;
}

#monitoramento.obra .follows h4 {
    font-weight: 400;
    float: left;
    margin-right: 20px;
}


#monitoramento.obra .follows .acesso {
    margin-top: 9px;
}

#monitoramento.obra .desc {
    color: white;
    display: inline-block;
    padding: 0 0 0 20px;
}

#monitoramento.obra .stick p.desc {
    color: black;
    text-align: left;
    width: 300px;
}

#monitoramento.obra img.mapa {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

#monitoramento.obra .info {
    padding: 20px;
}

#monitoramento.obra .info-dados {
    text-align: left;
}

#monitoramento.obra .separador {
  border: 2px solid #ddd;
  margin: 20px;
}

#monitoramento.obra .info strong {
    clear: both;
    display: block;
}

#monitoramento .valor,
#monitoramento .previsao,
#monitoramento .andamento {
    text-align: left;
    margin: 10px 40px;
}

#monitoramento.obra h3 {
    text-align: center;
}

#monitoramento.obra .code img {
    margin-top: 10px;
}

#monitoramento.obra .dashboard {
    padding-bottom: 10px;
    background: #c0392b;
}


#monitoramento.obra .dashboard > h3 {
    font-size: 19pt;
    text-align: center;
    color: black;
    margin: 0;
}

#monitoramento.obra .dashboard > table {
    width: 320px;
    margin: 0 auto;
}

#monitoramento.obra .dashboard > table  td {
    text-align: center;
    padding-top: 5px;
}

#monitoramento.obra .dashboard h2 {
    margin-top: 10px;
}

#monitoramento.obra .dashboard small {
    display: block;
    clear: both;
    margin-bottom: 20px;
}

#monitoramento.obra .govresp {
    background: #2ecc71;
    overflow: hidden;
}

#monitoramento.obra .govresp .content {
    color: #2c3e50;
    padding: 10px;
    margin: 0;
    font-weight: 400;
    padding: 10px 28px;
    width: 55%;
}

#monitoramento.obra .govresp .video {
    width: 45%;
    float: right;
}

#monitoramento.obra .primeiro {
    background: none repeat scroll 0 0 black;
    color: white;
}

#monitoramento.obra .primeiro > p {
    padding: 10px 20px 0;
}


#monitoramento.obra .primeiro .info-meta ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    color: black;
}

#monitoramento.obra .status, #monitoramento.obra .update {
    background: #FFF;
    margin-bottom: 20px;
    @include box-shadow(#aaaaaa 0px 0px 3px 0px);
}

#monitoramento.obra .status p, #monitoramento.obra .updates p {
    margin-top: 10px;
    padding: 0 10px;
    text-align: left;
}

#monitoramento.obra p.content {
    padding-top: 10px;
}

#monitoramento.obra .fiscalize {
    text-align: left;
}

#monitoramento.obra .comente {
    padding-left: 20px;
    margin: 10px 0;
    display: none;
}

#monitoramento.obra .comente h3 {
    margin-bottom: 10px;
    margin-left: -20px;
    text-align: left;
}


#monitoramento.obra .info-meta {
    clear: both;
    display: block;
    font-size: 9pt;
    text-align: right;
}

#monitoramento.obra .info-meta ul {
  border-top: 1px solid #ddd;
}

#monitoramento.obra .info-meta ul li {
    display: inline-block;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
}

#monitoramento.obra .updates .data {
    color: #aaa;
    font-size: 10pt;
    font-weight: 600;
}

#monitoramento.obra .updates {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#monitoramento.obra .update {
    border-bottom: 2px solid #DDD;
    margin-bottom: 20px;
}

#monitoramento.obra .update > img {
    float: left;
    margin-right: 20px;
}

#monitoramento .voltar {
    border: 2px solid #ddd;
    background: url(../img/monitoramento/obras.png) no-repeat center white;
    width: 70px;
    height: 70px;
    display: none;
    @include border-radius(5px);
}

.form-footer{
    width:100%;
    margin-top:15px;
    text-align: right;
}
