.monitoramento .tweets {
    margin-top: 30px;
}

.monitoramento section {
    padding-top: 90px;
}

#monitoramento {
    border-top: 2px solid #bdc3c7;
    padding-top: 20px;
}

#monitoramento .container {
    overflow: hidden;
}

#monitoramento.capa {
    background: url(../img/monitoramento/mapa.png);
}

#monitoramento.obra {
    background: #ecf0f1;
}

#monitoramento .painel {
    background: #FFF;
    margin-top: 20px;
    @include border-radius(13px 13px 0 0);
    @include box-shadow(#7f8c8d 0px 5px 7px 0px);
}

#monitoramento .meio {
    margin-top: 0px;
    @include border-radius(0);
}

#monitoramento.capa h1 {
    font-weight: 300;
    display: inline-block;
    font-weight: 300;
    padding: 20px;
    text-align: center;
}

#monitoramento.capa h1 > span {
    font-size: 41pt;
    margin-bottom: 10px;
}

#monitoramento.capa h1 > strong {
    color: $red;
    font-size: 35pt;
    font-weight: 500;
}

#monitoramento.capa .slider {
    background-color: #34495e;
    display: block;
    width: 100%;
    height: 200px;
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    color: #fff;
    float: left;
    overflow: hidden;
}

#monitoramento.capa .carousel-inner > .item > img,
#monitoramento.capa .carousel-inner > .item > a > img {
    float: left;
    margin-right: 20px;
}

#monitoramento.capa .carousel-inner h4 {
    margin: 0;
}

#monitoramento.capa .carousel-inner .content {
    padding-top: 20px;
}

#monitoramento .painel h2,
#monitoramento .painel h3 {
  font-weight: 300;
  margin: 10px;
  text-align: left;
}

#monitoramento .painel ul, #monitoramento .painel ol {
    margin: 0;
    padding: 0;
}

#monitoramento li.dark {
    background: #eee;
}

#monitoramento li.light {
    background: #fff;
}

#monitoramento li {
    list-style: none;
}

#monitoramento .lista-obras li {
    overflow: auto;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#monitoramento .lista-obras li > h4  {
    margin: 0;
}

#monitoramento .lista-obras .meta-obra {
    float: left;
    text-align: center;
    margin-right: 20px;
}

#monitoramento .lista-obras .meta-obra img {
    display: block;
    clear: both;
}

#monitoramento .lista-obras .meta-obra a {
    margin-top: 10px;
    width: 134px;
}

#monitoramento .lista-obras p {
    display: table;
}

#monitoramento .instrucoes li {
    border-bottom: 1px dashed #CCCCCC;
    margin-top: 20px;
    overflow: auto;
    padding-bottom: 20px;
 }

#monitoramento .instrucoes li:last-child {
    border: none;
}

#monitoramento .instrucoes span {
    color: #CCCCCC;
    display: block;
    float: left;
    font-size: 30pt;
    padding-right: 20px;
    padding-top: 9px;
}

#monitoramento .instrucoes p {
    display: list-item;
    margin: 0 0 10px;
    padding-left: 40px;
    padding-right: 20px;
}

#monitoramento .numeros {
    color: #2c3e50;
    text-align: center;
    font-size: 26pt;
    padding-top: 70px;
    font-weight: 200;
}

#monitoramento .numeros li {
    display: inline-block;
    margin-right: 20px;
}

#monitoramento .numeros span {
    display: block;
    font-size: 10pt;
    padding-top: 15px;
    font-weight: 600;
}

/* Páginad da Obra */
#monitoramento.obra h1 {
    background: none repeat scroll 0 0 #7F8C8D;
    color: white;
    font-size: 18pt;
    font-weight: 900;
    padding: 0 16px;
    text-align: right;
    text-transform: lowercase;
}

#monitoramento.obra .header {
    background: #34495e;
}

#monitoramento.obra .head h2 {
    color: white;
    font-size: 38pt;
    font-weight: 200;
    padding: 20px;
}

#monitoramento.obra .head > a {
    float: left;
    padding: 10px;
}

#monitoramento.obra .mapa img {
}

#monitoramento.obra .barra {
    background: #2c3e50;
    color: white;
    padding: 10px 0;
}

#monitoramento.obra .barra .geral,
#monitoramento.obra .barra .dados-obra, {
    margin: 0;
    padding: 0;
}

#monitoramento.obra .barra .geral li.field:first-child {
   border: none;
}

#monitoramento.obra .barra .geral li.field {
    border-left: 3px solid #34495E;
    float: left;
    margin-right: 15px;
}

#monitoramento.obra .barra .geral li.icon {
    float: left;
    margin: 0 5px;
}

#monitoramento.obra .barra .geral span.circle {
    display: block;
    @include border-radius(100%);
    padding: 10px;
}

#monitoramento.obra .barra .geral .green {
    color: #2ecc71;
}

#monitoramento.obra .barra .geral .blue {
    color: #3498db;
}

#monitoramento.obra .barra .geral .red {
    color: #e74c3c;
}

#monitoramento.obra .barra .geral .orange {
    color: #e67e22;
}

#monitoramento.obra .barra .geral .yellow {
    color: #f1c40f;
}

#monitoramento.obra .barra .geral .dados-obra li.data {
    display: inline-block;
    color: #ECF0F1;
}

#monitoramento.obra .barra .geral .dados-obra li.result {
    display: block;
    margin-left: 58px;
    text-align: left;
    width: 100%;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar {
    background: white;
    display: inline-block;
    height: 10px;
    width: 100px;
}

#monitoramento.obra .barra .geral .dados-obra div.progressbar > .progress {
    background: #3498db;
    height: 10px;
    @include border-radius(0);
}

#monitoramento.obra .barra a .more {
    color: white;
}

#monitoramento.obra .barra .more {
    background: #1ABC9C;
    @include border-radius(6px);
    float: right;
    height: 26px;
    text-align: center;
    width: 32px;
    margin: 10px 0 10px 15px;
    font-size: 20pt;
    font-weight: bold;
    line-height: 17pt;
}

#monitoramento.obra .head .content {
    color: white;
    display: inline-block;
    padding: 0 0 0 20px;
}

#monitoramento.obra .follow {
    text-align: center;
}

#monitoramento.obra .follow p.desc {
    color: black;
    text-align: left;
    width: 300px;
}

#monitoramento.obra .follow .social {
    display: inline-block;
    margin-bottom: 15px;
}

#monitoramento.obra .follow .social li {
    display: inline-block;
    margin-right: 10px;
}

#seguirobraform .main-follow a:hover{
    text-decoration: none;
}

#seguirobraform .main-follow a i.face ,
#monitoramento.obra .follow i.face {
    color: #34495e;
}

#seguirobraform .main-follow a i.twit ,
#monitoramento.obra .follow i.twit {
    color: #3498db;
}

#seguirobraform .main-follow a i.email ,
#monitoramento.obra .follow i.email {
    color: #e74c3c;
}

#monitoramento.obra img.mapa {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

#monitoramento.obra .info {
    padding-left: 20px;
}

#monitoramento.obra .botoesparticipar {
    background: #e74c3c;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 20px;
}

#monitoramento.obra .botoesparticipar a {
    display: block;
    padding: 0 10px;
    color: white;
    height: 70px;
    border-bottom: 2px solid #c0392b;
    text-decoration: none;
    overflow: hidden;
}

#monitoramento.obra .botoesparticipar a:last-child {
    border: none;
}

#monitoramento.obra .botoesparticipar .funcao {
    font-weight: 200;
    font-size: 32px;
    line-height: 65px;
    position: relative;
}

#monitoramento.obra .botoesparticipar div.help-text {
     margin-left: 240px;
     margin-top: -50px;
     white-space: nowrap
}

#monitoramento.obra .botoesparticipar a > i {
    float: left;
    line-height: 65px;
    margin-right: 20px;
    color: #34495e;
}


#monitoramento.obra .separador {
  border: 2px solid #ddd;
  margin: 20px;
}

#monitoramento.obra .info strong {
    clear: both;
    display: block;
}

#monitoramento.obra h3 {
    text-align: center;
}

#monitoramento.obra .code {
    text-align: center;
}

#monitoramento.obra .code img {
    margin-top: 10px;
}

#monitoramento.obra .nossodados,
#monitoramento.obra .acesso {
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

#monitoramento.obra .nossodados p.desc {
    text-align: left;
}

#monitoramento.obra .api,
#monitoramento.obra .xml {
    color: white;
    font-weight: bold;
    padding: 0px 4px;
    font-size: 11pt;
}

#monitoramento.obra .nossodados a:hover {
    text-decoration: none;
}

#monitoramento.obra .api {
    background: #27ae60;
}

#monitoramento.obra .xml {
    background: #e67e22;
}


#monitoramento.obra .updates > p {
    color: #F1C40F;
    float: left;
    font-size: 14pt;
    font-style: italic;
    font-weight: 600;
    margin-left: 36px;
    margin-top: 15px;
    position: absolute;
}

#monitoramento.obra .govresp {
    background: #F1C40F;
    overflow: hidden;
    display: block;
    width: 800px;
    margin: 0 auto;
}

#monitoramento.obra .govresp .content {
    margin: 0;
    font-weight: 400;
    width: 435px;
}

#monitoramento.obra .govresp .content-full {
    margin: 0;
    font-weight: 400;
    width: 100%;
}

#monitoramento.obra .govresp .content .text {
    margin-top: 20px;
    padding: 10px;
}

#monitoramento.obra .govresp .cal {
    background: url(../img/monitoramento/calendar.png) no-repeat;
    float: left;
    height: 67px;
    margin: 10px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #2C3E50;
}

#monitoramento.obra .govresp .cal .dia {
    font-size: 20pt;
    font-weight: 600;
    margin-top: 20px;
}

#monitoramento.obra .govresp .cal .mes {
    margin-top: 2px;
}

#monitoramento.obra .updates .govresp h2 {
    color: #2c3e50;
    font-size: 23pt;
}

#monitoramento.obra .updates .govresp.remote > h2 {
    margin-left: 10px;
}

#monitoramento.obra .govresp .content .data {
    font-size: 15pt;
    font-weight: 200;
    margin-bottom: 18px;
    margin-top: -5px;
}

#monitoramento.obra .govresp .video {
    width: 435px;
    float: right;
    padding: 10px;
}

#monitoramento.obra .comofunciona,
#monitoramento.obra .comofunciona.fechado {
    background: #16A085;
    height: 60px;
    overflow: hidden;
    text-align: center;
 }

#monitoramento.obra .comofunciona h2 {
    margin: 0;
    color: #FFF;
    padding: 10px 20px;
    margin: 0;
    font-weight: 200;
}

#monitoramento.obra .comofunciona .cmore {
    color: white;
    font-size: 20pt;
    margin-top: -40px;
    margin-right: 20px;
    float: right;
    background: #1abc9c;
    width: 32px;
    height: 26px;
    font-weight: bold;
    line-height: 17pt;
    display: block;
    @include border-radius(6px);
}

#monitoramento.obra .comofunciona.aberto {
    height: 600px;
}

#monitoramento.obra .comofunciona .content {
  padding: 10px 20px;
}

#monitoramento.obra .primeiro {
    background: none repeat scroll 0 0 black;
    color: white;
}

#monitoramento.obra .primeiro > p {
    padding: 10px 20px 0;
}


#monitoramento.obra .primeiro .info-meta ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    color: black;
}

#monitoramento.obra p.content {
    padding-top: 10px;
}

#monitoramento.obra .fiscalize {
    text-align: left;
}

#monitoramento.obra .comente {
    padding-left: 20px;
    margin: 10px 0;
    display: none;
}

#monitoramento.obra .comente h3 {
    margin-bottom: 10px;
    margin-left: -20px;
    text-align: left;
}


#monitoramento.obra .info-meta {
    clear: both;
    display: block;
    font-size: 9pt;
    text-align: right;
}

#monitoramento.obra .info-meta ul {
  border-top: 1px solid #ddd;
}

#monitoramento.obra .info-meta ul li {
    display: inline-block;
    padding: 3px 10px;
    border-right: 1px solid #ccc;
}

#monitoramento.obra .stage {
    background: #34495e;
}

#monitoramento.obra .updates {
    background: #2c3e50;
    padding: 10px;
    padding-bottom: 100px;
    overflow: hidden;
}

#monitoramento.obra .updates h2 {
    color: #f1c40f;
    margin: 0;
    padding: 10px 0;
}

#monitoramento.obra .timeline {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 80px;
    overflow: hidden;
}

#monitoramento.obra .line {
    background: #F1C40F;
    height: 100%;
    left: 49.8%;
    position: absolute;
    width: 4px;
}

#monitoramento.obra .voltar {
   margin-bottom: 20px;
   color: white;
   font-size: 12pt;
}

#monitoramento.obra .voltar i {
  margin-right: 10px;
}

#monitoramento.obra .update {
    padding: 10px;
    color: white;
    text-align: left;
    width: 350px;
    display: block;
    float: left;
    margin-top: 50px;
    margin-bottom: -20px;
}

#monitoramento.obra .update.direita {
    margin-top: 120px;
}

#monitoramento.obra .unico .update {
    width: 100%;
    margin-top: 0;
    @include box-sizing(border-box);
}

#monitoramento.obra .update h4 {
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 0px;
}

#monitoramento.obra .update .seta.direita,
#monitoramento.obra .update .seta.esquerda {
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    height: 0;
    width: 0;
    margin-top: 15px;
}

#monitoramento.obra .update .seta.esquerda {
    float: right;
}

#monitoramento.obra .update .seta.direita {
    float: left;
}

#monitoramento.obra .update.aside .seta.esquerda {
    border-left: 15px solid #95a5a6;
    margin-right: -25px;
}

#monitoramento.obra .update.aside .seta.direita {
    border-right: 15px solid #95a5a6;
    margin-left: -25px;
}

#monitoramento.obra .update.image .seta.esquerda {
    border-left: 15px solid #2ecc71;
    margin-right: -25px;
}

#monitoramento.obra .update.image .seta.direita {
    border-right: 15px solid #2ecc71;
    margin-left: -25px;
}

#monitoramento.obra .update.video .seta.esquerda {
    border-left: 15px solid #e74c3c;
    margin-right: -25px;
}

#monitoramento.obra .update.video .seta.direita {
    border-right: 15px solid #e74c3c;
    margin-left: -25px;
}

#monitoramento.obra .update.link .seta.esquerda {
    border-left: 15px solid #f39c12;
    margin-right: -25px;
}

#monitoramento.obra .update.link .seta.direita {
    border-right: 15px solid #f39c12;
    margin-left: -25px;
}

#monitoramento.obra .update .content {
    margin-bottom: 20px;
}

#monitoramento.obra .update.aside {
    background: #95a5a6;
}

#monitoramento.obra .update.video {
    background: #e74c3c;
}

#monitoramento.obra .update.image {
    background: #2ecc71;
}

#monitoramento.obra .update.link {
    background: #f39c12;
}

#monitoramento.obra .update.link a {
    color: white;
    text-decoration: underline;
}

#monitoramento.obra .update .user a,
#monitoramento.obra .update .user {
    color: #2c3e50;
    margin-bottom: 20px;
}

#monitoramento.obra .update .seta .mark {
    background: #2C3E50;
    display: block;
    height: 15px;
    margin-top: -18px;
    padding-top: 21px;
    width: 4px;
}

#monitoramento.obra .update .seta.esquerda .mark {
    margin-left: 13px;
}

#monitoramento.obra .update .seta.direita .mark {
    margin-left: -17px;
}

#monitoramento.obra .update .seta  .dot {
    background: #F1C40F;
    width: 9px;
    height: 9px;
    margin-top: -8px;
    display: block;
    margin-left: -3px;
}

#monitoramento.obra .update .participe {
    border-top: 5px solid #2c3e50;
    font-weight: bold;
    margin: 0 -10px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15pt;
}

#monitoramento.obra .update .participe p {
    margin: 3px 0 0;
    display: inline-block;
}

#monitoramento.obra .update .participe a {
    color: #2c3e50;
    display: inline-block;
    margin-left: 6px;
    text-decoration: none;
}

#monitoramento.obra .update .participe .like {
    display: inline-block;
}

#monitoramento .suplementar {
    color: white;
    border-top: 4px solid #27ae60;
}

#monitoramento .suplementar h2 {
    font-weight: 400;
    color: #27ae60;
    text-align: left;
    margin: 10px 20px;
}

#monitoramento .suplementar .help {
    padding: 10px 20px;
}

#monitoramento .suplementar label {
    color: #2ecc71;
    font-size: 14pt;
}

#monitoramento .suplementar .space textarea {
    font-size: 13pt;
    height: 190px;
    width: 100%;
}

#monitoramento .suplementar #part-geral > input {
    width: 100%;
    font-size: 13pt;
    margin-bottom: 20px;
}

#monitoramento .suplementar .anexos {
    margin: 20px 0;
    text-align: center;
}

#monitoramento .suplementar .anexos a {
    color: white;
    display: inline-block;
    width: 140px;
    text-decoration: none;
    margin-left: 20px;
}

#monitoramento .suplementar .anexos .help-block {
    color: white;
    font-style: italic;
}

#monitoramento .suplementar .anexos a:hover {
    text-decoration: none;
}

#monitoramento .suplementar .anexos a > i {
    color: #2ecc71;
    background:#2C3E50;
    padding: 10px;
    float: left;
    @include border-radius(100%);
}

#monitoramento .suplementar .anexos a > p {
    margin-left: 50px;
    text-align: left;
}

#monitoramento .suplementar .space {
    padding: 10px 20px;
}

#monitoramento .suplementar .btn-group {
    display: block;
    clear: both;
    margin: 20px 0;
}

#monitoramento .suplementar .foto,
#monitoramento .suplementar .video {
  margin-top: 10px;
  text-align: left;
}

#monitoramento .suplementar .semCadastro,
#monitoramento .suplementar .comCadastro {
  background: #2c3e50;
  padding: 20px;
  margin-bottom: 10px;
}

#monitoramento .suplementar .resposta {
  margin-bottom: 20px;
}

#monitoramento .suplementar big {
  font-weight: 400;
  font-size: 20pt;
}

.form-footer{
    width:100%;
    margin-top:15px;
    text-align: right;
}

.main-follow{
    text-align: center;
}

.main-follow a{
    margin-left: 10px;
}

.follow{
    margin-top: 20px;
}


#monitoramento.obra .vote {
    /*border: 1px solid red;*/
    width: 50px;
}

.vote .score {
    font-size: 13pt;
    font-weight: bold;
}

.more-content.fechado {
    color: #FFFFFF;
    height: 0;
    overflow: hidden;
    padding: 0 30px;
}

.more-content.aberto {
    color: #FFFFFF;
    height: auto;
    overflow: hidden;
    padding: 10px 30px;
}

.acessso {
    text-align: center;
    padding-bottom: 20px;
}

#monitoramento .api-content {
    color: white;
    border-top: 4px solid #27ae60;
}

#monitoramento .api-content h2,
#monitoramento .api-content h3 {
    color: #27ae60;
    text-align: left;
    margin: 10px 20px;
}

#monitoramento .api-content h2 {
    font-weight: 400;
}

#monitoramento .api-content h3 {
    font-weight: 200;
}

#monitoramento .api-content p,
#monitoramento .api-content dl{
    padding: 10px 20px;
}

#monitoramento .api-content blockquote{
    margin-left: 20px;
}

#monitoramento .api-content .close {
    float: right;
    font-size: 16pt;
    font-weight: bold;
    height: 26px;
    line-height: 17pt;
    text-align: center;
    margin-right: 28px;
    margin-bottom: 28px;

}
