#container .head {
    border-bottom: 1px solid #999;
}

#container #logo h1 {
    background:url("../imgs/govresponde.png") no-repeat;
    overflow: hidden;
    width:230px;
    height:77px;
    margin: 30px auto 0;
}

#container #logo a {
    padding-top:80px;
    display:block;
}

#container .head .menu {
    padding:50px 0pt 98px 45px;
}

#container .head .menu li {
    display:inline;
    float:left;
    margin-right:70px;
    font-size:12pt;
}

#container .head .menu li:hover {
    border-bottom:solid 2px #333;
}

#container .head .menu li.last {
    margin-right:0;
}

#container .head .menu li.last:hover {
    border-bottom:0;
}

#container .head .menu li .awesome {
    background-color:darkred;
    color:#fff;
}

#container .head .menu li .awesome:hover {
    background-color:red;
}

#container .head .menu a {
    color:#333;
}

#container {
    margin-bottom:40px;
}

#container .answerlink {
    margin-top:20px;
    clear:both;
}

a.otherquestions {
    display:block;
    margin-top:10px;
    background:url("../imgs/others.png") no-repeat;
    padding-left:20px;
    clear:both;
}

p.desc {
    color:#666;
}


/* -- sidebar -- */

.sidebar {
    padding:10px;
}

.sidebar form.search {
    margin-bottom:20px;
}

.sidebar form.search input {
    border:solid 1px #999;
    padding:4px;
}

.sidebar form.search .text {
    width:160px;
}

.sidebar form.search .button {
    padding:3px 5px;
}

.sidebar dt {
    color:#a00;
    font-size:12pt;
    margin:10px 0 10px 0;
}

.sidebar dd {
    margin-left:20px;
}

.sidebar dd.choosen {
    font-weight:bold;
}

.sidebar dd a {
    color:#000;
}

.rcolumn {
    padding:20px 10px 10px 40px;
    border-left:dotted 1px #aaa;
    min-height:220px;
}

.rcolumn h2 {
    color:#a00;
    margin-bottom:10px;
}

/* -- highlight -- */

.highlight .bigger a.otherquestions {
    margin-left:480px;
}

.highlight h3 {
    margin-bottom:10px;
    font-size:14pt;
}

.highlight .video {
    width:470px;
    height:280px;
    background:#000;
    float:left;
    margin-right:10px;
    margin-bottom:20px;
}

.highlight li {
    padding:0 0 30px 0;
    clear:both;
}

.highlight .video {
    width:250px;
    height:112px;
    border:solid 1px #999;
    float:left;
    margin-right:10px;
}

.highlight .title {
    font-size:12pt;
    margin:10px 0;
}

.highlight .date {
    font-size:12pt;
    float:left;
    margin:0 10px 0 0 !important;
}

.highlight .content {
    margin:10px 0 0 0 !important;
}

.highlight .content p {
    margin-bottom:10px;
}

.highlight h4 { clear:both; margin:20px 0; }

/* -- send question -- */
form#send label {
    display:block;
    font-size:12pt;
    margin:15px 0 5px;
}

form#send select {
    width:390px;
}

form#send input, form#send textarea {
    width:380px;
}

form#send textarea {
    height:100px;
}

form#send .sendbtn {
    margin-top:20px;
}

form#send .helptext {
    margin-right:250px;
}

/* -- questions screen -- */
.questions #orderby {
    float:right;
}

.questions ul li {
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:dotted 1px #ccc;
}

.questions.single strong.title {
    display:none;
}

.questions strong.title a {
    color:#000;
}

.questions li strong {
    font-size:10pt;
    margin:10px 0;
}

.questions .date {
    color:#666;
    margin:10px 0;
}

.questions .addthis_toolbox {
    height:20px;
}

.questions .votes {
    width:80px;
    text-align:center;
    float:left;
    margin-right:20px;
    padding-top:10px;
}

.questions button {
    margin-bottom:10px;
}

.questions .votes strong {
    font-size:30px;
    line-height:10px;
}

.questions .alreadyvoted {
    color:#666;
    display:block;
    margin-bottom:10px;
}

.questions .content {
    margin-left:100px;
}

.questions .aggregated {
    margin:10px 10px 0 40px;
    display:none;
}

.questions .aggregated li {
    padding-bottom:20px;
    margin-bottom:10px;
}

.questions ol.pagination {
    padding-bottom:25px;
    text-align:right;
}

.questions ol.pagination li {
    float:left;
    margin-right:10px;
    width:10px;
}

.questions ol.pagination li.selected {
    border-bottom:solid 2px #999;
}

.questions #filterform {
    float:right;
}

/* -- como funciona -- */
.comofunciona p {
    margin:10px 0;
}


/* -- result page -- */
.rcolumn.result {
    padding:20px 40px;
    font-size:12px;
}

.resultpage .videobox {
    margin:10px 0;
    width:100%;
    background:#000;
    text-align:center;
}

.resultpage .videobox .video-js-box {
    margin:0 auto;
}

.resultpage h3 {
    margin:18px 0;
}

.resultpage .question div,
.resultpage .answer div {
    padding-left:20px;
}

.resultpage .referrals {
    padding-top:40px;
}

.resultpage .referrals ul {
    padding-left:20px;
}

.resultpage .referrals ul li {
    margin-bottom:25px;
}

.resultpage .referrals ul li h4 {
    margin-bottom:5px;
}
