#container .head {
    background: url("../imgs/top.png") no-repeat bottom;
}

#container #logo h1 {
    background:url("../imgs/govresponde.png") no-repeat;
    overflow: hidden;
    width:230px;
    height:77px;
    margin: 30px auto 0;
}

#container #logo a {
    padding-top:80px;
    display:block;
}

#container .head .menu {
    padding:50px 0pt 98px 45px;
}

#container .head .menu li a {
    display:inline;
    float:left;
    margin-right:30px;
    font-size:12pt;
    padding-top: 51px;
}

#container .head .menu li.comofunciona a {
    background: url("../imgs/comofunciona.png") no-repeat 35px top;
    color: #008dc4;
}

#container .head .menu li.respostasgov a { 
    background: url("../imgs/respostasgov.png") no-repeat center top;
    color: #fe6200;
}

#container .head .menu li.envie a {
    background: url("../imgs/envie.png") no-repeat center top;
    color: #c00000;
}

#container .head .menu li a:hover {
    margin-top: 5px;
}


#container .head .menu a {
    color:#333;
}

#container {
    margin-bottom:40px;
}

#container .answerlink {
    margin-top:20px;
    clear:both;
    width: 412px;
}

#container .answerlink .encaminhamento, .referrals .encaminhamento {
    font-size: 16px;
    color: #563a11;
    background: url("../imgs/encaminhamento.png") no-repeat left;
    padding-left: 20px;
}

a.otherquestions {
    display:block;
    background:url("../imgs/others.png") no-repeat left;
    padding-left:20px;
    clear:both;
    float: right;
    font-size: 16px;
}

p.desc {
    color:#000;
}


/* -- sidebar -- */

.sidebar {
    padding:10px;
}

.sidebar form.search {
    margin-bottom:20px;
}

.sidebar form.search input {
    border:solid 1px #999;
    padding:4px;
}

.sidebar form.search .text {
    width:160px;
}

.sidebar form.search .button {
    padding:3px 5px;
}

.sidebar dt {
    color: #4f9700;
    font-size:12pt;
    margin:10px 0 10px 0;
}

.sidebar dt.section {
    background: url("../imgs/vote.png") no-repeat;
    height: 41px;
    padding-left: 53px;
}

.sidebar dd {
    margin-left:20px;
    background: url("../imgs/lista.png") no-repeat 0 center;
    margin-top: 5px;
    padding-left: 8px;
}

.sidebar dd.choosen {
    font-weight:bold;
}

.sidebar dd a {
    color:#000;
}

.sidebar dd a:hover {
    text-decoration: underline;
}

.rcolumn {
    padding:20px 10px 10px 40px;
    border-left:dotted 1px #aaa;
    min-height:220px;
}

.rcolumn h2 {
    color:#a00;
    margin-bottom:10px;
    display: block;
    height: 49px;otot
}

/* -- highlight -- */

.highlight .bigger a.otherquestions {
    margin-left:480px;
}

.highlight h3 {
    margin-bottom:10px;
    font-size:14pt;
    color: #969a9c;
    font-weight: normal;
}

.highlight .video {
    width:470px;
    height:280px;
    background:#000;
    float:left;
    margin-right:10px;
    margin-bottom:20px;
}

.highlight li {
    padding:0 0 30px 0;
    clear:both;
}

.highlight .video {
    width:300px;
    height:190px;
    border:solid 1px #999;
    float: right;
    margin-top:10px;
}

.highlight .date {
    float:left;
    margin:0 10px 0 0 !important;
    height: 90px;
    color: #a40000;
    text-align: center;
    line-height: 28px;
}

.highlight .date .dia {
    font-size: 40px;
}

.highlight .date .mes {
    font-size: 23px;
}

.highlight .date .ano {
    font-size: 20px;
}

.highlight .caso {
    background-color: #FF861D;
    border-radius: 32px 0 32px 0;
    float: right;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
}

.highlight .pergunta {
    margin-bottom: 20px;
    background-color: #2da7d3;
    border-radius: 0px 32px;
    padding: 20px;
    width: 80%;

}

.highlight .caso h5 {
    color: #FFF;
    font-size: 21px;
    font-weight: normal;
    margin-top: 9px;
    }

.highlight .pergunta h5 {
    color: #FFF;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 9px;
    }

.highlight .content p {
    margin-bottom:10px;
}

.highlight h4 { clear:both; margin:20px 0; }

.highlight li.first .videobox {
    margin:10px 0;
    width:100%;
    background:#000;
    text-align:center;
}

.highlight li.first .videobox .video-js-box {
    margin:0 auto;
}


/* -- send question -- */
form#send label {
    display:block;
    font-size:12pt;
    margin:15px 0 5px;
}

form#send select {
    width:390px;
}

form#send input, form#send textarea {
    width:380px;
}

form#send textarea {
    height:100px;
}

form#send .sendbtn {
    margin-top:20px;
}

form#send .helptext {
    margin-right:250px;
}

/* -- questions screen -- */

.questions .head {
    display: block;
    margin-bottom: 20px;
    height: 34px;
}

h1.questions {
    float: left;
}

.questions #orderby {
    float:right;
}

.questions ul li {
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:dotted 1px #ccc;
}

.questions .title {
    font-size:12pt;
    font-weight:bold;
    margin:10px 0;
    color:#000;
    display:block;
    height: 49px;
}

.questions .date {
    margin:10px 0;
}

.questions .content .balloon {
    background: #2da7d3;
    border-radius: 13px;
    padding: 12px 14px;
}

.questions .addthis_toolbox {
    height:20px;
}

.questions .votes {
    width: 92px;
    text-align:center;
    float:left;
    padding-top: 33px;
    background: url("../imgs/circle.png") no-repeat scroll 0 0 transparent;
    height: 92px;
    color: #93b937;
}

.questions button {
    margin-bottom:10px;
    float: right;
}

.questions .votes strong {
    font-size:20px;
    line-height:10px;
}

.questions .alreadyvoted {
    color:#666;
    display:block;
    margin-bottom:10px;
}

.questions .content {
    margin-left:100px;
}

.questions .aggregated {
    margin:10px 10px 0 40px;
    display:none;
}

.questions .aggregated li {
    padding-bottom:20px;
    margin-bottom:10px;
}

.questions ol.pagination {
    padding-bottom:25px;
    text-align:right;
}

.questions ol.pagination li {
    float:left;
    margin-right:10px;
    width:10px;
}

.questions ol.pagination li.selected {
    border-bottom:solid 2px #999;
}

.questions #filterform {
    float:right;
}

/* -- como funciona -- */
.comofunciona p {
    margin:10px 0;
}


/* -- result page -- */
.rcolumn.result {
    padding:20px 40px;
    font-size:12px;
}

h1.respgov {
    background: url("../imgs/respostasgov.png") no-repeat scroll center left transparent;
    color: #FE6200;
    height: 50px;
    padding-left: 68px;
    padding-top: 3px;
}

h3.respgov {
    font-size: 22px;
    color: black;
}

.questions .qdate {
    margin-left: 40px;
    color: #969a9c;
    font-weight: normal;
}

.respgov_balao {
    background-color: #2da7d3;
    border-radius: 32px 32px 32px 0px;
    padding: 20px 20px 0;
    text-align: justify;
    width: 300px;
    float: left;
    height: 173px;
    margin-top: 10px;
}

.respgov_balao h4 {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 9px;    
}

.respgov_balao a {
    color: #FFF;
}

.video .thumb {
    height: 190px;
    margin-bottom: 10px;
    width: 300px;    
}

.video .container {
    height: 190px;
    overflow: hidden;
}

.video .play {
    height: 50px;
    margin-left: 125px;
    margin-top: -76px;
    position: relative;
    top: -94px;
    width: 50px;
}

.video .permalink {
    left: 277px;
    position: relative;
    top: -25px;
}

.resultpage .videobox {
    margin:10px 0;
    width:100%;
    background:#000;
    text-align:center;
    margin-top: 10px;
}

.resultpage .videobox .video-js-box {
    margin:0 auto;
}

/* .resultpage h3 { */
/*     margin:18px 0; */
/* } */

.resultpage .question div,
.resultpage .answer div {
    padding-left:20px;
}

.resultpage .referrals {
    padding-top:40px;
}

.resultpage .referrals ul {
    padding-left:20px;
}

.resultpage .referrals ul li {
    margin-bottom:25px;
}

.resultpage .referrals ul li h4 {
    margin-bottom:5px;
}
