#monitoramento {
    border-top: 2px solid #DDD;
    background: url(../img/monitoramento/mapa.png) no-repeat;
    padding-top: 20px;
}

#monitoramento .painel {
    background: white;
    @include box-shadow(rgba(0,0,0,0.40) 0px 0px 3px 0px);
}

#monitoramento .painel h4 {
    font-weight: 300;
    padding-left: 10px;
}

#monitoramento .icons {
    padding: 10px;
    text-align: right;
}
