{% extends "govresponde.html" %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/govresponde.js') }}"></script>
{% endblock %}

{% block lcolumn %}

<h1 class="cfunciona">Comum funciona?</h1>

<div id="slideshow">
  <ul class="carousel">
    <li>
      <div id="step1" class="slide">
        <img src="{{ url_for('.static', filename='imgs/cf01.png') }}" />
      </div>
    </li>
    <li>
      <div id="step2" class="slide">
        <img src="{{ url_for('.static', filename='imgs/cf02.png') }}" />
      </div>
    </li>
    <li>
      <div id="step3" class="slide">
        <img src="{{ url_for('.static', filename='imgs/cf03.png') }}" />
      </div>
    </li>
    <li>
      <div id="step4" class="slide">
        <img src="{{ url_for('.static', filename='imgs/cf04.png') }}" />
      </div>
    </li>
    <li>
      <div id="step5" class="slide">
        <img src="{{ url_for('.static', filename='imgs/cf05.png') }}" />
      </div>
    </li>
  </ul>

  <ol class="controls">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ol>
</div>

{% endblock %}

{% block rcolumn %}

<h2>FAQ</h2>

<div class="content comofunciona">
  {{ page.content|safe }}
</div>

{% endblock %}

