{% extends "govresponde.html" %}

{% block js %}
<script src="{{ url_for('.static', filename='js/govresponde_questions.js') }}"></script>
<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ddba96024e86089"></script>
{% endblock %}

{% block rcolumn %}

<div class="questions">
  <h2>
    Perguntas em votação
    {% if theme %}({{ theme.name }}){% endif %}
  </h2>

  <ul>
    {% for question in questions %}
    <li id="question-{{ question.id }}">
      {% include "govresponde_question.part.html" %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
