{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govresponde.css') }}">
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}

<!-- header -->
<div class="innerheader">
  <div class="row">
    <div class="col4">
      <h2 class="title">
        <a href="{{ url_for('.index') }}">Governador Responde</a>
      </h2>
    </div>
    <div class="col8">
      <ul class="menu">
        <li>Como<br>Funciona</li>
        <li>
          <a href="{{ url_for('.index') }}">Edições<br>anteriores</a>
        </li>
        <li>Perguntas<br>em votação</li>
        <li>
          <a href="{{ url_for('.send') }}" class="awesome">
            Envie sua<br>pergunta
          </a>
        </li>
      </ul>
    </div>

    <div class="row-end"></div>
  </div>
</div>

<!-- content -->
<div class="content boxed">
  <div class="row">
    <div class="col3">
      <div class="sidebar">
        <form class="search">
          <input class="text" type="text" placeholder="Encontre sua pergunta">
          <input class="button" type="button" value="Ir">
        </form>

        <dl>
          <dt>Escolha um tema</dt>
          {% for i in wordpress.govr.getThemes() %}
          <dd {% if theme == i.name  %}class="choosen"{% endif %}>
            <a href="{{ url_for('.questions') }}">{{ i.name }}</a>
          </dd>
          {% endfor %}

          <dt>Suas contribuições</dt>
          <dd>21 votos</dd>
          <dd>4 perguntas</dd>
        </dl>
      </div>
    </div>
    <div class="col9">
      <div class="rcolumn">
        {% block rcolumn %}{% endblock %}
      </div>
    </div>

    <div class="row-end"></div>
  </div>
</div>

{% endblock %}
