{% extends "govresponde.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/govresponde/govresponde_questions.js') }}"></script>
<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ddba96024e86089"></script>
{% endblock %}

{% block rcolumn %}

<div id="question-{{ question.id }}" class="questions single">
  <h2>{{ question.title }}</h2>
  {% include "govresponde_question.part.html" %}
</div>

{%if not user%}
<div class="alert alert-block">
<h4>Atenção!</h4>
Para que seja possível você votar nesta questão, é necessário que faça o login no site.
<span class="label label-success"><a href="/auth/login" class="textobranco">Login</a></span>
</div>
{%endif%}

{% endblock %}
