{% extends "govresponde.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/govresponde/govresponde_questions.js') }}"></script>
{% endblock %}

{% block rcolumn %}
<div class="row highlight questions">

  <div class="row">
    <div class="span9">
      <h1 class="respgov"><i class="fa fa-folder-open"></i> Respostas do Governador</h1><br>
    </div>
  </div>

    {% for contrib in contribs %}

    {% set date = contrib.answered_at.strftime('%d/%m/%Y') %}
    {% set datedia = contrib.answered_at.strftime('%d') %}
    {% set datemes = contrib.answered_at.strftime('%b') %}
    {% set dateano = contrib.answered_at.strftime('%y') %}
    <div class="row">
      <div class="span9">
        <div id="date" class="pull-left">
          <div class="month">{{ datemes }} {{ dateano }}</div>
          <div class="day">{{ datedia }}</div>
        </div>

        <a href="{{ url_for('.results', rid=contrib.id) }}" class="title">
          {{ contrib.title }}
        </a>
        <h3>{{ contrib.theme.name }} - ({{ contrib.real_score }} votos)</h3>
      </div>
    </div>
    <div class="row">
      <div class="videobox span9">
    <video style="width: 100%; height: 100%; max-width: 100%; max-height: 100%" id="video{{ contrib.video.id }}" poster="{{contrib.video.thumbnail}}" controls="controls" preload="none">
      <!-- MP4 source must come first for iOS -->
      {% for source in contrib.video_sources %}
        {% if 'mp4' in source.format %}
          <source type="{{ source.format }}" src="{{ source.url }}">
        {%endif%}
      {% endfor %}

      <!-- WebM for Firefox 4 and Opera -->
      {% for source in contrib.video_sources %}
        {% if 'webm' in source.format %}
          <source type="{{ source.format }}" src="{{ source.url }}">
        {%endif%}
      {% endfor %}

      <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->

      <object width="640" height="360" type="application/x-shockwave-flash" data="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}">
        <param name="movie" value="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}" />
      {% for source in contrib.video_sources %}
        {% if 'mp4' in source.format %}
        <param name="flashvars" value="controls=true&amp;file={{source.url}}" />
        {%endif%}
      {% endfor %}
        <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
        <img src="{{contrib.video.thumbnail}}" width="{{ contrib.video.video_width }}" height="{{ contrib.video.video_height }}" alt="Here we are"
          title="No video playback capabilities" />
      </object>
    </video>
    <script type="text/javascript">
      $('video').mediaelementplayer({});
    </script>

      </div>
    </div>

    <div class="row">
      <div class="span8 pergunta">{{ contrib.content|safe }} <h5>Pergunta</h5></div>
    </div>

    <div class="row">
    <div class="offset1 span8 caso">{{ contrib.answer|safe }} <h5>Entenda o caso</h5></div>
    </div>


      <div class="answerlink">
      	{% if contrib.category %}
        <a href="{{ url_for('.results', rid=contrib.id) }}"
           class="btn btn-warning">
          Encaminhamentos
        </a>
        {% endif %}
        {% if contrib.aggregated %}
        <a href="javascript:;"
           onclick="showAggregated({{ contrib.id  }})"
           class="btn btn-success">
          Demais perguntas incluídas
        </a>
        <ul id="aggregated-{{ contrib.id }}" class="aggregated">
          {% for ag in contrib.aggregated %}
          <li>
            <strong>{{ ag.title }}</strong>
            <p class="desc">{{ ag.content }}</p>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

    </li>
    {% endfor %}
  </ul>

  </div>
</div>
{% if pagination.pages > 1 %}
<div class="row questions">
  <ol class="pagination">
    {% for i in range(pagination.pages) %}
    <li {% if pagination.page == i %}class="selected"{% endif %}>
      <a href="?pg=todos&theme={{ theme.id }}&page={{ i }}">
        {{ i+1 }}
      </a>
    </li>
    {% endfor %}
  </ol>
</div>

{% endif %}
{% endblock %}
