{% extends "base-govresp.html" %}

{% block css %}
<!-- <link rel="stylesheet" href="{{ url_for('.static', filename='css/govresponde.css') }}"> -->
{% endblock %}

{% block javascript %}

{# This blockception happens to make it possible to custom javascript
# in the child templates, like govresponde_enviar #}
{% block js %}{% endblock %}
{% endblock %}

{% block content %}
<div class="govresponde" id="govresponde">
	<div class="container" class="boxed">

		<div class="row-fluid head">
			<div class="span6"><a href="{{ url_for('.index') }}"><img src="{{ url_for('static', filename='img/govresponde/govresponde_marca.png') }}" border="0" alt="Governador Responde" class="logoGR"></a></div>
			<div class="span6"><a href="{{ url_for('.index') }}"><img src="{{ url_for('static', filename='img/govresponde/dgcopa_marca.png') }}" border="0" alt="" class="logoDG"></a></div>
		</div>
		<div class="row-fluid head clearfix">
			<div class="span12">
				<ul class="govRespSubMenu">
					{%if user%}
                    <li><a href="{{ url_for('govresponde.send') }}" ><i class="fa fa-envelope fa-2x"></i>enviar pergunta</a></li>
                    {%else%}
                    <li><a href="#" class="voteNeedLogin" ><i class="fa fa-envelope fa-2x"></i>enviar pergunta</a></li>
                    {%endif%}
					<li><a href="{{ url_for('.questions') }}"><i class="fa fa-check-circle fa-2x"></i>votar em uma pergunta</a></li>
				</ul>


<!-- ========================================================= Begin Code for Login Popup =========================================================-->
<!-- <a href="#loginBox" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->
<div id="loginBox" class="modal hide fade popupMessages">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h3>Logue-se</h3>
	<div class="modal-body" style="overflow: hidden; min-height: 475px !important;">
	 <iframe src="/auth/login/?popup=1" style="margin:-125px 0 0 -210px; padding:0; width: 1200px; min-height: 870px !important; border: 0; overflow: hidden;"></iframe>
	 </div>
</div>
<!-- ========================================================= End Code for Login Popup =========================================================-->

			</div>
		</div>

 		<div class="row-fluid head">
			<div class="span12">
				<div class="boxfinal">

          <p>Aqui você pergunta e o governo gaúcho responde! Entre os dias 25 de março e 18 de abril,
            o Gabinete Digital recebe questões relacionadas à realização da Copa do Mundo 2014.
            Qualquer pergunta vale, desde que não fuja do tema.</p>

          <p>É fácil participar: envie sua pergunta ou vote nas questões já enviadas pelos outros
            usuários. Todas as contribuições receberão respostas ao término da consulta e os
            autores das questões mais bem votadas serão convidados a participar de uma atividade
            dos Diálogos da Copa com o governador Tarso Genro.</p>

          <p>Em nove edições, a ferramenta já garantiu respostas do governador em vídeo a diversos
            anseios da população e deu encaminhamento a demandas apresentadas. <a href="{{ url_for('.index')+"?pg=todos" }}">Confira os
            resultados das edições anteriores.</a></p>

          <p>Exerça sua cidadania, #questione, #mobilize, #participe!</p>

					<p>Dúvidas ou sugestões podem ser enviadas para <a href="mailto:gabinetedigital@sgg.rs.gov.br">gabinetedigital@sgg.rs.gov.br</a></p>

					<p class="iconedHelp"><a href="{{ url_for('.comofunciona') }}"><i class="fa fa-question-circle fa-2x"></i><br>ajuda</a></p>

				</ul>
				</div>
			</div>
		</div>

<!-- content -->
	<div class="row-fluid">
		{% if not hidesidebar %}
		<div class="span3">
			<div class="sidebar">
				{#
				<form class="search">
					<input class="text" type="text" placeholder="Encontre sua pergunta">
					<input class="button" type="button" value="Ir">
				</form>
				#}

				<dl>
					{% if pg %}
					<dt><a href="?pg=todos">Escolha o tema</a>
					{% else %}
					<dt class="section"><a href="{{ url_for('.questions') }}">Temas</a>
					{% endif %}
					</dt>
					<dd {% if not theme and request.path.endswith('questions') %} class="choosen"{% endif %}></dd>

            {% for i in wordpress.govr.getThemes(pg)[::-1] %}
            <dd {% if theme and theme.id == i.id %}class="choosen"{% endif %}>
              {%if i.id == '21' or pg %}
              <a href="{% if pg %}?pg=resp&{% else %}{{ url_for('.questions') }}?{% endif %}theme={{ i.id }}">
                {{ i.name }}
              </a>
              {%else%}
              <span class='afake'>{{ i.name }}</a>
              {%endif%}
            </dd>
            {% endfor %}

					{% if user %}
					<dt>Suas contribuições</dt>
					<dd>{{ userstats.votes }} votos</dd>
					<dd>{{ userstats.contribs }} perguntas</dd>
					{% endif %}
				</dl>
			</div>
		</div>
		{% endif %}

		{% if hidesidebarright %}
      <div class="span8">
        {% block lcolumn %}{% endblock %}
      </div>
      <div class="span4">
        {% else%}

        <div class="{% if hidesidebar %}span12{% else %}span9{% endif %}">
          {% endif%}

            {% block rcolumn %}{% endblock %}

			</div>
			</div>

		</div><!-- row fluid -->


	</div>
</div>
{% endblock %}
