{% extends "govresponde.html" %}

{% block js %}
<script src="{{ url_for('.static', filename='js/govresponde_enviar.js') }}"></script>
{% endblock %}

{% block lcolumn %}

{%if not user%}
        <div class="needlogin">
          <h4>É necessário que você esteja autenticado para enviar comentários.</h4>
          <p><a class="btn btn-large btn-success" href="{{url_for('auth.login')}}">Entrar</a></p>
        </div>
{%else%}

<h2 class="envie">Envie sua pergunta</h2>
<form id="send" method="post" action="{{ url_for('.send_json') }}">
  <p>
    Envie uma pergunta diretamente ao Governador. Se o tema escolhido e a
    pergunta enviada forem os mais votados, ele irá responder em vídeo
    aqui pelo site.
  </p>

  <div class="msg hide error"></div>
  <div class="msg hide success envio">
    <p>
      Sua colaboração foi enviada com sucesso. Após uma breve moderação,
      ela será publicada e estará apta a receber votos.
    </p>
    <p>
      Para enviar outra contribuição,
      clique <a href="javascript:showContribForm()">aqui</a>
    </p>
  </div>

  <ol>
    <li>
      <label for="theme">Escolha um tema</label>
      {{ form.theme(class='theme') }}
      <p class="errmsg theme-error"></p>
    </li>
    <li>
      <label for="title">Dê um titulo à sua pergunta</label>
      {{ form.title(class='title') }}
      <p class="errmsg title-error"></p>
    </li>
    <li>
      <label for="question">Faça a sua pergunta</label>
      <textarea
         id="question" name="question"
         class="question"></textarea>
      <p class="errmsg question-error"></p>
    </li>
    <li class="sendbtn">
      <button class="awesome">Enviar</button>
    </li>
  </ol>

{%endif%}
</form>

<div id="comofunciona">
  <a class="close"></a>
  <h1 class="cfunciona">Como funciona?</h1>

  <div id="slideshow">
    <ul class="carousel">
      <li>
        <div id="step1" class="slide">
          <img src="{{ url_for('.static', filename='imgs/cf01.png') }}" />
        </div>
      </li>
      <li>
        <div id="step2" class="slide">
          <img src="{{ url_for('.static', filename='imgs/cf02.png') }}" />
        </div>
      </li>
      <li>
        <div id="step3" class="slide">
          <img src="{{ url_for('.static', filename='imgs/cf03.png') }}" />
        </div>
      </li>
      <li>
        <div id="step4" class="slide">
          <img src="{{ url_for('.static', filename='imgs/cf04.png') }}" />
        </div>
      </li>
      <li>
        <div id="step5" class="slide">
          <img src="{{ url_for('.static', filename='imgs/cf05.png') }}" />
        </div>
      </li>
    </ul>

    <ol class="controls">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ol>
  </div>
</div>


{% endblock %}

{% block rcolumn %}
	<h2>{{ page.title|safe }}</h2>
	<div class="content comofunciona">
  		{{ page.content|safe }}
	</div>
{% endblock %}
