{% extends "govresponde.html" %}

{% block rcolumn %}
<div class="highlight">
  <h3>Segurança Pública</h3>
  <div class="video"></div>
  <div class="date">18/07/2011</div>
  <p class="desc">
    Governador Tarso Genro, sabemos que atualmente o déficit de
    policiais civis está em torno de 7.000 homens, dados estes
    fornecidos pela SERVIPOL/RS e que muitos da ativa já estão com
    direito de pedir sua aposentadoria o que causaria uma baixa
    maior ainda no efetivo.  (...)
  </p>
  <a class="answers" href="#">Demais perguntas incluídas</a>

  <ul class="others">
    <li>
      <h3>Combate à miséria</h3>
      <img src="{{ url_for('.static', filename='imgs/others.png') }}">
      <div class="date">18/07/2011</div>
      <p>
        Nam iaculis, nibh egestas gravida tincidunt, lorem leo
        rutrum nibh, nec euismod lectus metus ac velit. Quisque et
        magna sed eros vestibulum lacinia. Vivamus porta varius
        orci, a mollis purus congue ac. Vivamus mi lectus, tempor
        sed accumsan fringilla, mollis et sem.
      </p>
      <div class="row-end"></div>
    </li>
  </ul>

  <div class="row-end"></div>
</div>
{% endblock %}
