{% extends "govresponde.html" %}

{% block js %}
<script src="{{ url_for('.static', filename='js/govresponde_questions.js') }}"></script>
{% endblock %}

{% block rcolumn %}
<div class="highlight questions">
  <ul>
    {% for contrib in contribs %}
    <li {% if loop.index == 1 %}class="first"{% endif %}>
      <h3>{{ contrib.theme.name }}</h3>

      {% if contrib.video and loop.index == 1 %}
      <div>
        <p class="date">{{ contrib.answered_at.strftime('%d/%m/%Y') }}</p>
        <a href="{{ url_for('.results', rid=contrib.id) }}" class="title">
          {{ contrib.title }} ({{ contrib.real_score }} votos)
        </a>
      </div>

      <div class="videobox">
        <video
           id="{{ contrib.video.id }}"
           width="{{ contrib.video.video_width }}"
           height="{{ contrib.video.video_height }}">
          {% for source in contrib.video_sources %}
          <source type="{{ source.format }}" src="{{ source.url }}">
            {% endfor %}
        </video>
      </div>
      {% endif %}

      {% if contrib.video and loop.index != 1 %}
      <div class="video">
        <a href="javascript:;" onclick='video.play({{ contrib.video|tojson|safe }})'>
          <div class="container">
            <img class="thumb"
                 src="{{ contrib.video.thumbnail }}" alt="{{ contrib.video.title }}"
                 width="193" height="110">
            <img src="../static/imgs/play.png" class="play">
          </div>
        </a>
        <a href="{{ url_for('videos.details', vid=contrib.video.id) }}"
           class="permalink">
          <img src="{{ url_for('static', filename='imgs/permalink.png') }}"
               alt="Permanet link">
        </a>
      </div>

      <div>
        <p class="date">{{ contrib.answered_at.strftime('%d/%m/%Y') }}</p>
        <a href="{{ url_for('.results', rid=contrib.id) }}" class="title">
          {{ contrib.title }} ({{ contrib.real_score }} votos)
        </a>
      </div>
      {% endif %}

      <div class="content">{{ contrib.content|safe }}</div>

      {% if contrib.aggregated %}
      <a href="javascript:;"
         onclick="showAggregated({{ contrib.id  }})"
         class="otherquestions">
        Demais perguntas incluídas
      </a>
      <ul id="aggregated-{{ contrib.id }}" class="aggregated">
        {% for ag in contrib.aggregated %}
        <li>
          <strong>{{ ag.title }}</strong>
          <p class="desc">{{ ag.content }}</p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="answerlink">
        <a href="{{ url_for('.results', rid=contrib.id) }}"
           class="awesome">
          Encaminhamentos da resposta
        </a>
      </div>

    </li>
    {% endfor %}
  </ul>

  <div class="row-end"></div>
</div>
{% endblock %}
