$blue: #2c3e50
$background: #c0392b

body
  font-family: Museo, sans
  font-weight: 300
  background-color: $background

#home
  background: url(../img/bg01.png) no-repeat bottom right
  height: 600px
  padding-top: 10%

.title p
  color: white
  line-height: 50pt
  margin: 0

  &.line1
    font-size: 25pt
    font-weight: 500
    color: $blue
    padding-left: 190px

  &.line2
    font-size: 54pt
    padding-left: 90px

  &.line3
    font-size: 50pt

  &.line4
    font-size: 35pt
    padding-left: 100px

  &.line5
    font-size: 40pt
    padding-left: 70px


.date .day
  color: $blue
  font-size: 50pt
  padding-top: 90px

.date .month
  color: white
  font-size: 40pt
  margin-top: 35px
