body
  font-family: Museo, sans
  font-weight: 300
  background: url(../img/base.png) repeat-y right $background fixed

@media (max-width: 480px )
  body
    padding-top: 30px

.tooltip-inner
  color: white
  background-color: $dark
  text-align: center
  padding: 5px 10px
  font-weight: 500
  font-size: 200%
  display: inline-block
  margin-bottom: 10px
  +border-radius(0)


.tooltip.top .tooltip-arrow
  border-top-color: $dark
  border-left-color: $background
  border-right-color: $background
  border-width: 6px 6px 0
  bottom: 0
  margin-bottom: 10px

.fancybox-overlay  .fancybox-skin
  background: $dark
  color: white
  +border-radius(0)

#menu
  margin-right: 7%
  position: fixed
  right: 0
  top: 10%
  z-index: 1000

  ul>li
    list-style: none
    display: inline-block
    color: white
    background-color: $dark
    text-align: center
    font-size: 160%
    line-height: 38pt

  ul>li>a, ul>li>a:hover
    color: white
    display: block
    width: 50px
    height: 50px
    text-decoration: none

@media (max-width: 480px )
  #menu
    top: 0
    left: 0
    right: 0
    text-align: center
    background: $dark
    margin: 0

    ul
      margin: 0

.section
  padding-bottom: 100px

  h2
    color: $title
    font-weight: 300
    font-size: 500%
    margin: 70px 0

@media (max-width: 480px )
  .section
    padding-top: 40px
    padding-bottom: 0

    h2
      font-size: 300%
      margin: 30px 0

.inscritos
  background-color: #fff