#cobertura

  h2
    color: $title
    font-weight: 300
    font-size: 500%
    margin: 70px 0 0 0

.stream
  margin-top: 100px

  .thumbnail
    border: 0
    padding: 0
    position: relative
    +box-shadow(none)

  .tweet > .thumbnail,
  .post > .thumbnail
    color: white
    padding: 5px 10px

  .link > .thumbnail
    color: black
    padding: 5px 10px

  .link
    background: $title

    a
      color: $dark

    h3
      font-size: 1.3em
      font-weight: 500
      line-height: 1.3em
      margin: 0

    .album
      text-align: center
      color: $dark
      font-size: 5em
      line-height: 3em
      height: 200px

  .post
    background: $dark

    a
      color: $title

    h3
      font-size: 1.3em
      font-weight: 500
      line-height: 1.3em
      margin: 0 0 15px 0

    p
      text-align: justify
      font-size: 1.1em


  .tweet
    background: $blue

    a.arroba
      font-weight: 500
      font-size: 1.2em
      margin-bottom: 10px
      display: block

    .icon-twitter.twit
      bottom: 10px
      position: absolute
      right: 10px

  .instagram
    img
      width: 100%
      max-height: 270px
