# -*- coding:utf-8; -*-
"""File that holds all configurable parameters of our application"""

BASE_URL  = 'http://localhost:5000/'

# HTTP config vars
HTTP_HOST = '0.0.0.0'
HTTP_PORT = 5000
DEBUG = False

# Upload configuration
UPLOADS_DEFAULT_DEST = '/path/to/your/upload/dir'
UPLOADED_FILES_URL = 'http://url-to-your-uploaded-dir/'

# Session secret key. Change it on your server!!!
SECRET_KEY = '\xf9\nP\xb0\x03%\xd3\xd5"\xf9g\x81\x89\xac\x9f\xb5\xce\x14b\xcb\xce\xda\xf7:'

# Interprocess and message queue configuration (zmq/greenlet stuff)
SOCK_LOCAL_SERVER = 'tcp://127.0.0.1:6000'
SOCK_INCOMING_PULL = 'tcp://127.0.0.1:6001'

# Database connection uri
DATABASE_URI = 'mysql://gd:gd@localhost/gd'

# Application specific configuration
DATEFORMAT = "%d/%m/%Y %H:%M"

# Wordpress integration parameters
WORDPRESS_ADDRESS = 'http://example.com/wordpress/'
WORDPRESS_XMLRPC = '%s/xmlrpc.php' % WORDPRESS_ADDRESS
WORDPRESS_RSS = '%s?feed=atom' % WORDPRESS_ADDRESS
WORDPRESS_BLOGID = 1
WORDPRESS_USER = 'user'
WORDPRESS_PASSWORD = 'password'

# Pairwise conf
PAIRWISE_SERVER = "http://localhost:4000"
PAIRWISE_USERNAME = 'pairuser'
PAIRWISE_PASSWORD = 'pairpass'

# Facebook access configuration
FACEBOOK_APP_ID = ''
FACEBOOK_APP_SECRET = ''

TWITTER_STREAM_USERNAME='username'
TWITTER_STREAM_PASSWORD='password'
TWITTER_MAYOR_USERNAME='themayor'

# E-mail
SMTP = 'localhost'
FROM_ADDR = 'gabinetedigital@gg.rs.gov.br'

# Password reminder
PASSWORD_REMAINDER_SUBJECT = '[GabineteDigital]: Sua nova senha'
PASSWORD_REMAINDER_MSG = u'''Olá,

Você acessou o recurso "Esqueci minha senha" do site do Gabinete
Digital. Respondendo à sua requisição, aqui vai a sua nova senha:

  %(password)s

Para acessar, use o botão "ENTRAR" no canto superior direito do site.

-- 
Gabinete Digital
%(siteurl)s
'''


# Welcome email
WELCOME_SUBJECT = "[GabineteDigital] Bem vindo ao Gabinete Digital"
WELCOME_MSG = u'''Olá %(username)s,

Muito obrigado por se cadastrar no Gabinete Digital.

Esta é uma mensagem de boas vindas certificando que o seu cadastro foi
efetuado com sucesso. Para saber mais sobre o projeto, acesse o site do
nosso projeto em

  %(siteurl)s


-- 
Gabinete Digital
%(siteurl)s
'''
