# -*- coding:utf-8; -*-
"""File that holds all configurable parameters of our application"""

BASE_URL  = 'http://localhost:5000/'

# HTTP config vars
HTTP_HOST = '0.0.0.0'
HTTP_PORT = 5000
DEBUG = True

# Upload configuration
UPLOADS_DEFAULT_DEST = '/path/to/your/upload/dir'
UPLOADED_FILES_URL = 'http://url-to-your-uploaded-dir/'

# Session secret key. Change it on your server!!!
SECRET_KEY = '\xf9\nP\xb0\x03%\xd3\xd5"\xf9g\x81\x89\xac\x9f\xb5\xce\x14b\xcb\xce\xda\xf7:'

# Interprocess and message queue configuration (zmq/greenlet stuff)
SOCK_LOCAL_SERVER = 'tcp://127.0.0.1:6000'
SOCK_INCOMING_PULL = 'tcp://127.0.0.1:6001'

# Database connection uri
DATABASE_URI = 'mysql://gd:gd@localhost/gd'

# Application specific configuration
DATEFORMAT = "%d/%m/%Y %H:%M"

# Wordpress integration parameters
WORDPRESS_ADDRESS = 'http://example.com/wordpress/'
WORDPRESS_XMLRPC = '%s/xmlrpc.php' % WORDPRESS_ADDRESS
WORDPRESS_RSS = '%s?feed=atom' % WORDPRESS_ADDRESS
WORDPRESS_BLOGID = 1
WORDPRESS_USER = 'user'
WORDPRESS_PASSWORD = 'password'

# Facebook access configuration
FACEBOOK_APP_ID = ''
FACEBOOK_APP_SECRET = ''

TWITTER_STREAM_USERNAME='username'
TWITTER_STREAM_PASSWORD='password'
TWITTER_MAYOR_USERNAME='themayor'

# E-mail
SMTP='localhost'
PASSWORD_REMAINDER_MSG = "Sua senha: %s"
PASSWORD_REMAINDER_SUBJECT = '<site>: sua senha'
PASSWORD_REMAINDER_FROM = 'mailer@mailer'

PASSWORD_CONFORMATION_MSG="Confirme aqui: http://localhost:5000/confirm_signup/%s"
PASSWORD_CONFIRMATION_SUBJECT="Confirmação de inscrição"
PASSWORD_CONFIRMATION_FROM="mailer@mailer.com"
