@import 'base';
@import "compass/css3";

$red: #d8001d;
$orange: #f33500;
$blue: #008fd8;
$green: #007160;
$black: #1f1f21;
$yellow: #f4e400;


$default-text-shadow-color: rgba(#333, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.content {
    color: #FFF;
    padding-top: 20px;
    border-top: 2px solid #DDD;
    background: url(../img/minsqr.png);
}


.info-head {
    color: $black;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.info-desc {
    padding: 16px;
    border-bottom: 1px solid #CCC;
}

.info-btn {
    text-align: right;
}

.share {
    display: block;
    clear: both;
    height: 20px;
    padding: 6px;
}

.info-aud {
    color: $black;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    @include box-sizing(border-box);
    @include box-shadow(0 1px 0 rgba(#FFF, 0.1), 0 1px 7px 0 rgba(#DDD, 0.7) inset);
    @include background-image(linear-gradient(white, #DDD));

}

.aud-date {
    border-right: 1px solid #CCC;
    height: 130px;
    padding-top: 20px;
}


.hashtag {
    padding-right: 20px;
}

#date {
    width: 80px;
    height: 70px;
    margin-right: 20px;
}

#date div {
    font-weight: bold;
}

#date div.day {

    font-size: 35pt;
    text-align: center;
    border-right: 2px solid #CCC;
    border-bottom: 2px solid #CCC;
    border-left: 2px solid #CCC;
    background-color: #DDD;
    padding: 14px 0;
    @include border-radius(0 0 10px 10px);
    @include background-image(linear-gradient(white, #DDD));
}

#date div.month {
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 15pt;
    background-color: #D72314;
    color: #FFF;
    text-align: center;
    border-top: 2px solid #D72314;
    border-right: 2px solid #D72314;
    border-left: 2px solid #D72314;
    @include border-radius(10px 10px 0 0);
    @include background-image(linear-gradient(#D72314, #A81704));
}

div.time {
    padding-top: 6px;
    font-size: 16pt;
    text-align: center;
}

.stage {
   background-color: $black;
}

.room {
    color: $black;
    background-color: #FFF;
    border-left: 1px solid #DDD;
}

.droom {
    color: #FFF;
    background-color: $black;
    margin-left: -30px;
    padding-top: 10px;
}

.streaming {
    /* background: $black; */
    /* text-align: center; */
    /* @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset); */
}

#beingAnswered-anterior {
    background-color: #000;
    color: #FFF;

}

.buzzs {
    height: 400px;
    overflow-y: scroll;
}


#poster {
    width: 140px;
    margin-right: 20px;
}

.astream {
    background-color: #000;
}

.stream, .astream, .bstream {
    padding: 10px;
}

.stream .avatar, .astream .avatar, .bstream .avatar {
    float: left;
    margin-right: 10px;
    display: block;
}

.stream .author, .astream .author, .bstream .author {
    color: $blue;
    padding-left: 68px;
    padding-bottom: 10px;
    font-size: 10pt;
}

.stream .answer, .astream .answer, .bstream .answer {
    padding-left: 68px;
    font-size: 13px;
}



/* h2.title { */
/*     font-size: 50px; */
/*     color: $blue; */
/*     margin-top: 20px; */
/*     font-weight: 400; */
/*     width: 100%; */
/*     line-height: 1.1em; */
/*     height: 1.2em; */
/*     display: inline; */
/* } */

/* p.description { */
/*     font-size: 17px; */
/*     padding-right: 200px; */
/*     color: $black; */
/* } */

/* #streaming .chat { */
/*     background: none repeat scroll 0 0 rgba($black, 0.75); */
/*     color: #FFFFFF; */
/*     overflow: hidden; */
/*     text-align: left; */
/*     text-overflow: ellipsis; */
/* } */

/* .buzz { */
/*     background-color: $black; */
/*     display: block; */
/*     height: 100%; */
/* } */

/* #buzz-moderated { */
/*     border: 0 none; */
/*     display: block; */
/*     background-color: rgba($black, 1.0); */
/*     display: block; */
/*     padding: 12px; */
/*     position: relative; */
/*     text-align: left; */
/*     color: #FFF; */
/*     margin-bottom: 20px; */
/*     /\* @include border-radius(23px 23px 23px 0); *\/ */
/*     @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset); */
/* } */
