/** Container **/

#container #slideshow {
    height: 278px;
    background: url(../imgs/slideshow.png) -12px no-repeat;
}

#container #news {
    background: url(../imgs/news.png) -12px no-repeat;
    display: block;
    width: 672px;
    height: 667px;
    margin-bottom: 20px;
}


#container #news .news {
    color: #808080;
    margin: 33px 50px 0px 21px;
    font-size: 12px;
}

#container #news .news li img {
    float: left;
    margin-right: 30px;
}

#container #news .news li img.wide {
    float:none;
}

#container #news .news h2 {
    color: #2e3436;
    font-size: 15pt;
    font-family: 'Sansation';
    font-weight: normal;
    margin-bottom: 8px;
}

#container #news .news li.title {
    color:#fff;
    font-size:16px;
    font-weight:bold;
    padding:5px;
    position:relative;
    margin-top:-48px;
    width:590px;
    background:url(../imgs/newsbg.png) repeat-x;
}

#container #news .news .meta {
    text-align: right;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

#container #news .news .meta strong {
    font-weight:normal;
    color:#4e9a06;
}

#container #videogallery {
    margin: 30px 21px;
    color: white;
    font-size: 14px;
} 

#container #videogallery .video {
    background-color: #333;
    float: left;
    margin-right: 30px;
    padding: 17px;
}

#container #videogallery .video img {
    margin-bottom: 10px;
}

#container #sidebar #lasttweet {
    background: url(../imgs/bgtweet.png) no-repeat 282px bottom;
    padding-bottom: 20px;
    margin-top: 30px;
}

#container #sidebar #lasttweet .shadow {
    width: 285px;
    -moz-box-shadow: -3px 3px 4px #CCC;
    -webkit-box-shadow: -3px 3px 4px #CCC;
    box-shadow: -3px 3px 4px #CCC;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=225, Color='#CCC')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=225, Color='#CCC');
}
#container #sidebar #lasttweet .tweet {
    padding: 15px 10px 11px 11px;
    background-color: #55ddff;
    width: 281px;
    color: #FFF;
    font-size: 12px;
}

#container #sidebar #lasttweet .tweet a {
    color: #006680;
}

#container #sidebar #lasttweet h3 {
    color: #006680;
    text-align: right;
    margin-top: 15px;
}

#container #sidebar #picday {
    margin-top: 30px;
}

#container #sidebar #picday h3 {
    color: #c4a000;
    font-family: Sansation;
    font-size: 16px;
    margin-bottom: 10px;
}
#container #sidebar #picday #picedge {
    border: 1px solid #2e3436;
    padding: 4px 4px;
    width: 262px;
    height: 342px;
     -moz-box-shadow: 3px 3px 4px #CCC;
    -webkit-box-shadow: 3px 3px 4px #CCC;
    box-shadow: 3px 3px 4px #CCC;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCC')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#CCC');
}

#container #sidebar #picday p {
    color: #555753;
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
    width: 260px;
}