@import "system";

@import "compass/css3/font-face";

@include font-face('Road Geek',
  font-files(
      '/static/fonts/roadgeek_2005_series_e-webfont.woff', woff,
      '/static/fonts/roadgeek_2005_series_e-webfont.ttf', ttf,
      '/static/fonts/roadgeek_2005_series_e-webfont.svg', svg),
      '/static/fonts/roadgeek_2005_series_e-webfont.eot',
      normal, normal);


.comite {
    padding-top: 20px;
    border-top: 2px solid #DDD;
    background: url(../img/seguranca.jpg) no-repeat fixed;
    background-size: 100% 100%;
}

.placa {
    background: #006bb1;
    padding: 1px 10px;
}

.comite h1 {
    font-family: 'Road Geek';
    color: #FFF;
    font-size: 65px;
    font-weight: 400;
    line-height: 86px;
    border: 6px solid white;
    padding: 20px;
    @include border-radius(7px);
}

.comite h2 {
    font-family: 'Road Geek';
    font-weight: 400;
}

.seta {
    text-align: center;
    margin-right: 45px;
    margin-top: 64px;
}

.haste {
    height: 50px;
    background: #FFF;
    height: 70px;
    margin-left: 20px;
    width: 38px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 47px solid #FFF;
}

h2 {
    color: #fcb514;
    @include text-shadow(rgba($black, 0.5) 1px 1px 0, rgba($black, 0.5) 2px 2px 0, rgba($black, 0.5) 3px 3px 0); 
}

.apresentacao, .content {
    margin: 20px 0;
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    background-color: rgba($black, 0.7);
    display: block;
    padding: 10px 0px 3px 14px;
    position: relative;
    text-align: left;
    color: #FFF;
    font-size: 12pt;
    @include border-radius(0);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 1.0) inset);
}

.pipe {
    height: 66px;
    background: url(../img/comite/pipe.png) repeat-x;
}

.menu {
    text-align: center;
}

.menu div {
   background: #006e55;
   display: inline-block;
   margin-right: 30px;
    text-align: center;
    padding: 4px;
   @include border-radius(4px);
}


.menu img {
    border: 2px solid white;
    padding: 7px;
    @include border-radius(4px);
}

legend {
    color: #fcb514;
}

.feednews {
    margin: 0;
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    background-color: rgba($black, 0.7);
    display: block;
    padding: 0 0 15px 0;
    position: relative;
    text-align: left;
    color: #FFF;
    font-size: 12pt;
    @include border-radius(0);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 1.0) inset);
}

.feednews h3 {
    color: #fcb514;
    margin-left: 15px;
}

.feednews ul {
    margin: 0;
    padding: 0;
}

.feednews li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fcb514;
}

.feednews li a {
    display: block;
    margin: 5px 17px;
    color: #FFF;
}

.feednews li:last-child {
    border: 0;
}

.feednews li p {
    padding: 10px;
    font-size: 11pt;
}

li {
   list-style: none;
}

.thumbnail {
    padding: 0;
    border: 0;
}

.fb-like-box {
    background-color: #FFF;
}

.faca-content {
    display: none;
}

.envie-content {
    display: none;
}
