@import "base";

.gallery {
    background: url(../img/bg.png);
    padding-top: 20px;
}

.gallery h2 {
    color: #FFF;
    @include single-text-shadow;
}

.desk {
    background: $black;
    overflow: auto;
    padding: 20px 0 20px 0;
}

#controls {
    font-size: 20px;
    margin: 180px 0 0 -17px;
    position: absolute;
}

#controls .nav-controls a {
    font-size: 48pt;
    line-height: normal;
    padding: 10px 25px;
    color: #FFF;
    @include single-text-shadow;
}

#controls .nav-controls .prev {
    float: left;
}

#controls .nav-controls .next {
    float: right;
}

.caption {
    background: #000;
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    line-height: 24px;
    overflow: hidden;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
}

div.caption-container {
	position: relative;
	clear: left;
}

div.caption .text {
    width: 70%;
    float: left;
}

span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
div.caption {
	padding: 12px;
}
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}

#thumbs {
    overflow: hidden;
}


#thumbs ul li {
    float: left;
    list-style: none;
}

.navigation {
    padding: 20px 0 20px 0;
}

#thumbs ul li.selected img {
    opacity: 1;
}

#thumbs ul li img {
    opacity: 0.5;
}

.bottom {
    clear: both;
    padding: 20px 0 0 25px;
}

#gallerylist li {
    float: left;
    margin-right: 20px;
    list-style: none;
}


@media (max-width: 767px) {
    #controls {
        width: 100%;
    }
}