@import "system";

.thumbnail {
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    @include rgba-background(rgba($black,0.3));
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset);
    display: block;
    padding: 7px;
    position: relative;
    text-align: left;
    color: #FFF;
}

.thumbnail img {
  width: 100%;
}

.busca {
    padding-top: 16px;
}

.gallery {
    background: url(../img/bg.png);
    padding: 20px 0;
}

.gallery h2 {
    color: #FFF;
    text-transform: capitalize;
    @include single-text-shadow;
}

.formb {
    margin-top: 20px;
}

.album img {
    margin-bottom: 3px;
    cursor: pointer;
}


.modal-gallery .modal-title {
    overflow: visible;
    padding-top: 8px;
}

.modal-gallery .modal-body {
    padding-bottom: 0;
}

.modal-header {
    border-bottom: none;
    padding: 0;
}

.modal-header .close {
    background: url("../img/fancybox.png") repeat scroll transparent;
    cursor: pointer;
    height: 32px;
    position: absolute;
    right: 4px;
    width: 32px;
    z-index: 1103;
    opacity: 1.0;
}

/* Videos */

.videos {
    margin-bottom: 30px;
}

.gallery h2, .videos h2 {
    font-size: 30px;
    color: $blue;
    font-weight: 300;
    background-color: $black;
    padding: 10px 20px;
    width: 100%;
    line-height: 1.5em;
    height: 1.2em;
    display: inline;
    @include single-text-shadow;
}

.video a {
    color: $blue;
}

.videos {
    padding-top: 20px;
    color: #FFF;
}

.videos ul.thumbnails {
    margin-top: 40px;
}

.video .meta {
    @include rgba-background(rgba($black,0.8));
    bottom: 0;
    color: $blue;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    line-height: 24px;
    margin: 7px;
    overflow: hidden;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
}

.video .permalink {
    float: right;
}

.videos .stage {
    margin-top: 30px;
    background-color: #000;
    text-align: center;
}

.videos p.desc {
    padding: 30px 0px;
    font-size: 11pt;
    margin-top: 20px;
    font-style: italic;
}

.videos h3 {
    color: $blue;
    @include single-text-shadow;
}

.videos textarea {
    border: 0;
    background: $black;
    color: #FFF;
    padding: 17px 13px;
    resize: none;
    height: 40px;
}

#thumbs ul li.selected img {
    opacity: 1;
}

#thumbs ul li img {
    opacity: 0.5;
}

.bottom {
    clear: both;
    padding: 20px 0 0 25px;
}

#gallerylist li {
    float: left;
    margin-right: 20px;
    list-style: none;
}
