@import "system";

.gallerylist .thumbnail {
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    background-color: rgba($black, 0.3);
    @include box-shadow(0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset);
    display: block;
    padding: 7px;
    position: relative;
    text-align: left;
    color: #FFF;
}


.busca {
    padding-top: 16px;
}

.gallery {
    background: url(../img/bg.png);
    padding-top: 20px;
}

.gallery h2 {
    color: #FFF;
    text-transform: capitalize;
    @include single-text-shadow;
}

.formb {
    margin-top: 20px;
}

.album  > li {
    display: inline-block;
    margin: 0;
}

.album li a img {
    opacity: 0.4;
}

.album li a img:hover {
    opacity: 1.0;
}

.album .thumbnail {
    border: none;
}

@media (max-width: 767px) {
    .album {
        margin: 20px 0px;
    }

   .album  > li {
        width: 30%;
        margin: 6px 4px;
        padding: 0;
    }
}


/* Videos */

.videos {
    margin-bottom: 30px;
}

.gallery h2, .videos h2 {
    font-size: 30px;
    color: $blue;
    font-weight: 300;
    background-color: $black;
    padding: 10px 20px;
    width: 100%;
    line-height: 1.5em;
    height: 1.2em;
    display: inline;
    @include single-text-shadow;
}

.video a {
    color: $blue;
}

.videos {
    padding-top: 20px;
    color: #FFF;
}

.videos ul.thumbnails {
    margin-top: 40px;
}

.video .meta {
    background: none repeat scroll 0 0 rgba($black, 0.8);
    bottom: 0;
    color: $blue;
    font-size: 14px;
    font-weight: 600;
    left: 0;
    line-height: 24px;
    margin: 7px;
    overflow: hidden;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    text-align: left;
    text-overflow: ellipsis;
}

.video .permalink {
    float: right;
}

.videos .stage {
    margin-top: 30px;
    background-color: #000;
    text-align: center;
}

.videos p.desc {
    padding: 30px 0px;
    font-size: 11pt;
    margin-top: 20px;
    font-style: italic;
}

.videos h3 {
    color: $blue;
    @include single-text-shadow;
}

.videos textarea {
    border: 0;
    background: $black;
    color: #FFF;
    padding: 17px 13px;
    resize: none;
    height: 40px;
}

#thumbs ul li.selected img {
    opacity: 1;
}

#thumbs ul li img {
    opacity: 0.5;
}

.bottom {
    clear: both;
    padding: 20px 0 0 25px;
}

#gallerylist li {
    float: left;
    margin-right: 20px;
    list-style: none;
}


@media (max-width: 767px) {
    #controls {
        width: 100%;
    }
}


.simple_overlay {

    /* must be initially hidden */
    display:none;

    /* place overlay on top of other elements */
    z-index:10000;

    /* styling */
    background-color:#333;

    width:675px;
    min-height:200px;
    border:1px solid #666;

    /* CSS3 styling for latest browsers */
    @include box-shadow(0 0 90px #000);
}

/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url(/media/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}


/* styling for elements inside overlay */
.details {
    position:absolute;
    top:15px;
    right:15px;
    font-size:11px;
    color:#fff;
    width:150px;
}

.details h3 {
    color:#aba;
    font-size:15px;
}