/* .post-child {
/*     margin-left: 30px;
/* }

/* .post-child {
/*     border-left: 3px solid #eee;
/*     padding-left: 10px;
/* }

/* .post-child:hover {
/*     border-left: 3px solid #DDD;
/*     padding-left: 10px;
/* } */

.post-child > p {
    text-align:justify;
    text-justify:inter-word;
}

.img-comments img{
    display: block;
    margin-bottom: 3px;
}

.img-comments{
    display: none;
    position: absolute;
    padding: 5px;
    /*border: 1px solid black;*/
    /*margin-right: 30px;*/
    width: 35px;
    background-color: transparent;
}

#form-com > form > textarea {
    width: 485px;
}

.banner{
    margin-bottom: 20px;
}

h3.post-child-title {
    font-weight: 400;
    font-size: 20px;
}

button.post-child-button{
    float:left top;
}


label.naoexibir{
    color: #999999;
    font-size: 11px;
    padding-left: 26px;
}

.comentarios > li {
  background-color: rgba(200, 200, 200, 0.2);
  list-style-type: none;
  margin-bottom: 3px;
  margin-left: -22px;
  padding: 5px;
}

#contador{
    float:right;
}

/* Sidebar */

.sidebar {
    padding-top: 0;
}

.thumbnail {
    margin-bottom: 20px;
}


.estatisticas {
    padding: 20px 20px 0;
}

.estatisticas .artigos, .estatisticas .comentarios {
    font-size: 19pt;
    font-weight: bold;
    padding-top: 22px;
    color: #003f54;
}

.estatisticas .artigos {
    background: url(../img/cultura_artigo.png) no-repeat;
    height: 82px;
    padding-left: 60px;
}

.estatisticas .comentarios {
    background: url(../img/cultura_comentarios.png) no-repeat;
    height: 82px;
    padding-left: 80px;
    float: right;
}


#comments .comment .comcontent, .commentbox {
    background: #FFF;
}

#comments textarea {

}