@import "system";

.news {
    padding-top: 20px;
    border-top: 2px solid #DDD;
    background: url(../img/minsqr.png);
}

.post {
    color: $black;
    padding: 0px 16px 16px 16px;
    background-color:rgba(#FFFFFF, 0.7);
    margin-bottom: 20px;
    border: 1px solid #DDD;
    overflow: auto;
    @include box-shadow(0 1px 0 rgba(#FFF, 0.1), 0 1px 7px 0 rgba(#DDD, 0.7) inset);
}

.post h2 {
    font-size: 30px;
    color: $red;
    font-weight: 600;
    width: 100%;
}

.post h2 a {
    color: $red;
}

.post a {
    color: $black;
    text-decoration: none;
}

.post .content {
    font-size: 11pt;
    line-height: 1.5em;
    margin-top: 10px;
}

/* .post-child {
/*     margin-left: 30px;
/* }

/* .post-child {
/*     border-left: 3px solid #eee;
/*     padding-left: 10px;
/* }

/* .post-child:hover {
/*     border-left: 3px solid #DDD;
/*     padding-left: 10px;
/* } */

.post-child > p {
    text-align:justify;
    text-justify:inter-word;
}

/* .img-comments img{ */
/*     display: block; */
/*     margin-bottom: 3px; */
/* } */

/* .img-comments{ */
/*     display: none; */
/*     position: absolute; */
/*     padding: 5px; */
/*     /\*border: 1px solid black;*\/ */
/*     /\*margin-right: 30px;*\/ */
/*     width: 35px; */
/*     background-color: transparent; */
/* } */

#add-comment, #view-comments {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    width: 32px;
}

#form-com > form > textarea {
    width: 485px;
}

.banner{
    margin-bottom: 20px;
}

h3.post-child-title {
    font-weight: 400;
    font-size: 20px;
}

label.naoexibir{
    color: #999999;
    font-size: 11px;
    padding-left: 26px;
}

.comentarios > li {
  background-color: rgba(200, 200, 200, 0.2);
  list-style-type: none;
  margin-bottom: 3px;
  margin-left: -22px;
  padding: 5px;
}

#comments .comment .comcontent, .commentbox {
    margin-left: 0;
}

#contador{
    float:right;
}

/* Sidebar */

.sidebar {
    padding-top: 0;
}

.thumbnail {
    margin-bottom: 20px;
}


.estatisticas {
    padding: 20px 20px 0;
}

.estatisticas .artigos, .estatisticas .comentarios {
    font-size: 19pt;
    font-weight: bold;
    padding-top: 22px;
    color: #003f54;
}

.estatisticas .artigos {
    background: url(../img/cultura_artigo.png) no-repeat;
    height: 82px;
    padding-left: 60px;
}

.estatisticas .comentarios {
    background: url(../img/cultura_comentarios.png) no-repeat;
    height: 82px;
    padding-left: 80px;
    float: right;
}

#comments h2 {
    color: #FFF;
}

#comments h3 {
    color: $red;
}

#comments .form {
    padding-bottom: 30px;
}

#comments .comment .comcontent, .commentbox {
    color: #000;
    border: 0;
    margin-bottom: 20px;
    background-color:rgba(#FFFFFF, 0.7);
    padding: 4px;
    border: 1px solid #DDD;
    @include border-radius(0 23px 23px 23px);
    @include box-shadow(0 1px 0 rgba(#FFF, 0.1), 0 1px 7px 0 rgba(#DDD, 0.48) inset);
}

#comments textarea {
    color: #000;
    border: 0;
    width: 96%;
    height: 100px;
    font-family: 'Open Sans', sans-serif;
}

#comments .comment .comcontent {
    padding: 10px 30px 30px 30px;
}

.comment {
    font-size: 9pt;
}

.comment-content {
    padding: 5px 0;
}

.comment-cat {
    text-align: right;
}

#comments .comment .comcontent {
    padding: 10px 15px;
}

#comments .comment .comcontent, .commentbox {
    background: #FFF;
}

.participe-fixed {
    position: fixed;
    top: 80px;
}


.msg {
    font-size: 22pt;
    line-height: 30pt;
    padding-top: 10px;
    text-align: center;
}

.sorry {
  margin-top: 20px;
}