@import "base/fonts";
@import "base/system";
@import "base/base";


@import "pages/index";
@import "pages/resultados";
@import "pages/gallery";
@import "pages/posts";
@import "pages/lei";

@import "auth/auth";
@import "audience/audience";
@import "govescuta/govescuta";
/*@import "govresponde/govresponde";*/
