{%if facebook%}
  {% extends "base_slim.html" %}
{%else%}
  {% extends "base.html" %}
{%endif%}

{%block htmldef%} xmlns:fb="http://ogp.me/ns/fb#" {%endblock%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
<meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}"/>
<meta property="fb:admins" content="{{FACEBOOK_COMMENT_MODERATORS}}"/>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  var AUDIENCE_ID={{audiences.0.ID}};
</script>
<script src="{{ url_for('static', filename='js/vendor/fancybox/jquery.fancybox.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2cb22250-8513-4f40-add3-9af9905f61a5"});</script>
<!--
<script src="{{ url_for('buzz.static', filename='js/jquery.longpool.js') }}"></script>
<script src="{{ url_for('buzz.static', filename='js/longpool.js') }}"></script>
<script src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
 -->
 <script src="{{ url_for('static', filename='js/vendor/jquery/jQueryRotate.2.1.js') }}"></script>
<script src="{{ url_for('static', filename='js/audience/statusbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/audience/audience.js') }}"></script>
<script src="{{ url_for('static', filename='js/audience/timer.js') }}"></script>
<script src="https://connect.facebook.net/pt_BR/all.js#appId={{FACEBOOK_APP_ID}}&amp;xfbml=1"></script>
{% endblock %}

{%block id%}
<div id="audience">
{%endblock%}

{% block content %}
{% for audience in audiences %}
<div class="content">
  <div class="container">
    <div class="info-aud">
      <div class="row">

        <div class="span8">
          <div class="info-head">
            <div class="info-desc">
              <div id="poster" class="pull-left">
                <img src="{{audience.imagem}}" alt="{{ audience.post_title }}">
              </div>
              <div id="title">
                <h2 class="title">{{ audience.post_title }}</h2>
                <p class="description">{{ audience.post_content|safe }}</p>
                <div class="info-btn visible-desktop">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Mais Detalhes</button>
                  <a href="#works-like-this" id="how-it-works"  class="btn btn-success" data-toggle="modal">Como Funciona</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span4  hidden-phone">
          <div class="aud-date">
            <div class="hashtag pull-left">
              {% if not govescuta %}
              <p class="twt">Participe também pelo twitter</p>
              <p class="hash">{{ audience.hashtag[0] }}</p>
              {% else %}
              <a href="./" class="btn btn-primary todas">Ver mais audiências</a>
              {% endif%}            </div>
            <div id="date" class="pull-right visible-desktop">
              <div class="month">{{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType }}</div>
              <div class="day">{{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType('%d') }}</div>
              <div class="time">
                {{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType('%H') }}:{{ audience.aud_wp_govescuta_data_govesc|formatarDataeHoraPostType('%M') }}
              </div>
            </div>
            <div class="share">
              {%if not facebook%}
              <p>Compartilhe</p>
              <span class='st_facebook_hcount'></span>
              <span class='st_twitter_hcount'></span>
              {%endif%}
            </div>
          </div>
        </div>

      </div>
    </div>
          <script type="text/javascript">
            //Metodo utilizado para atualizar auomaticamente os comentarios do Facebook na pagina de audiencia...
            function atufbcom(){
              FB.XFBML.parse();
            }
            function agendarfb(){
              setInterval(atufbcom,120000);
            }
            window.setTimeout(agendarfb, 10000);
          </script>

    <div class="stage">
      <div class="row">
        <div class="span8">
          <div class="room">
            <div class="streaming">

                {%if audience.aud_wp_govescuta_ativa == 'n'%}

                  <video width="100%" height="100%" id="aovivo" poster="http://s4.procergs.com.br/static2/procergs.jpg" controls="controls" preload="none">

                    {%if sources['video/mp4'] %}
                    <!-- MP4 source must come first for iOS -->
                    <source type="video/mp4" src="{{sources['video/mp4']}}" />
                    {%endif%}

                    <!-- WebM for Firefox 4 and Opera -->
                    <source type="video/webm" src="{{sources['video/webm']}}" />

                    {%if not sources['video/mp4'] %}
                    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
                    <source type="video/ogg" src="{{sources['video/ogg']}}" />
                    {%endif%}


                    <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->
                    <object width="640" height="360" type="application/x-shockwave-flash" data="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}">
                      <param name="movie" value="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}" />
                      <param name="flashvars" value="controls=true&amp;file={{sources['video/mp4']}}" />
                      <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                      <img src="http://s4.procergs.com.br/static2/procergs.jpg" alt="Governador Escuta"
                        title="No video playback capabilities" />
                    </object>
                  </video>
                  <script type="text/javascript">
                    $('video').mediaelementplayer();
                  </script>


                {%else%}
                  <div class="stream">{{audience.aud_wp_govescuta_video_embed|safe}}</div>
                {%endif%}
            </div>
          </div>
        </div>
        <div class="span4 visible-desktop">
          {% if not govescuta and not facebook %}
          <div class="nao-tem-face">
            <a id="comment-sem-face" href="#semfacecom">Comentar sem Facebook</a>
            <div id="semfacecom" style="display:none; width:450px;">
              <div id="message-statusbar" class="alert"></div>
              <form id="internal_chat" method="post" action="{{ url_for('buzz.post') }}">
                <input type="hidden" id="aid" name="aid" value="{{ audience.ID}}">
                <textarea id="message-area" name="message" class="tiny" placeholder="Poste sua mensagem aqui."></textarea>
                <input id="send_comment" class="btn pull-right" type="submit" value="enviar">
              </form>
            </div>
          </div>
          {% endif %}
          <div class="droom">
              {% if not govescuta %}
              <fb:comments href="{{FACEBOOK_COMMENT_URL}}?id={{audiences.0.ID}}" width="380" num_posts="5"></fb:comments>
              {%else%}
                <div class="buzzs">
                <!-- <a class="filter" href="javascript:;" -->
                <!-- title="Alternar a exibição de mensagens moderadas">filtro</a> -->
                <ul id="buzz-public" class="buzz" style="display:none">
                </ul>
                <ul id="buzz-moderated" class="buzz">
                  {% for buzz in buzzes %}
                  <li id="msgid_{{ buzz.id }}">
                    <ul class="{{ loop.cycle('astream', 'bstream') }}">
                      <li class="avatar"><img src="{{ buzz.avatar}}" alt="{{ buzz.owner_nick }}"></li>
                      <li class="author">
                        {% if (buzz.user) %}
                        {{ buzz.user.display_name }}
                        {% else %}
                        {% if (buzz.owner_nick) %}
                        @{{ buzz.owner_nick }}
                        {% else %}
                        Via SMS
                        {% endif %}
                        {% endif %}
                        <em>| {{ buzz.type_name }}</em>
                      </li>
                      <li class="answer">{{ buzz.content }}</li>
                    </ul>
                  </li>
                  {% endfor %}
                </ul >
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    {%if photos%}
    <div class="instagram">
      <div class="row">
        <div class="span12" data-toggle="modal-gallery" data-target="#modal-gallery">
          <ul  id="instaphotos" class="thumbnails">
          {% for photo in photos %}
          <li class="span6">
            <div class="thumbnail">
            <a href="{{ photo.url }}" data-gallery="gallery"  title="{{ photo.caption }}">
              <img src="{{ photo.thumb }}" alt="{{ photo.caption }}" title="{{ photo.caption }}">
            </a>
            <p>{{ photo.caption }}</p>
            </div>
          </li>
          {% endfor %}
    	</ul>
      </div>
      </div>
    </div>
    {%endif%}
  </div>
</div>
<div id="works-like-this" class="modal hide fade" tabindex="-1" role="dialog">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <ol>
    <li class="step-1">
      <div class="wrapper">
        <img
           src="{{ url_for('static', filename='img/couple.png') }}"
           class="step-1-couple" alt="pessoas">
        <div>
          <img
             src="{{ url_for('static', filename='img/mail_trail.png') }}"
             class="step-1-mail-trail" alt="rastro">
          <img
             src="{{ url_for('static', filename='img/mail.png') }}"
             class="step-1-mail" alt="proposta">
        </div>
      </div>
      <p>As pessoas enviam suas contribuições</p>
    </li>
    <li class="step-2">
      <div class="wrapper">
        <div class="gears">
          <img
             src="{{ url_for('static', filename='img/step_2_big_gear.png') }}"
             class="step-2-big-gear" alt="engrenagem grande">
          <img
             src="{{ url_for('static', filename='img/step_2_small_gear.png') }}"
             class="step-2-small-gear" alt="engrenagem pequena">
        </div>
        <img src="{{ url_for('static', filename='img/networked_cpus.png') }}" alt="servidores">
      </div>

      <p>Nossa equipe processa e modera as contribuições</p>


    </li>
    <li class="step-3">
      <div class="wrapper">
        <img
           src="{{ url_for('static', filename='img/mustache_gentleman.png') }}"
           class="mustache-gentleman" alt="governador">
        <img
           src="{{ url_for('static', filename='img/empty_dialog.png') }}"
           class="mustache-gentleman-dialog" alt="balão de fala">
      </div>
      <p>O Governador comenta as contribuições selecionadas</p>
    </li>
  </ol>

  <div id="saiba-mais-link">
    <a href="javascript:show_how_to()"> Saiba mais </a>
  </div>
  <div id="saiba-mais-text" style="display:none">
    {{ how_to|safe }}
  </div>



</div>

{%if not facebook%}
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mais informações</h3>
  </div>
  <div class="modal-body">
    {{audience.aud_wp_govescuta_detalhes_govesc|safe}}
  </div>
</div>
{%endif%}

<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <p class="modal-title"></p>
  </div>
</div>


{%if audience.aud_wp_govescuta_ativa == 'n'%}
<script type="text/javascript">
  jwplayer("aovivo").setup({
    skin: "/static/jw/bekle/bekle.xml",
    width: '100%',
    modes: [
      { type: "html5" },
      { type: "flash", src: "/static/jw/player.swf" },
      { type: "download" }
    ]
  });
</script>
{%endif%}

{% endfor%}
</div>

<script type="text/html" id="buzzTemplate">
  <li>
    <ul class="stream">
      <li class="avatar">
        <img src="<%= obj.avatar %>">
      </li>
      <li class="author">
        <% if (obj.user) { %>
        <%= obj.user.display_name %>
        <% } else { %>
        <% if (obj.owner_nick) { %>
        @<%= obj.owner_nick %>
        <% } else { %>
        Via SMS
        <% } %>
        <% } %>
        <em>| <%= obj.type_.name %></em>
      </li>
      <li class="answer"><%= obj.content %></li>
    </ul>
  </li>
</script>

<script type="text/html" id="buzzTemplateAll">
  <% for( a in obj) { %>
  <li>
    <ul class="stream">
      <li class="avatar">
        <img src="<%= obj.avatar %>">
      </li>
      <li class="author">
        <% if (obj.user) { %>
        <%= obj.user.display_name %>
        <% } else { %>
        <% if (obj.owner_nick) { %>
        @<%= obj.owner_nick %>
        <% } else { %>
        Via SMS
        <% } %>
        <% } %>
        <em>| <%= obj.type_.name %></em>
      </li>
      <li class="answer"><%= obj.content %></li>
    </ul>
  </li>
  <% } %>
</script>

<script type="text/html" id="selectedNotice">
  <ul class="stream">
    <li class="avatar"><img src="<%= obj.avatar %>"></li>
    <li class="author">
      <% if (obj.user) { %>
      <%= obj.user.display_name %>
      <% } else { %>
      <% if (obj.owner_nick) { %>
      @<%= obj.owner_nick %>
      <% } else { %>
      Via SMS
      <% } %>
      <% } %>
      <em> | <%= obj.type_.name %></em></li>
    <li class="answer"><%= obj.content %></li>
  </ul>
</script>

<script>
  setInterval("updateInstagram('{{ tag }}')", 300000);
</script>
</div>
{% endblock %}
