<html>
  <head>
    <title>Governador Ao Vivo</title>
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('static', filename='css/978.css') }}">
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('.static', filename='css/tv.css') }}">
  </head>
  <body>
    <div id="container">
      <div class="row">
        <div class="col12">
          <h1>Governador Escuta</h1>
        </div>
        <div class="row-end"></div>

        <div class="row notice">
        </div>
        <div class="row-end"></div>

      </div>
    </div>

    <script type="text/html" id="noticeTemplate">
      <div class="col2 avatar">
        <img src="<%= obj.avatar %>">
      </div>
      <div class="col10">
        <h2>
        	<% if (obj.user) { %>
          		<%= obj.user.display_name %>
        	<% } else { %>
				<% if (obj.owner_nick) { %>
          			@<%= obj.owner_nick %>
				<% } else { %>
					Via SMS
				<% } %>
        	<% } %>
          <em>| <%= obj.type_.name %></em>
        </h2>
        <p><%= obj.content %></p>
      </div>
    </script>

    <script>
      var BASE_URL = "{{ request.url_root }}";
      var AUDIENCE_ID={{audience.id}};
    </script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/tv.js') }}"></script>
  </body>
</html>
