<html>
  <head>
    <title>Governador Ao Vivo</title>
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('static', filename='css/978.css') }}">
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('.static', filename='css/tv.css') }}">
  </head>
  <body>
    <div class="layout-978" id="container">
      <div class="row">
        <div class="col12">
          <h1>Governador Pergunta</h1>
        </div>
        <div class="row-end"></div>

        <div class="row notice">
          <div class="col2 avatar">
            <img src="{{ notice.avatar }}">
          </div>
          <div class="col9">
            <h2>
              {%- if notice.user %}
                {{ notice.user.display_name }}
              {% else %}
                @{{ notice.owner_nick }}
              {% endif %}
              <em>| {{ notice.type_.name }}</em>
            </h2>
            <p>{{ notice.content|safe }}</p>
          </div>
        </div>
        <div class="row-end"></div>

      </div>
    </div>

    <script type="text/html" id="noticeTemplate">
      <div class="col2 avatar">
        <img src="<%= obj.avatar %>">
      </div>
      <div class="col9">
        <h2>
          <% if (obj.user) { %>
            <%= obj.user.display_name %>
          <% } else { %>
            @<%= obj.owner_nick %>
          <% } %>
          <em>| <%= obj.type_.name %></em>
        </h2>
        <p><%= obj.content %></p>
      </div>
    </script>

    <script type="text/javascript">var SIO_BASE = "{{ host }}";</script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('buzz.static', filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/tv.js') }}"></script>
  </body>
</html>
