<html>
  <head>
    <title>Governador Ao Vivo</title>
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('static', filename='css/978.css') }}">
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('.static', filename='css/sms.css') }}">
  </head>
  <body class="buzz">
    <h1>Governador Escuta - SMS</h1>
	
    <ul id="notices">
      
    </ul>

    <script type="text/html" id="noticeTemplate">
      <li>  
        <div class="author">
          	<% if (obj.user) { %>
          		<%= obj.user.display_name %>
        	<% } else { %>
				<% if (obj.owner_nick) { %>
          			@<%= obj.owner_nick %>
				<% } else { %>
					Via SMS
				<% } %>
        	<% } %>
          <em>| <%= obj.type_.name %></em> 
        </div>
        <div class="content"><%= obj.content %></div>
      </li>
	</script>

    <script type="text/javascript">var BASE_URL = "{{ request.url_root }}";</script>
    <script src="{{ url_for('static', filename='js/jquery-1.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/tv.js') }}"></script>
    <script>
      var BASE_URL = "{{ request.url_root }}";
      var AUDIENCE_ID={{audience.id}};
      $(function () {
          new Buzz(BASE_URL,{
              buzz_accepted: function (msg) {
                  $('#notices').prepend($(tmpl("noticeTemplate", msg)));
              }
          });
      });
    </script>
  </body>
</html>
