@charset "UTF-8";
@font-face {
  font-family: "OpenSansLight";
  src: url('/css/fonts/../fonts/OpenSans-Light-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Light-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
}

@font-face {
  font-family: "OpenSansLightItalic";
  src: url('/css/fonts/../fonts/OpenSans-LightItalic-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
}

@font-face {
  font-family: "OpenSansRegular";
  src: url('/css/fonts/../fonts/OpenSans-Regular-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
}

@font-face {
  font-family: "OpenSansItalic";
  src: url('/css/fonts/../fonts/OpenSans-Italic-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url('/css/fonts/../fonts/OpenSans-Semibold-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
}

@font-face {
  font-family: "OpenSansSemiboldItalic";
  src: url('/css/fonts/../fonts/OpenSans-SemiboldItalic-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
  font-family: "OpenSansBold";
  src: url('/css/fonts/../fonts/OpenSans-Bold-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
}

@font-face {
  font-family: "OpenSansBoldItalic";
  src: url('/css/fonts/../fonts/OpenSans-BoldItalic-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
}

@font-face {
  font-family: "OpenSansExtrabold";
  src: url('/css/fonts/../fonts/OpenSans-ExtraBold-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
}

@font-face {
  font-family: "OpenSansExtraboldItalic";
  src: url('/css/fonts/../fonts/OpenSans-ExtraBoldItalic-webfont.eot') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/css/fonts/../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'), url('/css/fonts/../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'), url('/css/fonts/../fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
}

/* line 17, ../sass/base.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 21, ../sass/base.scss */
a {
  color: #d8001d;
}

/* line 27, ../sass/base.scss */
.home h1, .search, .feed, .twitter, .facebook, .mail, #tweets,
.pessoa1, .pessoa2, .pessoa3, .pessoa4, .male, a.brand,
.pri, .pq, .pro, .como, .logors {
  overflow: hidden;
  text-indent: 1000px;
  background: url(../img/home.png) no-repeat;
}

/* Cabeçalho */
/* line 35, ../sass/base.scss */
.home h1 {
  display: block;
  width: 270px;
  height: 123px;
  text-indent: -1000px;
  overflow: hidden;
}

/* line 43, ../sass/base.scss */
#search, #social {
  text-align: right;
  margin-top: 50px;
  margin-left: 20px;
}

/* line 50, ../sass/base.scss */
.search {
  display: inline-block;
  width: 22px;
  height: 19px;
  background-position: 0px -274px;
  border: 0;
  text-indent: -1000px;
}

/* line 59, ../sass/base.scss */
.feed {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -46px -270px;
  border: 0;
}

/* line 68, ../sass/base.scss */
.twitter {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -82px -270px;
  border: 0;
}

/* line 76, ../sass/base.scss */
.facebook {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -116px -270px;
  border: 0;
}

/* line 84, ../sass/base.scss */
.mail {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -153px -270px;
  border: 0;
}

/* line 92, ../sass/base.scss */
.tweets {
  height: 86px;
  overflow: hidden;
}

/* line 97, ../sass/base.scss */
.tweets ul > li {
  display: inline-block;
  margin-right: 14px;
}

/* line 102, ../sass/base.scss */
.pessoa1 {
  display: block;
  height: 86px;
  width: 23px;
  background-position: 0 -152px;
}

/* line 109, ../sass/base.scss */
.pessoa2 {
  display: block;
  height: 86px;
  width: 23px;
  background-position: -42px -152px;
}

/* line 116, ../sass/base.scss */
.pessoa3 {
  display: block;
  height: 86px;
  width: 30px;
  background-position: -89px -152px;
}

/* line 123, ../sass/base.scss */
.pessoa4 {
  display: block;
  height: 86px;
  width: 30px;
  background-position: -142px -152px;
}

/* line 130, ../sass/base.scss */
.male {
  display: block;
  height: 76px;
  width: 23px;
  background-position: 0 -161px;
}

/* line 137, ../sass/base.scss */
.popover {
  width: 300px;
}

/* line 141, ../sass/base.scss */
.popover-content {
  font-size: 13px;
}

/* line 145, ../sass/base.scss */
.login form {
  margin: 0;
}

/* line 149, ../sass/base.scss */
.login p.saudacao {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}

/* line 160, ../sass/base.scss */
.login .on {
  padding-top: 20px;
}

/* line 164, ../sass/base.scss */
.login .control {
  padding-top: 7px;
}

/* line 168, ../sass/base.scss */
.login .control a {
  color: #d8001d;
}

/* Navegação */
/* line 176, ../sass/base.scss */
.subnav .nav {
  font-size: 17px;
}

/* line 180, ../sass/base.scss */
.subnav .tools {
  display: none;
}

/* line 184, ../sass/base.scss */
.subnav .nav > li > a {
  color: #1f1f21;
  display: block;
  height: 20px;
  margin: 0;
  line-height: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 195, ../sass/base.scss */
.subnav .nav > li > a:hover,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #FFF;
  background-color: #d8001d;
  font-weight: 600;
}

/* line 202, ../sass/base.scss */
.subnav a.brand {
  display: none;
  text-indent: -1000px;
  overflow: hidden;
}

/* Navegação Fixa */
/* line 210, ../sass/base.scss */
.subnav-fixed {
  top: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: #1B1B1B;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(center top, #222222, #111111);
  background-image: -moz-linear-gradient(center top, #222222, #111111);
  background-image: -o-linear-gradient(center top, #222222, #111111);
  background-image: linear-gradient(center top, #222222, #111111);
}

/* line 221, ../sass/base.scss */
.subnav-fixed .tools {
  display: inline-block;
}

/* line 225, ../sass/base.scss */
.subnav-fixed .nav {
  display: block;
  float: left;
  left: 0;
  margin: 0 10px 0 0;
  position: relative;
}

/* line 233, ../sass/base.scss */
.subnav-fixed .nav > li > a {
  margin: 0;
  color: #FFF;
  height: 29px;
  line-height: 29px;
}

/* line 243, ../sass/base.scss */
.subnav-fixed .nav > li > a:hover,
.subnav-fixed .nav > .active > a,
.subnav-fixed .nav > .active > a:hover {
  padding-left: 13px;
  color: #FFF;
  background-color: #d8001d;
}

/* line 250, ../sass/base.scss */
.subnav-fixed a.brand {
  background-position: -204px -260px;
  width: 134px;
  height: 45px;
  margin-right: 27px;
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
}

/* line 260, ../sass/base.scss */
.navbar-search {
  margin-top: 7px;
  margin-right: 20px;
  border-color: #111111;
}

/* line 266, ../sass/base.scss */
footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(center top, #222222, #111111);
  background-image: -moz-linear-gradient(center top, #222222, #111111);
  background-image: -o-linear-gradient(center top, #222222, #111111);
  background-image: linear-gradient(center top, #222222, #111111);
  background-color: #1B1B1B;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  font-size: 10pt;
}

/* line 275, ../sass/base.scss */
.logors {
  background-position: -42px -406px;
  border: 0 none;
  display: block;
  height: 164px;
  margin-top: 20px;
  width: 180px;
  text-indent: -1000px;
}

/* line 285, ../sass/base.scss */
section {
  padding-top: 30px;
  padding-bottom: 40px;
}

@media (max-width: 979px) {
  /* line 293, ../sass/base.scss */
  body {
    margin-top: 60px;
  }

  /* line 297, ../sass/base.scss */
  .subnav {
    top: 0;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
    background-image: -webkit-linear-gradient(center top, #222222, #111111);
    background-image: -moz-linear-gradient(center top, #222222, #111111);
    background-image: -o-linear-gradient(center top, #222222, #111111);
    background-image: linear-gradient(center top, #222222, #111111);
    background-color: #1B1B1B;
    border-color: #252525;
  }

  /* line 309, ../sass/base.scss */
  .subnav .nav {
    display: block;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
    font-size: 13px;
  }

  /* line 317, ../sass/base.scss */
  .subnav a.brand {
    background-position: -204px -260px;
    display: block;
    width: 134px;
    height: 45px;
    margin-right: 27px;
    display: inline-block;
  }

  /* line 326, ../sass/base.scss */
  .subnav .nav > li > a {
    margin: 0;
    line-height: 21px;
  }

  /* line 331, ../sass/base.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    font-weight: bold;
    padding: 9px 15px;
  }

  /* line 338, ../sass/base.scss */
  .collapse.in {
    padding-top: 10px;
  }

  /* line 344, ../sass/base.scss */
  .subnav .nav > li > a:hover,
  .subnav .nav > .active > a,
  .subnav .nav > .active > a:hover {
    padding-left: 13px;
    background-color: #111111;
    color: #FFFFFF;
    margin-left: 10px;
  }

  /* line 351, ../sass/base.scss */
  .subnav .btn-navbar {
    font-weight: 800;
    line-height: 5px;
    margin-top: 7px;
    padding: 12px;
    color: #FFF;
    background-color: #0E0E0E;
    text-shadow: 0 0 0 #0e0e0e;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #151515), color-stop(100%, #040404));
    background-image: -webkit-linear-gradient(center top, #151515, #040404);
    background-image: -moz-linear-gradient(center top, #151515, #040404);
    background-image: -o-linear-gradient(center top, #151515, #040404);
    background-image: linear-gradient(center top, #151515, #040404);
  }

  /* line 362, ../sass/base.scss */
  .subnav .tools {
    display: none;
  }

  /* line 366, ../sass/base.scss */
  .subnav-fixed .nav {
    float: none;
  }

  /* line 370, ../sass/base.scss */
  .subnav-fixed .nav > li > a {
    margin: 0;
    color: #FFF;
    height: 20px;
  }
}
@media (max-width: 767px) {
  /* line 379, ../sass/base.scss */
  .widgets, #sobre, #participe, #govpergunta {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 386, ../sass/base.scss */
  footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 393, ../sass/base.scss */
  footer div.span4 {
    border-bottom: 1px dashed #FFF;
  }

  /* line 397, ../sass/base.scss */
  .block {
    margin-bottom: 60px;
  }
}
/* line 403, ../sass/base.scss */
#signupoverlay {
  width: 500px;
}

/* line 407, ../sass/base.scss */
.overlay {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 5px solid rgba(55, 55, 55, 0.5);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 10px #333333;
  display: none;
  padding: 10px;
  max-height: 80%;
  overflow-y: auto;
}

/* line 418, ../sass/base.scss */
.overlay h1 {
  width: 100%;
  border-bottom: 1px solid #c5c5c5;
}

/* line 423, ../sass/base.scss */
.overlay h4 {
  width: 100%;
  border-bottom: 1px solid #c5c5c5;
}

/* line 428, ../sass/base.scss */
.overlay p.errmsg {
  width: 100%;
  font-weight: bold;
  clear: both;
  color: rgba(255, 0, 0, 0.8);
}

/* line 435, ../sass/base.scss */
.contentWrap {
  height: 100%;
  overflow-y: auto;
}

/* line 440, ../sass/base.scss */
.contentWrap .control-group {
  margin-bottom: 0px;
}

/* line 444, ../sass/base.scss */
.maior {
  width: 200px !important;
}

/* line 16, ../sass/audience.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/audience.scss */
li {
  list-style: none;
}

/* line 25, ../sass/audience.scss */
.content {
  background: url(../img/bg.png);
  color: #FFF;
  padding-top: 20px;
}

/* line 31, ../sass/audience.scss */
p.title {
  font-size: 50px;
  color: #008fd8;
  margin-top: 20px;
  font-weight: 300;
  width: 100%;
  line-height: 1.1em;
  height: 1.2em;
  display: inline;
  text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.6);
}

/* line 43, ../sass/audience.scss */
p.description {
  font-size: 20px;
  padding-right: 100px;
}

/* line 48, ../sass/audience.scss */
#date p {
  float: left;
  padding-top: 20px;
}

/* line 53, ../sass/audience.scss */
#date p.day {
  font-size: 60pt;
}

/* line 57, ../sass/audience.scss */
#date p.month {
  padding-top: 10px;
  font-size: 30pt;
}

/* line 62, ../sass/audience.scss */
#date p.hour {
  clear: both;
  padding-left: 95px;
  padding-top: 0;
  font-size: 20pt;
}

/* line 69, ../sass/audience.scss */
#date p.min {
  padding-top: 0;
  font-size: 20pt;
}

/* line 74, ../sass/audience.scss */
#streaming {
  background: #1f1f21;
  text-align: center;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
}

/* line 80, ../sass/audience.scss */
#streaming .chat {
  background: none repeat scroll 0 0 rgba(31, 31, 33, 0.75);
  color: #FFFFFF;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

/* line 88, ../sass/audience.scss */
#buzz-moderated {
  border: 0 none;
  display: block;
  background-color: #1f1f21;
  display: block;
  padding: 12px;
  position: relative;
  text-align: left;
  color: #FFF;
  margin-bottom: 20px;
  /* @include border-radius(23px 23px 23px 0); */
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 7px 0 rgba(0, 0, 0, 0.8) inset;
}

/* line 102, ../sass/audience.scss */
#beingAnswered {
  margin-bottom: 20px;
  border: 2px dotted #008fd8;
  padding: 10px;
  -webkit-border-radius: 23px 23px 0px 23px;
  -moz-border-radius: 23px 23px 0px 23px;
  -ms-border-radius: 23px 23px 0px 23px;
  -o-border-radius: 23px 23px 0px 23px;
  border-radius: 23px 23px 0px 23px;
}

/* line 109, ../sass/audience.scss */
.stream {
  padding: 10px 0 10px 0;
}

/* line 113, ../sass/audience.scss */
.stream .avatar {
  float: left;
  margin-right: 10px;
  display: block;
  height: 100%;
}

/* line 120, ../sass/audience.scss */
.stream .author {
  color: #008fd8;
  padding-left: 68px;
  font-weight: 600;
  padding-bottom: 10px;
}

/* line 127, ../sass/audience.scss */
.stream .answer {
  padding-left: 68px;
  font-size: 13px;
}
