@import url('../../../static/css/font.css');

* {
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

body {
    background:#222;
}


h1 {
    background: url(../../../static/imgs/logo_govpergunta.png) no-repeat;
    width: 222px;
    height: 87px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 5%;
}

body.buzz {
    margin:10px;
}

#container {
    width:90%;
    margin:0 auto;
}

.buzz h1 {
    margin-top:0;
}

.notice {
    margin-top:30px;
}

.notice .avatar {
    text-align:right;
}

.notice h2 {
    color:#fff;
    padding-bottom:20px;
}

.notice h2 em {
    color:green;
    font-style:normal;
}

.notice p {
    color:#ddd;
    font-size:30px;
}


/* buzz */

.buzz #notices {
    margin:40px 5% 0 5%;
}

.buzz #notices img {
    float:left;
    margin-right:20px;
}

.buzz #notices li {
    clear:both;
    display:block;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:dotted 1px #333;
}

.buzz #notices li .content {
    color:#ddd;
}

.buzz #notices .author {
    color:#fff;
    margin-bottom:5px;
}
