#container #appbase {
    background: white;
    min-height: 582px;
    -moz-box-shadow: 0px 5px 14px 2px #ccc;
    -webkit-box-shadow: 0px 5px 14px 2px #ccc;
    box-shadow: 0px 5px 14px 2px #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

#container #appbase #applogo h1 {
    background: url('../imgs/applogo.png') no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    height: 77px;
    width: 208px;
    margin-top: 15px;
}


#container #appbase #question p {
    background: url("../imgs/balao.png") no-repeat;
    color: #A40000;
    width: 317px;
    height: 95px;
    font-size: 18px;
    font-family: Arial, helvetica, sans-serif;
    padding: 14px 0px 0px 29px;
}

#container #content #maintext {
    background: url('../imgs/que.png') no-repeat bottom right; 
    min-height: 400px;
}   

#container #content #maintext h2 {
    color: #888a85;
    font-size: 36px;
    font-weight: normal;
    padding: 10px;
}

#container #content #maintext p {
    color: #2e3436;
    font-size: 16px;
    padding: 10px 190px 0px 50px;
}
