<!DOCTYPE html>
<html>
  <head>
    <title>Management interface</title>
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('.static', filename='css/admin.css') }}">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1><a href="{{ url_for('.index') }}">Manager</a></h1>
      </div>
    </div>

    <div id="content" class="container">
      <h2 class="title">{{ title }}</h2>
      {% if not hide_menu %}
      <ul class="toolbar">
        <li {% if request.url_rule.rule.endswith('/new') %}class="selected first"{% endif %}>
          <a href="{{ url_for('.new') }}">New</a></li>
        <li {% if request.url_rule.rule.endswith('/audience') %}class="selected"{% endif %}>
          <a href="{{ url_for('.audiences') }}">Listing</a></li>
      </ul>
      {% endif %}
      {% block content %}{% endblock %}
    </div>

    <div id="footer" class="container">
      <div class="wrapper">
        <ul class="menu">
          <li>Audiences</li>
          <li>Collaboration</li>
          <li>Contents</li>
        </ul>
      </div>
    </div>
    <script type="text/javascript"
            src="{{ url_for('.static', filename='js/jquery-1.5.1.min.js') }}">
    </script>
    <script>
      var SIO_BASE = "{{ host }}";
      var BASE_URL = "{{ request.url_root }}";
      var CURRENT_URL = "{{ request.url }}";
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
