<!DOCTYPE html>
<html>
  <head>
    <title>Management interface</title>
    <link
       rel="stylesheet" type="text/css"
       href="{{ url_for('.static', filename='css/admin.css') }}">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1><a href="{{ url_for('.index') }}">Manager</a></h1>
      </div>
    </div>

    <div id="content" class="container">
      <h2 class="title">{{ title }}</h2>
      <ul class="toolbar">
        <li {% if request.url_rule.rule.endswith('/new') %}class="selected first"{% endif %}>
          <a href="{{ url_for('.new') }}">New</a></li>
        <li {% if request.url_rule.rule.endswith('/audience') %}class="selected"{% endif %}>
          <a href="{{ url_for('.audiences') }}">Listing</a></li>
      </ul>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
