{% extends 'admin/base.html' %}

{% block js %}
<script type="text/javascript"
        src="{{ url_for('.static', filename='js/audience.js') }}">
</script>
{% endblock %}

{% block content %}
<form id="edit" method="post" action="{{ url_for('.edit', aid=inst.id) }}"
      class="subcontent">
  <fieldset class="default">
    <h3 class="title">General Info</h3>
    <ul>
      <li>
        <label>The audience title</label>
        <input type="text" name="title" id="title" value="{{ inst.title }}">
      </li>
      <li>
        <label>What this audience is all about?</label>
        <textarea name="subject" id="subject">{{ inst.subject }}</textarea>
      </li>
      <li>
        <label>Enter more details about this audience</label>
        <textarea name="description"
                  id="description">{{ inst.description }}</textarea>
      </li>
      <li>
        <label>When it happens?</label>
        <input type="text" name="date" id="date"
               value="{{ inst.date.strftime('%d/%m/%Y %H:%M') }}"> (dd/mm/aaaa hh:mm)
      </li>
      <li>
        <label>Embed</label>
        <input type="text" name="embed" id="embed"
               value="{{ inst.embed }}">
      </li>
      <li>
        <label>Visible?</label>
        <input type="radio" name="visible" id="visible" value="1"
               {% if inst.visible %}checked{% endif %}> Yes
        <input type="radio" name="visible" id="visible" value="0"
               {% if not inst.visible %}checked{% endif %}> No
      </li>
       <li>
        <label>Begin audience?</label>
        <input type="radio" name="live" id="live" value="1"
               {% if inst.live %}checked{% endif %}> Yes
        <input type="radio" name="live" id="live" value="0"
               {% if not inst.live %}checked{% endif %}> No
      </li>
    </ul>
  </fieldset>

  <fieldset class="streaming">
    <h3 class="title">Hashtag to be tracked in social networks</h3>
    <ul>
      <li>
        <div>
          <label>Term</label>
        </div>
        {% for item in inst.terms %}
        <p class="listTerm">
          <input type="radio" name="main" value="{{ item.hashtag }}"
                 {% if item.main %}checked{% endif %}> Main
          <input type="text" name="term" class="source" value="{{ item.hashtag }}">
          <a href="#" class="deleteTerm" title="Remove term">
            <input class="button remove" type="button"></a>
        </p>
        {% endfor %}
        <a class="source" href="javascript:;" id="addTerm">New term</a>
      </li>
    </ul>
  </fieldset>

  <div class="submit">
    <input type="submit" name="submit" value="Submit">
  </div>
</form>
{% endblock %}
