{% extends 'admin/base.html' %}
{% block content %}
<div class="subcontent">
  <ul class="listing">
   {% for i in audience.query.all() %}
    <li class="last">
        <strong class="subject">Saúde</strong>
        <em class="date">12/09/2011</em>
        <p>{{ i.title }}</p>
      
      <div class="controls">
        <a href="{{ url_for('.moderate', aid=i.id) }}">
          <img src="{{ url_for('.static', filename='imgs/bt_edit.png') }}"
               alt="Moderate this audience">
        </a>  
        <a href="{{ url_for('.edit', aid=i.id) }}">
          <img src="{{ url_for('.static', filename='imgs/bt_edit.png') }}"
               alt="Edit this audience">
        </a>
        <a href="{{ url_for('.remove', aid=i.id) }}">
          <img src="{{ url_for('.static', filename='imgs/bt_remove.png') }}"
               alt="Remove this audience">
        </a>
      </div>
    </li>
    {% endfor  %}
  </ul>
</div>
{% endblock %}
