{% extends 'admin/base.html' %}
{% block content %}
<div class="subcontent">
  <ul class="listing">
   {% for i in audience.query.all() %}
    <li class="last">
      <div class="supercontrols">
      {% if i.started %}
      <a href="{{ url_for('.audience_status', aid=i.id, status='false') }}">Stop</a>
      {% else %}
      <a href="{{ url_for('.audience_status', aid=i.id, status='true') }}">Start</a>
      {% endif %}
      this audience
      </div>

      <strong class="subject">{{ i.title }}</strong>
      <em class="date">12/09/2011</em>
      <p>{{ i.subject }}</p>
      
      <div class="controls">
        <a href="{{ url_for('.moderate', aid=i.id) }}"
           title="Moderate this audience">
          Moderate
        </a>  
        <a href="{{ url_for('.edit', aid=i.id) }}"
           title="Edit this audience">
          Edit
        </a>
        <a href="{{ url_for('.remove', aid=i.id) }}"
           title="Remove this audience"
           class="remove">
          Remove
        </a>
        <span class="clear"></span>
      </div>
    </li>
    {% endfor  %}
  </ul>
</div>
{% endblock %}
