{% extends 'admin/base.html' %}

{% block js %}
<script type="text/javascript">
  var BASE_URL = "{{ request.url_root }}";
  var CURRENT_URL = "{{ request.url }}";
</script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/template.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('buzz.static', filename='js/socket.io.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('buzz.static', filename='js/buzz.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/urls.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('.static', filename='js/moderate.js') }}"></script>
{% endblock %}

{% block content %}
{% set isnew = request.values.get('status', 'new') == 'new' %}

<div class="subcontent moderate">
  <h2 class="subject">Moderation</h2>

  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <div class="massive">
      <label>Show:</label>
      <a {% if isnew %}class="selected"{% endif %}
         href="{{ url_for('.moderate', aid=audience.id) }}?status=new">New</a> |
      <a {% if not isnew %}class="selected"{% endif %}
         href="{{ url_for('.moderate', aid=audience.id) }}?status=accepted">Accepted</a>

      <label>Batch actions:
        <select name="action" onchange="$('#batch').submit()">
          <option value="">---</option>
          <option value="accept">Accept</option>
          <option value="remove">Remove</option>
          <option value="suggest">Suggest</option>
        </select>
      </label>
    </div>

    <ul class="listing">
      {% for i in buzz_list %}
      <li class="{{ loop.cycle('dark', 'light') }}">
        <input name="notice" value="{{ i.id }}" type="checkbox">
        <img src="{{ i.owner_avatar }}">
        <strong>@{{ i.owner_nick }}</strong>
        <p>{{ i.content }}</p>
        <div class="controls">
          {% if isnew %}
          <a href="{{ url_for('.accept_buzz', bid=i.id) }}" class="accept"
             title="Accept this buzz">
            Accept
          </a>
          {% endif %}

          <a href="{{ url_for('.select_buzz', bid=i.id) }}"
             title="Suggest this buzz to be published" class="suggest"
             class="suggest">
            Suggest
          </a>

          <a href="{{ url_for('.delete_buzz', bid=i.id) }}"
             title="Delete this buzz" class="remove"
             class="remove">
            Remove
          </a>
        </div>
        <span class="clear"></span>
      </li>
      {% endfor  %}
    </ul>
  </form>
</div>

<script type="text/html" id="buzzTemplate">
  <li>
    <input name="notice" value="<%= obj.id %>" type="checkbox">
    <img src="<%= obj.owner_avatar %>">
    <strong>@<%= obj.owner_nick %></strong>
    <p><%= obj.content %></p>
    <div class="controls">
      <a href="<%= url_for('admin.buzz.<bid>.accept', { bid: obj.id }) %>"
         class="accept" title="Accept this buzz">
        Accept
      </a>

      <a href="<%= url_for('admin.buzz.<bid>.select', { bid: obj.id }) %>"
         title="Suggest this buzz to be published" class="suggest"
         class="suggest">
        Suggest
      </a>

      <a href="<%= url_for('admin.buzz.<bid>.delete', { bid: obj.id }) %>"
         title="Delete this buzz" class="remove"
         class="remove">
        Remove
      </a>
      <span class="clear"></span>
    </div>
  </li>
</script>
{% endblock %}
