{% extends 'admin/base.html' %}
{% block content %}
<div class="subcontent moderate">
  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <h2 class="subject">Moderation</h2>
    <div class="massive">
      <label>Show:</label>
      <a {% if request.values.get('status') == 'new' %}class="selected"{% endif %}
         href="{{ url_for('.moderate', aid=audience.id) }}?status=new">New</a> |
      <a {% if request.values.get('status') != 'new' %}class="selected"{% endif %}
         href="{{ url_for('.moderate', aid=audience.id) }}?status=accepted">Accepted</a>

      <label>Batch actions:
        <select name="action" onchange="$('#batch').submit()">
          <option value="">---</option>
          <option value="accept">Accept</option>
          <option value="remove">Remove</option>
          <option value="sugest">Sugest</option>
        </select>
      </label>
    </div>

    <ul class="listing">
      {% for i in buzz_list %}
      <li class="{{ loop.cycle('dark', 'light') }}">
        <input name="notice" value="{{ i.id }}" type="checkbox">
        <p>{{ i.content }}</p>
        <div class="controls">
          <a href="{{ url_for('.accept', bid=i.id) }}" class="accept"
             title="Accept this buzz">
            Accept
          </a>

          <!-- FIXME Colocar o caminho correto para a função -->
          <a href="{{ url_for('.delete_buzz', bid=i.id) }}"
             title="Suggest this buzz to be published" class="suggest"
             class="suggest">
            Suggest
          </a>

          <a href="{{ url_for('.delete_buzz', bid=i.id) }}"
             title="Delete this buzz" class="remove"
             class="remove">
            Remove
          </a>
        </div>
      </li>
      {% endfor  %}
    </ul>
  </form>
</div>
{% endblock %}
