{% extends 'admin/base.html' %}
{% block content %}
<form id="form_new" name="form_new" method="post" action="{{ url_for('.new') }}" class="subcontent">
  <fieldset class="default">
    <h3 class="title">General Info</h3>
    <ul>
      <li>
        <label>The audience title</label>
        <input type="text" name="title" id="title">
      </li>
      <li>
        <label>What this audience is all about?</label>
        <input type="text" name="subject" id="subject">
      </li>
      <li>
        <label>When it happens?</label>
        <input type="text" name="date" id="date">
      </li>
<!--      <li>
        <label>Hashtag to be tracked in social networks</label>
        <input type="text" name="hashtag" id="hashtag">
      </li>-->
    </ul>
  </fieldset>

  <fieldset class="streaming">
    <h3 class="title">Streaming</h3>
    <ul>
      <li>
        <div>
          <label>Source</label> / <label>Format</label>
        </div>
          <a class="source" href="#" id="addSourceFormat">New source</a>
                  <p class="sourceFormat">
                       <input type='text' name='source' class='source'>
                       <input type='text' name='format' class='format'>
                       <a href="#" class="deleteSourceFormat" title="Remove source / format"><input class='button remove' type='button'></a>
                   </p>
      </li>
    </ul>
  </fieldset>
  
  <fieldset class="streaming">
    <h3 class="title">Hashtag to be tracked in social networks</h3>
    <ul>
      <li>
        <div>
          <label>Term</label>
        </div>
          <a class="source" href="#" id="addTerm">New term</a>
                  <p class="listTerm">
                       <input type='text' name='term' class='source'>
                       <a href="#" class="deleteTerm" title="Remove term"><input class='button remove' type='button'></a>
                   </p>
      </li>
    </ul>
  </fieldset>  

  <div class="submit">
    <input id="botEnviar" type="submit" name="submit" value="Submit">
  </div>
</form>
{% endblock %}
