{% extends 'admin/base.html' %}

{% block js %}
<script type="text/javascript"
        src="{{ url_for('.static', filename='js/audience.js') }}">
</script>
{% endblock %}

{% block content %}
<form id="form_new" name="form_new" method="post" action="{{ url_for('.new') }}" class="subcontent">
  <fieldset class="default">
    <h3 class="title">General Info</h3>
    <ul>
      <li>
        <label>The audience title</label>
        <input type="text" name="title" id="title">
      </li>
      <li>
        <label>What this audience is all about?</label>
        <input type="text" name="subject" id="subject">
      </li>
      <li>
        <label>Enter more details about this audience</label>
        <input type="text" name="description" id="description">
      </li>
      <li>
        <label>When it happens?</label>
        <input type="text" name="date" id="date"> (dd/mm/aaaa hh:mm)
      </li>
      <li>
        <label>Embed</label>
        <input type="text" name="embed" id="embed">
      </li>
      <li>
        <label>Visible?</label>
        <input type="radio" name="visible" id="visible" value="1" checked> Yes
        <input type="radio" name="visible" id="visible" value="0"> No
      </li>
      <li>
        <label>Begin audience?</label>
        <input type="radio" name="live" id="live" value="1" > Yes
        <input type="radio" name="live" id="live" value="0" checked> No
      </li>
    </ul>
  </fieldset>
  
  <fieldset class="streaming">
    <h3 class="title">Hashtag to be tracked in social networks</h3>
    <ul>
      <li>
        <div>
          <label>Term</label>
        </div>
        <p class="listTerm">
          <input type="radio" name="main" value="1" checked>
          <input type="text" name="term" class="source">
          <input class="button remove deleteTerm" type="button">
        </p>
        <a class="source" href="javascript:;" id="addTerm">New term</a>
      </li>
    </ul>
  </fieldset>

  <div class="submit">
    <input type="submit" name="submit" value="Submit">
  </div>
</form>
{% endblock %}
