{% extends 'admin/base.html' %}
{% block content %}
<div class="subcontent moderate">
  <form id="batch" method="post" action="{{ url_for('.batch') }}">
    <h2 class="subject">Publication</h2>
    <div class="massive">
      <label>Show:</label>
      <a {% if request.values.get('status') == 'new' %}class="selected"{% endif %}
         href="{{ url_for('.publish', aid=audience.id) }}?status=new">New</a> |
      <a {% if request.values.get('status') != 'new' %}class="selected"{% endif %}
         href="{{ url_for('.publish', aid=audience.id) }}?status=published">Published</a>

      <label>Batch actions:
        <select name="action" onchange="$('#batch').submit()">
          <option value="">---</option>
          <option value="publish">Publish</option>
        </select>
      </label>
    </div>

    <ul class="listing">
      {% for i in buzz_list %}
      <li class="{{ loop.cycle('dark', 'light') }}">
        <input name="notice" value="{{ i.id }}" type="checkbox">
        <img src="{{ i.owner_avatar }}">
        <p>{{ i.content }}</p>
        <div class="controls">
          <a href="{{ url_for('.publish_buzz', bid=i.id) }}" class="accept"
             title="Publish this buzz">
            Publish
          </a>
          <span class="clear"></span>
        </div>
      </li>
      {% endfor  %}
    </ul>
  </form>
</div>
{% endblock %}
