{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/carousel.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/about.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/about.js') }}"></script>
{% endblock %}
{% block slideshow %}
<div class="row">
  <div id="slideshow" class="col12"></div>
</div>
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="content" class="col8">
        <div id="page">
          {{ page.content|safe }}
        </div>
    </div>

    <div id="sidebar" class="col4">
      <div id="contacts">
          <h2>Contato</h2>
          <div class="address">
            <p>Gabinete do Governador
            Palácio Piratini, Praça Marechal Deodoro s/n
            Porto Alegre - RS. CEP 90010-282</p>

            <p>Telefone (51) 3210 4100
            gabinetedigital@gg.rs.gov.br</p>

          </div>
      </div>

      <div id="equipe">
                <h2>Equipe</h2>
        <ul>
           <li>
                <h3>Gabinete Digital do</h3><h3> Governador Tarso Genro</h3>
            </li>

           <li>
            <h5>Coordenador Geral:</h5>
            Secretário Chefe de Gabinete Vinícius Wu
           </li>

           <li>
            <h5>Coordenador Executivo:</h5>
            Fabricio Solagna
           </li>

           <li>
            <h5>Gestor Técnico:</h5>
            Lincoln de Sousa
           </li>

           <li>
            <h5>Gestor de Redes Sociais:</h5>
            Everton Rodrigues
           </li>

           <li>
            <h5>Comunicação/Conteúdo:</h5>
            Thaís Rucker
           </li>

           <li>
            <h5>Videomaker:</h5>
            Thiago Köche
           </li>

           <li>
            <h5>Assistente-admnistrativo:</h5>
            Chrystian Menezes
           </li>

           <li>
            <h4>PROCERGS:</h4>
           </li>

           <li>
            <h5>Gerente de projetos:</h5>
            Alessandra Nunes
           </li>

           <li>
             <h5>Programador assistente:</h5>
             Rodrigo Rosa
           </li>

           <li>
            <h4>Convidados:</h4>
           </li>
           
           <li>
            <h5>Designer:</h5>
            Guilherme Guerra
           </li>

           <li>
            <h5>Desenvolvedor:</h5>
            Thiago Silva
           </li>

           <li><h4>Agradecimentos:</h4>
            Hozielt Huston, Matthew Salganik e <br>Fundação Getúlio Vargas
           </li>
        </ul>
      </div>
    </div>
    <div class="row-end"></div>
  </div>

</div>
{% endblock %}
