{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/carousel.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/about.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/about.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="content" class="col8">
        <div id="page">
        <h2> O que é o Gabinete Digital ? </h2>
<p>É um novo espaço de participação que tem como objetivo estimular uma nova cultura na gestão pública, por meio do estabelecimento de canais de diálogo e colaboração com a sociedade a partir do uso das ferramentas digitais. É um órgão articulador da política de Cultura e Governança Digital, vinculado diretamente ao Gabinete do Governador e coordenado pelo Chefe de Gabinete.</p>

<p>O objetivo é promover a cultura democrática e o fortalecimento da cidadania promovendo a eficiência e o controle social sobre o Estado, estruturando a relação do Governador com as diversas formas de escuta e participação através das redes digitais.</p>

<p>A concepção do projeto foi acompanhada por uma ampla pesquisa, que analisou iniciativas do Brasil e do mundo. Fundamentamos o conceito do Gabinete dentro dos termos de Cultura e a Governança Digital.</p>

Neste portal, são 3 ferramentas de participação.

Governador Responde: Onde as pessoas elaboram perguntas diretamente ao Governador. A pergunta mais votada será respondida diretamente em vídeo no final de cada mês.

Governo Escuta: Audiências Públicas transmitidas via internet com participação via bate papo.

Agenda Colaborativa: Contribuições poderão ser enviadas para constituir a pauta do Governador durante as visitas ao interior do Estado.

Além disso, o Gabinete Digital coordenará um Grupo de Trabalho composto por diversas secretarias e unidades de governo, com o objetiovo de produzir diretrizes para assuntos relacionados a cultura e governança digital.
        </div>
    </div>

    <div id="sidebar" class="col4">
      <div id="contacts">
          <h3>Contato</h3>
          <div class="address">
            <p>Gabinete do Governador
            Palácio Piratini, Praça Marechal Deodoro s/n
            Porto Alegre - RS. CEP 90010-282</p>

            <p>Telefone (51) 3210 4100
            gabinetedigital@gg.rs.gov.br</p>

          </div>
      </div>
    </div>
    <div class="row-end"></div>
  </div>

</div>
{% endblock %}
