{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/archive.css') }}">
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="post" class="col8">
      <div id="news">
        <ul>
          {% for post in posts %}
            <li>
                <ul class="news">
                    <li class="title">
                        <h2>
                        <a href="{{ post.permalink }}">
                           {{ post.title }}
                        </a>
                        </h2>
           <p class="date">{{post.the_date.day}}/{{post.the_date.month}}/{{post.the_date.year}}
           as {{post.the_date.hour}}:{{post.the_date.minute}}</p>
                    </li>
                    <li>
                     <p>{{ post.excerpt|safe }}</p>
                    </li>
                </ul>
           </li>
        {% endfor %}
        </ul>
        {{ pagination|safe }}
      </div>
    </div>
    <div id="sidebar" class="col4">
      <div id="wordpress-sidebar-1">
        {{ sidebar|safe }}
      </div>
    </div>
  </div>
  <div class="row-end"></div>
</div>
{% endblock %}
