{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}

<div class="news" id="news">
  <div class="container">
    <div class="row">
      <div class="span9">
        {% for post in posts %}

        <div class="post">
          <h2>
            <a href="{{ post.permalink }}">
              {{ post.title }}
            </a>
          </h2>
          <div class="meta">
            <ul>
              <li><i class="icon-calendar"></i> {{ post.the_date.day }} {{ post.the_date.strftime("%B").capitalize() }} de {{ post.the_date.year }}</li>
              <!-- <li><i class="icon-tag"></i> <a href="">{{ ', '.join(post.tags.split(',')[:3]) }}</a></li> -->
            </ul>
          </div>
          <a href="{{ post.permalink }}">
            <div class="content">
                          {% if post.thumbs %}
              <a href="{{ post.permalink }}">
                {% if post.has_category('wide') %}
                <img
                   src="{{ post.thumbs.widenewsbox.url }}"
                   alt="{{ post.title }}"
                   width="{{ post.thumbs.widenewsbox.width }}"
                   height="{{ post.thumbs.widenewsbox.height }}"
                   class="wide">
                {% elif post.thumbs %}
                <img
                   src="{{ post.thumbs.newsbox.url }}"
                   alt="{{ post.title }}"
                   width="{{ post.thumbs.newsbox.width }}"
                   height="{{ post.thumbs.newsbox.height }}">
                {% endif %}
              </a>
            {% endif %}

{{ post.excerpt|safe }}</div>
          </a>
          <div class="more">
            <a href="{{ post.permalink }}" class="btn">Continue lendo</a>
          </div>
        </div>

        {% endfor %}

        <div class="pagination">
          {{ pagination|safe }}
        </div>
      </div>
      <div class="span3 sidebar">
        {{ sidebar(id='sidebar-1')|safe }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
