{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
  <!--[if IE]>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/ie-blog.css') }}">
  <![endif]-->
  <meta property="og:site_name" content="The Mozilla Blog">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:url" content="{{request.url}}">
  <meta property="og:description" content="{{ post.excerpt }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/lei.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/jquery.fancybox.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('.static', filename='js/post.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2cb22250-8513-4f40-add3-9af9905f61a5"});</script>
<script type="text/javascript">
    var HABILITAR_SANFONA={{HABILITAR_SANFONA}};
    var HABILITAR_ABAS={{HABILITAR_ABAS}};
    var HABILITAR_COMENTARIO_MESTRE={{HABILITAR_COMENTARIO_MESTRE}};
    var HABILITAR_COMENTARIO_FILHOS={{HABILITAR_COMENTARIO_FILHOS}};
</script>
<script src="{{ url_for('.static', filename='js/lei.js') }}"></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block id %}
<div id="news"></div>
{% endblock %}

{% block content %}

<div class="img-comments hide">
  <a id="view-comments" href="#comentarios"><img src="{{ url_for('static', filename='img/comment.png') }}"></a>
  <a id="add-comment" href="#form-com"><img src="{{ url_for('static', filename='img/comment_add.png') }}"></a>
</div>

<div class="news" id="news">
  <div class="container">
    <div class="row">

        {% if post.custom_fields %}
          {% for cf in post.custom_fields %}
            {% if cf.key == 'artigo_hierarquico_banner' %}
              <div class="span12 banner">
                <img src="{{cf.value}}"></img>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

      <div class="span9">
        <div class="post">
          <h2>{{ post.title }}</h2>
          <div class="content">

            {{ post.content|safe }}

            <div class="post-children">
              <div class="post-child-buttons btn-group">
              {% for child in post.filhos %}
                {%if child.title%}
                <button class="post-child-title-button btn" data-id="{{child.id}}">{{child.title|safe}}</button>
                {%else%}
                <button class="post-child-title-button btn" data-id="{{child.id}}">Sem Título</button>
                {%endif%}
              {% endfor %}
              </div>
              {% for child in post.filhos %}
              <div id="div-aba-{{child.id}}" class="post-child"
              {% if not loop.first %}
                style="display:none;"
              {% endif %}
              >
                <h3 class="post-child-title" data-id="{{child.id}}">{{child.title|safe}}</h3>
                <div class="post-child-content" data-id="{{child.id}}"
              {% for cf in child.custom_fields if 'artigo_hierarquico_inibir_comentarios' == cf.key %}
                data-inibir-comentarios="S"
              {% endfor %}
                data-title="{{child.title}}">
                {{child.content|safe}}
                </div>

                <div id="comentarios{{child.id}}" style="display:none; width: 600px;">
                  <h4 id="nomefilhov">{{child.title}}</h4>
                  <ul class="comentarios">

                  {% for comment in child._comments %}
                    <li >
                      {%if comment.nao_exibir_nome != '1'%}
                      <strong>Nome: </strong>{{ comment.author|safe }}<br>
                      {%endif%}
                      {{ comment.content|safe }}
                    </li>
                  {% else %}
                    <li><strong>Não há comentários</strong></li>
                  {% endfor %}

                  </ul>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
          <div class="pull-right">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_plusone_hcount' displayText='Google +1'></span>
          </div>
        </div>

        {% if HABILITAR_COMENTARIO_MESTRE == 'true' %}
        <div id="comments">
          <div class="postcontent">
            <h3>Comentários</h3>

            {% if post.comments.allow_comments %}
            <!-- the comment error msg -->
            <div class="msg error alert alert-error hide"></div>
            <div class="msg success alert alert-success hide"></div>

            <form
               id="blog_comment_form" method="post"
               action="{{ url_for('new_comment') }}">

              <input type="hidden" name="post_id" value="{{ post.id }}">


              <div class="form">
                <img src="{{ user.avatar_url }}" class="pull-left">
                <div class="commentbox">
                  <textarea name="content" maxlength="500" placeholder="Deixe seu comentário…" onKeyUp="countChar(this,500,'#com_contador')"></textarea>
                  <span id="contador">Restam ainda <span id="com_contador">500</span> caracteres.</span>
                  <input class="btn btn-danger pull-right enviar" type="submit" value="Enviar">
                </div>
              </div>
            </form>
            {% endif %}
            {% for comment in post._comments %}
            <div class="comment">
              <img src="{{ comment.user.avatar_url }}" class="pull-left">
              <div class="comcontent">
                <h3>{{ comment.author|safe }}</h3>
                <div class="meta">
                  <i class="icon-calendar "></i>
                </div>
                {{ comment.content|safe }} <br>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

      <div class="sidebar span3">
        <div class="estatisticas post thumbnail">
          <div class="comentarios">{{total_comentarios}}</div>
          <div class="artigos">{{total_artigos}}</div>
        </div>

        <div id="wordpress-sidebar-10">
          {{ sidebar(id='sidebar-10')|safe }}
        </div>
      </div>

    </div>
  </div>
</div>

<div id="form-com" style="display:none; width: 500px;">
    <div class="msg error-filho alert alert-error hide"></div>
    <div class="msg success-filho alert alert-success hide"></div>
    <form id="form_comentario_filho" method="post" action="{{ url_for('new_comment') }}">
      <input type="hidden" name="post_id" id="post_id" value="">
      <label for="content">Comentário para: <strong><span id="nomefilho">Filho 1.1</span></strong></label>
      <textarea placeholder="Escreva sua contribuição aqui…" rows="7" maxlength="500" name="content" id="content" onKeyUp="return countChar(this,500,'#comf_contador')"></textarea>
      <span id="contador">Restam ainda <span id="comf_contador">500</span> caracteres.</span>
      <label class="checkbox naoexibir" for="nao_exibir_nome"><input id="nao_exibir_nome" name="nao_exibir_nome" type="checkbox" value="1" > Não exibir meu nome no comentário</label>
      <input type="submit" value="Enviar" class="btn btn-danger pull-right enviar">
    </form>
</div>

{% endblock %}
