{% extends "balanco_base.html" %}

{% block results %}

<h1>Agenda Colaborativa</h1>

<p>
  Através da Agenda Colaborativa a população gaúcha das mais variadas
  regiões do Estado pode sugerir pautas para serem abordadas pelo
  Governador e seu Secretariado durante as Interiorizações. É o momento
  em que as equipes de governo se deslocam para cidades do interior e
  dão encaminhamentos às demandas regionais da população.
</p>

<ul class="cases">
  <li>
    <h2>Bagé</h2>
    <div class="date">01/07</div>
    <p class="proposta">
      Proposta: Pablo Lisboa - Qualidade de vida para o povo. Indicação da
      criação de telecentros com linux.
    </p>
    <div class="encaminhamentos">
      Encaminhamentos:
      <ul class="encaminhamentos">
        <li>
          Projeto Santa Tecla. Implantação de 1 computados por aluno:
          Beneficiará 15 escolas do município de Bagé. Em 05/12/2011
          passou para 22 Escolas.
        </li>
        <li>
          Atenderá 5.675 alunos e mais 875 professores. Em 05/12/2011
          passou para 6.487 alunos e 580 professores (havia erro na
          declaração inicial).
        </li>
        <li>
          R$ 3.089.000,00 será viabilizado por um termo de cooperação
          Técnica: SECOM, SEDUC e Prefeitura de Bagé
        </li>
      </ul>
      <p>
        470 Professores já receberam o primeiro ciclo de formação.
      </p>
      <p>
        R$ 3.760.000,00 investidos em compra de equipamentos (netbooks).<br>

        R$ 1.016.501,72 estão sendo investidos em infraestrutura das escolas
        de Bagé e Aceguá.<br>

        R$ 400 Mil investidos em fibra ótica para chegar as escolas.<br>

        R$ 200 Mil investidos em rádios para escolas de Aceguá.<br>

        R$ 400 Mil investidos em equipamentos de rede.<br>
      </p>

      <p>
        A formação de professores com apoio da UFRGS, UNIPAMPA e URCAMP
        acontecerá ao longo de 2011 e 2012 , a partir da última semana de
        agosto.
      </p>

      <p>
        Responsável: Secretaria da Educação
        Situação: Termo de Cooperação Assinado
      </p>
    </div>
  </li>
  <li>
    <h2>Santana do Livramento</h2>
    <div class="date">29/07</div>

    <p>
      Proposta: Paulo Brum Ferreira – Investir na articulação da
      Comissão Binacional de Integração Cultural Brasil-Uruguai, que deu
      origem à Carta da Fronteira, entregue aos Presidentes Lula e
      Mujica, no dia 30/07/2010, em Santana do Livramento e o Protocolo
      de Integração Cultural Brasil Uruguai, firmado pela Presidenta
      Dilma em Montevidéu no mês passado. O envolvimento da Comissão
      Binacional representa o aprofundamento da democracia e o avanço da
      participação popular no nosso governo.  Encaminhamento: Criação da
      Escola Binacional de Conservação e Restauro de Patrimônio Cultural
      pelas entidades: Universidade Federal de Pelotas, Fundação Simon
      Bolívar e Município de Santana do Livramento.  Responsável:
      Secretária Estadual da Cultura Situação: Assinado Acordo de
      Cooperação Técnica. Governo do Estado/UFPEL/Fundação Simón
      Bolívar/Prefeitura.
    </p>
    <p>
      Infra-estrutura Proposta: Associação de Municípios da Fronteira
      Oeste RS (AMFRO) - A continuidade da reconstrução e o asfaltamento
      da RS 566, que liga Maçambará a Alegrete, que é um dos mais
      antigos projetos pendentes do Estado.
    </p>
    <p>
      Encaminhamento: ERS 566: Alegrete : Contorno: 4,8 Km - R$ 5
      Milhões
    </p>
    <p>
      Situação: Projeto Monitorado no SME (22.9). Obra em fase
      inicial.
    </p>
    <p>
      Responsável: Secretaria Ifra-Estrutura e Logística
    </p>
  </li>
  <li>
    <h2>Esteio</h2>
    <div class="date">30/08</div>
    <p>
      Proposta: Paulo Renato Menezes - Orientar os prefeitos para que
      municípios se integrem aos sistemas de esgoto existentes e coíbam
      o abastecimento de água por fontes não confiáveis (poços não
      controlados), aproveitando os investimentos feitos pelo Governo
      Federal e a CORSAN.
    </p>
    <p>
      Encaminhamento: Substituição de 25 mil metros de redes de
      abastecimento de água – BNDES R$ 2,5 Milhões
    </p>
    <p>
      Cidades beneficiadas:<br>
      Canoas: 16 mil metros<br>
      Esteio: 7 mil metros<br>
      Sapucaia do Sul: 2 mil metros<br>
    </p>
    <p>
      Situação: Anunciada ordem de início - Prazo de execução: setembro
      2012
    </p>
    <p>Responsável: CORSAN</p>
  </li>
  <li>
    <h2>Taquara</h2>
    <div class="date">30/09</div>
    <p>
      Proposta: Maria Helena Dapper e Raviel Thagli da Silva pediram
      atenção para a saúde na região, em especial para o Hospital Bom
      Jesus.
    </p>
    <p class="encaminhamentos">
      Encaminhamento: Ampliação de leitos do Hospital Municipal Bom
      Jesus: UTI com 08 leitos e mais 18 novos leitos - Totalmente
      reformado e equipado
    </p>
    <p>Situação: Fase final das obras</p>
    <p>
      Encaminhamento: Assinatura do Termo Aditivo de contratualização:
      Associação Educadora São Carlos e Hospital Bom Jesus // Valor
      anual do contrato: R$ 6.488.959,80
    </p>
    <p>Situação: Termo Aditivo assinado</p>
    <p>
      Encaminhamento: Termo de adesão ao Pacto de Gestão pela Saúde:
      Taquara, Igrejinha, Cambará do sul, Parobé, Riozinho, Rolante,
      Três Coroas, São Francisco de Paula.
    </p>
    <p>Situação: Termo de adesão assinado</p>
    <p>Responsável: Secretaria da Saúde</p>
    <p>
      Proposta: Cristina Fernandes Mansueti - MARSUL, COPA e ROTEIRO
      TURÍSTICO DOS MUSEUS: Haverá participação do Governo do Estado
      envolvendo a administração e o acervo do Museu, bem como na
      revitalização da área e seu entorno?
    </p>
    <p>
      Encaminhamento: Protocolo de Intenções: Ampliação da utilização da
      área do Museu Arqueológico
    </p>
    <p>Situação: Protocolo Assinado</p>
    <p>Responsável: Secretaria da Cultura</p>
  </li>
</ul>
{% endblock %}
