{% extends "balanco_base.html" %}

{% block results %}

<h1>Governador Responde fecha o ano com resultados positivos</h1>

<p>
  Com a primeira edição em junho deste ano, a ferramenta Governador
  Responde recebeu mais de 500 perguntas, superou 15 mil votos e teve
  seis perguntas publicadas em vídeo pelo Governador.
</p>

<p>
  Veja os temas que a população colocou em pauta, as respostas do
  Governador e os encaminhamentos gerados.
</p>

<ul class="cases">
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[0]|tojson|safe }})'>
      <img width="250" src="{{ videos.0.thumbnail }}">
    </a>
    <h2>Bombeiros</h2>
    <div class="date">15/06</div>
    <p class="title">
      A demanda encaminhada pela Associação dos Bombeiros do RS
      (Abergs), que tratou da desvinculação dos bombeiros das polícias
      militares foi a mais votada no mês de junho.
    </p>
    <p class="resposta">
      Resposta do Governador: O governador afirmou que defende o piso
      nacional salarial para os policiais militares, incluindo os
      bombeiros, projeto que ainda não foi votado pelo Congresso
      Nacional. Juntamente com um fundo nacional é preciso que seja
      aprovado um fundo nacional para ajudar os estados a pagarem um
      piso salarial respeitável, que faça jus as funções importantes da
      polícia militar e dos bombeiros. Ele também anunciou o concurso
      para contratação de 2 mil policiais, parte deles para os
      bombeiros. Para a questão da autonomia dos bombeiros em relação a
      Brigada Militar, realizou-se uma reunião com a Abergs com a
      presença da Casa Militar e de quadros técnicos do governo para
      discutir a questão e criação de um Grupo de Trabalho. O Governador
      prometeu revogar a norma que proibiu o uso da camisa vermelha
      pelos bombeiros, que é algo que valoriza a categoria e faz com que
      sejam reconhecidos.
    </p>
    <p class="encaminhamentos">
      Encaminhamentos: Instituição pelo decreto 48.229 em 9 de agosto de
      2011 de um Grupo de Trabalho de aconselhamento e auxílio na
      elaboração do plano de modernização do Corpo de Bombeiros do
      Estado. O GT decidiu pela volta da camisa vermelha e já realizou
      reunioes onde as entidades fizeram exposições dos seus pontos de
      vista. Foram recolhidas diversas propostas de modernizacao dos
      Bombeiros que integrarão o relatório final a ser entregue até o
      final de Janeiro, quando o Governador fará os encaminhamentos
      finais.
    </p>
  </li>
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[1]|tojson|safe }})'>
      <img width="250" src="{{ videos.1.thumbnail }}">
    </a>
    <h2>Agente fiscal do tesouro do Estado</h2>
    <div class="date">18/07</div>
    <p class="title">
       A pergunta mais votada no mês de julho de 2011 abordou o tema do
      concurso para Agente Fiscal do Tesouro do Estado.
    </p>

    <p class="resposta">
      Resposta do Governador: Restam apenas 3 vagas para preenchimento
      do quadro total de agentes e o número atual de trabalhadores supre
      as necessidade do Estado. Não há demanda da Secretaria da Fazenda
      para preencher as três vagas restantes.
    </p>
  </li>
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[2]|tojson|safe }})'>
      <img width="250" src="{{ videos.2.thumbnail }}">
    </a>
    <h2>Software Livre</h2>
    <div class="date">18/07</div>
    <p class="title">
      No mês de julho o Governador escolheu uma segunda pergunta para
      responder que trata sobre a política de governo em relação ao
      software livre.
    </p>

    <p class="resposta">
      Resposta do Governador: O Governador afirmou ser uma política que
      está vinculado ao programa de governo, pela importância do
      software livre no processo de democratização. Destacou o uso de
      softwares livres pelo Gabinete Digital e a política de dados
      abertos da Secretaria Estadual de Segurança pública, como
      referência nacional.  A Procergs está criando um laboratório de
      inovação para promover a criação, utilização e promoção de
      tecnologias abertas.
    </p>
    <p class="encaminhamentos">
      Encaminhamentos: Criação do Laboratório de Inovação Tecnológica,
      iniciativa do Gabinete do Governador e do Gabinete Digital,
      juntamente com a Procergs, para promover e desenvolver soluções em
      software livre, através do intercâmbio de profissionais de
      diferentes áreas da tecnologia.  Assinatura do Protocolo de
      Brasília para adoção de documentação aberta para a preservação da
      documentação digital do Estado, durante o Fórum Internacional
      Software Livre.
    </p>
  </li>
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[3]|tojson|safe }})'>
      <img width="250" src="{{ videos.3.thumbnail }}">
    </a>
    <h2>Carreira dos técnicos científicos</h2>
    <div class="date">17/08</div>
    <p class="title">
      A pergunta vencedora do mês de agosto aborda a carreira dos
      Técnicos Científicos e foi encaminhada a partir do tema
      Agricultura.
    </p>
    <p class="resposta">
      Resposta do Governador: O Governador entende que é preciso
      melhorar a remuneração dos técnicos científicos e reorganizar o
      plano de carreira. Disse que uma proposta com aumentos reais a
      cada ano, ainda que não ideal, servirá para dar dignidade salarial
      ao quadro.
    </p>
    <p class="encaminhada">
      Encaminhamentos: A pergunta sobre valorização dos técnicos
      científicos desencadeou um processo de discussão com a categoria e
      proposta de aumento salarial, assunto que segue na pauta do Comitê
      de Diálogo Permanente (Codipe).
    </p>
  </li>
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[4]|tojson|safe }})'>
      <img width="250" src="{{ videos.4.thumbnail }}">
    </a>
    <h2>Copa do Mundo e Turismo</h2>
    <div class="date">26/09</div>
    <p class="title">
      O tema Esportes mobilizou a votação em agosto. Como estar
      preparado para receber a Copa do Mundo e como aproveitar as
      oportunidades geradas pelo evento foi a pergunta respondida pelo
      governador.
    </p>
    <p class="resposta">
      Resposta do Governador: O Governador afirmou ser um acontecimento
      extraordinário para a cidade que vai agregar valores ao estado na
      qualidade de serviços, na segurança pública, nos aeroportos e
      rodovias. Envolve um conjunto de esforços que deixará um legado
      para a qualidade de vida dos gaúchos e exige uma articulação de
      recursos e iniciativas das esferas municipais, estaduais e
      federais.
    </p>

    <p class="encaminhamentos">
      Encaminhamentos: Anúncio de mais de 4 bilhões no total de
      investimentos mobilizados pelas esferas estaduais, municipais e
      federais para a melhoria de estruturas físicas em preparação à
      copa; integração entre as esferas governamentais, o empresariado e
      a população; qualificação de serviços e comprometimento
      político-social.
    </p>
  </li>
  <li>
    <a href="javascript:;" onclick='video.play({{ videos[5]|tojson|safe }})'>
      <img width="250" src="{{ videos.5.thumbnail }}">
    </a>
    <h2>Segurança Pública</h2>
    <div class="date">25/10</div>
    <p class="title">
      O Governador Responde do mês de outubro abordou diversas questões
      relacionadas à Segurança Pública.
    </p>
    <p class="resposta">
      Resposta do Governador: O Governador explicou que as questões de
      segurança pública não podem ser tratadas como meramente policiais
      e devem envolver ações de inclusão social. Iniciativas como o
      Programa Nacional de Segurança Pública com Cidadania estão sendo
      aplicadas no Estado para oferecer oportunidades aos jovens para
      que não sigam o caminho da criminalidade. Ele também destacou a
      contratação de novos policiais, as melhorias tecnológicas na
      polícia e a criação de 2 Territórios de Paz para promover a
      cidadania na cidade de Canoas e Passo Fundo, inaugurados no mês de
      Novembro.
    </p>

    <p class="encaminhamentos">
      Encaminhamentos: Foram instalados dois novos Territórios de Paz,
      em Passo Fundo, e no bairro Mathias Velho, em Canoas, oferecendo
      um conjunto de políticas públicas baseadas no diálogo entre ações
      sociais e policiais, fundamental para a redução dos índices de
      violência e criminalidade e da vulnerabilidade das pessoas.
      Valorização profissional: reajuste das diárias em 75% para os
      agentes policiais que atuarão no verão.
    </p>
  </li>
</ul>


<h1>Próxima edição</h1>
<p>
  A próxima edição do Governador Responde será em fevereiro de 2012 e
  qualquer pessoa pode enviar uma pergunta ao Governador. Caso a
  pergunta seja a mais votada, será respondida pelo Governador. Cada
  rodada de avaliação de perguntas e votos possui 30 dias. O Governador
  tem o compromisso de responder a pergunta mais votada de cada rodada
  em até 10 dias após a contabilização de votos. A critério do
  Governador outras perguntas, que não necessariamente as mais votadas,
  também poderão ser respondidas a qualquer tempo.
</p>
{% endblock %}
