{% extends "base.html" %}

{% block css %}
<link rel="stylesheet"
      href="{{ url_for('govpergunta.static', filename='css/contribs.css') }}">
<link rel="stylesheet"
      href="{{ url_for('govpergunta.static', filename='css/vote.css') }}">
<link rel="stylesheet"
      href="{{ url_for('govpergunta.static', filename='css/results.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/balanco.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('govpergunta.static', filename='js/govpergunta.js') }}"></script>
<script src="{{ url_for('static', filename='js/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('govpergunta.static', filename='js/results.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
  <div class="flagbg">
    <h2>Balanço</h2>
    <strong>do ano de 2011</strong>
  </div>

  <div class="boxed">
    <div class="row subheader">
      <div class="col3">
        <h2>Balanço</h2>
      </div>
      <div class="col9">
        <div class="subtitle">
          Resultados obtidos pelo Gabinete Digital no ano de 2011
        </div>
      </div>
      <p class="intro">
        Nesta seção você confere as principais ações do Gabinete Digital
        durante o ano de 2011 divididas através das ferramentas que o
        cidadão ou cidadã utilizou para pautar o governo.
      </p>
      <div class="row-end"></div>
    </div>

    <div class="row">
      <ul class="logos">
        <li>
          <a href="{{ url_for('.index') }}">
            <img src="{{ url_for('static', filename='imgs/tools/govpergunta.png') }}">
          </a>
        </li>
        <li>
          <a href="{{ url_for('.govescuta') }}">
            <img src="{{ url_for('static', filename='imgs/tools/govescuta.png') }}">
          </a>
        </li>
        <li>
          <a href="{{ url_for('.govresponde') }}">
            <img src="{{ url_for('static', filename='imgs/tools/govresponde.png') }}">
          </a>
        </li>
        <li class="last">
          <a href="{{ url_for('.agenda') }}">
            <img src="{{ url_for('static', filename='imgs/tools/agenda.png') }}">
          </a>
        </li>
      </ul>
    </div>

    <div class="results {{ pagename }}">
      {% block results %}{% endblock %}
    </div>

  </div>
</div>
{% endblock %}
