<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>
      Gabinete Digital - {% block title %}Democracia em Rede{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body>



    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
