<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>
      Gabinete Digital - {% block title %}Democracia em Rede{% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}{% endblock %}
  </head>
  <body data-spy="scroll" data-target=".subnav">
    <script src="{{ url_for('static', filename='jw/jwplayer.js') }}"></script>
    <div class="container">
      <div class="row">
        <section id="home">
          <div class="span3">
            <a href="/" class="home">
              <h1>Gabinete Digital <small>Democracia em rede</small></h1>
            </a>
          </div>
          <div class="span6 offset3">
            <div id="social" class="pull-right">
              <a href="http://gabinetedigital.rs.gov.br/feed" class="feed">rss</a>
              <a href="https://www.facebook.com/gabinetedigital" class="twitter">twitter</a>
              <a href="https://twitter.com/gabinetedigital" class="facebook">facebook</a>
              <a href="https://twitter.com/news" class="mail">news</a>
            </div>

            <div id="search" class="pull-right">
              <form class="form-inline">
                <div class="input-append">
                  <input type="text" class="input-small busca">
                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>

          <div class="subnav navbar-invert pull-right">
            <a class="brand pull-left" href="#home">Gabinete Digital</a>
            <a class="btn btn-navbar pull-right hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
              menu
            </a>
            <div class="nav-collapse">
              <ul class="nav nav-pills">
                {{ menu | safe }}
              </ul>
              <form class="navbar-search form-search pull-right tools">
                <div class="input-append">
                  <input type="text" class="input-small busca search-query">
                  <button type="submit" class="btn"><i class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>

        </section>
      </div>

      <div class="row visible-desktop">
        <div class="span8">
          <div class="tweets">
            <ul>
              <li class="pessoa1"></li>
              <li class="pessoa2"></li>
              <li class="pessoa3"></li>
              <li class="pessoa4"></li>
              <li class="pessoa1"></li>
              <li class="pessoa2"></li>
              <li class="pessoa3"></li>
              <li class="pessoa4"></li>
              <li class="pessoa1"></li>
              <li class="pessoa2"></li>
              <li class="pessoa3"></li>
              <li class="pessoa4"></li>
              <li class="pessoa1"></li>
              <li class="pessoa2"></li>
              <li class="pessoa3"></li>
              <li class="pessoa4"></li>
              <li class="pessoa1"></li>
              <li class="pessoa2"></li>
              <li class="pessoa3"></li>
              <li class="pessoa4"></li>
            </ul>
          </div>
        </div>
        <div class="span4">
          <div class="login">
            <div class="off">
              <p class="saudacao">Olá Visitante!</p>
              <button class="btn btn-primary entrar">Entrar</button>
              <button class="btn btn-primary">Entrar via Facebook</button>
            </div>
            <div class="on">
              <form class="form-inline">
                <input type="text" class="input-small" placeholder="Usuário">
                <input type="password" class="input-small" placeholder="Senha">
                <button type="submit" class="btn logar">Entrar</button>
                <div class="control">
                  <a href="">Esqueci minha senha</a>
                </div>
              </form>
            </div>
            <div class="logado">
              <div class="male pull-right"></div>
              <div class="profile-control">
                <p class="saudacao">Olá, Fernando Machado!</p>
                <button class="btn btn-info">Editar perfil</button>
                <button class="btn btn-danger">Sair</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <h2>Contatos</h2>
            <address>
              <p class="lead">
                <strong>Gabinete do Governador<br> Palácio Piratini</strong><br>
                Praça Marechal Deodoro s/n<br>
                Porto Alegre - RS<br>
                CEP 90010-282<br>
                <a href="mailto:#">gabinetedigital@gg.rs.gov.br</a><br>
                <abbr title="Telefone">T:</abbr> (51) 3210-4100
              </p>
            </address>
          </div>
          <div class="span4">

            <h2>Licenças</h2>

            <p class="lead">Todo o conteúdo do site está disponível sobre a licença
              Creative Commons Attribution 3.0 não adaptada.</p>

            <p class="lead">O código deste site é livre, licenciado sob a Affero GPL.
              Para saber mais sobre isso, veja a nossa página sobre desenvolvimento.</p>
          </div>

          <div class="span4">
            <h2>Rio Grande do Sul</h2>
            <img src="../img/logors.png">
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.masonry.min.js') }}"></script>

    {% block javascript %}
    {% endblock %}
  </body>
</html>
