{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/conselho.css') }}">
<!--[if IE]>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/ie-blog.css') }}">
<![endif]-->
{% endblock %}

{% block javascript %}
<!-- <script src="{{ url_for('.static', filename='js/post.js') }}"></script> -->
<script src="{{ url_for('.static', filename='js/conselho.js') }}"></script>
{% endblock %}

{% block slideshow %}
<div class="row">
  <div id="slideshow" class="col12"></div>
</div>
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="post" class="col8">
      <div id="news">
        <a href="#comments" class="awesome" id="vcoments">Ver contribuições</a>
        <h1>{{ page.title }}</h1>
        <div class="postcontent">
          {{ page.content|safe }}
          <div id="comments">

            <div class="postcontent">
              <h4>Contribuições</h4>
              <div id="ptcp" class="modal">
              {% if page.comments.allow_comments %}

              <!-- the comment error msg -->
              <div class="msg error"></div>
              <div class="msg success"></div>

                <!-- Estes formularios de comentário irão aparecer somente quando clicar no botão "CONTRIBUIR" -->
                <form
                  id="blog_comment_form" method="post"
                  action="{{ url_for('new_contribution') }}">

                <input type="hidden" name="post_id" value="{{ page.id }}">

                <div id='botoes-escolha'>
                  <button id='btn-nomeacao' onClick='clickNomeacao();' class='awesome'>Nomeações</button>&nbsp;
                  <button id='btn-alteracao' onClick='clickAlteracao();' class='awesome'>Alteração da Lei</button>
                </div>

                <div id='div-nomeacao'>
                  <label for="categoria_sugestao"><h5>Categoria de Sugestão</h5></label>
                  <select id='categoria_sugestao' name='categoria_sugestao'>
                    <option value=''>-- Selecione --</option>
                    <option value='1'>Entidades de classe dos profissionais da comunicação social</option>
                    <option value='2'>Empresas de comunicação e instituições representativas do setor</option>
                    <option value='3'>Entidades ligadas à comunicação comunitária</option>
                    <option value='4'>Instituições da sociedade civil e movimentos sociais</option>
                    <option value='5'>Instituições de ensino e pesquisa da área da comunicação social no Rio Grande do Sul</option>
                  </select>

                  <h5>Entidade / Empresa / Instituição</h5>
                  <input type="text" id="content1" name="content1" class="nomeacao" maxlength="80">
                  <input type="submit" value="Enviar" class="awesome">
                  <p>Limite de 80 caracteres</p>
                </div>

                <div id="div-alteracao">
                  <h5>Sugestão de Alteração</h5>
                  <textarea id="content2" name="content2" maxlength=600></textarea>
                  <input id='submit-2' type="submit" value="Enviar" class="awesome">
                  <p>Limite de 600 caracteres</p>
                </div>

              </form>
              {% endif %}
              <button type='button' class='close'>&nbsp;</button>
            </div>

            {% for comment in comments %}
            <a name="comentarios"></a>
            <div class="comment">
              <div class="content">
                {% if comment.categoria_sugestao %}
                  <p><strong>Sugestão para:</strong> {{categoria_contribuicao_text(comment.categoria_sugestao)}}</p>
                  <p>{{ comment.content|safe }}</p>
                {% else %}
                  <p><strong>Sugestão para:</strong> Alteração da lei</p>
                  <p>{{ comment.content|safe }}</p>
                {% endif %}
                <h6>
                  {{ comment.author|safe }} em
                  {{ comment.date_created_gmt|formatarDataeHora('%d/%m/%Y') }}
                </h6>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div id="sidebar" class="col4">
  <div id="wordpress-sidebar-1">
    {{ sidebar(id='sidebar-2')|safe }}
  </div>
</div>
</div>

<!-- div para mostrar o conteudo dos widgets "Saiba Mais" -->
<div id="showmore" class="modal">
  <div id="content"></div>
  <button type="button" class="close">&nbsp;</button>
</div>

<div class="row-end"></div>
</div>
{% endblock %}
