{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/conselho.css') }}">
<!--[if IE]>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/ie-blog.css') }}">
<![endif]-->
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/post.js') }}"></script>
<script src="{{ url_for('.static', filename='js/conselho.js') }}"></script>
{% endblock %}

{% block slideshow %}
<div class="row">
  <div id="slideshow" class="col12"></div>
</div>
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="post" class="col8">
      <div id="news">
        <a href="#comments" class="awesome" id="vcoments">Ver contribuições</a>
        <h1>{{ page.title }}</h1> 
        <div class="postcontent">
          {{ page.content|safe }}
          <div id="comments">

            <div class="postcontent">
              <h4>Contribuições</h4>
              {% if page.comments.allow_comments and show_comment_form %}

              <!-- the comment error msg -->
              <div class="msg error"></div>
              <div class="msg success"></div>

              <div id="ptcp" class="modal">
                <!-- Estes formularios de comentário irão aparecer somente quando clicar no botão "CONTRIBUIR" -->
                <form
                id="blog_comment_form" method="post"
                action="{{ url_for('new_comment') }}">

                <input type="hidden" name="post_id" value="{{ page.id }}">

                <div id='botoes-escolha'>
                  <button id='btn-nomeacao' class='awesome'>Nomeações</button>&nbsp;
                  <button id='btn-alteracao' class='awesome'>Alteração da Lei</button>
                </div>

                <div id='div-nomeacao' class='escondido'>
                  <label for="tipo-contribuicao"><h5>Tipo de Contribuição</h5></label>
                  <select id='tipo-contribuicao'>
                    <option value='1'>Entidades de classe dos profissionais da comunicação social</option>
                    <option value='2'>Empresas de comunicação e instituições representativas do setor</option>
                    <option value='3'>Entidades ligadas à comunicação comunitária</option>
                    <option value='4'>Instituições da sociedade civil e movimentos sociais</option>
                    <option value='5'>Instituições de ensino e pesquisa da área da comunicação social no Rio Grande do Sul</option>
                  </select>

                  <h5>Sua contribuição</h5>
                  <input type='text' maxlength=500 size=50 name='input'></input>
                </div>

                <div id='div-alteracao' class='escondido'>
                  <h5>Sua contribuição</h5>
                  <textarea name="content"></textarea>
                </div>

                <input type="submit" value="Enviar" class="awesome">
              </form>
              {% else %}
              <p>É necessário estar logado para poder enviar sua contribuição. <a href="javascript:chamaLogin();">ENTRAR</a> </p>
              {% endif %}
              <button type='button' class='close'>&nbsp;</button>
            </div>

            {% for comment in comments %}
            <a name="comentarios"></a>
            <div class="comment">
              <div class="content">
                <p>{{ comment.content|safe }}</p>
                <h6>
                  {{ comment.author|safe }} em
                  {{ comment.date_created_gmt|formatarDataeHora('%d/%m/%Y') }}
                </h6>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div id="sidebar" class="col4">
  <div id="wordpress-sidebar-1">
    {{ sidebar(id='sidebar-2')|safe }} 
  </div>
</div>
</div>

<div class="row-end"></div>
</div>
{% endblock %}
