{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.galleriffic.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.history.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.opacityrollover.js') }}"></script>
<script src="{{ url_for('.static', filename='js/gallery.js') }}"></script>
<script src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4ddba96024e86089"></script>
<script src="{{ url_for('.static', filename='js/jquery.rating.pack.js') }}"></script>

{% endblock %}

{% block content %}

<h1 class="stitle">Galeria de fotos</h1>
<div id="gallery" class="content currentgallery">

  <div id="controls"></div>
  <div id="loading"></div>
  <div id="slideshow">
    {% if current %}
    <div id="title">
      <ul>
        <li><h2>{{ current.title }}</h2></li>
        <li class="share">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style"
               addthis:url="{{ request.url_root }}gallery/{{ current.slug }}"
               addthis:title="Galeria : {{ current.title }}">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>

            <script>var addthis_config = {"data_track_clickback":true};</script>
            <!-- AddThis Button END -->
          </div>
        </li>
        <li class="rating">
          <script>
            $(document).ready(function() {
              function adjust(value, r0, r1, r2, r3) {
                var mag = Math.abs(value - r0);
                if (value < 0) {
                  sgn = -1;
                } else {
                  sgn = 1;
                }

                return sgn * mag * (r3 - r2) / (r1 - r0);
              }

              $('input').rating('select',parseInt(adjust(10,1,10,0,4)));
              console.log("Star: " + {{ current.star }};
            });
          </script>
          {% if current.usercanvote %}
          <div>
            <input name="star1" type="radio" class="star" disabled="disabled">
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
          </div>
          {% else %}
          <div>
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
            <input name="star1" type="radio" class="star" >
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
  <div id="caption" class="caption-container"></div>
  <div id="thumbs"  class="navigation images">
    <ul class="thumbs images">
      {% for image in current.images %}
      <li>
        <a href="{{ image.imageURL }}" title="{{ image.description }}" class="thumb"
           {% if loop.index == 1 %}class="selected"{% endif %}
           >
          <img src="{{ image.thumbURL }}" alt="{{ image.description }}">
        </a>
	<div class="caption">
	  <div class="download">
	    <a href="{{ image.imageURL }}_backup">Download Original</a>
	  </div>
	  <div class="text">{{ image.title }}<br>{{ image.description }}</div>
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="busca">
  <h2> Galerias </h2>

  <form method="GET" action="/gallery" id="search_tool">
    busca: <input type="text" name="s" id="s" value="{{s}}">
    <input type="submit" class="submit" value="ir">

  </form>

  <div id="galerias">
    <ul id="gallerylist">
      {% if s %}
      <h3>
        <a href="/gallery">Todas as galerias</a>

        > Resutado busca por: <i>{{s}}</i>

      </h3>
      {% endif %}
      {% if galleries %}
      {% for gallery in galleries  %}
      <li>
        <a href="{{ url_for('.index', slug=gallery.slug) }}{%if s%}?s={{s}}{%endif%}" title="{{ gallery.title }}">
          <img src="{{ gallery.front.thumbURL }}" alt="{{ gallery.title }}">
          <h4>{{ gallery.title }}</h4>
        </a>
      </li>
      {% endfor %}
      {% else %}
      <p class="error">Nenhuma galeria de fotos foi encontrada.</p>
      {% endif %}
    </ul>
  </div>

</div>
<div class="row-end"></div>

{% endblock %}
