{% extends "base.html" %}

{% block title %}
{% if current %}Galeria de Fotos - {{ current.title }} {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.galleriffic.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.history.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.opacityrollover.js') }}"></script>
<script src="{{ url_for('.static', filename='js/gallery.js') }}"></script>
{% endblock %}

{% block content %}
<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="span8">
      <h2>{% if current %}{{ current.title }} {% endif %}</h2>
      </div>
      <div class="span4">
        <div class="controls busca pull-right">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-picture"></i></span>
            <input class="span2" id="inputIcon" type="text">
          </div>
        </div>
      </div>
    </div>
    <div class="row desk">
      <div id="gallery" class="span8 content">
        <div id="controls" class="span8 controls"></div>
        <div class="slideshow-container">
          <div id="loading" class="loader"></div>
          <div id="slideshow" class="slideshow"></div>
        </div>
        <div id="caption" class="caption-container"></div>
      </div>
      <div id="thumbs"  class="span4 navigation visible-desktop">
        <ul class="thumbs">
          {% for image in current.images %}
          <li>
            <a href="{{ image.imageURL }}" title="{{ image.description }}" class="thumb"
               {% if loop.index == 1 %}class="selected"{% endif %}
               >
              <img src="{{ image.thumbURL }}" alt="{{ image.description }}" width="150px">
            </a>
	    <div class="caption">
	      <div class="text">{{ image.description }}</div>
	      <div class="download">
	        <a href="{{ image.imageURL }}_backup">Download Original</a>
                <!-- AddThis Button BEGIN -->
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                  <a class="addthis_button_preferred_1"></a>
                  <a class="addthis_button_preferred_2"></a>
                  <a class="addthis_button_preferred_3"></a>
                  <a class="addthis_button_preferred_4"></a>
                  <a class="addthis_button_compact"></a>
                  <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502bb44573d2fc0a"></script>
                <!-- AddThis Button END -->
	      </div>
	    </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
