{% extends "base.html" %}

{% block title %}
Galeria de Fotos
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.galleriffic.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.history.js') }}"></script>
<script src="{{ url_for('.static', filename='js/gallery.js') }}"></script>
{% endblock %}

{% block id %}
<div id="fotos"></div>
{% endblock %}

{% block content %}
<div class="gallery">
  <div class="container">
    <div class="row">
      <div class="container">
        <div class="videos">
          <div class="row">
            <div class="span8">
              <h2>Fotos</h2>
            </div>
            <div class="span4">
              <div class="controls gbusca pull-right">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-picture"></i></span>
                  <input class="span3 searcher" id="inputIcon" type="text" placeholder="procure aqui sua galeria...">
                  <script type="text/javascript">
                    $(document).ready(function() {
                      $('.searcher').typeahead({
                        source: [{%for t in titulos%}'{{t[1]}}',{%endfor%}],
                        items: 5,
                        minLength: 1,
                        updater: function(item){
                          //Slugs é um dicionáraio que contém como chave o Título da Galeria, e como valor o slug,
                          //para poder recdirecionar diretamente para a galeria.
                          slugs = { {%for t in titulos%}
                                   '{{t[1]}}':'{{t[0]}}',
                                  {%endfor%} }
                          document.location = "/fotos/" + slugs[item]
                        }
                      });
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
          <ul class="thumbnails gallerylist">
            {% for gallery in galerias_especiais %}
              {%if gallery.counter > 0%}
                <li class="span4">
                  <div class="thumbnail video especial">
                    <a href="{{ url_for('gallery.galerias', slug=gallery.slug) }}" title="{{ gallery.title }}">
                      <img src="{{ thumborurl(gallery.front.imageURL, (300,200) ) }}" alt="{{ gallery.title }}" width="100">
                      <div class="meta">{{ gallery.title }}</div>
                    </a>
                  </div>
                </li>
              {%endif%}
            {% endfor %}

            {% for gallery in galleries %}
            {%if gallery.counter > 0%}
            <li class="span3">
              <div class="thumbnail video">
                <a href="{{ url_for('gallery.galerias', slug=gallery.slug) }}" title="{{ gallery.title }}">
                  <img src="{{ thumborurl(gallery.front.imageURL, (250,170) ) }}" alt="{{ gallery.title }}" width="100">
                  <div class="meta">{{ gallery.title }}</div>
                </a>
              </div>
            </li>
            {%endif%}
            {%else%}
            <li class="span9">
              <p>Infelizmente não encontramos nenhuma galeria de fotos com este texto disponível.</p>
              <p>Mas você pode ver a <a href="/fotos/">lista de galerias completa</a>.</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
