{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.galleriffic.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.history.js') }}"></script>
<script src="{{ url_for('.static', filename='js/jquery.opacityrollover.js') }}"></script>
<script src="{{ url_for('.static', filename='js/gallery.js') }}"></script>

{% endblock %}

{% block content %}

<h1 class="stitle">Galeria de fotos</h1>

<div id="gallery" class="content currentgallery">

  <div id="controls"></div>
  <div id="loading"></div>
  <div id="slideshow">
    {% if current %}
    <h2>{{ current.title }}</h2>
    {% endif %}
  </div>
  <div id="caption" class="caption-container"></div>
  <div id="thumbs"  class="navigation images">
    <ul class="thumbs images">
      {% for image in current.images %}
      <li>
        <a href="{{ image.imageURL }}" title="{{ image.description }}" class="thumb"
           {% if loop.index == 1 %}class="selected"{% endif %}
           >
          <img src="{{ image.thumbURL }}" alt="{{ image.description }}">
        </a>
	<div class="caption">
	  <div class="download">
	    <a href="{{ image.imageURL }}_backup">Download Original</a>
	  </div>
	  <div class="image-title">{{ image.description }}</div>
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="busca">
  <h2> Galerias </h2>

  <form method="GET" action="/gallery" id="search_tool">
    busca: <input type="text" name="s" id="s" value="{{s}}">
    <input type="submit" value="ir">

  </form>

  <div id="galerias">
    <ul id="gallerylist">
      {% if galleries %}
        {% for gallery in galleries  %}
        <li>
          <a href="{{ url_for('.index', slug=gallery.slug) }}{%if s%}?s={{s}}{%endif%}" title="{{ gallery.title }}">
            <img src="{{ gallery.front.thumbURL }}" alt="{{ gallery.title }}">
            <h4>{{ gallery.title }}</h4>
          </a>
        </li>
        {% endfor %}
      {% else %}
        <p>Nenhuma galeria de fotos foi encontrada.</p>
      {% endif %}
    </ul>
  </div>

</div>
<div class="row-end"></div>

{% endblock %}
