{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govescuta.css') }}">
{% endblock %}

{% block content %}
<div id="container">
  <div class="row head">
    <div id="logo" class="col4">
      <h1>Governador Escuta</h1>
    </div>
    <div class="col8">
      <p>
        Audiências públicas digitais transmitidas via internet onde você
        pode enviar sua contribuição
      </p>
    </div>
    <div class="row-end"></div>
  </div>

  <div class="row content">
    <h2>Audiências</h2>
    <ul>
      <li>
        <ul class="audiencia">
          <li class="video">
            <gd:video id="15" width="250" height="145">
          </li>
          <li class="titulo">
            <h4>Lançamento do Governador Pergunta - 9 Novembro</h4>
          </li>
          <li class="desc">
            Assista ao lançamento do Govenador Pergunta, nova ferramenta
            de participação popular do Gabinete Digital. O evento
            aconteceu no Memorial do RS. O tema da primeira edição do
            Governador Pergunta é Saúde, e o questionamento feito pelo
            Governador foi “Como podemos melhorar o atendimento e o
            acesso à saúde pública?”. Além do Governador, participaram
            do lançamento o Secretário da Saúde, Ciro Simoni, o Chefe de
            Gabinete e Coordernador do Gabinete Digital Vinícios Wu e
            demais autoridades e convidados.
          </li>
        </ul>
      </li>
    </ul>
    <div class="row-end"></div>
  </div>
</div>
{% endblock %}
