{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/carousel.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/home.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/home.js') }}"></script>
{% endblock %}
{% block slideshow %}
      <div class="row">
            <div id="slideshow" class="col12">
              <ul class="carousel">
                {% for post in slideshow %}
                <li>
                  {% if post.thumbs %}
                  <a href="{{ post.permalink }}">
                  <img
                   src="{{ post.thumbs.slideshow.url }}"
                   alt="{{ post.title }}"
                   width="{{ post.thumbs.slideshow.width }}"
                   height="{{ post.thumbs.slideshow.height }}">
                  </a>
                {% endif %}
              <h2 class="title">
                <a href="{{ post.permalink }}">
                  {{ post.title }}
                </a>
              </h2>
              <div class="excerpt">
                <a href="{{ post.permalink }}">
                  {{ post.excerpt|safe }}
                </a>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% if slideshow.__len__() > 1 %}
              <ol class="controls">
                {% for i in slideshow %}
                <li>
              <a href="#{{ loop.index }}">•</a>
            </li>
            {% endfor %}
          </ol>
          {% endif %}
        </div>
      <div class="row-end"></div>
  </div>
{% endblock %}
{% block content %}
      <div id="container">
  <div class="row">
    <div id="news" class="col8">
      <ul>
        {% for post in news %}
        <li>
          <ul class="news">
            {% if post.thumbs and loop.index == 1 %}
            <li>
              <a href="{{ post.permalink }}">
                {% if post.has_category('wide') %}
                <img
                   src="{{ post.thumbs.widenewsbox.url }}"
                   alt="{{ post.title }}"
                   width="{{ post.thumbs.widenewsbox.width }}"
                   height="{{ post.thumbs.widenewsbox.height }}"
                   class="wide">
                {% elif post.thumbs %}
                <img
                   src="{{ post.thumbs.newsbox.url }}"
                   alt="{{ post.title }}"
                   width="{{ post.thumbs.newsbox.width }}"
                   height="{{ post.thumbs.newsbox.height }}">
                {% endif %}
              </a>
            </li>
            {% endif %}

            {% if loop.index == 1 and post.has_category('wide') %}
            <li class="title">
              <a href="{{ post.permalink }}">
                {{ post.title }}
              </a>
            </li>
            <li class="meta"></li>
            {% else %}
            <li>
              <h2>
                <a href="{{ post.permalink }}">
                  {{ post.title }}
                </a>
              </h2>
            </li>
            <li>
              <a href="{{ post.permalink }}">
                {{ post.excerpt|safe }}
              </a>
            </li>
            <li class="meta">
              <a href="{{ post.permalink }}#comments">
                Comentários (<strong>{{ post.comments.count }}</strong>)
              </a>
              | share
            </li>
            {% endif %}
          </ul>
        </li>
        {% endfor %}
      </ul>

      <ul id="videogallery">
        {% for video in videos %}
        <li class="video{% if loop.last %} last {% endif %}">
          <ul>
            <li>
              <a href="javascript:;" onclick='video.play({{ video|tojson|safe }})'>
                <img src="{{ video.thumbnail }}" alt="{{ video.title }}">
              </a>
            </li>
            <li>
              <a href="javascript:;" onclick='video.play({{ video|tojson|safe }})'>
                {{ video.title }}
              </a>
            </li>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div id="sidebar" class="col4">
      <div id="lasttweet">
        <div class="shadow">
          <div class="tweet">
            {{ last_tweet }}
            <h3>@tarsogenro</h3>
          </div>
        </div>
      </div>

      <div id="picday">
        <h3>Foto do dia</h3>
        <div id="picedge">
          <img src="../static/imgs/picday.png"
               alt="tarso"></div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing
          elit. Quisque arcu ante, cursus in, ornare quis,
          viverra ut, justo. Nullam libero nunc, tristique
          eget.</p>
      </div>
    </div>
    <div class="row-end"></div>
  </div>

</div>
{% endblock %}
