{% extends "base-fluid.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/blog.css') }}">
<!--[if IE]>
<link rel="stylesheet" href="{{ url_for('.static', filename='css/ie-blog.css') }}">
<![endif]-->
{% endblock %}

{% block content %}
<div class="regularPage">
	<div class="container" class="boxed">
		<div class="row-fluid">
			<div id="post" class="span9">
				<div id="news">
					<h2>{{ page.title }}</h2>
					<div class="postcontent">
						{{ page.content|safe }}
					</div>
				</div>
			</div>
			<div id="sidebar" class="span3">
				<div id="wordpress-sidebar-1">
					{{ sidebar(id='sidebar-1')|safe }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
