{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/blog.css') }}">
{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="post" class="col8">
      <div id="news">
          <h1>{{ page.title }}</h1>
          <div class="postcontent">
            {{ page.content|safe }}
          </div>
      </div>
    </div>
    <div id="sidebar" class="col4">
      <div id="wordpress-sidebar-1">
        {{ sidebar|safe }}
      </div>
    </div>
  </div>
  <div class="row-end"></div>
</div>
{% endblock %}
