{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/blog.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/post.js') }}"></script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div id="container">
  <div class="row">
    <div id="post" class="col8">
      <div id="news">
          <h1>{{ post.title }}</h1>
           {{ post.the_date.day }}/
           {{- post.the_date.month }}/
           {{- post.the_date.year }} às
           {{ post.the_date.hour }}:
           {{- post.the_date.minute }}h

          {% include "sociable.html" %}

          {{ post.content|safe }}
          <div id="comments">
          <div class="postcontent">
            {% if post.comments.allow_comments %}

            <!-- the comment error msg -->
            <div class="msg error"></div>
            <div class="msg success"></div>

            <form
               id="blog_comment_form" method="post"
               action="{{ url_for('new_comment') }}">

              <input type="hidden" name="post_id" value="{{ post.id }}">
              <h4>Comentários</h4>

              Deixe seu comentário<br>
              <textarea name="content"></textarea>
              <input type="submit" value="Enviar">
            </form>
            {% endif %}

            {% for comment in comments %}
            <div class="comment">
              <img src="{{ comment.user.avatar_url }}">
              <div class="content">
                <h3>
                  {{ comment.author|safe }} em
                  {{ comment.date_created_gmt|safe }}
                </h3>
                {{ comment.content|safe }} <br>
              </div>
            </div>
            {% endfor %}
          </div>
          </div>
      </div>
      </div>
    </div>
    <div id="sidebar" class="col4">
      <div id="wordpress-sidebar-1">
        {{ sidebar(id='sidebar-1')|safe }}
      </div>
   </div>
  </div>
  <div class="row-end"></div>
</div>
{% endblock %}
