{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
  <!--[if IE]>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/ie-blog.css') }}">
  <![endif]-->
  <meta property="og:site_name" content="The Mozilla Blog">
  <meta property="og:title" content="{{ post.title }}">
  <meta property="og:url" content="{{request.url}}">
  <meta property="og:description" content="{{ post.excerpt }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/gallery.css') }}">
  <link rel="stylesheet" href="{{ url_for('.static', filename='css/jquery.fancybox.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/fancybox/jquery.fancybox.js') }}"></script>
<script src="{{ url_for('.static', filename='js/post.js') }}"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2cb22250-8513-4f40-add3-9af9905f61a5"});</script>
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block id %}
<div id="news"></div>
{% endblock %}

{% block content %}
<div class="news" id="news">
  <div class="container">
    <div class="row">

      <div class="span9">

        <div class="post">
          <h2>{{ post.title }}</h2>
          <div class="meta">
            <div class="pull-left">
              <i class="icon-calendar "></i> 
                {{ post.the_date.day }} de {{ post.the_date.strftime("%B").capitalize().decode('utf8') }} de {{ post.the_date.year }}
              </div>
            <div class="tag pull-left">
              <ul>
                <li><i class="icon-tag "></i> {% for tag in post.tags_object %}<a href="/tag/{{tag.slug}}/">{{tag.name}}</a> {%if not loop.last%},{%endif%} {%endfor%} </li>
              </ul>
            </div>
          </div>
          <div class="content">
            {{ post.content|safe }}
          </div>
          <div class="pull-right">
            <span class='st_facebook_hcount' displayText='Facebook'></span>
            <span class='st_twitter_hcount' displayText='Tweet'></span>
            <span class='st_plusone_hcount' displayText='Google +1'></span>
          </div>
        </div>
        <div id="comments">
          <div class="postcontent">
            <h3>Comentários</h3>

            {% if post.comments.allow_comments %}

            {% if user is not none %}
            <!-- the comment error msg -->
            <div class="msg error"></div>
            <div class="msg success"></div>


            <form
               id="blog_comment_form" method="post"
               action="{{ url_for('new_comment') }}">

              <input type="hidden" name="post_id" value="{{ post.id }}">


              <div class="form">
                <img src="{{ user.avatar_url }}" class="pull-left">
                <div class="commentbox">
                  <textarea name="content" placeholder="Deixe seu comentário…"></textarea>
                  <input class="btn btn-danger pull-right enviar" type="submit" value="Enviar">
                </div>
              </div>
            </form>
            {% else %}
            <div class="alert alert-info">
              <strong>Aviso!</strong> Você precisa estar logado para comentar.
            </div>

            {% endif %}
            {% endif %}
            {% for comment in comments %}
            <div class="comment">
              <img src="{{ comment.user.avatar_url }}" class="pull-left">
              <div class="comcontent">
                <h3>{{ comment.author|safe }}</h3>

                <div class="meta">
                  <i class="icon-calendar "></i>
                </div>

                {{ comment.content|safe }} <br>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="sidebar span3">
        <div id="wordpress-sidebar-1">
          {{ sidebar(id='sidebar-1')|safe }}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
