{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/resultados.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/resultados.js') }}"></script>
{% endblock %}

{% block content %}
<div class="resultados" id="resultados">
  <div class="container">
    <div class="row header">
      <div class="span10">
        <h1>COMO GOVERNO E SOCIEDADE PODEM, JUNTOS, PROMOVER A PAZ NO TRÂNSITO?</h1>
      </div>
    </div>
    <div class="row">
      <div class="span12">
      <p class="desc">O Governador quer saber a sua opinião para melhorar a segurança no nosso trânsito. Vote nas ações que você considera como prioridades para resolver problemas e tornar o trânsito mais seguro, mais humano e que respeite todos os cidadãos. As dez ações mais votadas serão prioridade do governo do Rio Grande do Sul nos próximos dois anos.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="myCarousel" class="carousel slide">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><img src="{{ url_for('.static', filename='img/1.jpg') }}"></div>
            <div class="item"><img src="{{ url_for('.static', filename='img/2.jpg') }}"></div>
            <div class="item"><img src="{{ url_for('.static', filename='img/3.jpg') }}"></div>
            <div class="item"><img src="{{ url_for('.static', filename='img/4.jpg') }}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row buttons">
      <div class="span3">
        <div class="priorizadas">
          <div class="cell">
            30 dias <small>de Consulta</small>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="propostas">
          <div class="cell">
            1388 mil <small>propostas</small>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="pessoas">
          <div class="cell">
            60 mil <small>pessoas envolvidas</small>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="votos">
          <div class="cell">
            300 mil <small>votos</small>
          </div>
        </div>
      </div>
      <div class="span12 dados">
        <div class="board">
          <h2>30 Dias de Consulta Pública</h2>

          <p>Com o objetivo de coletar junto a população informações e subsídios para a criação de políticas públicas, o Governador Pergunta abriu uma consulta pública que durou 30 dias e resultou no envolvimento de milhares de pessoas. Todo processo de participação digital foi dividido em quatro etapas.</p>

          <p>No primeiro momento o Governador fez o questionamento à população “Como podemos melhorar o atendimento na saúde pública”, inaugurando assim, no dia 9 de novembro, a primeira edição do Governador Pergunta. No evento com transmissão ao vivo pela internet e a presença do Secretario Estadual da Saúde, a ferramenta foi apresentada à população.  A partir do final do dia 9, qualquer cidadão pode enviar propostas para o Governador através do site, até o dia 28 de novembro, resultando em 1,3 mil contribuições.</p>

          <p>Na terceira fase, aconteceu a votação, que se iniciou no dia 28 de novembro e foi até o dia 10 de dezembro. O objetivo foi permitir aos participantes se colocarem no papel de gestores da saúde, tendo que decidir sobre as prioridades em cada área. Na quarta e última etapa foram conhecidos os autores das 50 propostas mais priorizadas, que serão recebidos pelo Governador no dia 14 de dezembro no Palácio Piratini.</p>

          <p>A escolha da Saúde como tema para a primeira edição do Governador Pergunta, se baseou pelo interesse dos próprios gaúchos. O tema foi elencado como prioridade na discussão do PPA participativo.</p>
        </div>
      </div>
    </div>

    <div class="row lista">
      <div class="span12">
          <h2>Propostas priorizadas</h2>
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>
                Aumentar de forma gradual, até 80% em 5 anos, o desconto do IPVA para motoristas que não 
                tem multa e não se envolvem em acidentes.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>
                Amplo investimento em transporte público de qualidade como metro, trem e ônibus 
                confortáveis, construção de ciclovias.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>
                Amplo investimento em transporte público de qualidade como metro, trem e 
                ônibus confortáveis, construção de ciclovias.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
                ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Proin convallis arcu non felis venenatis varius. Nulla a amet.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
          <li class="span4">
            <div class="thumbnail">
              <div class="score pull-right">Pontuação<span class="ptn">88</span></div> 
              <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
              <h3>Joana da Silva</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
                ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                Proin convallis arcu non felis venenatis varius. Nulla a amet.
              </p>
              <button class="btn btn-small btn-primary pull-right">saiba mais</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row mais">
      <div class="span12"></div>
      <div class="span2">
        <img class="pull-left" src="{{ url_for('.static', filename='img/user_big.jpg') }}" width="100%" >
      </div>
      <div class="span10">
        <h1>Joana da Silva</h1>
        <p>
          A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos.
          Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
          vista para a rua, sendo menos claustrofóbico.
        </p>
        <a class="aggrlink">Agregadas(7)</a>
      </div>
    </div>

    <div class="row agregadas">
      <div class="span12">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <h3>Joana da Silva</h3>
              <p>
                A solução é transporte público eficiente. Metrô subterrâneo é um desperdício de recursos. 
                Aeromóvel é muito mais barato, não causa tanto transtorno durante a construção e permite 
                vista para a rua, sendo menos claustrofóbico.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span12 resposta">
        <h2>Encaminhamento do Governador</h2>
      </div>
      <div class="span12">
        <div class="resp">
          A Brigada Militar está engajada na divulgação e mobilização para a consulta pública sobre segurança no trânsito do Gabinete Digital. Além da distribuição de material informativo sobre a consulta nas rodovias gaúchas, através do Batalhão Rodoviário, mais de 60 pontos fixos de votação foram espalhados pelo Estado, em Batalhões da BM.
          <em>Comandante-geral da Brigada Militar, coronel Sérgio Roberto de Abreu</em>, <em>vota na Van da Participação no dia do Lançamento da Consulta.</em><br>
          Lançada no dia 9 de outubro, a ferramenta de participação do Gabinete Digital já registrou mais de 110 mil votos até esta segunda-feira (22). Entre as sugestões submetidas à votação popular, 32 advêm das discussões do Comitê Estadual de Mobilização pela Segurança no Trânsito, enquanto as demais são contribuições espontâneas da população gaúcha.
        </div>
      </div>
      <div class="span12">
        <h3>Comentários</h3>
      </div>
      <div class="span12 comments">
        <div class="row comentario">
          <div class="span2">
            <div class="avatar">
              <img src="{{ url_for('.static', filename='img/user_big.jpg') }}" class="img-polaroid">
            </div>
          </div>
          <div class="span10">
            <h5>Da silta</h5>
            <p>A Brigada Militar está engajada na divulgação e mobilização para a consulta pública sobre segurança no trânsito do Gabinete Digital. Além da distribuição de material informativo sobre a consulta nas rodovias gaúchas, através do Batalhão Rodoviário, mais de 60 pontos fixos de votação foram espalhados pelo Estado, em Batalhões da BM.</p>
          </div>
        </div>
        <div class="row comentario">
          <div class="span2">
            <div class="avatar">
              <img src="{{ url_for('.static', filename='img/user_big.jpg') }}" class="img-polaroid">
            </div>
          </div>
          <div class="span10">
            <h5>Da silta</h5>
            <p>A Brigada Militar está engajada na divulgação e mobilização para a consulta pública sobre segurança no trânsito do Gabinete Digital. Além da distribuição de material informativo sobre a consulta nas rodovias gaúchas, através do Batalhão Rodoviário, mais de 60 pontos fixos de votação foram espalhados pelo Estado, em Batalhões da BM.</p>
          </div>
        </div>

        <div class="row">
          <div class="span12">
            <h4>Deixe seu comentário</h4>
          </div>
          <div class="span2">
            <div class="avatar">
              <img src="{{ url_for('.static', filename='img/user_big.jpg') }}" class="img-polaroid">
            </div>
          </div>
          <div class="span10">
            <textarea placeholder="Deixe seu comentário…" name="content" class="span10"></textarea>
            <button class="btn pull-right">Enviar comentário</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
