{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/resultados.css') }}">
{% endblock %}

{% block content %}
<div class="resultados" id="resultados">
  <div class="container">
    <div class="row">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <div class="score pull-right">Score<span class="ptn">88</span></div> 
            <img class="pull-left" src="{{ url_for('.static', filename='img/user.jpg') }}">
            <h3>Joana da Silva</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec odio mauris, 
              ac dignissim nulla. Sed non sem et dui adipiscing volutpat nec ac enim. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Proin convallis arcu non felis venenatis varius. Nulla a amet.
            </p>
            <button class="btn btn-small btn-primary pull-right">saiba mais</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
