{% extends "base-nova.html" %}

{% block head %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#"{% endblock %}

{% block video %}
  <meta property="fb:app_id"      content="410061562412374" />
  <meta property="og:type"        content="video.movie" />
  <meta property="og:url"         content="{{base_url}}{{ url_for('static', filename="me/build/flashmediaelement.swf") }}?controls=true&file={{sources['video/x-flv']}}" />
  <meta property="og:title"       content="{{ video.title }}" />
  <meta property="og:image"       content="{{video.thumbnail}}" />
  <meta property="video:actor:id" content="http://gabinetedigital.rs.gov.br" />

<!-- <meta property="og:type" content="video.movie">
<meta property="og:url" content="{{base_url}}{{url_for('.details',vid=video.id)}}">
<meta property="og:title" content="{{ video.title }}" />
<meta property="og:description" content="{{ video.description }}" />
<meta property="og:image" content="{{video.thumbnail}}" />
<meta property="og:video" content="{{base_url}}{{ url_for('static', filename="me/build/flashmediaelement.swf") }}?controls=true&file={{sources['video/x-flv']}}" />
<meta property="og:video:type" content="application/x-shockwave-flash">

<meta property="og:video:height" content="{{ video.video_height }}" />
<meta property="og:video:width" content="{{ video.video_width }}" />  -->

<meta name="twitter:card" value="player">
<meta name="twitter:site" value="@gabinetedigital">
<meta name="twitter:player" value="{{base_url}}{{ url_for('.embed', vid=video.id) }}">
<meta property="twitter:player:width" content="{{ video.video_width }}">
<meta property="twitter:player:height" content="{{ video.video_height }}">
{% endblock %}


{% block css %}
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "2cb22250-8513-4f40-add3-9af9905f61a5"});</script>
{% endblock %}

{% block id %}
<div id="videos"></div>
{% endblock %}

{% block content %}
<div id="video-theater">
<div class="container">
    <div class="row">
        <div class="span1">
          <div class="video-filter">
            <div class="filter">
              <a href="/videos/recentes"><i class="fa  fa-clock-o fa-2x azul"></i></a>
            </div>
            <div class="filter">
              <a href="/videos/populares"><i class="fa fa-star fa-2x amarelo"></i></a>
            </div>
            <div class="filter">
              <a href=""><i class="fa fa-th-large fa-2x vermelho"></i></a>
            </div>
          </div>

          <div class="buttons">

            <a class="button video embed">
              embed
              <i class="fa fa-code fa-2x"></i>
            </a>

            <a class="button video download">
              Webm
              <i class="fa fa-download fa-2x"></i>
            </a>

            <a class="button video download">
              MP4
              <i class="fa fa-download fa-2x"></i>
            </a>

            <a class="button share face">
              <i class="fa fa-facebook-square fa-3x"></i>
            </a>

            <a class="button share tweet">
              <i class="fa fa-twitter-square fa-3x"></i>
            </a>

            <a class="button share gplus">
              <i class="fa fa-google-plus-square fa-3x"></i>
            </a>

          </div>
        </div>

        <div class="span11">
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}
