{% for video in videos %}
<li class="span3">
  <div class="thumbnail video">
    <a href="/videos/{{video.id}}/">
      <img src="{{ thumborurl(video.thumbnail, (270,152) )
      }}" class="thumb" alt="{{video.title}}">
    </a>
    <div class="meta">
      <a href="/videos/{{video.id}}/">
        <strong>{{video.date | strftime() }} | {{video.views}} visualizações.</strong>
        <p>{{ video.title }} {%if
        video.category_title%} ({{video.category_title}})
        {%endif%} </p>
      </a>
    </div>
  </div>
</li>
{% endfor %}
