{% extends "base-nova.html" %}

{% block head %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# video: http://ogp.me/ns/video#"{% endblock %}

{% block video %}
<meta property="og:type"        content="video.other" />

<meta property="og:title"       content="{{ video.title }}" />
<meta property="og:image"       content="{{video.thumbnail}}" />
<meta property="og:description" content="{{video.description}}" />

<meta property="og:video"            content="{{sources['video/mp4']}}">
<meta property="og:video:type"       content="video/mp4">
<meta property="og:video:width"      content="{{ video.video_width }}">
<meta property="og:video:height"     content="{{ video.video_height }}">

<meta name="twitter:card" value="player">
<meta name="twitter:site" value="@gabinetedigital">
<meta name="twitter:player" value="{{base_url}}{{ url_for('.embed', vid=video.id) }}">
<meta property="twitter:player:width" content="{{ video.video_width }}">
<meta property="twitter:player:height" content="{{ video.video_height }}">
{% endblock %}


{% block css %}
<script type="text/javascript">stLight.options({publisher: "2cb22250-8513-4f40-add3-9af9905f61a5"});</script>
{% endblock %}

{% block id %}
<div id="videos"></div>
{% endblock %}

{% block content %}
<div id="video-theater">
  <div class="container">
    <div class="row">
      <div class="span1">
        <div class="buttons">

          <a class="button video download hidden-phone" href="{{sources['video/webm']}}">
           <div class="visible-desktop">Webm</div>
            <i class="fa fa-download fa-2x"></i>
          </a>

          <a class="button video download hidden-phone" href="{{sources['video/mp4']}}">
           <div class="visible-desktop">MP4</div>
            <i class="fa fa-download fa-2x"></i>
          </a>

          <a href="#" class="button share face hidden-phone" id="facebook">
            <i class="fa fa-facebook-square fa-3x"></i>
          </a>

          <a href="https://twitter.com/share" class="button share tweet hidden-phone" id="twitter">
            <i class="fa fa-twitter-square fa-3x"></i>
          </a>

          <a class="button share gplus hidden-phone" id="googleplus">
            <i class="fa fa-google-plus-square fa-3x"></i>
          </a>

        </div>
      </div>

      <div class="span11">
        <div class="stage">
          <h2>{{ video.title }}</h2>

          <video style="width: 100%; height: 100%; max-width: 100%; max-height: 100%" id="video{{ video.id }}" poster="{{video.thumbnail}}" controls="controls" preload="none">
            <!-- MP4 source must come first for iOS -->
            <source type="video/mp4" src="{{sources['video/mp4']}}" />
            <!-- WebM for Firefox 4 and Opera -->
            <source type="video/webm" src="{{sources['video/webm']}}" />
            <!-- OGG for Firefox 3 -->
            <!-- <source type="video/ogg" src="../media/echo-hereweare.ogv" /> -->
            <!-- Fallback flash player for no-HTML5 browsers with JavaScript turned off -->

            <object width="640" height="360" type="application/x-shockwave-flash" data="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}">
              <param name="movie" value="{{ url_for('static', filename="me/build/flashmediaelement.swf") }}" />
              <param name="flashvars" value="controls=true&amp;file={{sources['video/mp4']}}" />
              <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
              <img src="{{video.thumbnail}}" width="{{ video.video_width }}" height="{{ video.video_height }}" alt="Here we are"
                   title="No video playback capabilities" />
            </object>
          </video>

          <div class="desc">
            {{ video.description }}
          </div>

          <div class="meta hidden-phone">
            <div class="row">
              <div class="span11">
                <div class="buttons">
                  <a class="button span1 video tweet">
                    {{video.views}}
                    <i class="fa fa-eye fa-2x"></i>
                  </a>

<!--                  <a class="button video embed span1 visible-desktop">
                    <div class="visible-desktop">embed</div>
                    <i class="fa fa-code fa-2x"></i>
                  </a>
                  <a class="button ecode span3">
                    <textarea class="span3" readonly="readonly" onfocus="$(this).select()"> <iframe style="border:0" src="{{base_url}}{{ url_for('.embed', vid=video.id) }}" width="{{ video.video_width }}" height="{{ video.video_height }}"</iframe></textarea>
                  </a> -->
                  {% if video.category_name %}
                  <a href="#" class="button canal">
                    <p><i class="fa fa-th-large fa-2x"></i>{{ video.category_name }}</p>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/vendor/jquery/jquery.cookie.js') }}"></script>
<script src="{{ url_for('static', filename='js/base/video-views.js') }}"></script>
<script src="{{ url_for('static', filename='js/base/video.js') }}"></script>

<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "410061562412374", // App ID
      status     : false,    // check login status
      cookie     : false,    // enable cookies to allow the
                            // server to access the session
      xfbml      : false     // parse page for xfbml or html5
                            // social plugins like login button below
                          });

    // Put additional init code here
  };

  // Load the SDK Asynchronously
  (function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
