/* General stuff */
@font-face { font-family:'Cantarell';
  src:url(../../../static/fonts/Cantarell-Bold.ttf); }
* { margin:0; padding:0; list-style:none; }
body { font:normal 10pt Sans, Helvetica, sans-serif; color:#4f5b66; }
.container { width:968px; margin:0 auto; }

/* Header and main title */
#header { height:50px; padding:5px 0:;
          background:url(../imgs/bg_header.png) repeat-x bottom #73d216; }
#header a { color:#fff; text-decoration:none; }
#header h1 { font-size:18px; padding:7px 0; }
h2.title { font-family:Cantarell; color:#204a87; font-size:32px; margin:14px 0; }
h3.title { font-family:Cantarell; color:#ce5c00; font-size:16px; }
.toolbar { display:block; height:52px; background:#3465a4; border-radius:10px;
           margin-bottom:20px; }
.toolbar li {
  display:block; float:left; margin-right:10px; font-size:18px;
  font-family:Cantarell; }
.toolbar li.selected {
  background:url(../imgs/bg_tbselected.png) 50% 50px no-repeat;
  height:63px; }
.toolbar li a { display:block; color:#fff; text-decoration:none;
  padding:14px 28px; }
.toolbar li.selected a { background:#729fcf; }
.toolbar li.selected.first a {
  border-top-left-radius:10px; border-bottom-left-radius:10px; }


/* content */
.subcontent { background-color:#fafafa; padding:10px 20px; margin-top:40px;
              border:solid 1px #aeaeae; border-bottom:0; border-radius: 10px;
              box-shadow: 1px 1px 25px #bbb; }


/* Form fields are organized inside fieldsets */
input { border:solid 1px #999; background:#fff; padding:3px; margin:10px 0 0 20px;
        border-radius:5px; }
input.button { background:#333; color:#fff; }
fieldset { margin:10px 0; border:0; }
fieldset ul { padding-left:10px; }
fieldset ul li { margin:10px 0; }
label { display:block; padding:3px 0; font-weight:bold; }
.submit { clear:both; }


/* Footer stuff */
div#footer { border-top:solid 2px #d3d7cf; margin-top:30px; height:140px;
             background:url(../imgs/footer.png) repeat-x 0 10px; }
div#footer .wrapper { padding:30px 20px; }

/* ----  new.html customized stuff  ---- */
fieldset.default { display:block; width:45%; float:left; }

fieldset.streaming { display:block; float:left; }
fieldset.streaming input.add { margin-left:5px; }
fieldset.streaming input.source { width:50%; }
fieldset.streaming input.format { width:25%; margin-left:5px; }
fieldset.streaming input.button { padding:3px 10px; margin-left:5px; }
fieldset.streaming label { display:inline; }
fieldset.streaming a.source {
  padding-left:30px; text-decoration:none; font-size:x-small; }
fieldset.streaming input.remove {
  background:url(../imgs/bt_remove.png) no-repeat 0 0;
  padding:0; border:0; width:30px; height:27px; cursor:pointer; }


/* ---- listing.html customized stuff  ---- */
ul.listing li { border-bottom:dotted 1px #d7d7d7; margin:25px 0; }
ul.listing li.last { border-bottom:0; }
ul.listing a { text-decoration:none; color:#666; }
ul.listing .subject { font-size:18px; color:#4e9a06; margin-right:20px; }
ul.listing .date { color:#a3a3a3; font-size:18px; font-weight:bold; font-style:normal; }
ul.listing p { font-size:18px; margin:10px 0; }
ul.listing .controls { text-align:right; margin-bottom:10px; }
