/** Reseting **/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
}

/** body **/

body {
    font-size: 11.5px;
    font-family: sans-serif;
    background: url(../imgs/978-grid.png) repeat-y center top;
}

a {
    color: #668000;
}

/** Headers **/

#header {
    background: url(../imgs/header.png) 6px 0 no-repeat;
    height: 371px;
    position: absolute;
    z-index: -1;
}

#header h1 {
    background: url("../imgs/logo.png") no-repeat;
    display: block;
    width: 213px;
    height: 97px;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 39px;
    margin-left: 54px;
    position: absolute;
}

#header .login {
    float: right;
    margin-top: 22px;
    margin-right: 54px;
    font-size: 13px;
}

#header .login li {
    display: inline;
}

#header #social li {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 6px;
    margin-top: 7px;
    overflow: hidden;
    text-indent: -9999px;
    margin-bottom: 16px;
}

#header   h4 {
    text-align: right;
    margin-top: 84px;
    margin-right: 54px;
}

#header   #social {
    float: right;
    margin-right: 54px;
}

#header  #social .feed {
    background: url(../imgs/feed.png) no-repeat;
}

#header  #social .twitter {
    background: url(../imgs/twitter.png) no-repeat;
}

#header  #social .identica {
    background: url(../imgs/identica.png) no-repeat;
}

#header  #social .facebook {
    background: url(../imgs/facebook.png) no-repeat;
}

#header #menu {
    background: url("../imgs/menu.png") repeat scroll 0 0 transparent;
    height: 37px;
    line-height: 38px;
    margin: 66px 54px 0 54px;
    border-radius: 8px;
}
#header #menu li {
    display: inline;
    font-size: 14px;
    padding-left: 17px;
}
#header #menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/** Container **/

#container {
    background: url(../imgs/buzz.png) no-repeat 615px 334px;
    padding-top: 216px;
}

#container #title {
    color: #999;
    padding-left: 54px;
    padding-top: 13px;
    position: absolute;
}

#container #title .top {
    font-size: 35px;
}

#container #title .bottom {
    font-size: 16px;
    padding-left: 20px;
    width: 494px;
}

#container #date {
    color: #CCC;
    float: right;
    margin-right: 54px;
}
#container #date .day {
    font-size: 74px;
    position: absolute;
}
#container #date .month {
    font-size: 40px;
    margin-left: 100px;
    margin-top: 2px;
}
#container #date .hour {
    font-size: 22px;
    margin-left: 99px;
    position: absolute;
}
#container #date .min {
    font-size: 22px;
    margin-left: 141px;
}

#container #main {
    background: url(../imgs/main.png) no-repeat -8px 0px;
    height: 651px;
    margin-top: 100px;
}

#container #main .content {
    margin: 23px;
}

#container #main .content h2 {
    color: #CE3316;
    font-size: 24px;
    margin-bottom: 11px;
}

#container #main .content .stream {
    margin-left: 16px;
    margin-bottom: 21px;
}

#container #main .content .stream img {
    float: left;
    margin-right: 10px;
}

#container #main .content .stream .author {
    font-weight: bold;
    margin-bottom: 5px;
}

#container #main .content .stream a {
    color: #668000;
}

#container #main .content #streaming {
    background: url(../imgs/video.png) ;
    display: block;
    width: 606px;
    height: 356px;
    margin-bottom: 20px;
}

#container #main .content #misc .instructions li {
    font-size: 18px;
    color: #1a1a1a;
    margin-bottom: 11px;
}

#container #main .content #misc .instructions li:first-child {
    background: url(../imgs/filter.png) no-repeat;
    display: block;
    height: 25px;
    padding-left: 36px;
    line-height: 25px;
}

#container #main .content #misc .instructions li:last-child {
    background: url(../imgs/chat.png) no-repeat;
    padding-left: 36px;
}


/** Buzz **/

#container #buzz {
    margin-top: 48px;
    height: 460px;
    overflow-y: scroll;
}

#container #buzz .stream {
    width: 260px;
    background: url(../imgs/line.png) no-repeat bottom;
    padding-bottom: 23px;
    margin-bottom: 10px;
}

#container #buzz  .stream img {
    float: left;
    margin-right: 10px;
}

#container #buzz  .stream .author {
    font-weight: bold;
    margin-bottom: 5px;
}

#container #buzz  .stream a {
    color: #668000;
}
