{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="appbase">
        <div class="row">
            <div id="applogo" class="col3">
                <h1>Governador Pergunta</h1>
            </div> 
            <div id="question" class="col4">
                <p>Como podemos melhorar o atendimento  e o acesso à saúde pública ?</p>
            </div>
            <div id="step" class="col5">
                <ol>
                    <li><img src=""><strong>o que é?</strong>
                    <li><img src=""><strong>como funciona?</strong>
                    <li><img src=""><strong>temas</strong>
                    <li><img src=""><strong>contribua</strong>
                </ol>
            </div>
        <div class="row-end"></div>
    </div>
  </div>
</div>
{% endblock %}
