#container #post {
    margin-top: 20px;
    background:white;
    font-size: 13px;
    -moz-box-shadow: 0px 0px 6px 1px #CCC;
    -webkit-box-shadow: 0px 0px 6px 1px #CCC;
    box-shadow: 0px 0px 6px 1px #CCC;
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 20px;
}

#container #news h2 a {
    color: #2e3436;
}

#container #news a {
    color: #808080;
}

#container #news  {
    color: #808080;
}

#container #news .news {
    color: #2E3436;
    font-size: 10pt;
    margin: 19px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
}

#container #news .news h2 a:hover {
    color: #D40000;
}

#container #news .news h2 {
    color: #2e3436;
    font-size: 18px;
    margin-bottom: 8px;
}

#container #news .news p.date {
    color: #999;
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 10px;
}

#container #news .news p {
    color: #2e3436;
    font-size: 14px;
    margin-bottom: 8px;
}

/** Sidebar **/

#container #sidebar {
    margin-top: 60px;
    margin-bottom: 20px;
}

#container #sidebar h3 {
    font-size: 16px;
    font-weight: normal;
    color: #4e9a06;
}

#container #sidebar .widget_recent_entries li {
    margin: 10px;
    font-size: 14px;
    border-bottom: 1px dotted #babdb6;
    padding-bottom: 6px;
}

#container #sidebar .widget_recent_entries a, .widget_recent_entries a:visited {
    color: #2e3436;
}

#container #sidebar .widget_recent_entries a:hover {
    color: #999;
}

#container #sidebar .widget_tag_cloud {
    margin-bottom: 30px;
}

#container #sidebar .widget_tag_cloud li {
    display: inline;
}

#container #sidebar .widget_categories {
    margin-bottom: 30px;
}

#container #sidebar .widget_categories ul {
    margin-top: 10px;
    margin-left: 8px;
}

#container #sidebar .widget_categories a:hover {
    text-decoration: underline;
}

#container #sidebar .widget_archive {
    margin-bottom: 30px;
}

#container #sidebar .widget_archive ul {
    margin-top: 10px;
    margin-left: 8px;
}

#container #sidebar .widget_archive a, .widget_archive a:visited  {
    color: #2e3436;
    padding-bottom: 6px;
    display: block;
}

#container #sidebar .widget_archive a:hover {
    text-decoration: underline;
}

