@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

#header #slideshow {
    height: 26px;
    background: url(../imgs/slideshow.png) #4e9a06 center center no-repeat;
}

#container #post {
    margin-top: 20px;
    background:white;
    font-family: 'Open Sans';
    font-size: 13px;
}

#container #post #wrapper-top {
    background: url(../imgs/wrapper-top.png) -9px no-repeat;
    height: 44px;
}

#container #post #wrapper {
    background: url(../imgs/wrapper.png) -9px repeat-y;
    padding: 0px 40px 20px 20px;
}

#container #post blockquote {
    background: url("../imgs/quote.png") top right no-repeat ;
    padding: 5px 38px 10px 10px;
    text-align: justify;
    color: #555753;
    font-style: italic;
}

#container #post h1 {
    margin-bottom: 10px;
}

#container #post h2, h3, h4 {
    color: #A40000;
}

/* #container #post .wp-caption-text {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    margin-top: -41px;
    width: 279px;
    padding: 10px;
    position: absolute;
} */

#container #post ul {
    margin-left: 20px;
    list-style-type: circle;
}

#container #post ol {
    margin-left: 20px;
    list-style: decimal;
}

#container #post #wrapper-bottom {
    background: url(../imgs/wrapper-bottom.png) -9px no-repeat;
    height: 62px;
}

#container #post h2 {
    margin-bottom:20px;
}

#container #post p {
    margin:10px 0;
}

#container #sidebar {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Open Sans';
}

#container #sidebar h3 {
    font-size: 16px;
    font-weight: normal;
    color: #4e9a06;
}

#container #sidebar #recent-topics li {
    margin: 10px;
    font-size: 14px;
    border-bottom: 1px dotted #babdb6;
    padding-bottom: 6px;
}

#container #sidebar #recent-topics a, a:visited, a:hover {
    color: #2e3436;
}

#container #sidebar #tag-cloud {
    margin-bottom: 30px;
}

#container #sidebar #tag-cloud li {
    display: inline;
}
