@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

#container #post {
    margin-top: 20px;
    background:white;
    font-family: 'Open Sans';
}

#container #post #wrapper-top {
    background: url(../imgs/wrapper-top.png) -9px no-repeat;
    height: 44px;
}
#container #post #wrapper {
    background: url(../imgs/wrapper.png) -9px repeat-y;
    padding: 0px 40px 20px 20px;
}
#container #post #wrapper-bottom {
    background: url(../imgs/wrapper-bottom.png) -9px no-repeat;
    height: 62px;
}

#container #post h2 {
    margin-bottom:20px;
}

#container #post p {
    margin:10px 0;
}

#container #sidebar {
    margin-top:20px;
    font-family: 'Open Sans';
}

#container #sidebar h3 {
    font-size: 22px;
    font-weight: normal;
    color: #2e3436;
}

#container #sidebar #recent-topics li {
    margin: 10px;
    font-size: 14px;
}

#container #sidebar #recent-topics .dark a, a:visited, a:hover {
    color: #555753;
}

#container #sidebar #recent-topics .light a, a:visited, a:hover {
    color: #888a85;
}

#container #sidebar #tag-cloud {
    margin-top: 20px;
}

#container #sidebar #tag-cloud li {
    display: inline;
}
