#container {
    background:white;
    font-size: 13px;
    -moz-box-shadow: 0px 0px 6px 1px #CCC;
    -webkit-box-shadow: 0px 0px 6px 1px #CCC;
    box-shadow: 0px 0px 6px 1px #CCC;
    background-color: #FFF;
    color: #2E3436;
}

#container h1 {
    color: #A40000;
    padding:  25px;
}

#container a.prev, #container a.next {
    text-indent: -9999px;
    overflow: hidden;
    width: 26px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 250px;
}

#container .prev {
    background: url(../imgs/prev.png) no-repeat;
}

#container .next {
    background: url(../imgs/next.png) no-repeat;
}

#container .frame {
    border: 1px solid #888A85;
    background: #FFF;
    box-shadow: 3px 5px 4px #CCCCCC;
    -moz-box-shadow: 3px 5px 4px #CCCCCC;
    -webkit-box-shadow: 3px 5px 4px #CCCCCC;
}

#container .frame img {
    width: 800px;
    margin: 0 auto;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

#container .desc {
    font-style: italic;
    font-size: 15px;
    text-align: center;
    color: #555753;
    margin-top: 11px;
}

#container .wall {
    width: 810px;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 1px solid #888A85;
    border-bottom: 1px solid #888A85;
    padding-left: 6px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 27px;
}

#container .wall li{
    display: inline;
    margin-right: 14px;
    margin-top: 10px;
}

#container .wall li.last {
    margin-right:0;
}
