@charset "UTF-8";
/* line 16, ../sass/base.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 20, ../sass/base.scss */
a {
  color: #d8001d;
}

/* line 25, ../sass/base.scss */
.home h1, .search, .feed, .twitter, .facebook, .news, #tweets,
.pessoa1, .pessoa2, .pessoa3, .pessoa4, .male, a.brand {
  overflow: hidden;
  text-indent: 1000px;
  background: url(../img/home.png) no-repeat;
}

/* Cabeçalho */
/* line 33, ../sass/base.scss */
.home h1 {
  display: block;
  width: 270px;
  height: 123px;
  text-indent: -1000px;
  overflow: hidden;
}

/* line 41, ../sass/base.scss */
#search, #social {
  text-align: right;
  margin-top: 50px;
  margin-left: 20px;
}

/* line 48, ../sass/base.scss */
.search {
  display: inline-block;
  width: 22px;
  height: 19px;
  background-position: 0px -274px;
  border: 0;
  text-indent: -1000px;
}

/* line 57, ../sass/base.scss */
.feed {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -46px -270px;
  border: 0;
}

/* line 66, ../sass/base.scss */
.twitter {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -82px -270px;
  border: 0;
}

/* line 74, ../sass/base.scss */
.facebook {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -116px -270px;
  border: 0;
}

/* line 82, ../sass/base.scss */
.news {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: -153px -270px;
  border: 0;
}

/* line 90, ../sass/base.scss */
.tweets {
  height: 86px;
  overflow: hidden;
}

/* line 95, ../sass/base.scss */
.tweets ul > li {
  display: inline-block;
  margin-right: 14px;
}

/* line 100, ../sass/base.scss */
.pessoa1 {
  display: block;
  height: 86px;
  width: 23px;
  background-position: 0 -152px;
}

/* line 107, ../sass/base.scss */
.pessoa2 {
  display: block;
  height: 86px;
  width: 23px;
  background-position: -42px -152px;
}

/* line 114, ../sass/base.scss */
.pessoa3 {
  display: block;
  height: 86px;
  width: 30px;
  background-position: -89px -152px;
}

/* line 121, ../sass/base.scss */
.pessoa4 {
  display: block;
  height: 86px;
  width: 30px;
  background-position: -142px -152px;
}

/* line 128, ../sass/base.scss */
.male {
  display: block;
  height: 76px;
  width: 23px;
  background-position: 0 -161px;
}

/* line 135, ../sass/base.scss */
.popover {
  width: 300px;
}

/* line 139, ../sass/base.scss */
.popover-content {
  font-size: 13px;
}

/* line 143, ../sass/base.scss */
.login form {
  margin: 0;
}

/* line 147, ../sass/base.scss */
.login p.saudacao {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 10px 0;
  text-rendering: optimizelegibility;
}

/* line 158, ../sass/base.scss */
.login .on {
  padding-top: 20px;
}

/* line 162, ../sass/base.scss */
.login .control {
  padding-top: 7px;
}

/* line 166, ../sass/base.scss */
.login .control a {
  color: #d8001d;
}

/* Navegação */
/* line 174, ../sass/base.scss */
.subnav .nav {
  font-size: 17px;
}

/* line 178, ../sass/base.scss */
.subnav .tools {
  display: none;
}

/* line 182, ../sass/base.scss */
.subnav .nav > li > a {
  color: #1f1f21;
  display: block;
  height: 20px;
  margin: 0;
  line-height: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 193, ../sass/base.scss */
.subnav .nav > li > a:hover,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #FFF;
  background-color: #d8001d;
  font-weight: 600;
}

/* line 200, ../sass/base.scss */
.subnav a.brand {
  display: none;
  text-indent: -1000px;
  overflow: hidden;
}

/* Navegação Fixa */
/* line 208, ../sass/base.scss */
.subnav-fixed {
  top: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: #1B1B1B;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(center top, #222222, #111111);
  background-image: -moz-linear-gradient(center top, #222222, #111111);
  background-image: -o-linear-gradient(center top, #222222, #111111);
  background-image: linear-gradient(center top, #222222, #111111);
}

/* line 219, ../sass/base.scss */
.subnav-fixed .tools {
  display: inline-block;
}

/* line 223, ../sass/base.scss */
.subnav-fixed .nav {
  display: block;
  float: left;
  left: 0;
  margin: 0 10px 0 0;
  position: relative;
}

/* line 231, ../sass/base.scss */
.subnav-fixed .nav > li > a {
  margin: 0;
  color: #FFF;
  height: 29px;
  line-height: 29px;
}

/* line 241, ../sass/base.scss */
.subnav-fixed .nav > li > a:hover,
.subnav-fixed .nav > .active > a,
.subnav-fixed .nav > .active > a:hover {
  padding-left: 13px;
  color: #FFF;
  background-color: #d8001d;
}

/* line 248, ../sass/base.scss */
.subnav-fixed a.brand {
  background-position: -204px -260px;
  width: 134px;
  height: 45px;
  margin-right: 27px;
  display: inline-block;
  text-indent: -1000px;
  overflow: hidden;
}

/* line 258, ../sass/base.scss */
.navbar-search {
  margin-top: 7px;
  margin-right: 20px;
  border-color: #111111;
}

/* line 266, ../sass/base.scss */
footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
  background-image: -webkit-linear-gradient(center top, #222222, #111111);
  background-image: -moz-linear-gradient(center top, #222222, #111111);
  background-image: -o-linear-gradient(center top, #222222, #111111);
  background-image: linear-gradient(center top, #222222, #111111);
  background-color: #1B1B1B;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
}

/* line 277, ../sass/base.scss */
section {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 979px) {
  /* line 286, ../sass/base.scss */
  body {
    margin-top: 60px;
  }

  /* line 290, ../sass/base.scss */
  .subnav {
    top: 0;
    left: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #111111));
    background-image: -webkit-linear-gradient(center top, #222222, #111111);
    background-image: -moz-linear-gradient(center top, #222222, #111111);
    background-image: -o-linear-gradient(center top, #222222, #111111);
    background-image: linear-gradient(center top, #222222, #111111);
    background-color: #1B1B1B;
    border-color: #252525;
  }

  /* line 302, ../sass/base.scss */
  .subnav .nav {
    display: block;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
    font-size: 13px;
  }

  /* line 310, ../sass/base.scss */
  .subnav a.brand {
    background-position: -204px -260px;
    display: block;
    width: 134px;
    height: 45px;
    margin-right: 27px;
    display: inline-block;
  }

  /* line 319, ../sass/base.scss */
  .subnav .nav > li > a {
    margin: 0;
    line-height: 21px;
  }

  /* line 324, ../sass/base.scss */
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    font-weight: bold;
    padding: 9px 15px;
  }

  /* line 331, ../sass/base.scss */
  .collapse.in {
    padding-top: 10px;
  }

  /* line 337, ../sass/base.scss */
  .subnav .nav > li > a:hover,
  .subnav .nav > .active > a,
  .subnav .nav > .active > a:hover {
    padding-left: 13px;
    background-color: #111111;
    color: #FFFFFF;
    margin-left: 10px;
  }

  /* line 344, ../sass/base.scss */
  .subnav .btn-navbar {
    font-weight: 800;
    line-height: 5px;
    margin-top: 7px;
    padding: 12px;
    color: #FFF;
    background-color: #0E0E0E;
    text-shadow: 0 0 0 #0e0e0e;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #151515), color-stop(100%, #040404));
    background-image: -webkit-linear-gradient(center top, #151515, #040404);
    background-image: -moz-linear-gradient(center top, #151515, #040404);
    background-image: -o-linear-gradient(center top, #151515, #040404);
    background-image: linear-gradient(center top, #151515, #040404);
  }

  /* line 355, ../sass/base.scss */
  .subnav .tools {
    display: none;
  }

  /* line 359, ../sass/base.scss */
  .subnav-fixed .nav {
    float: none;
  }

  /* line 363, ../sass/base.scss */
  .subnav-fixed .nav > li > a {
    margin: 0;
    color: #FFF;
    height: 20px;
  }
}
@media (max-width: 767px) {
  /* line 372, ../sass/base.scss */
  .widgets, #sobre, #participe, #govpergunta {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 379, ../sass/base.scss */
  footer {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  /* line 386, ../sass/base.scss */
  footer div.span4 {
    border-bottom: 1px dashed #FFF;
  }

  /* line 390, ../sass/base.scss */
  .block {
    margin-bottom: 60px;
  }
}
/* line 3, ../sass/gallery.scss */
.gallery {
  background: url(../img/bg.png);
  padding-top: 20px;
}

/* line 8, ../sass/gallery.scss */
.gallery h2 {
  color: #FFF;
  text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.6);
}

/* line 13, ../sass/gallery.scss */
.desk {
  background: #1f1f21;
  overflow: auto;
  padding: 20px 0 20px 0;
}

/* line 19, ../sass/gallery.scss */
#controls {
  font-size: 20px;
  margin: 180px 0 0 -17px;
  position: absolute;
}

/* line 25, ../sass/gallery.scss */
#controls .nav-controls a {
  font-size: 48pt;
  line-height: normal;
  padding: 10px 25px;
  color: #FFF;
  text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.6);
}

/* line 33, ../sass/gallery.scss */
#controls .nav-controls .prev {
  float: left;
}

/* line 37, ../sass/gallery.scss */
#controls .nav-controls .next {
  float: right;
}

/* line 41, ../sass/gallery.scss */
.caption {
  background: #000;
  bottom: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  line-height: 24px;
  overflow: hidden;
  padding: 5px 8px;
  position: absolute;
  right: 0;
  text-align: left;
  text-overflow: ellipsis;
}

/* line 57, ../sass/gallery.scss */
div.caption-container {
  position: relative;
  clear: left;
}

/* line 62, ../sass/gallery.scss */
div.caption .text {
  width: 70%;
  float: left;
}

/* line 67, ../sass/gallery.scss */
span.image-caption {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 73, ../sass/gallery.scss */
div.caption {
  padding: 12px;
}

/* line 76, ../sass/gallery.scss */
div.image-title {
  font-weight: bold;
  font-size: 1.4em;
}

/* line 80, ../sass/gallery.scss */
div.image-desc {
  line-height: 1.3em;
  padding-top: 12px;
}

<<<<<<< HEAD
#gallerylist li h4 {
    display:block;
    padding:5px 0;
    color: #FFF;
    text-transform: capitalize;
    width: 175px;
=======
/* line 85, ../sass/gallery.scss */
#thumbs {
  overflow: hidden;
}

/* line 90, ../sass/gallery.scss */
#thumbs ul li {
  float: left;
  list-style: none;
}

/* line 95, ../sass/gallery.scss */
.navigation {
  padding: 20px 0 20px 0;
}

/* line 99, ../sass/gallery.scss */
#thumbs ul li.selected img {
  opacity: 1;
}

/* line 103, ../sass/gallery.scss */
#thumbs ul li img {
  opacity: 0.5;
}

/* line 107, ../sass/gallery.scss */
.bottom {
  clear: both;
  padding: 20px 0 0 25px;
}

/* line 112, ../sass/gallery.scss */
#gallerylist li {
  float: left;
  margin-right: 20px;
  list-style: none;
>>>>>>> Arquivos compilados
}

@media (max-width: 767px) {
  /* line 120, ../sass/gallery.scss */
  #controls {
    width: 100%;
  }
}


