@import url('font.css');

* {
    font-family: 'OpenSansRegular';
}

#header #slideshow {
    height: 223px;
    background: url(../imgs/slideshow.png) #4e9a06 center center no-repeat;
    overflow:hidden;
}

#header #slideshow .carousel {
    padding-top:20px;
    height:185px;
}

#header #slideshow li {
    float:left;
    width:978px;
    margin-right:30px;
}

#header #slideshow img {
    float:left;
    margin-right:30px;
    border:solid 1px #fff;
}

#header #slideshow .title a {
    color:#FFF;
}

#header #slideshow .excerpt {
    margin-left:355px;
    padding:15px 30px 10px 30px;
    font-size:16px;
}

#header #slideshow .excerpt a {
    color:#2e3436;
}

#header #slideshow .controls {
    float:right;
    position:relative;
    top:-10px;
    right:20px;
}

#header #slideshow .controls a {
    color:#FFF;
    font-weight:bold;
    font-size:14px;
    display:block;
    float:left;
    padding:0 6px;
}

#header #slideshow .controls a:hover {
    text-decoration:none;
}

#header #slideshow .controls a.current {
    background:#8ae234;
    color:#fff;
}

#header #slideshow .controls li {
    display:block;
    width:20px;
    margin-right:0;
}


/** Container **/



#container #news {
    padding-bottom: 25px;
    -moz-box-shadow: 0px 0px 6px 1px #CCC;
    -webkit-box-shadow: 0px 0px 6px 1px #CCC;
    box-shadow: 0px 0px 6px 1px #CCC;
    background-color: #FFF;
}

#container #news h2 a {
    color: #2e3436;
}

#container #news a {
    color: #808080;
}

#container #news .news {
    color: #808080;
    margin: 20px;
    font-size: 12px;
}

#container #news .news li img {
    float: left;
    margin-right:20px;
    margin-bottom:10px;
}

#container #news .news li img.wide {
    float:none;
}

#container #news .news h2 {
    color: #2e3436;
    font-size: 15pt;
    margin-bottom: 8px;
}

#container #news .news li.title {
    color:#fff;
    font-size:16px;
    font-weight:bold;
    padding:5px;
    position:relative;
    margin-top:-48px;
    width:590px;
    background: rgba(0,0,0,0.6);
}

#container #news .news li.title a {
    color: #FFF;
}

#container #news .news li.title a:hover {
    text-decoration: underline;
}

#container #news a:hover {
    color:#000;
}

#container #news .news .meta {
    text-align: right;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

#container #news .news .meta strong {
    font-weight:normal;
    color:#4e9a06;
}

#container .bulletnews {
    padding-left:30px;
    list-style:disc inside;
}

#container .bulletnews li {
    list-style:inherit;
}

#container #videogallery {
    margin: 30px 21px;
    color: white;
    font-size: 14px;
}

#container #videogallery .video {
    background-color: #333;
    float: left;
    margin-right: 28px;
    padding: 18px;
    width:250px;
    border-radius: 8px;
}

#container .allnews {
    text-align:right;
    padding-right:20px;
}

#container #news .allnews a {
    color:#4e9a06;
}

#container #news .allnews a:hover {
    color:#333;
}

#container #videogallery .video.last {
    margin-right:0px;
}

#container #videogallery .video .thumb {
    margin-bottom: 10px;
    width: 250px;
    height: 112px;
}


#container #videogallery .row {
    overflow:hidden;
    height:114px;
}

#container #videogallery .video .play {
    width: 50px;
    height: 50px;
    top: -60px;
    margin-top:-40px;
    margin-left: 105px;
    position: relative;
}

#container #sidebar #lasttweet {
    padding-bottom: 20px;
}

#container #sidebar #lasttweet .shadow {
    width: 285px;
    -moz-box-shadow: -3px 3px 4px #CCC;
    -webkit-box-shadow: -3px 3px 4px #CCC;
    box-shadow: -3px 3px 4px #CCC;
    border-radius: 30px 30px 30px 0px;
}

#container #sidebar #lasttweet .tweet {
    padding: 20px 12px 15px 14px;
    background-color: #55ddff;
    width: 281px;
    color:#fff;
    text-shadow:0 0 2px #333;
    font-size: 12px;
    font-weight:bold;
    border-radius: 30px 30px 30px 0px;
}

#container #sidebar #lasttweet .tweet a {
    color: #006680;
}

#container #sidebar #lasttweet h3 {
    color: #006680;
    text-align: right;
    margin-top: 15px;
    text-shadow:none;
}

#container #sidebar .widget_sp_image-image-link {
    margin-top: 10px;
}
#container #sidebar h3 {
    color: #C4A000;
    font-size: 16px;
}
#container #sidebar .widget_sp_image-image-link {
    border: 1px solid #2E3436;
    box-shadow: 3px 3px 4px #CCCCCC;
    width: 300px;
    display: block;
}

#container #sidebar #picday img {
    width: 295;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#container #sidebar #picday p {
    color: #555753;
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
}
