@import url('font.css');

* {
    font-family: 'OpenSansRegular';
}

#header #slideshow {
    height: 233px;
    background: url(../imgs/slideshow.png) #4e9a06 center center no-repeat;
    overflow:hidden;
}
#header #slideshow .jcarousel-container {
    padding:30px;
}

#header #slideshow li {
    display:block;
    float:left;
    width:920px;
    margin-right:30px;
}

#header #slideshow img {
    float:left;
    margin-right:30px;
}

#header #slideshow .title a {
    color:#FFF;
}

#header #slideshow .excerpt {
    margin-left:355px;
    padding:15px 30px 10px 30px;
    font-size:16px;
}

#header #slideshow .excerpt a {
    color:#2e3436;
}

#header #slideshow .controls {
    float:right;
    font-size:36px;
    position:relative;
    top:-60px;
    right:20px;
}

#header #slideshow .controls a {
    color:#babdb6;
}

#header #slideshow .controls a:hover {
    text-decoration:none;
}

#header #slideshow .controls a.selected {
    color:#2e3436;
}

#header #slideshow .controls li {
    display:block;
    width:15px;
    margin-right:0;
}
/** Container **/



#container #news {
    padding-bottom: 25px;
    -moz-box-shadow: 0px 0px 6px 1px #CCC;
    -webkit-box-shadow: 0px 0px 6px 1px #CCC;
    box-shadow: 0px 0px 6px 1px #CCC;
    background-color: #FFF;
}

#container #news h2 a {
    color: #2e3436;
}

#container #news a {
    color: #808080;
}

#container #news .news {
    color: #808080;
    margin: 20px;
    font-size: 12px;
}

#container #news .news li img {
    float: left;
    margin-right: 30px;
}

#container #news .news li img.wide {
    float:none;
}

#container #news .news h2 {
    color: #2e3436;
    font-size: 15pt;
    margin-bottom: 8px;
}

#container #news .news li.title {
    color:#fff;
    font-size:16px;
    font-weight:bold;
    padding:5px;
    position:relative;
    margin-top:-48px;
    width:590px;
}

#container #news .news .meta {
    text-align: right;
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

#container #news .news .meta strong {
    font-weight:normal;
    color:#4e9a06;
}

#container #videogallery {
    margin: 30px 21px;
    color: white;
    font-size: 14px;
}

#container #videogallery .video {
    background-color: #333;
    float: left;
    margin-right: 28px;
    padding: 18px;
    width:250px;
    border-radius: 8px;
}

#container #videogallery .video.last {
    margin-right:0px;
}

#container #videogallery .video img {
    margin-bottom: 10px;
}


#container #sidebar #lasttweet {
    padding-bottom: 20px;
    margin-top: 30px;
}

#container #sidebar #lasttweet .shadow {
    width: 285px;
    -moz-box-shadow: -3px 3px 4px #CCC;
    -webkit-box-shadow: -3px 3px 4px #CCC;
    box-shadow: -3px 3px 4px #CCC;
    border-radius: 30px 30px 30px 0px;
}

#container #sidebar #lasttweet .tweet {
    padding: 20px 12px 15px 14px;
    background-color: #55ddff;
    width: 281px;
    color: #FFF;
    font-size: 12px;
    border-radius: 30px 30px 30px 0px;
}

#container #sidebar #lasttweet .tweet a {
    color: #006680;
}

#container #sidebar #lasttweet h3 {
    color: #006680;
    text-align: right;
    margin-top: 15px;
}

#container #sidebar #picday {
    margin-top: 30px;
    margin-bottom: 20px;
}

#container #sidebar #picday h3 {
    color: #c4a000;
    font-size: 16px;
    margin-bottom: 10px;
}
#container #sidebar #picday #picedge {
    border: 1px solid #2e3436;
    padding: 4px 4px;
    width: 262px;
    height: 171px;
     -moz-box-shadow: 3px 3px 4px #CCC;
    -webkit-box-shadow: 3px 3px 4px #CCC;
    box-shadow: 3px 3px 4px #CCC;
}

#container #sidebar #picday p {
    color: #555753;
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
    width: 260px;
}
