<div id="contributions" class="overlay">
  <menu>
    <li>
      <a href="javascript:contribapi.loadContribs('choosen');">
        Ver as 50 escolhidas
      </a>
    </li>
    <li>•</li>
    <li><a href="javascript:contribapi.loadContribs('all');">Ver Todas</a></li>
    <li>•</li>
    <li><a href="javascript:contribapi.loadContribs('user');">Ver só as Minhas</a></li>
  </menu>

  <h2 class="choosen">50 Contribuições escolhidas</h2>
  <h2 class="user">Minhas contribuições</h2>
  <h2 class="all">Todas contribuições</h2>

  <div class="choosen help">
    <a href="{{ url_for('pages', path='govpergunta/metodologia') }}">
      Entenda como as contribuições foram selecionadas
    </a>
  </div>

  <div class="message">
    <h3>Olá,</h3>

    <p class="nocontrib">
      Você não possui contribuições.
    </p>

    <p class="authrequired">
      As suas contribuições só são exibidas se você estiver
      autenticado. Siga <a href="javascript:;" id="authandload">este
      link</a> para se autenticar e ver suas contribuições
    </p>
  </div>
  <div class="wrapper">
    <ul class="listing"></ul>
  </div>
</div>

<script type="text/html" id="contribTemplate">
  <li class="contrib">
    <ul>
      <li class="icon">
        <img
           src="{{ url_for('.static', filename='imgs/') }}<%= obj.theme %>32.png">
      </li>

      <% if (obj.votes) { %>
      <li class="votes">
        <ul>
          <li><strong>Pontuação:</strong> <%= obj.votes.score %></li>
          <li style="float:right;margin-left:5px;">
            <strong>V:</strong> <%= obj.votes.won %></li>
          <li style="float:right;margin-left:5px;">
            <strong>D:</strong> <%= obj.votes.lost %></li>
          <li><strong>T:</strong> <%= obj.votes.total %></li>
        </ul>
      </li>
      <% } %>

      <li class="title"><%= obj.title %></li>
      <% if (obj.author) { %>
      <li class="author">
        Autor(a)
        <strong><%= obj.author %></strong>
      </li>
      <% } %>
      <li class="content"><%= obj.content %></li>
      <% if (obj.children && obj.children.length > 0) { %>
      <li class="children">
        <h4>
          <a href="javascript:;" onclick="contribapi.showChildren(this);">
            Questões agregadas</a>
        </h4>
        <ul class="children">
          <% for (var d = 0; d < obj.children.length; d++) { %>
          <li>
            <ul>
              <li class="title"><%= obj.children[d].title %></li>
              <li class="author">
                Autor(a)
                <strong><%= obj.children[d].author %></strong>
              </li>
              <li class="content"><%= obj.children[d].content %></li>
            </ul>
          </li>
          <% } %>
        </ul>
      </li>
      <% } %>
    </ul>
  </li>
</script>
