<div id="contributions" class="overlay">
  <menu>
    <li><a href="javascript:contribapi.loadContribs('all');">Ver Todas</a></li>
    <li><a href="javascript:contribapi.loadContribs('user');">Ver só as Minhas</a></li>
  </menu>

  <h2 class="user">Minhas contribuições</h2>
  <h2 class="all">Todas contribuições</h2>

  <div class="nocontrib">
    Você ainda não possui contribuições.<br>
    Para fazer a sua primeira, siga
    <a href="javascript:contribapi.goToContribForm()">este link</a>.
  </div>
  <div class="wrapper">
    <ul class="listing"></ul>
  </div>
</div>

<script type="text/html" id="contribTemplate">
  <li class="contrib">
    <ul>
      <li class="icon">
        <img
           src="{{ url_for('.static', filename='imgs/') }}<%= obj.theme %>32.png">
      </li>
      <li class="title"><%= obj.title %></li>
      <li class="content"><%= obj.content %></li>
    </ul>
  </li>
</script>
