{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/home.js') }}"></script>
<script src="{{ url_for('.static', filename='js/webfonts.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="appbase">
        <div class="row">
            <div id="applogo" class="col3">
                <h1>Governador Pergunta</h1>
            </div> 
            <div id="question" class="col4">
                <p>Como podemos melhorar o atendimento na saúde pública?</p>
            </div>
            <div id="step" class="col5">
                <ol>
                    <li><a href="/govpergunta"><img src="{{ url_for('.static', filename='imgs/1.png') }}"><p>o que é?</p></a></li>
                    <li><a href="como"><img src="{{ url_for('.static', filename='imgs/2.png') }}"><p>como funciona?</p></a></li>
                    <li><a href="temas"><img src="{{ url_for('.static', filename='imgs/3.png') }}"><p>temas</p></a></li>
                    <li><a href="contribua"><img src="{{ url_for('.static', filename='imgs/4.png') }}"><p>contribua</p></a></li>
                </ol>
            </div>
        <div class="row-end"></div>

        <div id="content">
            <div class="row">
                <div id="maintext">
                    <h2>Contribua</h2>
                    <div id="form" class="col8">
                        <fieldset>
                            <input type="radio" name="themes">Cuidado Integral
                            <input type="radio" name="themes">Saúde da Família
                            <input type="radio" name="themes">Emergencia
                            <input type="radio" name="themes">Medicamentos
                            <input type="radio" name="themes">Regional
                        </fieldset>
                         
                        <fieldset>
                            <h3>Titulo de contribuição</h3>
                            <input type="text" class="title">
                        </fieldset>
                            
                        <fieldset>
                            <h3>Contribuição</h3>
                            <textarea></textarea>
                            <input type="submit" value="Enviar" class="send">
                        </fieldset>
                    </div>
                    <div id="faq" class="col4">
                        <h4> Para onde vai a minha contribuição? </h4>
                        Após inserir sua contribuição, ela é processada e adicionada ao nosso
                        banco de dados.
                    </div> 
               </div>
            </div>
            <div class="row-end"></div>
        
            <div id="controller" class="row">
               <div class="col6" id="back">
                <a href="" class="back">temas</a>
               </div>
            </div>
            <div class="row-end"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
