{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.ghost-0.1.js') }}"></script>
<script src="{{ url_for('.static', filename='js/govpergunta.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container" class="wizard">
  <div class="row">
    <div id="applogo" class="col3">
      <h1>
        <a href="javascript:;"
           onclick="navapi.click(0)">Governador Pergunta</a>
      </h1>
    </div>
    <div id="question" class="col9">
      <p id="question-writer"></p>
    </div>
  </div>

  <div class="row-end"></div>

  <div id="appbase">
    <div class="row">
      <div class="col7">&nbsp;</div>
      <div id="step" class="col5">
        <ol class="tabs">
          <li>
            <a href="#">
              <span>1</span>
              <p>o que é?</p>
            </a>
          </li>
          <li>
            <a href="#">
              <span>2</span>
              <p>como funciona?</p>
            </a>
          </li>
          <li>
            <a href="#">
              <span>3</span>
              <p>temas</p>
            </a>
          </li>
          <li class="last">
            <a href="#">
              <span>4</span>
              <p>contribua</p>
            </a>
          </li>
        </ol>
      </div>
      <div class="row-end"></div>

      <div id="content">
        <div class="row">
          <div class="col12">
            <div id="maintext" class="panes">

              <div class="whatisit">
                <h2>O que é?</h2>
                <div class="blocktext">
                  {{ wp.getPageByPath('govpergunta/o-que-e').content|safe }}
                </div>

                <div id="more">
                  <a href="javascript:;" onclick="navapi.click(3);"
                     class="participe">contribua</a>
                </div>

                <div class="controller row">
                  <a href="javascript:;" class="next">como funciona?</a>
                  <div class="row-end"></div>
                </div>

              </div> <!-- .whatisit -->

              <div class="howitworks">
                <h2>Como funciona?</h2>
                <div class="blocktext">
                  {{ wp.getPageByPath('govpergunta/como-funciona').content|safe }}
                </div>

                <div class="controller row">
                  <a href="javascript:;" class="prev">o que é?</a>
                  <a href="javascript:;" class="next">temas</a>
                  <div class="row-end"></div>
                </div>
              </div> <!-- .howitworks -->

              <div class="themes">
                <h2>Temas</h2>
                <div class="blocktext">
                  {{ wp.getPageByPath('govpergunta/temas').content|safe }}
                </div>

                <ul id="themes">
                  <li class="cuidado">
                    <a class="theme" rel="#themed" href="javascript:;"
                       title="Cuidado Integral">
                      <img
                         src="{{ url_for('.static',
                                    filename='imgs/cuidadointegral128.png') }}">
                      <p>Cuidado Integral</p>
                    </a>
                  </li>
                  <li class="familia">
                    <a class="theme" rel="#themed" href="javascript:;"
                       title="Saúde da Família">
                      <img src="{{ url_for('.static',
                                      filename='imgs/familia128.png') }}">
                      <p>Saúde da Família</p>
                    </a>
                  </li>
                  <li class="emergencia">
                    <a class="theme" rel="#themed" href="javascript:;"
                       title="Urgência e Emergência">
                      <img src="{{ url_for('.static',
                                      filename='imgs/emergencia128.png') }}">
                      <p>Urgência e Emergência</p>
                    </a>
                  </li>
                  <li class="medicamentos">
                    <a class="theme" rel="#themed" href="javascript:;"
                       title="Acesso a Medicamentos">
                      <img src="{{ url_for('.static',
                                      filename='imgs/medicamentos128.png') }}">
                      <p>Acesso a Medicamentos</p>
                    </a>
                  </li>
                  <li class="regional">
                    <a class="theme" rel="#themed" href="javascript:;"
                       title="Saúde na sua Região">
                      <img src="{{ url_for('.static',
                                      filename='imgs/regional128.png') }}">
                      <p>Saúde na sua Região</p>
                    </a>
                  </li>
                </ul>
                <div class="row-end"></div>

                <div class="controller row">
                  <a href="javascript:;" class="prev">como funciona?</a>
                  <a href="javascript:;" class="next">contribua</a>
                  <div class="row-end"></div>
                </div>
              </div> <!-- .themes -->

              <div class="contribute">
                <h2>Contribua</h2>

                <form
                   id="contribute" method="post"
                   action="{{ url_for('.contrib_json') }}">

                  {{ form.csrf }}

                  <div id="form" class="col7">
                    <div class="msg error"></div>
                    <div class="msg success envio">
                      <h3>Contribuição enviada com sucesso</h3>

                      <p>
                        Para mais informações, veja as opções da barra à
                        direita ou entre em contato conosco. Para enviar
                        outra contribuição, clique <a href="javascript:show_form_again()">aqui</a>
                      </p>
                    </div>

                    <fieldset>
                      <label class="cuidado">
                        <input
                           class="theme" type="radio" name="theme"
                           value="cuidado">
                        <a>Cuidado Integral</a>
                      </label>

                      <label class="familia">
                        <input
                           class="theme" type="radio" name="theme"
                           value="familia">
                        <a>Saúde da Família</a>
                      </label>

                      <label class="emergencia">
                        <input
                           class="theme" type="radio" name="theme"
                           value="emergencia">
                        <a>Urgência Emergencia</a>
                      </label>

                      <label class="medicamentos">
                        <input
                           class="theme" type="radio" name="theme"
                           value="medicamentos">
                        <a>Acesso a Medicamentos</a>
                      </label>

                      <label class="regional">
                        <input
                           class="theme" type="radio" name="theme"
                           value="regional">
                        <a>Saúde na sua Região</a>
                      </label>
                    </fieldset>
                    <p class="errmsg theme-error"></p>

                    
                    <fieldset>
                      <h3>Titulo de contribuição</h3>
                      <input type="text" class="title" name="title">
                      <p class="errmsg title-error"></p>
                    </fieldset>
                    
                    <fieldset>
                      <h3>Contribuição</h3>
                      <textarea name="content"></textarea>
                      <input type="submit" value="Enviar" class="send">
                      <p class="errmsg content-error"></p>
                    </fieldset>
                  </div>
                  <div id="faq" class="col3">
                    {{ wp.getPageByPath('govpergunta/faq').content|safe }}
                  </div>
                </form>

                <div class="row-end"></div>

                <div class="controller row">
                  <a href="javascript:;" class="prev">temas</a>
                  <div class="row-end"></div>
                </div>
              </div>

            </div> <!-- #maintext -->
          </div> <!-- .col12 -->
        </div> <!-- row -->
        <div class="row-end"></div>
      </div> <!-- content -->
    </div>
  </div> <!-- #appbase -->
</div>

<!-- Starting the per-theme description -->

<div id="themed" class="overlay">
  <div class="head">
    <span class="icon"></span>
    <h1></h1>

    <ul class="allThemes">
      <li class="cuidado">
        <a title="Cuidado Integral"
           href="javascript:themeapi.change('cuidado', 'Cuidado Integral')">
          <img src="{{ url_for('.static', filename='imgs/cuidadointegral32.png') }}"></a>
      </li>
      <li class="medicamentos">
        <a title="Acesso a Medicamentos"
           href="javascript:themeapi.change('medicamentos', 'Medicamentos')">
          <img src="{{ url_for('.static', filename='imgs/medicamentos32.png') }}"></a>
      </li>
      <li class="familia">
        <a title="Saúde da Família"
           href="javascript:themeapi.change('familia', 'Saúde da Família')">
          <img src="{{ url_for('.static', filename='imgs/familia32.png') }}"></a>
      </li>
      <li class="regional">
        <a title="Saúde na sua Região"
           href="javascript:themeapi.change('regional', 'Saúde na sua Região')">
          <img src="{{ url_for('.static', filename='imgs/regional32.png') }}"></a>
      </li>
      <li class="emergencia">
        <a title="Urgência e Emergência"
           href="javascript:themeapi.change('emergencia', 'Urgência e Emergência')">
          <img src="{{ url_for('.static', filename='imgs/emergencia32.png') }}"></a>
      </li>
    </ul>

    <ul class="internal tabs">
      <li><a target="o-que-e" href="#">o que é?</a></li>
      <li><a target="como-esta" href="#">como está?</a></li>
      <li><a target="recomendavel" href="#">recomendável</a></li>
      <li><a target="exemplos" href="#">exemplos</a></li>
      <li><a target="contribua" href="#">contribua</a></li>
    </ul>

    <div class="row-end"></div>
  </div>

  <hr>

  <div class="ptpanes">
    <div class="o-que-e">
      <div class="cont"></div>
      <div class="control">
        <a class="next" href="javascript:;">Como está?</a>
      </div>
    </div><!-- /o-que-eh -->

    <div class="como-esta">
      <div class="cont"></div>
      <div class="control">
        <a class="prev" href="javascript:;">O que é?</a>
        <a class="next" href="javascript:;">Recomendável</a>
      </div>
    </div><!-- /como-esta -->

    <div class="recomendavel">
      <div class="cont"></div>
      <div class="control">
        <a class="prev" href="javascript:;">Como está?</a>
        <a class="next" href="javascript:;">Exemplos</a>
      </div>
    </div><!-- /recomendavel -->

    <div class="exemplos">
      <div class="cont"></div>
      <div class="control">
        <a class="prev" href="javascript:;">Recomendável</a>
        <a class="next" href="javascript:;">Contribua</a>
      </div>
    </div><!-- /exemplos -->

    <div>
    </div><!-- /contribua -->

  <div id="contribuicoes">
    <h3>minhas contribuições</h3>
        <ul>
            <li>
                <ul>
                    <li><img src="tema(icone)"></li>
                    <li>titulo</li>
                    <li>conteudo</li>
                </ul>
            </li>
        </ul>
     <h3>Todas as contribuições</h3>
        <ul>
            <li>
                <ul>
                    <li><img src="tema(icone)"></li>
                    <li>titulo</li>
                    <li>conteudo</li>
                </ul>
            </li>
        </ul>

  </div>

  </div>
</div>

{% endblock %}
