{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/home.js') }}"></script>
<script src="{{ url_for('.static', filename='js/webfonts.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="appbase">
        <div class="row">
            <div id="applogo" class="col3">
                <h1>Governador Pergunta</h1>
            </div> 
            <div id="question" class="col4">
                <p>Como podemos melhorar o atendimento  e o acesso à saúde pública ?</p>
            </div>
            <div id="step" class="col5">
                <ol>
                    <li><a href="/govpergunta"><img src="{{ url_for('.static', filename='imgs/1.png') }}"><p>o que é?</p></a></li>
                    <li><a href="como"><img src="{{ url_for('.static', filename='imgs/2.png') }}"><p>como funciona?</p></a></li>
                    <li><a href="temas"><img src="{{ url_for('.static', filename='imgs/3.png') }}"><p>temas</p></a></li>
                    <li><a href="contribua"><img src="{{ url_for('.static', filename='imgs/4.png') }}"><p>contribua</p></a></li>
                </ol>
            </div>
        <div class="row-end"></div>

        <div id="content">
            <div class="row">
                <div id="maintext" class="col11">
                <h2>O que é?</h2>
                <p>O Governador Pergunta é uma plataforma digital de envio 
                    e priorização de propostas ao Governo do Estado do Rio Grande
                    do Sul. O objetivo da promover o debate sobre temas de grande 
                    relevância social. Por meio do Governador Pergunta, serão
                    coletadas, junto à população,subsídios para o aprimoramento e
                    o desenvolvimento de políticas públicas. Assim como em todas as
                    suas iniciativas de participação popular, o governo se abre ao 
                    diálogo e busca a colaboração da sociedade na tomada de decisões. 
                </p>

                <div id="more">
                    <a href="#" class="participe">contribua</a>
                    <a href="#" class="mobilize">mobilize</a>
                </div>
                </div>
            </div>
            <div class="row-end"></div>
        
            <div id="controller" class="row">
                <div class="col11">
               <a href="" class="next">como funciona ?</a>
            </div>
            <div class="row-end"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
