{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/jquery.jcarousel.min.js') }}"></script>
<script src="{{ url_for('.static', filename='js/home.js') }}"></script>
<script src="{{ url_for('.static', filename='js/webfonts.js') }}"></script>
{% endblock %}

{% block content %}
<div id="container">
    <div id="appbase">
        <div class="row">
            <div id="applogo" class="col3">
                <h1>Governador Pergunta</h1>
            </div> 
            <div id="question" class="col4">
                <p>Como podemos melhorar o atendimento na saúde pública?</p>
            </div>
            <div id="step" class="col5">
                <ol>
                    <li><a href="/govpergunta"><img src="{{ url_for('.static', filename='imgs/1.png') }}"><p>o que é?</p></a></li>
                    <li><a href="como"><img src="{{ url_for('.static', filename='imgs/2.png') }}"><p>como funciona?</p></a></li>
                    <li><a href="temas"><img src="{{ url_for('.static', filename='imgs/3.png') }}"><p>temas</p></a></li>
                    <li><a href="contribua"><img src="{{ url_for('.static', filename='imgs/4.png') }}"><p>contribua</p></a></li>
                </ol>
            </div>
        <div class="row-end"></div>

        <div id="content">
            <div class="row">
                <div id="maintext" class="col12">
                    <h2>Como funciona?</h2>
                    <ul id="themes">
                        <li class="cuidado"><a href=""><img src="{{ url_for('.static', filename='imgs/cuidadointegral128.png') }}"><p>Cuidado Integral</p></a></li>
                        <li class="familia"><a href=""><img src="{{ url_for('.static', filename='imgs/familia128.png') }}"><p>Saúde da Família</p></a></li>
                        <li class="emergencia"><a href=""><img src="{{ url_for('.static', filename='imgs/emergencia128.png') }}"><p>Urgência e Emergência</p></a></li>
                        <li class="medicamentos"><a href=""><img src="{{ url_for('.static', filename='imgs/medicamentos128.png') }}"><p>Acesso a Medicamentos</p></a></li>
                        <li class="regional"><a href=""><img src="{{ url_for('.static', filename='imgs/regional128.png') }}"><p>Saúde na sua Região</p></a></li>
                    </ul>
               </div>
                <div id="more-about-themes" class="cuidado">
                    <div id="head">
                        <h2>Cuidado Integral</h2>
                        <ul id="themes">
                            <li class="cuidado"><a href=""><img src="{{ url_for('.static', filename='imgs/cuidadointegral32.png') }}"><p>Cuidado Integral</p></a></li>
                            <li class="familia"><a href=""><img src="{{ url_for('.static', filename='imgs/familia32.png') }}"><p>Saúde da Família</p></a></li>
                            <li class="emergencia"><a href=""><img src="{{ url_for('.static', filename='imgs/emergencia32.png') }}"><p>Urgência e Emergência</p></a></li>
                            <li class="medicamentos"><a href=""><img src="{{ url_for('.static', filename='imgs/medicamentos32.png') }}"><p>Acesso a Medicamentos</p></a></li>
                            <li class="regional"><a href=""><img src="{{ url_for('.static', filename='imgs/regional32.png') }}"><p>Saúde na sua Região</p></a></li>
                        </ul>
                        <h3>O que é?</h3>
                        <p>vitrola</p>
                        
                        <h3>como está?</h3>
                        <p>ta neh</p>

                        <h3>recomendável</h3>
                        <p>devia ser assim</p>

                        <h3>contribua</h3>
                        <p>form</p>

                    </div>
                </div>
            </div>
            <div class="row-end"></div>
        
            <div id="controller" class="row">
               <div class="col6" id="back">
                <a href="" class="back">o que é ?</a>
               </div>
               <div class="col6" id="next">
                   <a href="" class="next">temas</a>
               </div> 
            </div>
            <div class="row-end"></div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
