{% extends "base.html" %}

{% block css %}
{% endblock  %}

{% block content %}
<div id="container">
  <div class="row boxed" style="padding:10px; margin-bottom:20px;">
    <h2>
      A votação foi encerrada e estamos contabilizando os
      resultados
    </h2>
    <p style="font-size:12pt; padding-top:20px;">
      Muito obrigado por participar do Governador Pergunta. Em algumas
      horas os resultados de todo o processo serão publicados nessa
      página. Aguarde.
    </p>
  </div>
</div>
{% endblock  %}
