{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/govpergunta.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='css/vote.css') }}">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('.static', filename='js/govpergunta.js') }}"></script>
<script src="{{ url_for('.static', filename='js/vote.js') }}"></script>
{% endblock %}

{% block content %}

<div id="container">
  <form id="vote-form" action="{{ url_for('.add_vote') }}#vote-form" method="post">
    <input type="hidden" name="token" value="{{ pair.token }}">
    <input id="vote-direction" type="hidden" name="direction" value="">
  </form>

  <div class="row">
    <div id="applogo" class="col4">
      <h1>
        <a href="javascript:;">Governador Pergunta</a>
      </h1>
    </div>
    <div class="8">
      <h1>Como podemos melhorar o atendimento na saúde pública?</h1>
    </div>
    <div class="row-end"></div>
  </div>

  <div class="row">
    <p class="helptext">
      Agora é a hora de votar nas prioridades da saúde para o Rio
      Grande. Até o dia 9 de dezembro você pode escolher entre as
      melhores propostas que a população enviou ao Governador
      Pergunta. Escolha a partir dos pares de propostas apresentados
      abaixo. <a href="#comofunciona" class="overlayt">Como isso
      funciona?</a>
    </p>
    <span class="row-end"></span>
  </div>

  <div class="questions">
    <div class="row">
      <div class="col9">
        <h2 class="theme {{ pair.left.theme }}">{{ theme }}</h2>
      </div>
      <div class="col3">
        <div class="votes">
          {% if pair.votes > 0 %}
          Você já votou {{ pair.votes }}
          vez{% if pair.votes > 1 %}es{% endif %}
          {% else %}
          Você ainda não votou
          {% endif %}
        </div>
      </div>
      <div class="row-end"></div>
    </div>

    <div class="opt left">
      <!-- {{ pair.left.id }}-->
      <h3>{{ pair.left.title }}</h3>
      <p>{{ pair.left.content }}</p>
      <div class="vote">
        <a class="awesome" href="" id="option_1">
          Escolher esta contribuição
        </a>
      </div>
    </div>

    <div class="opt">
      <!-- {{ pair.right.id }}-->
      <h3>{{ pair.right.title }}</h3>
      <p>{{ pair.right.content }}</p>
      <div class="vote">
        <a class="awesome" href="" id="option_2">
          Escolher esta contribuição
        </a>
      </div>
    </div>
    <div class="row-end"></div>

    <div class="pmenu">
      <a href="#" id="vote-skip">
        Não consigo decidir
      </a>
      <span>•</span>
      <a href="{{ url_for('govpergunta.index') }}#contribua">
        Envie sua contribuição
      </a>
      <span>•</span>
      <a href="javascript:contribapi.showContribs('all')">
        Ver todas as contribuições
      </a>
    </div>

    <div class="row-end"></div>
  </div>
</div>

<div id="comofunciona" class="overlay loading">
  <div class="contentWrap">
    <div class="ct">
      <strong>Carregando</strong>
      <img src="{{ url_for('static', filename='imgs/loading.gif') }}"
           alt="Carregando, por favor aguarde" class="loading">
    </div>
  </div>
</div>


{% if pair.votes == 50 %}
<div id="voteswarn" class="overlay">
  <div class="contentWrap">
    <h1>Muito obrigado</h1>

    <p>
      Você votou 50 vezes. Os autores das 50 propostas mais votadas
      serão convidados para a se reunir com o Governador no dia 14 de
      Dezembro.
    </p>
    <p>
      Você pode continuar votando ou aguarde o resultado no dia 10 de
      Dezembro.
    </p>

    <p>
      <button class="close awesome">Continuar</button>
    </p>
  </div>
</div>
{% endif %}


{% include "contribs.partial.html" %}

{% endblock %}
